# Capstone Project by Mirko Salomon 

# BEVERAGE MACHINE CHURN PREDICTION

* ## [1) The problem](#TheProblem)

    * #### Goal
    
* ## [2) The Data](#TheData)
    * ### [(a) Clear overview of your data](#DataOverview)
    
        ##### Beverage Machine data

        ##### Beverage Mapping data

        ##### Beverage Classification data
    
        ##### Placement Tickets data

        ##### Telemetry data

    * ### [(b) Plan to manage and process the data](#ManageData)
    
        ##### Beverage Machine data features and the Beverage Classification data features

        ##### Placement Tickets data features
        
        ##### Telemetry data features

        ##### Missing data
        
        ##### Preparation of the data in order to execute some EDA

* ## [3) Preparation of the data](#prep)         
    * ### [(a) Details of preparation](#det)
    
        #### Beverage Machine data preparation

        #### Placement Tickets data preparation

        #### Telemetry data preparation

        #### Data summary
        
    * ### [(b) Save the data](#save)

## 1) The problem <a class="anchor" id="TheProblem"></a>

The main business is a full service for beverage machine including :

    beverage machines placed at a customer’s place (rented or loaned), 
    
    the beverage ingredients (coffee beans, soluble coffee, juice, etc.) delivered to the customers 
    
    and the management of any issue and repair.

A little bit like the printers in companies where a printing machine is placed and the ink and the issues are also managed by the same company.

We have high churn rate of the beverage machine rented/loaned in our business and the goal is to reduce the churn rate by predicting which customer is more likely to churn and try to retain these customers.

The goal is to use Machine Learning in order to predict which machine is at risk of churn by calculating a churn likelihood.

The 'churned' machines are the machines that are definitively removed from their installation point thus resulting in a lower number of machines deployed dispensing beverage cups.

A churned machine generates a one-time cost for removal and replacement and a variable cost for depreciation and storage whilst a new location is found.

The Installation Point is referring to a customer's point where the machine is installed. A customer can have one or several Installation Point. A machine can be replaced by a new Machine on the same Installation Point. The Idea is to look when we lose an Installation Point, meaning that a machine distributing beverage cups has churned.

A Machine can be replaced on an Installation Point and it means we have kept the customer, so that is why we focus on the Installation Point rather than the Machine's Serial ID.

Two proposals could be used:

    Proposal 1 : We keep all the Installation Point data available and we do not aggregate the monthly data of the machines
    
    Proposal 2 : We aggregate the data of the same Installation Point over several month.
    
Example Proposal 1:

    InstPoint     Month of snapshot     ID       Churn      Age in Month      
    Inst.   1     Jan                   1        No         20
    Inst.   2     Jan                   2        No         48
    Inst.   3     Jan                   3        No         69
    Inst.   4     Jan                   4        Yes        45
    
    Inst.   1     Feb                   5        No         21
    Inst.   2     Feb                   6        No         49
    Inst.   3     Feb                   7        Yes        70
    Inst.   5     Feb                   8        No         25
    
    Inst.   1     Mar                   9        No         22
    Inst.   2     Mar                   10       No         50
    Inst.   5     Mar                   11       No         26
    Inst.   6     Mar                   12       No         30
    Inst.   7     Mar                   13       No         42
    Inst.   8     Mar                   14       No         7
    
    
Example Proposal 2:

    Inst.   #     Latest month snap     ID       Churn      Age in Month       data available since (month)     
    Inst.   1     Mar                   1        No         22                 3
    Inst.   2     Mar                   2        No         50                 3
    Inst.   3     Feb                   3        Yes        70                 1
    Inst.   4     Jan                   4        Yes        45                 2
    Inst.   5     Mar                   5        No         26                 2
    Inst.   6     Mar                   6        No         30                 1
    Inst.   7     Mar                   7        No         42                 1
    Inst.   8     Mar                   8        No         7                  1

I am currently missing all the Installation Point before January who have churned, therefore, the data is only having the current Park of Installation Point, only having the survivors, so I need to be careful of the Survivorship bias.

In order to make a Time Series problem it would be better to have more data.

I can have data from one Sales Organisation available in January and for another Sales Organisation in March.

The idea behind the first proposal was to predict a monthly churn rate, the monthly churn rate is the number of churn over the total. However with 10 month of data it is not the best solution.

With the second solution I will predict based on features if the machine has churned or not. The advantage of the second solution is that we can work without the time dimension and focus only on the features to make a prediction if the machine has churned or not.

### a) Goal <a class="anchor" id="Goal"></a>

By giving the customer's installation point with the highest churn likelihood to the managers, they can take action in order to retain more customer's installation point.

This will help to retain more customer's installation points and increase the company's deployed beverage machine park.

Also, less churn implies higher efficiency per machine (less time in the deposit) and lower cost for installation removal.

### TO DO LIST
Add Sales Org ID to vendon data and to Incident tickets and with a mapping create a key Serial-SalesOrg to link to the main data
Add acquisition cost and book value from ERP?

## 2) The data <a class="anchor" id="TheData"></a>

### (a) Clear overview of your data  <a class="anchor" id="DataOverview"></a>

pip install matplotlib

In [188]:
import pandas as pd
import os
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

import datetime as dt
from datetime import datetime

import pickle
#Install brokenaxes
#!pip install brokenaxes

from config import (
    BeverageMachine22_df,
    BeverageMachine23_df,
    BeverageMachine24_df,
    BevMap_df,
    BeverageClassification_df,
    Placement_df,
    np_churn_consumption2,
    np_churn_consumption,
    Visitsdf,
    PhoneCallsdf,
    IncidentTicketdf,
    PakistanSales,
    MalaysiaSales,
    RussiaSalesData,
    SouthAfricaSales,
    SingaporeSales,
    MktActions,
    IndiaSales
)

# Specify the file path
file_path_output = r'C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Notebook output'

# Date when the data was extracted
ChurnDate2=datetime(2023,7,31)

# The range from when I want to have the details about Telemetry data
TelemetryDateRangeStart = '2020-01-01'

In [189]:
#V2
from snowflake.snowpark import Session, DataFrame

from snowflake.snowpark import Session, DataFrame
from snowflake.snowpark.functions import Column 
from snowflake.snowpark.exceptions import SnowparkSQLException, SnowparkDataframeException
import logging

connection_parameters = {
"account": "nestleprd.west-europe.azure",
"user": "mirko.salomon@nestle.com",
"role": "EDW_READER",  # optional
"warehouse": "EDW_QVW",  # optional
"database": "EDW",  # optional
"schema": "PRS",  # optional
"authenticator": "externalbrowser"
 }  


sf_session = Session.builder.configs(connection_parameters).create()

try:
    dp_sql = """SELECT *
    FROM EDW.PRS.C4C_TA_PARK_MONTHLYSNAPSHOT_V
    WHERE DATE >= '2024-01-01'"""

    df_data_products_config = sf_session.sql(dp_sql)

except SnowparkSQLException as e:
    logging.error('Exception in function---[ get_data_products() ] - ' + str(e))


df_data_products_config.show()

In [190]:
#Placements tickets

#V2
try:
    dp_sql = """SELECT SERIAL_ID, SERVICE_CATEGORY_DESCRIPTION, INCIDENT_CATEGORY_DESCRIPTION
    FROM EDW.PRS.C4C_NETPLACEMENTS_V"""

    df_data_products_config = sf_session.sql(dp_sql)

except SnowparkSQLException as e:
    logging.error('Exception in function---[ get_data_products() ] - ' + str(e))


df_data_products_config.show()

pandas_df_NetPlacement = df_data_products_config.toPandas()

------------------------------------------------------------------------------------
|"SERIAL_ID"  |"SERVICE_CATEGORY_DESCRIPTION"  |"INCIDENT_CATEGORY_DESCRIPTION"    |
------------------------------------------------------------------------------------
|4130119      |Removal                         |Unknown/Other                      |
|22O0018572   |Removal                         |Site closure                       |
|4140055      |Removal                         |Unknown/Other                      |
|22E0001901   |Installation                    |New Customer / Installation Point  |
|7240016      |Removal                         |Unknown/Other                      |
|3140166      |Removal                         |Unknown/Other                      |
|8470087      |Removal                         |Unknown/Other                      |
|8470119      |Removal                         |Unknown/Other                      |
|10058797     |Installation                    |New Customer / Installation Point  |
|881796       |Installation                    |New Customer / Installation Point  |
------------------------------------------------------------------------------------

In [191]:
#Commercial Visits

try:
    dp_sql = """SELECT

                V1.VISIT_TYPE_DESCRIPTION,
                              
                V1.END_DATE_IN_LOCAL_TIME_ZONE,
                
                V4.DESCRIPTION,
                
                V1.SALESORG,
                
                V3.DESCRIPTION AS ACTIVITY_LIFE_CYCLE_STATUS_DESCRIPTION,
                
                V1.VISIT_ID,
                
                V1.ACCOUNT_ID
                
                FROM
                
                EDW.PRS.C4C_VISIT_ACTIVITY_REPORT_V V1
                
                INNER JOIN EDW.PRS.C4C_SS_VISIT_HEADER_V V2 ON V1.VISIT_ID = V2.VISIT_ID
                
                INNER JOIN EDW.PRS.C4C_SS_ORG_UNIT_MASTER_DATA_V O ON O.ORG_UNIT = V2.ORGANIZATIONAL_UNIT
                
                INNER JOIN EDW.PRS.C4C_SS_ORG_UNIT_MASTER_DATA_V SO ON SO.ORG_UNIT_ID = V2.SALESORG
                
                INNER JOIN EDW.PRS.C4C_TEXT_ACTIVITY_LIFE_CYCLE_STATUS_V V3 ON V3.CODE = V2.ACTIVITY_LIFE_CYCLE_STATUS
                
                LEFT JOIN EDW.PRS.C4C_TEXT_VISIT_RESULT_V V4 ON V1.RESULT = V4.CODE
                
                WHERE ACTIVITY_LIFE_CYCLE_STATUS_DESCRIPTION = 'Completed'"""

    df_data_products_config = sf_session.sql(dp_sql)

except SnowparkSQLException as e:
    logging.error('Exception in function---[ get_data_products() ] - ' + str(e))


df_data_products_config.show()

pandas_df_Sales_Visits = df_data_products_config.toPandas()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------
|"VISIT_TYPE_DESCRIPTION"   |"END_DATE_IN_LOCAL_TIME_ZONE"  |"DESCRIPTION"  |"SALESORG"  |"ACTIVITY_LIFE_CYCLE_STATUS_DESCRIPTION"  |"VISIT_ID"  |"ACCOUNT_ID"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
|Service Visit              |2023-09-22                     |NULL           |TH18        |Completed                                 |2593124     |4684211       |
|Grow/Business Development  |2023-12-14                     |NULL           |RU3A        |Completed                                 |2730678     |2736552       |
|Grow/Business Development  |2023-08-29                     |NULL           |RU3A        |Completed                                 |2538925     |2736552       |
|Grow/Business Development  |2023-01-11                     |NULL           |RU3A        |Completed                                 |2143228     |4413854       |
|Grow/Business Development  |2023-02-09                     |NULL           |RU3A        |Completed                                 |2192180     |4413854       |
|Grow/Business Development  |2023-01-31                     |NULL           |RU3A        |Completed                                 |2176757     |4413854       |
|Grow/Business Development  |2023-02-22                     |NULL           |RU3A        |Completed                                 |2211946     |4413854       |
|Grow/Business Development  |2023-02-17                     |NULL           |RU3A        |Completed                                 |2191833     |4598986       |
|Grow/Business Development  |2023-12-26                     |NULL           |RU3A        |Open                                      |2733206     |4598986       |
|NULL                       |2022-12-05                     |NULL           |SE16        |Completed                                 |2166011     |2425414       |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------

In [192]:
#Commercial Phone calls
try:
    dp_sql = """select Distinct
                
                T1.ACTIVITY_NAME as Activity_Name,
                
                T1.ACCOUNT_ID as Account_Name,
                
                T1.ACTIVITY_OWNER_NAME as Activity_Owner,
                
                T1.ACTIVITY_LIFE_CYCLE_STATUS as Activity_Life_Cycle_Status,
                
                T1.PHONE_CALL_ID as Phone_Call_ID,
                
                T1.OBJECTIVE_PHONE_CALL as Objective_Phone_Call,
                
                T1.SALES_ORGANIZATION_ID as Sales_Organization,
                
                date(T1.END_DATE_IN_LOCAL_TIME_ZONE) as End_Date_in_Local_Time_Zone,
                
                date(T1.START_DATE_IN_LOCAL_TIME_ZONE) as Start_Date_in_Local_Time_Zone,
                
                to_varchar(T1.END_DATE_IN_LOCAL_TIME_ZONE,'yyyy - mm') as PeriodEnd,
                
                T1.ACTIVITY_OWNER_ID as ee
                
                from "EDW"."PRS"."C4C_PHONE_CALLS_ACTIVITY_V" T1"""

    df_data_products_config = sf_session.sql(dp_sql)

except SnowparkSQLException as e:
    logging.error('Exception in function---[ get_data_products() ] - ' + str(e))


df_data_products_config.show()

pandas_df_Phone_Calls = df_data_products_config.toPandas()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ACTIVITY_NAME"                        |"ACCOUNT_NAME"  |"ACTIVITY_OWNER"  |"ACTIVITY_LIFE_CYCLE_STATUS"  |"PHONE_CALL_ID"  |"OBJECTIVE_PHONE_CALL"  |"SALES_ORGANIZATION"  |"END_DATE_IN_LOCAL_TIME_ZONE"  |"START_DATE_IN_LOCAL_TIME_ZONE"  |"PERIODEND"  |"EE"   |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|2023-06-17- 4-198 Call 2               |7745188         |Ravi Dagar        |Completed                     |1151255          |NULL                    |IN14                  |2023-06-18                     |2023-06-18                       |2023 - 06    |10268  |
|2023-06-25- Bsc nursing Call 2         |7776728         |Gaurav Mishra     |Completed                     |1160859          |NULL                    |IN14                  |2023-06-27                     |2023-06-27                       |2023 - 06    |11273  |
|2023-01-30- DEVIKA ENTERPRISES Call 3  |7140326         |Jadala Aishwarya  |Completed                     |1037747          |NULL                    |IN14                  |2023-02-03                     |2023-02-03                       |2023 - 02    |4473   |
|2023-06-17- Pa27032022 Call 2          |7745155         |Jadala Aishwarya  |Completed                     |1152430          |NULL                    |IN14                  |2023-06-18                     |2023-06-18                       |2023 - 06    |4473   |
|2023-06-14- TN-72 Call 2               |7737808         |Abhishek Sharma   |Completed                     |1149202          |NULL                    |IN14                  |2023-06-15                     |2023-06-15                       |2023 - 06    |9854   |
|2023-02-22- MIDAS TOUCH Call 1         |7253677         |Abhishek Sharma   |Completed                     |1052741          |NULL                    |IN14                  |2023-02-22                     |2023-02-22                       |2023 - 02    |9854   |
|2022-12-11- Education Call 2           |7044877         |Tushar .          |Completed                     |1011195          |NULL                    |IN14                  |2023-01-09                     |2023-01-09                       |2023 - 01    |10169  |
|2023-02-18- Dental clinic Call 1       |7240849         |Ravi Dagar        |Completed                     |1050579          |NULL                    |IN14                  |2023-02-19                     |2023-02-19                       |2023 - 02    |10268  |
|2023-06-16- Go Harvest Call 1          |7744141         |Ravi Dagar        |Completed                     |1150534          |NULL                    |IN14                  |2023-06-17                     |2023-06-17                       |2023 - 06    |10268  |
|2023-10-03- Openhouse Call 2           |8047558         |Gaurav Mishra     |Completed                     |1241512          |NULL                    |IN14                  |2023-10-03                     |2023-10-03                       |2023 - 10    |11273  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [193]:
#transform the 'COMPLETION_SLA_MET' column from boolean (True/False) to integer (1/0) in your SQL query

try:
    dp_sql = """SELECT COMPLETION_DATE, INCIDENT_CATEGORY_DESCRIPTION, SERIAL_ID, COMPLETION_SLA_MET
    FROM EDW.PRS.C4C_REPAIR_TICKETS_KPI_V"""
    #dp_sql = """SELECT COMPLETION_DATE, INCIDENT_CATEGORY_DESCRIPTION, SERIAL_ID,
     #  CASE WHEN COMPLETION_SLA_MET = 'True' THEN 1 ELSE 0 END AS COMPLETION_SLA_MET
    #FROM EDW.PRS.C4C_REPAIR_TICKETS_KPI_V"""

    df_data_products_config = sf_session.sql(dp_sql)

except SnowparkSQLException as e:
    logging.error('Exception in function---[ get_data_products() ] - ' + str(e))


df_data_products_config.show()

pandas_df_Repair = df_data_products_config.toPandas()

--------------------------------------------------------------------------------------------
|"COMPLETION_DATE"  |"INCIDENT_CATEGORY_DESCRIPTION"  |"SERIAL_ID"  |"COMPLETION_SLA_MET"  |
--------------------------------------------------------------------------------------------
|2023-10-26         |18 N/A                           |20E0001712   |True                  |
|2024-07-26         |11 Electrical power              |ID23249      |False                 |
|2023-09-14         |17 Miscellaneous                 |22E0007320   |True                  |
|2023-10-05         |1.b Ingredient Dispensing        |SGBMB12596   |True                  |
|2024-02-13         |2.c Hydraulic Leaking            |ID15757      |False                 |
|2024-06-03         |11 Electrical power              |ID18125      |False                 |
|2024-07-25         |18 N/A                           |20E0004237   |True                  |
|2024-06-19         |2.b Hydraulic Dispensing         |SGBMB09405   |True                  |
|2023-12-13         |18 N/A                           |21H0012696   |True                  |
|2024-02-12         |11 Electrical power              |19O0045748   |True                  |
--------------------------------------------------------------------------------------------

In [194]:
#V2
# Date when the data was extracted
import calendar

#Algorithm that gives the last day of the past month as Churn Date
CurrentDate = datetime.today()

shift_year = 0
shift_month = 1

if (CurrentDate.month == 1):
    shift_year = 1
    shift_month = -11

new_date = calendar.monthrange(CurrentDate.year - shift_year,CurrentDate.month - shift_month)
ChurnDate2 = datetime(CurrentDate.year - shift_year,CurrentDate.month - shift_month,new_date[1])

print(ChurnDate2)

2024-09-30 00:00:00

In [195]:
####Whe is the last time we had telemetry data
# Should be the same as Churn Date2

#TelemetryDate = ChurnDate2
#TelemetryDate = datetime(2020,8,31)

#PakistanLastUpdate = datetime(2021,5,31)
#PakistanDateRangeStart = datetime(2020,7,31)

#VendonDateRangeStart = TelemetryDate
#VendonLastUpdate = datetime(2021,9,30)

The data has been anonymized

#### Below is a list of my datasets:

#### 1.	Beverage Machine data
    - The Beverage machine data is maintained by the Service manager of each Sales Organisation (usually a Sales Organisation corresponds to a country) and I can create a report to extract the data in excel from a database maintained by an external provider.
    - The database only keeps the latest state of the machine, therefore, I take a monthly snapshot of the data to capture the changes. 
    - This data provides details about the Beverage Machines park situation.
    - More and more Sales Organisations are going to be managed by this system, so the number of machines managed is increasing.

#### 2.	Beverage Mapping data
    - Beverage Mapping data is maintained in an Excel file by a colleague, I ask him to upload this mapping whenever I find new machines in the consolidated Beverage Machine data.
    - The goal of the file is to link the Beverage machine data to the Beverage Classification data.

#### 3.	Beverage Classification data
    - Beverage Classification data is maintained in a SharePoint file by a colleague.
    - This file is to get more technical details and features of the Beverage Machines.
    
#### 4.	Placement Tickets data
    - The Placement Tickets data is maintained by the Service manager of each Sales org and I can create a report to extract the data in excel from a database maintained by an external provider.
    - This data provides details of the placements and some incidents tickets of the Beverage Machines.
    - Sometimes the tickets are not done by the Service manager and some market does not fill this data inside the database, so only a minority of machines have this data.

#### 5.	Telemetry data
    - A new project has been launched not very long ago and some machine are equipped with telemetry data.
    - This data is stored by the telemetry provider and I asked an external colleague managing the relationship with the telemetry provider to share with me the data he could get from his requests.
    - Very few machines are equipped with telemetry data.
    - The number of machines connected with Telemetry is going to increase in the future.
    - This is not the definitive data, I have asked my colleague, but he could not provide me the final data this month, a data lake is being built in order to access the data more easily in the future


#### 6.	Visits data

#### 7. Phone Calls data

#### 8. Repair tickets data

### Beverage Machine data
Below you can find an extract of the Beverage Machine data which contains the details of the Beverage Machines

No need to use 2021 data so I turned it to Markdown

BeverageMachine_df = pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload.csv")
BeverageMachine_df.head()

#### Additionnal beverage data

In [196]:
###From 2022 onwards
#BeverageMachine22_df = pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload22.csv")

BeverageMachine22_df = pd.read_csv(BeverageMachine22_df)
BeverageMachine22_df.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_30260\2688253730.py:4: DtypeWarning: Columns (2,8,9,11,19,20,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  BeverageMachine22_df = pd.read_csv(BeverageMachine22_df)

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry (Account ID),Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date
0,0,Kuwait General Operational Manager,43985,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,0,184658239,...,0801 Nestle Companies,080107 Nestle Middle East,08 Export,0801 Nestle Companies,080107 Nestle Middle East,980519,Trade Asset w/ Fixed Asset,KW10,90068903,2022-01-31
1,1,Kuwait General Operational Manager,43985,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Idle,To be Assigned,0,184658259,...,0102 Hypermarket,010299 Not classified,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,KW10,90068903,2022-01-31
2,2,Kuwait General Operational Manager,43985,NESCAFE ALEGRIA FTP30 v1.0 BM,100023190,ALEGRIA,Deployed,Installed,0,195061606,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1015364,Trade Asset w/ Fixed Asset,KW10,90073039,2022-01-31
3,3,Kuwait General Operational Manager,43985,NESCAFE ALEGRIA FTP30 v1.0 BM,100023190,ALEGRIA,Deployed,Installed,44013,195061605,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,Not assigned,666056,Trade Asset w/ Fixed Asset,KW10,90073039,2022-01-31
4,4,Kuwait General Operational Manager,43985,EZ Care Mini-Duo BM,100023377,OTHERS-R/L/N,Deployed,Installed,39295,T070572,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0601 Full Service Rest's,Not assigned,667092,Trade Asset w/ Fixed Asset,KW10,90045690,2022-01-31

In [197]:
BeverageMachine22_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3425600 entries, 0 to 3425599
Data columns (total 37 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
dtypes: int64(3), object(34)
memory usage: 967.0+ MB

Not needed anymore
### 2020 data
Bev_add2 = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload23.csv")
Bev_add2.head()

In [198]:
##2023 data

#BeverageMachine23_df =  pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload23.csv")
BeverageMachine23_df =  pd.read_csv(BeverageMachine23_df)
BeverageMachine23_df.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_30260\1355821232.py:4: DtypeWarning: Columns (2,8,9,11,14,16,17,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  BeverageMachine23_df =  pd.read_csv(BeverageMachine23_df)

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry (Account ID),Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date
0,0,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42430,16E0009895,...,1101 Exclusive,110101 Distribution Center,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
1,1,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42522,16E0014757,...,0618 Distributors OOH,061802 Non Exclusive,06 Out of Home,0203 Petrol Station,020399 Not classified,1046515,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
2,2,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42614,16E0021271,...,0618 Distributors OOH,061802 Non Exclusive,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
3,3,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42705,16E0021245,...,1101 Exclusive,110101 Distribution Center,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
4,4,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42736,16E0021249,...,1101 Exclusive,110101 Distribution Center,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31

In [199]:
##2024 data
#BeverageMachine24_df =  pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload24.csv")
BeverageMachine24_df =  pd.read_csv(BeverageMachine24_df)
BeverageMachine24_df.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_30260\319131405.py:3: DtypeWarning: Columns (2,8,9,10,11,13,14,15,16,17,18,19,20,22,23,24,25,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  BeverageMachine24_df =  pd.read_csv(BeverageMachine24_df)

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry (Account ID),Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date
0,0,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544849,...,0614 Convenience OOH,061406 PMO:Petrol Stations,06 Out of Home,0614 Convenience OOH,061406 PMO:Petrol Stations,1498958,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
1,1,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544851,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-8930,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
2,2,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544855,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9059,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
3,3,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43282.0,182026936,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9146,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
4,4,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43313.0,182026920,...,0605 Business/Industry,060503 Remote Site Company,06 Out of Home,0605 Business/Industry,060503 Remote Site Company,IP-9006,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31

In [200]:
BeverageMachine_df = pd.concat([BeverageMachine24_df, BeverageMachine22_df], ignore_index=True) 
BeverageMachine_df = pd.concat([BeverageMachine_df, BeverageMachine23_df], ignore_index=True) 

#BeverageMachine_df = BeverageMachine24_df.append(BeverageMachine22_df)
#BeverageMachine_df = BeverageMachine_df.append(BeverageMachine23_df)
BeverageMachine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9617595 entries, 0 to 9617594
Data columns (total 37 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
dtypes: int64(3), object(34)
memory usage: 2.7+ GB

In [201]:
def convert_column_to_int(df, column_name):
    df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
    df[column_name] = df[column_name].fillna(df[column_name])
    df[column_name] = df[column_name].astype(pd.Int64Dtype(), errors='ignore')
    return df

BeverageMachine_df = convert_column_to_int(BeverageMachine_df, 'EC ID')

In [202]:
#TODELETE once we move to Snowflake Monthly Snapshot
#Snowflake values are different and in Upper case, it creates a problem when I filter out machines that are not "Deployed"
BeverageMachine_df['Machine Status Groupings'] = BeverageMachine_df['Machine Status Groupings'].replace({'DEPLOYED': 'Deployed', 'IDLE': 'Idle', 'OTHER': 'Other'})

#Snowflake has a different Upper letters value and for one month of data the algorithm can know if the data comes from Snowflake and adapt the algorithm to know these machines have not churned, to be deleted once all the data comes from Snowflake
BeverageMachine_df['User Status'] = BeverageMachine_df['User Status'].replace({'IN PREPARATION': 'In Preparation', 'TO BE ASSIGNED': 'To be Assigned', 'TO BE DESTROYED': 'To be Destroyed', 'IN REPAIR': 'In Repair', 'INSTALLED': 'Installed', 'UNDER INSTALLATION': 'Under Installation', 'MISSING': 'Missing', 'STATUS TO BE CORRECTED IN ERP': 'Status to be corrected in ERP', 'TO BE REMOVED': 'To be Removed'})
BeverageMachine_df['TA Usage Indicator'] = BeverageMachine_df['TA Usage Indicator'].replace({'Monthly Rental': '5 Monthly Rental', '': 'Not assigned'})

In [203]:
#Keep the deployed
#BeverageMachine_df= BeverageMachine_df.loc[BeverageMachine_df['Machine Status Groupings']=="DEPLOYED"]

In [204]:
count = BeverageMachine_df[(BeverageMachine_df['Sales Organisation'] == 'Nestlé Russia') & (BeverageMachine_df['Machine Status Groupings'] == 'Deployed')].shape[0]
print("Number of rows with 'Sales Organisation' as 'Nestlé Russia' and 'Machine Status Groupings' as 'Deployed':", count)

Number of rows with 'Sales Organisation' as 'Nestlé Russia' and 'Machine Status Groupings' as 'Deployed': 563214

In [205]:
BeverageMachine_df = BeverageMachine_df.loc[BeverageMachine_df['Machine Status Groupings']=="Deployed"]

Manufacturer Serial number can be the same for two different machine in different countries let's create a key Key_ManufacturerID_SalesOrg

Key_ManufacturerID_SalesOrg will be used for merging local sales data from market with the main data

import pandas as pd

# Create a new column 'Key_ManufacturerID_SalesOrg' with initial values from 'Manufacturer Number' and 'Sales Organisation'
BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Manufacturer Number'].astype(str) + BeverageMachine_df['Sales Organisation']



# Conditionally update 'Key_ManufacturerID_SalesOrg' column if it is a specific Sales Organisation
specific_market = 'Nestlé Russia'  # Replace with the name of your specific market
# for Russia use Account ID instead of Manufacturer Number
BeverageMachine_df.loc[BeverageMachine_df['Sales Organisation'] == specific_market, 'Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Account ID'].astype(str) + BeverageMachine_df['Sales Organisation']

In [206]:
# Create a new column 'Key_ManufacturerID_SalesOrg' with initial values from 'Manufacturer Number' and 'Sales Organisation'
BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Manufacturer Number'].astype(str) + BeverageMachine_df['Sales Organisation']

#Account ID should be of type "String"
BeverageMachine_df['Account ID'] = BeverageMachine_df['Account ID'].astype(str)
BeverageMachine_df['Serial ID'] = BeverageMachine_df['Serial ID'].astype(str)
BeverageMachine_df['EC ID'] = BeverageMachine_df['EC ID'].astype(str)

# Conditionally update 'Key_ManufacturerID_SalesOrg' column if it is a specific market
specific_market = 'Nestle South Africa'

specific_market2 = ['Nestlé India', 'Pakistan'] 


BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df.apply(
    lambda row: str(row['Serial ID']) + row['Sales Organisation'] if row['Sales Organisation'] in specific_market2 else (
        row['Account ID'] + row['Sales Organisation'] if row['Sales Organisation'] == specific_market else row['Key_ManufacturerID_SalesOrg']
    ), axis=1
)

# Update 'Key_ManufacturerID_SalesOrg' column based on specific markets
BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df.apply(
    lambda row: row['Account ID'] + row['Sales Organisation'] if row['Sales Organisation'] == specific_market else (
        str(row['Serial ID']) + row['Sales Organisation'] if row['Sales Organisation'] == specific_market2 else row['Key_ManufacturerID_SalesOrg']
    ), axis=1
)

BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Manufacturer Number'].astype(str) +  BeverageMachine_df['Sales Organisation']

Serial Id should be a string had issue with mix type for same serial ID

In [207]:
BeverageMachine_df['Serial ID'] = BeverageMachine_df['Serial ID'].astype('str')

BeverageMachine_df['Parent Installation Point ID'] = BeverageMachine_df['Parent Installation Point ID'].astype('str')

In [208]:
BeverageMachine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6492902 entries, 0 to 9617594
Data columns (total 38 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
 37  Key_ManufacturerID_SalesOrg                          object
dtypes: int64(3), object(35)
memory usage: 1.9+ GB

In [209]:
BeverageMachine_df = BeverageMachine_df.query("`Product [Machine Model]` != 'Vendon Telemetry Device – vBox BM'")

In [210]:
BeverageMachine_df['Sales Organisation'].unique()

array(['Nestlé UAE', 'NP Bosnia & Herzegovina', 'Néstlé Bahrain',
       'NESTLE PROD SERV - CN19', 'SHL NESTLE PROD SERV',
       'Nestlé Denmark', 'Nestlé Finland', 'Nestle Hong Kong',
       'Indonesia', 'JP Japan Sales',
       'Kuwait General Operational Manager', 'NP North Macedonia',
       'Malaysia', 'Nestle New Zealand', 'Nestlé PH', 'Nestlé Qatar',
       'Nestlé Russia', 'Nestlé Slovak Republic', 'Nestle Turkiye Gida',
       'Nestle South Africa', 'Singapore', 'Nestle Australia Ltd',
       'NP-Bulgaria', 'NESTLE PROD SERV - CN17',
       'NESTLE PROD SERV - CN20', 'Nestlé Czech', 'Nestle UK',
       'Nestlé India', 'Néstlé Jordania', 'Nestle Kenya Ltd',
       'Néstlé Lebanon', 'Nestle Prd Mauritius Ltd', 'NP-Netherlands',
       'Nestlé Norway', 'Oman - Business Manager UAE & Oman', 'Pakistan',
       'NP Serbia, Kosovo, Montenegro', 'Néstlé Saudi Arabia',
       'Nestle Sweden', 'Thailand', 'Nestlé Taiwan', 'NP-Belgilux',
       'NP-France', 'Nestlé Italy IT35 OOH', 'Nestle Ireland',
       'Nestle Romania S.R.L', 'Nestle Poland',
       'Baltics Sales Organization', 'NP Croatia, Slovenia',
       'Nestle Jordan', 'Nestle Oman', 'Nestle Kuwait', 'Nestle Egypt',
       'Nestle Morocco'], dtype=object)

Removed some markets from analysis

In [211]:
BeverageMachine_df2 = BeverageMachine_df.copy()
BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NESTLE PROD SERV - CN17']
BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NESTLE PROD SERV - CN19']
BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NESTLE PROD SERV - CN20']
#BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='SHL NESTLE PROD SERV']
#BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='Nestlé Taiwan']
#BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NP-Netherlands']


#BeverageMachine_df2 = BeverageMachine_df2.drop(BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']=='Nestlé India'].index, inplace=True)
#BeverageMachine_df2 = BeverageMachine_df2.drop(BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']=='NESTLE PROD SERV - CN17'].index, inplace=True)
BeverageMachine_df2.head()

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date,Key_ManufacturerID_SalesOrg
0,0,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544849,...,061406 PMO:Petrol Stations,06 Out of Home,0614 Convenience OOH,061406 PMO:Petrol Stations,1498958,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20174544849Nestlé UAE
1,1,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544851,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-8930,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20174544851Nestlé UAE
2,2,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544855,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9059,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20174544855Nestlé UAE
3,3,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43282.0,182026936,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9146,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20182026936Nestlé UAE
4,4,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43313.0,182026920,...,060503 Remote Site Company,06 Out of Home,0605 Business/Industry,060503 Remote Site Company,IP-9006,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20182026920Nestlé UAE

In [212]:
BeverageMachine_df2['Sales Organisation'].unique()

array(['Nestlé UAE', 'NP Bosnia & Herzegovina', 'Néstlé Bahrain',
       'SHL NESTLE PROD SERV', 'Nestlé Denmark', 'Nestlé Finland',
       'Nestle Hong Kong', 'Indonesia', 'JP Japan Sales',
       'Kuwait General Operational Manager', 'NP North Macedonia',
       'Malaysia', 'Nestle New Zealand', 'Nestlé PH', 'Nestlé Qatar',
       'Nestlé Russia', 'Nestlé Slovak Republic', 'Nestle Turkiye Gida',
       'Nestle South Africa', 'Singapore', 'Nestle Australia Ltd',
       'NP-Bulgaria', 'Nestlé Czech', 'Nestle UK', 'Nestlé India',
       'Néstlé Jordania', 'Nestle Kenya Ltd', 'Néstlé Lebanon',
       'Nestle Prd Mauritius Ltd', 'NP-Netherlands', 'Nestlé Norway',
       'Oman - Business Manager UAE & Oman', 'Pakistan',
       'NP Serbia, Kosovo, Montenegro', 'Néstlé Saudi Arabia',
       'Nestle Sweden', 'Thailand', 'Nestlé Taiwan', 'NP-Belgilux',
       'NP-France', 'Nestlé Italy IT35 OOH', 'Nestle Ireland',
       'Nestle Romania S.R.L', 'Nestle Poland',
       'Baltics Sales Organization', 'NP Croatia, Slovenia',
       'Nestle Jordan', 'Nestle Oman', 'Nestle Kuwait', 'Nestle Egypt',
       'Nestle Morocco'], dtype=object)

In [213]:
BeverageMachine_df = BeverageMachine_df2

In [214]:
BeverageMachine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5574326 entries, 0 to 9617594
Data columns (total 38 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
 37  Key_ManufacturerID_SalesOrg                          object
dtypes: int64(3), object(35)
memory usage: 1.6+ GB

### Beverage Mapping data

In [215]:
# (A) Load the Beverage Mapping data
#BevMap_df = pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\SBU-11 NESTLE PRO. Translation.csv")
BevMap_df = pd.read_csv(BevMap_df)

BevMap_df['ID Model Code']=BevMap_df['ID Model Code'].astype(str)
BevMap_df.head()

,Brand Name,Description,ID Model Code,Source,Model,Revised,Modified,Modified By
0,Accolade,Accolade 12oz,ACC-FPD-12z,BMB,N&W Astro Accolade,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
1,Accolade,Accolade 9oz,ACC-FPD- 9z,BMB,N&W Astro Accolade,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
2,ALEGRIA,Chest Freezer NP PK BM,100069870,C4C,Accessories,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
3,ALEGRIA,Chiller SAX 250 NP BM PK,100069872,C4C,Others,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
4,ALEGRIA,Chiller SAX 400 NP BM PK,100069869,C4C,Others,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"

In [216]:
BevMap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2591 entries, 0 to 2590
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand Name     2591 non-null   object
 1   Description    2591 non-null   object
 2   ID Model Code  2591 non-null   object
 3   Source         2591 non-null   object
 4   Model          2591 non-null   object
 5   Revised        2591 non-null   object
 6   Modified       2591 non-null   object
 7   Modified By    2591 non-null   object
dtypes: object(8)
memory usage: 162.1+ KB

### Beverage Classification data

In [217]:
# (A) Load the Beverage Classification data
BeverageClassification_df = pd.read_csv(BeverageClassification_df)

BeverageClassification_df.head()

,Model,Model Vendor,Model Category,Global Projects,System Brands,Solution Brands,Model Group,Generation,Product,Ingredient Format,...,PSL,TAA & TAR Ownership,TAA & TAR,SC & Planning,Production,IM,Sustainability LCA Ownership,Sustainability LCA,Vendon Compatible,Technical Capacity
0,4Swiss Roma A10 PRO,Others,Mainstream B2C,%23-N/A,Branded others,Branded Others,Other,Legacy,Pure R&G,Pure R&G,...,Validated,Market,Not Done,Market,Discontinued,Market,Market,Not Done,NaN,20
1,Accessories,Generic,Other,%23-N/A,Branded others,Non-Branded,Other,Legacy,%23-Unknown,Other,...,Validated,Market,Not Done,Market,Discontinued,Market,Market,Not Done,NaN,0
2,Alegria V-Café 140,Crem,Hot Liquid,Alegria,Nescafé Alegria,Nescafé Alegria,NA Legacy,Gen. 1,Hot Liquid,Liquid,...,Mandatory,Region,Not Done,Region,Active,Region,Region,Not Done,NaN,0
3,Alegria V-Café 2120,Crem,Hot Liquid,Alegria,Nescafé Alegria,Nescafé Alegria,NA Legacy,Gen. 1,Hot Liquid,Liquid,...,Mandatory,Region,Not Done,Region,Active,Region,Region,Not Done,NaN,0
4,Alegria V-Café 4500,NP Beverages,Hot Liquid,Alegria,Nescafé Alegria,Nescafé Alegria,NA Legacy,Gen. 1,Hot Liquid,Liquid,...,Validated,Market,Not Done,Market,Discontinued,Market,Market,Not Done,NaN,0

In [218]:
BeverageClassification_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Model                         591 non-null    object
 1   Model Vendor                  592 non-null    object
 2   Model Category                592 non-null    object
 3   Global Projects               592 non-null    object
 4   System Brands                 592 non-null    object
 5   Solution Brands               592 non-null    object
 6   Model Group                   592 non-null    object
 7   Generation                    592 non-null    object
 8   Product                       592 non-null    object
 9   Ingredient Format             592 non-null    object
 10  Model Category 2              592 non-null    object
 11  Machine Type                  592 non-null    object
 12  Beverage Temperature          592 non-null    object
 13  Positionning                  592 non-null    object
 14  Blueprint Throughput          592 non-null    object
 15  G/R/M PML                     592 non-null    object
 16  IP Ownership                  592 non-null    object
 17  Price List                    592 non-null    object
 18  PSL                           592 non-null    object
 19  TAA & TAR Ownership           592 non-null    object
 20  TAA & TAR                     592 non-null    object
 21  SC & Planning                 592 non-null    object
 22  Production                    592 non-null    object
 23  IM                            592 non-null    object
 24  Sustainability LCA Ownership  592 non-null    object
 25  Sustainability LCA            592 non-null    object
 26  Vendon Compatible             276 non-null    object
 27  Technical Capacity            592 non-null    int64
dtypes: int64(1), object(27)
memory usage: 129.6+ KB

### Placement Tickets data

pip install openpyxl

In [219]:
# Load the Placement Tickets data
#Placement_df = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Net Placements.xlsx")
#Placement_df.tail()

In [220]:
#Placement_df.info()

In [221]:
#selected_columns = ['Serial ID', 'Service Category', 'INCIDENT_CATEGORY_DESCRIPTION']
Placement_df = pandas_df_NetPlacement
# Perform operations on the selected DataFrame as needed
Placement_df=Placement_df.rename(columns={"SERIAL_ID": "Serial ID", "SERVICE_CATEGORY_DESCRIPTION": "Service Category"})
#Placement_df=Placement_df[selected_columns]
Placement_df.head()

    Serial ID Service Category INCIDENT_CATEGORY_DESCRIPTION
0  22O0031091     Installation       Trial / Demo /Food Show
1     8470081          Removal                 Unknown/Other
2   124035252          Removal                Low throughput
3     7220048          Removal                 Unknown/Other
4     7220006          Removal                 Unknown/Other

# Read the Excel file into a pandas DataFrame and filter columns
file_path = Placement_df
selected_columns = ['Serial ID', 'Service Category', 'INCIDENT_CATEGORY_DESCRIPTION']
Placement_df = pd.read_excel(file_path, usecols=selected_columns)
# Perform operations on the selected DataFrame as needed
print(Placement_df)

### Telemetry data

Get data from URL for Telemetry Data Lake

In [222]:
url = "https://queryenginelandingprod.blob.core.windows.net/shared/np/churn/np_churn_historical_consumption_by_product_group.csv?sp=r&st=2023-04-10T06:40:59Z&se=2050-04-10T14:40:59Z&spr=https&sv=2021-12-02&sr=b&sig=d%2Fn5C%2FWWksWDI%2FiiZEqwz5mOaw2jAqkW9DHUOSz6R7Q%3D"
np_churn_consumption2 =pd.read_csv(url)
np_churn_consumption2

,date,serial,sap_serial,quantity,salesorg,machine_id,product_group
0,2021-10-31,3400000018670,21H0026812,742,Turkey,1276,CAFE LATTE
1,2021-10-31,NaN,NaN,364,Turkey,3046,CAFE LATTE
2,2021-10-31,20101206561,NaN,2068,ESAR,1915,CAPPUCCINO
3,2021-10-31,20200606283,NaN,48,Bulgaria,4027,HOT WATER
4,2021-10-31,20200606313,NaN,1,Bulgaria,6942,HOT WATER
...,...,...,...,...,...,...,...
4260482,2024-09-30,20241012138,70010202414,1,Peru,8859030,MOCHA
4260483,2024-09-30,PX20224744148,43851,1,Mexico,697439,LUNGO
4260484,2024-09-30,20242324928,42215,1,Chile,9514472,WHITE COFFEE
4260485,2024-09-30,30220158,23A0017350,2,USA,660808,CAFE LATTE
4260486,2024-09-30,20242324928,42215,1,Chile,9514472,MOCHA

In [223]:
#url= "https://queryenginelandingstag.blob.core.windows.net/shared/np/churn/np_churn_historical_consumption.csv?sp=r&st=2022-09-02T07:17:17Z&se=2050-09-02T15:17:17Z&spr=https&sv=2021-06-08&sr=b&sig=hiIpKctZ%2BlxXwR9E%2BVReK1TnsQqZrcayCYu%2BZaCynlw%3D"
url = "https://queryenginelandingprod.blob.core.windows.net/shared/np/churn/np_churn_historical_consumption.csv?sp=r&st=2022-11-29T12:22:43Z&se=2050-11-29T20:22:43Z&spr=https&sv=2021-06-08&sr=b&sig=JZE599UA3foRsJ6ZbOHW6M0nWexxLc3JCB49gJ%2B2faU%3D"
np_churn_consumption =pd.read_csv(url)
np_churn_consumption

,date,serial,sap_serial,quantity,salesorg,machine_id
0,2021-10-31,127276,1.2,656,MENA,6800
1,2021-10-31,3400000018670,21H0026812,2147,Turkey,1276
2,2021-10-31,20200606316,NaN,861,Bulgaria,2623
3,2021-10-31,NaN,NaN,1029,Turkey,3046
4,2021-10-31,20112720596,NaN,498,ESAR,3362
...,...,...,...,...,...,...
586341,2024-09-30,327522,327522,3,Turkey,3732083
586342,2024-09-30,20192836915,70010009196,1,MENA,8884011
586343,2024-09-30,Unknown,NaN,1,Mexico,9241292
586344,2024-09-30,20165041028,21O0015079,1,Singapore,135870
586345,2024-09-30,Unknown,NaN,1,Hungary,9451518

In [224]:
np_churn_consumption = np_churn_consumption.rename(columns={"date": "Month", "salesorg": "SalesOrg"}).reset_index()
np_churn_consumption.head()

,index,Month,serial,sap_serial,quantity,SalesOrg,machine_id
0,0,2021-10-31,127276,1.2,656,MENA,6800
1,1,2021-10-31,3400000018670,21H0026812,2147,Turkey,1276
2,2,2021-10-31,20200606316,NaN,861,Bulgaria,2623
3,3,2021-10-31,NaN,NaN,1029,Turkey,3046
4,4,2021-10-31,20112720596,NaN,498,ESAR,3362

In [225]:
np_churn_consumption=np_churn_consumption.drop(columns=['sap_serial','index', 'machine_id'])
np_churn_consumption.head()

        Month         serial  quantity  SalesOrg
0  2021-10-31         127276       656      MENA
1  2021-10-31  3400000018670      2147    Turkey
2  2021-10-31    20200606316       861  Bulgaria
3  2021-10-31            NaN      1029    Turkey
4  2021-10-31    20112720596       498      ESAR

In [226]:
Telemetry_df = np_churn_consumption

# Load the Telemetry data
Telemetry_df = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Telemetry2021.xlsx")
Telemetry_df.tail()

In [227]:
Telemetry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586346 entries, 0 to 586345
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Month     586346 non-null  object
 1   serial    573115 non-null  object
 2   quantity  586346 non-null  int64
 3   SalesOrg  586332 non-null  object
dtypes: int64(1), object(3)
memory usage: 17.9+ MB

# Load the Telemetry data
Telemetry_add = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Telemetry2022.xlsx")
Telemetry_add.tail()

Telemetry_df = Telemetry_df.append(Telemetry_add)
Telemetry_df.info()

Telemetry_df.tail()

I will only keep the telemetry data in the date range, so it is only the telemtry data starting after "TelemetryDateRangeStart"

#Telemetry_df1 = Telemetry_df.loc[Telemetry_df['Month']>=TelemetryDateRangeStart]

I will aggregate the number of Cup Sales for each Machine by the feature called 'serial' which corresponds to the feature 'Manufacturer Number' in the Beverage Machine data

In [228]:
Telemetry_aggSales = Telemetry_df['quantity'].groupby(Telemetry_df['serial'], axis=0).sum()
Telemetry_aggSales_df = Telemetry_aggSales.to_frame().reset_index()
Telemetry_aggSales_df

                    serial  quantity
0           \t 20221813844      9566
1             '20202016602     58687
2            'Y20231619331     19086
3                       **      1127
4                      ***       581
...                    ...       ...
37399  Х580BGS230203370094      1151
37400  Х580BGS230203370097      6137
37401  Х580BGS230203370098      9346
37402  Х580BGS230203370105     23148
37403  Х580BGS231006240094         6

[37404 rows x 2 columns]

In [229]:
Telemetry_df1 = Telemetry_df.groupby(['Month', 'serial']).sum()
# df.groupby(['col5', 'col2']).size()
#['quantity']
Telemetry_df1 = Telemetry_df1.reset_index()

Telemetry_df1

C:\Users\msalomo\AppData\Local\Temp\ipykernel_30260\1522141084.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Telemetry_df1 = Telemetry_df.groupby(['Month', 'serial']).sum()

             Month               serial  quantity
0       2021-10-31         '20202016602      1474
1       2021-10-31            000103535      1386
2       2021-10-31            000103550      1569
3       2021-10-31             00094264       236
4       2021-10-31             00094442      1403
...            ...                  ...       ...
558843  2024-09-30  Х580BGS230203370094       289
558844  2024-09-30  Х580BGS230203370097       740
558845  2024-09-30  Х580BGS230203370098      1240
558846  2024-09-30  Х580BGS230203370105      2937
558847  2024-09-30  Х580BGS231006240094         6

[558848 rows x 3 columns]

from dateutil.relativedelta import relativedelta

one_month = TelemetryDate + relativedelta(months=-1)
three_months = TelemetryDate + relativedelta(months=-3)
six_months = TelemetryDate + relativedelta(months=-6)

Telemetry_df_one_month = Telemetry_df1.loc[Telemetry_df1['Month']>one_month]
Telemetry_df_three_months = Telemetry_df1.loc[Telemetry_df1['Month']>three_months]
Telemetry_df_six_months = Telemetry_df1.loc[Telemetry_df1['Month']>six_months]

TODO
why "Telemetry_aggSales_one_month_avg = Telemetry_df_one_month['quantity'].groupby(Telemetry_df_one_month['serial'], axis=0).count()"

not this?
Telemetry_aggSales_one_month_avg = Telemetry_df_one_month['quantity'].groupby(Telemetry_df_one_month['serial'], axis=0).sum()

In [230]:
Telemetry_df_one_month = Telemetry_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(1).sum()})

Telemetry_df_three_months = Telemetry_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

Telemetry_df_six_months = Telemetry_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

Telemetry_df_one_month = Telemetry_df_one_month.rename(columns={"quantity": "one_month_avg"}).reset_index()

Telemetry_df_three_months = Telemetry_df_three_months.rename(columns={"quantity": "three_months_avg"}).reset_index()

Telemetry_df_six_months = Telemetry_df_six_months.rename(columns={"quantity": "six_months_avg"}).reset_index()

Telemetry_aggSales_one_month_avg = Telemetry_df_one_month['quantity'].groupby(Telemetry_df_one_month['serial'], axis=0).count()
Telemetry_aggSales_one_month_avg = Telemetry_aggSales_one_month_avg.to_frame().reset_index()
Telemetry_aggSales_one_month_avg = Telemetry_aggSales_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

Telemetry_aggSales_three_months_avg = Telemetry_df_three_months['quantity'].groupby(Telemetry_df_three_months['serial'], axis=0).count()
Telemetry_aggSales_three_months_avg = Telemetry_aggSales_three_months_avg.to_frame().reset_index()
Telemetry_aggSales_three_months_avg = Telemetry_aggSales_three_months_avg.rename(columns={"quantity": "three_months_avg"})

Telemetry_aggSales_six_months_avg = Telemetry_df_six_months['quantity'].groupby(Telemetry_df_six_months['serial'], axis=0).count()
Telemetry_aggSales_six_months_avg = Telemetry_aggSales_six_months_avg.to_frame().reset_index()
Telemetry_aggSales_six_months_avg = Telemetry_aggSales_six_months_avg.rename(columns={"quantity": "six_months_avg"})

Telemetry_aggSales_three_months_avg

Telemetry_aggSales_three_months_avg['three_months_avg'] = Telemetry_aggSales_three_months_avg['three_months_avg'].apply(lambda x: x/3)

Telemetry_aggSales_six_months_avg['six_months_avg'] = Telemetry_aggSales_six_months_avg['six_months_avg'].apply(lambda x: x/6)

Telemetry_aggSales_three_months_avg

I used 'left' instead of 'inner' because I want all the machines that had data

In [231]:
Telemetry_aggSales_df

                    serial  quantity
0           \t 20221813844      9566
1             '20202016602     58687
2            'Y20231619331     19086
3                       **      1127
4                      ***       581
...                    ...       ...
37399  Х580BGS230203370094      1151
37400  Х580BGS230203370097      6137
37401  Х580BGS230203370098      9346
37402  Х580BGS230203370105     23148
37403  Х580BGS231006240094         6

[37404 rows x 2 columns]

In [232]:
Telemetry_df_one_month

                    serial  one_month_avg
0           \t 20221813844           1243
1             '20202016602           1401
2            'Y20231619331           2235
3                       **            147
4                      ***            266
...                    ...            ...
37399  Х580BGS230203370094            289
37400  Х580BGS230203370097            740
37401  Х580BGS230203370098           1240
37402  Х580BGS230203370105           2937
37403  Х580BGS231006240094              6

[37404 rows x 2 columns]

In [233]:
Telemetry_aggSales_df1 = pd.merge(Telemetry_aggSales_df, Telemetry_df_one_month, how='left', left_on = ['serial'], right_on = ['serial'])
Telemetry_aggSales_df1.head()

           serial  quantity  one_month_avg
0  \t 20221813844      9566           1243
1    '20202016602     58687           1401
2   'Y20231619331     19086           2235
3              **      1127            147
4             ***       581            266

In [234]:
Telemetry_aggSales_df2 = pd.merge(Telemetry_aggSales_df1, Telemetry_df_three_months, how='left', left_on = ['serial'], right_on = ['serial'])
Telemetry_aggSales_df3 = pd.merge(Telemetry_aggSales_df2, Telemetry_df_six_months, how='left', left_on = ['serial'], right_on = ['serial'])
Telemetry_aggSales_df3 = Telemetry_aggSales_df3.fillna(0)
Telemetry_aggSales_df3

,serial,quantity,one_month_avg,three_months_avg,six_months_avg
0,\t 20221813844,9566,1243,2214.333333,1594.333333
1,'20202016602,58687,1401,2447.000000,2536.166667
2,'Y20231619331,19086,2235,2204.000000,2033.666667
3,**,1127,147,375.666667,187.833333
4,***,581,266,193.666667,96.833333
...,...,...,...,...,...
37399,Х580BGS230203370094,1151,289,286.000000,191.833333
37400,Х580BGS230203370097,6137,740,504.666667,585.500000
37401,Х580BGS230203370098,9346,1240,1215.666667,1180.833333
37402,Х580BGS230203370105,23148,2937,2911.333333,2765.833333
37403,Х580BGS231006240094,6,6,2.000000,1.000000

In [235]:
Telemetry_aggSales_df3['serial'] = Telemetry_aggSales_df3['serial'].astype(str)

In [236]:
Telemetry_aggSales_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37404 entries, 0 to 37403
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   serial            37404 non-null  object
 1   quantity          37404 non-null  int64
 2   one_month_avg     37404 non-null  int64
 3   three_months_avg  37404 non-null  float64
 4   six_months_avg    37404 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.7+ MB

### 6. Visits data

# Load the Visits data
Visitsdf = pd.read_excel(Visitsdf)
Visitsdf.head()

In [237]:
#Renaming the columns to allign with the old data
Visitsdf = pandas_df_Sales_Visits
Visitsdf=Visitsdf.rename(columns={'END_DATE_IN_LOCAL_TIME_ZONE': 'End Date in Local Time Zone', "DESCRIPTION": "Result", 'ACTIVITY_LIFE_CYCLE_STATUS_DESCRIPTION': 'Activity Life Cycle Status', 'VISIT_ID': 'Visit', 'ACCOUNT_ID': 'Account ID.Account ID Level 01.Key'})
Visitsdf.head()

,VISIT_TYPE_DESCRIPTION,End Date in Local Time Zone,Result,SALESORG,Activity Life Cycle Status,Visit,Account ID.Account ID Level 01.Key
0,Grow/Business Development,2024-08-19,None,TH18,Completed,2951330,5038175
1,Grow/Business Development,2023-11-16,None,RU3A,Completed,2690357,2736552
2,Retention,2023-09-25,None,RU3A,Completed,2589892,2736552
3,Retention,2023-08-29,None,RO10,Completed,2567478,5846218
4,Grow/Business Development,2023-11-03,None,RU3A,Open,2652033,4598986

### 7. Phone Calls data

# Load the Visits data
PhoneCallsdf = pd.read_excel(PhoneCallsdf, dtype={'Account Name': str})
PhoneCallsdf.head()

In [238]:
#Renaming the columns to allign with the old data
PhoneCallsdf = pandas_df_Phone_Calls
PhoneCallsdf["ACCOUNT_NAME"]= PhoneCallsdf["ACCOUNT_NAME"].astype(str)
PhoneCallsdf= PhoneCallsdf.rename(columns={"ACCOUNT_NAME": "Account Name"})
PhoneCallsdf.head()

,ACTIVITY_NAME,Account Name,ACTIVITY_OWNER,ACTIVITY_LIFE_CYCLE_STATUS,PHONE_CALL_ID,OBJECTIVE_PHONE_CALL,SALES_ORGANIZATION,END_DATE_IN_LOCAL_TIME_ZONE,START_DATE_IN_LOCAL_TIME_ZONE,PERIODEND,EE
0,2023-07-28- A C H Associates Call 1,7908431,Gargi Singh,Completed,1191971,None,IN14,2023-07-29,2023-07-29,2023 - 07,10214
1,2023-04-17- Nothing Call 2,7533455,Jadala Aishwarya,Completed,1099871,None,IN14,2023-04-19,2023-04-19,2023 - 04,4473
2,"Телефонный звонок Веселый пекарь,ул.Красная 122",3570593,ESR NP_Армавир_esr,Completed,1060372,None,RU3A,2023-03-02,2023-03-02,2023 - 03,5236
3,"Телефонный звонок Веселый пекарь,ул.Красная 122",3570593,ESR NP_Армавир_esr,Completed,1110928,None,RU3A,2023-05-04,2023-05-04,2023 - 05,5236
4,Contacted for order,7270187,Ish Puri,Completed,1058249,None,IN14,2023-02-25,2023-02-25,2023 - 02,5354

In [239]:

PhoneCallsdf = PhoneCallsdf.rename(columns={'ACTIVITY_LIFE_CYCLE_STATUS': 'Activity Life Cycle Status','END_DATE_IN_LOCAL_TIME_ZONE': 'End Date in Local Time Zone'})

### 8. Incident Tickets data

IncidentTicketdf = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Incident tickets.xlsx")
IncidentTicketdf.head()

In [240]:
IncidentTicketdf = pandas_df_Repair
IncidentTicketdf.head()

  COMPLETION_DATE INCIDENT_CATEGORY_DESCRIPTION   SERIAL_ID COMPLETION_SLA_MET
0      2024-09-12  3.a Door Display/Touchscreen  MYBMB29612               True
1      2024-01-20                        18 N/A  21H0022211               True
2      2024-09-11              17 Miscellaneous       B3731              False
3      2024-06-15                        18 N/A  18E0013801               True
4      2023-09-19     1.b Ingredient Dispensing  17O0040866              False

In [241]:
IncidentTicketdf= IncidentTicketdf.rename(columns={"COMPLETION_DATE": "Completion Date_2", "INCIDENT_CATEGORY_DESCRIPTION": "Incident Category", "SERIAL_ID": "Serial ID"})

### 9. Market specific data

UK stopped providing their service data

# Load the Visits data
#PhoneCallsdf = pd.read_excel(os.path.join('C:', 'Users', 'msalomo', 'Churn Project', 'Data', 'Completed Phone Calls.xlsx'))

UKService = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\UK Service data 202103.xlsx")

UKService['Key_ManufacturerID_SalesOrg'] = UKService['Serial N'].astype(str) + "Nestle UK"

UKService.head()

def preprocess_UKService(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Fault Codes', 'FTF']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

UKService_prep = preprocess_UKService(UKService)
UKService_prep.head()

Quick check on a serial with 7 entries

UKService_prepX=UKService_prep.loc[UKService_prep['Serial N'] =='0010237915']

UKService_prepX

UKService_prep.columns

UKService_prep2 = (UKService_prep.sort_values('Month')
    .groupby(["Key_ManufacturerID_SalesOrg"])
                      .agg({'Month': lambda s: s.values[-1], 
                            'Serial N': lambda s: s.values[-1], 
                            'Minutes': 'mean', 
                            'Fault Codes_Blocked ingredients' : 'sum', 
                            'Fault Codes_Boiler fault' : 'sum',
                            'Fault Codes_Booked' : 'sum', 
                            'Fault Codes_Brewer issue' : 'sum',
                            'Fault Codes_Canister' : 'sum', 
                            'Fault Codes_Card reader install' : 'sum',
                            'Fault Codes_Card reader removal' : 'sum',
                            'Fault Codes_Change drink size' : 'sum',
                            'Fault Codes_Cleaning / Hygiene kit ' : 'sum',
                            'Fault Codes_Coinmech' : 'sum',
                            'Fault Codes_Decomission' : 'sum', 
                            'Fault Codes_Delivery' : 'sum',
                            'Fault Codes_Display issue' : 'sum', 
                            'Fault Codes_Door' : 'sum',
                            'Fault Codes_Drink Strength/ taste' : 'sum', 
                            'Fault Codes_Faulty door' : 'sum',
                            'Fault Codes_Filters ' : 'sum', 
                            'Fault Codes_Fridge fault' : 'sum', 
                            'Fault Codes_Leak' : 'sum',
                            'Fault Codes_Machine empty no ingredients' : 'sum', 
                            'Fault Codes_Measures' : 'sum',
                            'Fault Codes_Motor' : 'sum', 
                            'Fault Codes_No Fault Found' : 'sum',
                            'Fault Codes_No power Socket' : 'sum', 
                            'Fault Codes_Not dispensing drinks' : 'sum',
                            'Fault Codes_Not heating' : 'sum', 
                            'Fault Codes_Other' : 'sum',
                            'Fault Codes_Other (derial number check etc)' : 'sum', 
                            'Fault Codes_PPM' : 'sum',
                            'Fault Codes_Power / CPU Machine' : 'sum', 
                            'Fault Codes_Price increase' : 'sum',
                            'Fault Codes_Pump / Valve  internal' : 'sum',
                            'Fault Codes_Pump / Water External' : 'sum', 
                            'Fault Codes_Telemetry' : 'sum',
                            'Fault Codes_Training' : 'sum', 
                            'Fault Codes_consumable' : 'sum',
                            'Fault Codes_machine Install' : 'sum', 
                            'Fault Codes_workshop' : 'sum', 
                            'FTF_1' : 'sum', 
                            'FTF_2' : 'sum',
                            'FTF_3' : 'sum', 
                            'FTF_4' : 'sum'                  
    })
)

UKService_prep2

### 10. LOCAL DATA

Sales & Telemetron & Vendon 2021 Sales

PakistanSales both Serial no and manuf no are the same
RussiaSalesData uses Manuf no

Vendon data uses manuf no

In [242]:
PakistanSales = pd.read_excel(PakistanSales)
MalaysiaSales = pd.read_excel(MalaysiaSales)

# Drop the 'Serial' column
MalaysiaSales.drop('Serial', axis=1, inplace=True)
# Rename the 'Serial Manufacturer' column to 'Serial'
MalaysiaSales.rename(columns={'Serial Manufacturer': 'Serial'}, inplace=True)

In [243]:
PakistanSales.head()

       Serial    quantity      Month
0  20O0014321   2512.8206 2021-01-01
1  7010054243   8488.0412 2021-01-01
2  7010055066  91133.6902 2021-01-01
3  7010045635  91133.6902 2021-01-01
4  7010058209  91133.6902 2021-01-01

In [244]:
PakistanSales['Serial'] = PakistanSales['Serial'].astype(str)
MalaysiaSales['Serial'] = MalaysiaSales['Serial'].astype(str)

In [245]:
RussiaSalesData = pd.read_excel(RussiaSalesData)

IndiaSalesData = pd.read_excel(IndiaSales)

In [246]:
# Keep only the desired columns
desired_columns = ["Serial ID", "Total NNS", "Sales Month"]
IndiaSalesData = IndiaSalesData[desired_columns]
IndiaSalesData.tail()

         Serial ID    Total NNS Sales Month
193903  24O0040928  4089.866572  2024-09-30
193904  24O0040929  4089.866572  2024-09-30
193905  24O0040930  4089.866572  2024-09-30
193906  24O0040931  4089.866572  2024-09-30
193907  24O0040932  4089.866572  2024-09-30

In [247]:
RussiaSalesData.tail()

             Date Machine Manufacturer Serial Number  ПРОДАЖИ (NPS)
974196 2024-09-30                         24R0000509    -14273.4400
974197 2024-09-30                         23E0005976    -16986.8600
974198 2024-09-30                         16E0014071    -33286.1100
974199 2024-09-30                         18E0013266    -36482.3502
974200 2024-09-30                         19E0013555    -81421.8398

In [248]:
RussiaSalesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974201 entries, 0 to 974200
Data columns (total 3 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Date                                974201 non-null  datetime64[ns]
 1   Machine Manufacturer Serial Number  974195 non-null  object
 2   ПРОДАЖИ (NPS)                       974152 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 22.3+ MB

In [249]:
SouthAfricaSales = pd.read_excel(SouthAfricaSales)

In [250]:
SouthAfricaSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5149 entries, 0 to 5148
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AccountID  5149 non-null   int64
 1   quantity   5149 non-null   float64
 2   Month      5149 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 120.8 KB

In [251]:
SingaporeSales = pd.read_excel(SingaporeSales)

In [252]:
SingaporeSales['Month'] = pd.to_datetime(SingaporeSales['Month'])
SingaporeSales['Serial ID'] = SingaporeSales['Serial ID'].astype(str)
IndiaSalesData['Serial ID'] = IndiaSalesData['Serial ID'].astype(str)

IndiaSalesData['Month'] = pd.to_datetime(IndiaSalesData['Sales Month'])
                                         
# Drop the "Sales Month" column
IndiaSalesData.drop('Sales Month', axis=1, inplace=True)

C:\Users\msalomo\AppData\Local\Temp\ipykernel_30260\3430434649.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  SingaporeSales['Month'] = pd.to_datetime(SingaporeSales['Month'])

In [253]:
SingaporeSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119880 entries, 0 to 119879
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Serial ID            119880 non-null  object
 1   Month                119880 non-null  datetime64[ns]
 2   Sales                114228 non-null  float64
 3   Ship to              119880 non-null  object
 4   Account ID           119879 non-null  float64
 5   Manufacturer Number  119880 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 5.5+ MB

pip install pandasql

In [254]:
# create data frame
df1 = SingaporeSales
 
print("Original DataFrame")
 
# print original data frame
display(df1)
 
# create a dictionary
# key = old name
# value = new name
dict = {'Serial ID': 'Serial_ID',
        'Month' : 'Month',
        'Sales' : 'Sales',
        'Ship to': 'Ship_to',
       'Account ID' : 'Account_ID',
       'Manufacturer Number' : 'Manufacturer_Number'}
 
print("\nAfter rename")
# call rename () method
df1.rename(columns=dict,
          inplace=True)
 
# print Data frame after rename columns
display(df1)

Original DataFrame

,Serial ID,Month,Sales,Ship to,Account ID,Manufacturer Number
0,SGBMB03059,2023-01-31,0.00,30885489704,3981172.0,20092213179
1,SGBMB04056,2023-01-31,NaN,27835PA00101,3981872.0,20092414016
2,SGBMB03049,2023-01-31,0.00,30885489184,3981521.0,20092414029
3,SGBMB03772,2023-01-31,2412.35,27835KEP008A01,3982306.0,20094625024
4,SGBMB03804,2023-01-31,0.00,30885489344,3981360.0,20094625056
...,...,...,...,...,...,...
119875,24O0035506,2024-09-30,32664.70,6767280C-001475,6482253.0,20242120275
119876,24O0035507,2024-09-30,134.16,6767280N-2408015,9515505.0,20242120276
119877,24O0035508,2024-09-30,134.16,6767280N-2408015,9515505.0,20242120277
119878,24O0035515,2024-09-30,32664.70,6767280C-001475,6482253.0,20242120284
119879,24O0035516,2024-09-30,32664.70,6767280C-001475,6482253.0,20242120285

After rename

,Serial_ID,Month,Sales,Ship_to,Account_ID,Manufacturer_Number
0,SGBMB03059,2023-01-31,0.00,30885489704,3981172.0,20092213179
1,SGBMB04056,2023-01-31,NaN,27835PA00101,3981872.0,20092414016
2,SGBMB03049,2023-01-31,0.00,30885489184,3981521.0,20092414029
3,SGBMB03772,2023-01-31,2412.35,27835KEP008A01,3982306.0,20094625024
4,SGBMB03804,2023-01-31,0.00,30885489344,3981360.0,20094625056
...,...,...,...,...,...,...
119875,24O0035506,2024-09-30,32664.70,6767280C-001475,6482253.0,20242120275
119876,24O0035507,2024-09-30,134.16,6767280N-2408015,9515505.0,20242120276
119877,24O0035508,2024-09-30,134.16,6767280N-2408015,9515505.0,20242120277
119878,24O0035515,2024-09-30,32664.70,6767280C-001475,6482253.0,20242120284
119879,24O0035516,2024-09-30,32664.70,6767280C-001475,6482253.0,20242120285

In [255]:
import pandas as pd
import sqlite3

# create a sample DataFrame
df = df1

# create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# write the DataFrame to the database
df.to_sql('my_table', con=conn)

# define the SQL query
query = '''
SELECT Month, Sales AS quantity, Ship_to, Manufacturer_Number,
       COUNT(Manufacturer_Number) OVER (PARTITION BY Month, Ship_to) AS Manufacturer_Count,
       (Sales / COUNT(Manufacturer_Number) OVER (PARTITION BY Month, Ship_to)) AS Sales_perMachine
FROM my_table
'''

# run the query using pandas
result = pd.read_sql_query(query, conn)

# print the result
print(result)

                      Month  quantity         Ship_to Manufacturer_Number  \
0       2023-01-31 00:00:00      0.00      2215122122         20103018840
1       2023-01-31 00:00:00      0.00      2215122122         20103018859
2       2023-01-31 00:00:00      0.00      2215122122         20102917864
3       2023-01-31 00:00:00      0.00      2215122122         20102917875
4       2023-01-31 00:00:00      0.00      2215122122         20103923848
...                     ...       ...             ...                 ...
119875  2024-09-30 00:00:00      0.00  69338116933811         20141213801
119876  2024-09-30 00:00:00      0.00  69338116933811         20141213823
119877  2024-09-30 00:00:00      0.00  69768386976838         20224845590
119878  2024-09-30 00:00:00    281.04   7534867231846         20223933588
119879  2024-09-30 00:00:00    281.04   7534867231846         20242120272

        Manufacturer_Count  Sales_perMachine
0                      204              0.00
1                      204              0.00
2                      204              0.00
3                      204              0.00
4                      204              0.00
...                    ...               ...
119875                  20              0.00
119876                  20              0.00
119877                   1              0.00
119878                   2            140.52
119879                   2            140.52

[119880 rows x 6 columns]

In [256]:
SingaporeSales = result
SingaporeSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119880 entries, 0 to 119879
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Month                119880 non-null  object
 1   quantity             114228 non-null  float64
 2   Ship_to              119880 non-null  object
 3   Manufacturer_Number  119880 non-null  object
 4   Manufacturer_Count   119880 non-null  int64
 5   Sales_perMachine     114228 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.5+ MB

In [257]:
SingaporeSales.rename(columns={'Manufacturer_Number': 'Manufacturer Number'}, inplace=True)
SingaporeSales.rename(columns={'quantity': 'quantityold'}, inplace=True)
SingaporeSales.rename(columns={'Sales_perMachine': 'quantity'}, inplace=True)

In [258]:
IndiaSalesData.rename(columns={'Total NNS': 'quantity'}, inplace=True)

In [259]:
RussiaSalesData.rename(columns={'Machine Manufacturer Serial Number': 'Serial', 'ПРОДАЖИ (NPS)': 'quantity'}, inplace=True)
RussiaSalesData

             Date      Serial    quantity
0      2021-01-31        4228      0.0000
1      2021-01-31        5419      0.0000
2      2021-01-31        5477      0.0000
3      2021-01-31      420090      0.0000
4      2021-01-31      420283      0.0000
...           ...         ...         ...
974196 2024-09-30  24R0000509 -14273.4400
974197 2024-09-30  23E0005976 -16986.8600
974198 2024-09-30  16E0014071 -33286.1100
974199 2024-09-30  18E0013266 -36482.3502
974200 2024-09-30  19E0013555 -81421.8398

[974201 rows x 3 columns]

In [260]:
RussiaSalesData['quantity'] = RussiaSalesData['quantity'].astype(float)
RussiaSalesData['Serial'] = RussiaSalesData['Serial'].astype(str)

In [261]:
RussiaSalesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974201 entries, 0 to 974200
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Date      974201 non-null  datetime64[ns]
 1   Serial    974201 non-null  object
 2   quantity  974152 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 22.3+ MB

TelemetronData = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Telemetron Data.xlsx")

TelemetronData.rename(columns={'Machine serial': 'serial', 'Total': 'quantity'}, inplace=True)

In [262]:
PakistanSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263990 entries, 0 to 263989
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Serial    263990 non-null  object
 1   quantity  263990 non-null  float64
 2   Month     263990 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 6.0+ MB

VendonData = pd.read_excel(r"C:\Users\msalomo\Churn Project\Data\Telemetry2021.xlsx")

VendonData.head()

In [263]:
Pakistan_aggSales = PakistanSales['quantity'].groupby(PakistanSales['Serial'], axis=0).sum()
Pakistan_aggSales = Pakistan_aggSales.reset_index()

# Perform the aggregation on 'quantity' grouped by 'Serial'
Malaysia_aggSales = MalaysiaSales['quantity'].groupby(MalaysiaSales['Serial']).sum().reset_index()

India_aggSales = IndiaSalesData['quantity'].groupby(IndiaSalesData['Serial ID']).sum().reset_index()

# Print
print(India_aggSales)

      Serial ID       quantity
0      10010737   93785.068531
1      10010738   62524.483809
2      10010770       0.000000
3      10010772       0.000000
4      10010776   37566.116499
...         ...            ...
23379  CWIP1220  109278.584960
23380  CWIP1221       0.000000
23381  CWIP1222       0.000000
23382  CWIP1223    2372.966102
23383  CWIP1224  207064.744967

[23384 rows x 2 columns]

Telemetron_agg = TelemetronData['quantity'].groupby(TelemetronData['serial'], axis=0).sum()
Telemetron_agg = Telemetron_agg.reset_index()
Telemetron_agg

In [264]:
RussiaSalesData_agg = RussiaSalesData['quantity'].groupby(RussiaSalesData['Serial'], axis=0).sum()
RussiaSalesData_agg = RussiaSalesData_agg.reset_index()
RussiaSalesData_agg

              Serial      quantity
0                  #  2.373670e+07
1               #Н/Д  5.323086e+03
2      00001428-0011  0.000000e+00
3      00001429-0001  5.178557e+04
4      00001429-0004  0.000000e+00
...              ...           ...
49142         ХК0114  0.000000e+00
49143         ХК0115  0.000000e+00
49144         ХК0116  0.000000e+00
49145         ХК0120  0.000000e+00
49146         ХК0124  0.000000e+00

[49147 rows x 2 columns]

In [265]:
SouthAfrica_aggSales = SouthAfricaSales['quantity'].groupby(SouthAfricaSales['AccountID'], axis=0).sum()
SouthAfrica_aggSales = SouthAfrica_aggSales.reset_index()
SouthAfrica_aggSales

     AccountID   quantity
0       365014       1.26
1       365018   -2039.20
2       366680    1068.01
3       366935   13691.11
4       367418  176031.15
..         ...        ...
616    7253414   88255.23
617    7254659    7254.61
618    7259837    4891.08
619    7265595   21237.08
620    7267457    2470.20

[621 rows x 2 columns]

In [266]:
Singapore_aggSales = SingaporeSales['quantity'].groupby(SingaporeSales['Manufacturer Number'], axis=0).sum()
Singapore_aggSales = Singapore_aggSales.reset_index()
Singapore_aggSales

     Manufacturer Number      quantity
0     141982300000383201   4656.950000
1     141982300001083201   4712.240000
2     141982300003083201  16726.997298
3     141982300003283201   3764.300000
4     141992300000483201   3255.640000
...                  ...           ...
6523            ZEBA0072  28055.705419
6524            ZEBA0073  15562.315567
6525            ZEBA0074  19450.752911
6526            ZEBA0075  21293.658045
6527            ZEBA0076  19026.339217

[6528 rows x 2 columns]

#Vendon_agg = VendonData['quantity'].groupby(VendonData['serial'], axis=0).sum()

Vendon_agg = (VendonData.sort_values('Month')
    .groupby(["serial"])
                      .agg({'SalesOrg' : lambda s: s.values[-1],
                            'quantity' : 'sum'}))

Vendon_agg = Vendon_agg.reset_index()
Vendon_agg

PakistanSales = PakistanSales.loc[PakistanSales['Month']>=PakistanDateRangeStart]

VendonData = VendonData.loc[VendonData['Month']>=VendonDateRangeStart]

I will aggregate the number of Cup Sales for each Machine by the feature called 'serial' which corresponds to the feature 'Manufacturer Number' in the Beverage Machine data

In [267]:

PakistanSales_df1 = PakistanSales.groupby(['Month', 'Serial']).sum()
PakistanSales_df1 = PakistanSales_df1.reset_index()


PakistanSales_one_month = PakistanSales_df1.sort_values('Month').groupby('Serial').agg({'quantity' : lambda x: x.tail(1).sum()})

PakistanSales_three_months = PakistanSales_df1.sort_values('Month').groupby('Serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

PakistanSales_six_months = PakistanSales_df1.sort_values('Month').groupby('Serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

# Group by 'Month' and 'Serial' and calculate the sum
MalaysiaSales_df1 = MalaysiaSales.groupby(['Month', 'Serial']).sum().reset_index()
# Calculate the sum of 'quantity' for the latest month for each 'Serial'
MalaysiaSales_one_month = MalaysiaSales_df1.sort_values('Month').groupby('Serial').agg({'quantity': lambda x: x.tail(1).sum()})
# Calculate the average of 'quantity' for the last three months for each 'Serial'
MalaysiaSales_three_months = MalaysiaSales_df1.sort_values('Month').groupby('Serial').agg({'quantity': lambda x: x.tail(3).sum() / 3})
# Calculate the average of 'quantity' for the last six months for each 'Serial'
MalaysiaSales_six_months = MalaysiaSales_df1.sort_values('Month').groupby('Serial').agg({'quantity': lambda x: x.tail(6).sum() / 6})

# Group by 'Month' and 'Serial ID' and calculate the sum
IndiaSales_df1 = IndiaSalesData.groupby(['Month', 'Serial ID']).sum().reset_index()

# Calculate the sum of 'quantity' for the latest month for each 'Serial ID'
IndiaSales_one_month = IndiaSales_df1.sort_values('Month').groupby('Serial ID').agg({'quantity': lambda x: x.tail(1).sum()})

# Calculate the average of 'quantity' for the last three months for each 'Serial ID'
IndiaSales_three_months = IndiaSales_df1.sort_values('Month').groupby('Serial ID').agg({'quantity': lambda x: x.tail(3).sum() / 3})

# Calculate the average of 'quantity' for the last six months for each 'Serial ID'
IndiaSales_six_months = IndiaSales_df1.sort_values('Month').groupby('Serial ID').agg({'quantity': lambda x: x.tail(6).sum() / 6})

# Print the resulting DataFrames
print(IndiaSales_one_month)

              quantity
Serial ID
10010737      0.000000
10010738      0.000000
10010770      0.000000
10010772      0.000000
10010776   4898.003850
...                ...
CWIP1220   9860.850211
CWIP1221      0.000000
CWIP1222      0.000000
CWIP1223    338.983051
CWIP1224   9155.295845

[23384 rows x 1 columns]

In [268]:
PakistanSales_one_month = PakistanSales_one_month.reset_index()
PakistanSales_three_months = PakistanSales_three_months.reset_index()
PakistanSales_six_months = PakistanSales_six_months.reset_index()

# Reset the index for 'MalaysiaSales_one_month'
MalaysiaSales_one_month = MalaysiaSales_one_month.reset_index()
# Reset the index for 'MalaysiaSales_three_months'
MalaysiaSales_three_months = MalaysiaSales_three_months.reset_index()
# Reset the index for 'MalaysiaSales_six_months'
MalaysiaSales_six_months = MalaysiaSales_six_months.reset_index()

# Reset the index for 'IndiaSales_one_month'
IndiaSales_one_month = IndiaSales_one_month.reset_index()

# Reset the index for 'IndiaSales_three_months'
IndiaSales_three_months = IndiaSales_three_months.reset_index()

# Reset the index for 'IndiaSales_six_months'
IndiaSales_six_months = IndiaSales_six_months.reset_index()

# Print the 'IndiaSales_three_months' DataFrame
print(IndiaSales_three_months)

      Serial ID     quantity
0      10010737     0.000000
1      10010738     0.000000
2      10010770     0.000000
3      10010772     0.000000
4      10010776  5113.581986
...         ...          ...
23379  CWIP1220  8160.835934
23380  CWIP1221     0.000000
23381  CWIP1222     0.000000
23382  CWIP1223   338.988701
23383  CWIP1224  6103.530564

[23384 rows x 2 columns]

from dateutil.relativedelta import relativedelta

one_month_pak = PakistanLastUpdate + relativedelta(months=-1)
three_months_pak = PakistanLastUpdate + relativedelta(months=-3)
six_months_pak = PakistanLastUpdate + relativedelta(months=-6)

PakistanSales_one_month = PakistanSales.loc[PakistanSales['Month']>one_month_pak]
PakistanSales_three_months = PakistanSales.loc[PakistanSales['Month']>three_months_pak]
PakistanSales_six_months = PakistanSales.loc[PakistanSales['Month']>six_months_pak]

VendonData_one_month = VendonData.loc[VendonData['Month']>one_month_pak]
VendonData_three_months = VendonData.loc[VendonData['Month']>three_months_pak]
VendonData_six_months = VendonData.loc[VendonData['Month']>six_months_pak]

PakistanSales_one_month.loc[PakistanSales_one_month['serial'] != '70010058920']

PakistanSales_one_month_avg = PakistanSales_one_month['quantity'].groupby(PakistanSales_one_month['serial'], axis=0).sum()

PakistanSales_one_month_avg = PakistanSales_one_month_avg.to_frame().reset_index()
PakistanSales_one_month_avg = PakistanSales_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

In [269]:
#PakistanSales_one_month_avg = PakistanSales_one_month['quantity'].groupby(PakistanSales_one_month['serial'], axis=0).sum()
#PakistanSales_one_month_avg = PakistanSales_one_month_avg.to_frame().reset_index()
PakistanSales_one_month_avg = PakistanSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

#PakistanSales_three_months_avg = PakistanSales_three_months['quantity'].groupby(PakistanSales_three_months['serial'], axis=0).sum()
#PakistanSales_three_months_avg = PakistanSales_three_months_avg.to_frame().reset_index()
PakistanSales_three_months_avg = PakistanSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

#PakistanSales_six_months_avg = PakistanSales_six_months['quantity'].groupby(PakistanSales_six_months['serial'], axis=0).sum()
#PakistanSales_six_months_avg = PakistanSales_six_months_avg.to_frame().reset_index()
PakistanSales_six_months_avg = PakistanSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

PakistanSales_three_months_avg

# Rename the column in 'MalaysiaSales_one_month'
MalaysiaSales_one_month_avg = MalaysiaSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})
# Rename the column in 'MalaysiaSales_three_months'
MalaysiaSales_three_months_avg = MalaysiaSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})
# Rename the column in 'MalaysiaSales_six_months'
MalaysiaSales_six_months_avg = MalaysiaSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

# Rename the column in 'IndiaSales_one_month'
IndiaSales_one_month_avg = IndiaSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

# Rename the column in 'IndiaSales_three_months'
IndiaSales_three_months_avg = IndiaSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

# Rename the column in 'IndiaSales_six_months'
IndiaSales_six_months_avg = IndiaSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

# Print the 'IndiaSales_three_months_avg' DataFrame
print(IndiaSales_three_months_avg)

      Serial ID  Sales_three_months_avg
0      10010737                0.000000
1      10010738                0.000000
2      10010770                0.000000
3      10010772                0.000000
4      10010776             5113.581986
...         ...                     ...
23379  CWIP1220             8160.835934
23380  CWIP1221                0.000000
23381  CWIP1222                0.000000
23382  CWIP1223              338.988701
23383  CWIP1224             6103.530564

[23384 rows x 2 columns]

In [270]:
SouthAfricaSales_df1 = SouthAfricaSales.groupby(['Month', 'AccountID']).sum()
SouthAfricaSales_df1 = SouthAfricaSales.reset_index()


SouthAfricaSales_one_month = SouthAfricaSales_df1.sort_values('Month').groupby('AccountID').agg({'quantity' : lambda x: x.tail(1).sum()})

SouthAfricaSales_three_months = SouthAfricaSales_df1.sort_values('Month').groupby('AccountID').agg({'quantity' : lambda x: x.tail(3).sum()/3})

SouthAfricaSales_six_months = SouthAfricaSales_df1.sort_values('Month').groupby('AccountID').agg({'quantity' : lambda x: x.tail(6).sum()/6})


SouthAfricaSales_one_month = SouthAfricaSales_one_month.reset_index()
SouthAfricaSales_three_months = SouthAfricaSales_three_months.reset_index()
SouthAfricaSales_six_months = SouthAfricaSales_six_months.reset_index()
SouthAfricaSales_three_months


SouthAfricaSales_one_month_avg = SouthAfricaSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})


SouthAfricaSales_three_months_avg = SouthAfricaSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})


SouthAfricaSales_six_months_avg = SouthAfricaSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

SouthAfricaSales_three_months_avg

     AccountID  Sales_three_months_avg
0       365014                0.146667
1       365018             -693.263333
2       366680              356.003333
3       366935             4563.703333
4       367418            10564.290000
..         ...                     ...
616    7253414            29418.410000
617    7254659             2418.203333
618    7259837             1630.360000
619    7265595             7079.026667
620    7267457              823.400000

[621 rows x 2 columns]

In [271]:
SingaporeSales_df1 = SingaporeSales.groupby(['Month', 'Manufacturer Number']).sum()
SingaporeSales_df1 = SingaporeSales.reset_index()


SingaporeSales_one_month = SingaporeSales_df1.sort_values('Month').groupby('Manufacturer Number').agg({'quantity' : lambda x: x.tail(1).sum()})

SingaporeSales_three_months = SingaporeSales_df1.sort_values('Month').groupby('Manufacturer Number').agg({'quantity' : lambda x: x.tail(3).sum()/3})

SingaporeSales_six_months = SingaporeSales_df1.sort_values('Month').groupby('Manufacturer Number').agg({'quantity' : lambda x: x.tail(6).sum()/6})


SingaporeSales_one_month = SingaporeSales_one_month.reset_index()
SingaporeSales_three_months = SingaporeSales_three_months.reset_index()
SingaporeSales_six_months = SingaporeSales_six_months.reset_index()
SingaporeSales_three_months


SingaporeSales_one_month_avg = SingaporeSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

SingaporeSales_three_months_avg = SingaporeSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

SingaporeSales_six_months_avg = SingaporeSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

C:\Users\msalomo\AppData\Local\Temp\ipykernel_30260\3947899767.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  SingaporeSales_df1 = SingaporeSales.groupby(['Month', 'Manufacturer Number']).sum()

TelemetronData_df1 = TelemetronData.groupby(['Month', 'serial']).sum()
TelemetronData_df1 = TelemetronData_df1.reset_index()

TelemetronData_one_month = TelemetronData_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(1).sum()})

TelemetronData_three_months = TelemetronData_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

TelemetronData_six_months = TelemetronData_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

TelemetronData_one_month = TelemetronData_one_month.reset_index()
TelemetronData_three_months = TelemetronData_three_months.reset_index()
TelemetronData_six_months = TelemetronData_six_months.reset_index()
TelemetronData_three_months

#TelemetronData_one_month_avg = TelemetronData_one_month['quantity'].groupby(TelemetronData_one_month['serial'], axis=0).sum()
#TelemetronData_one_month_avg = TelemetronData_one_month_avg.to_frame().reset_index()
TelemetronData_one_month_avg = TelemetronData_one_month.rename(columns={"quantity": "one_month_avg"})

#TelemetronData_three_months_avg = TelemetronData_three_months['quantity'].groupby(TelemetronData_three_months['serial'], axis=0).sum()
#TelemetronData_three_months_avg = TelemetronData_three_months_avg.to_frame().reset_index()
TelemetronData_three_months_avg = TelemetronData_three_months.rename(columns={"quantity": "three_months_avg"})

#TelemetronData_six_months_avg = TelemetronData_six_months['quantity'].groupby(TelemetronData_six_months['serial'], axis=0).sum()
#TelemetronData_six_months_avg = TelemetronData_six_months_avg.to_frame().reset_index()
TelemetronData_six_months_avg = TelemetronData_six_months.rename(columns={"quantity": "six_months_avg"})

TelemetronData_three_months_avg

In [272]:
RussiaSalesData_df1 = RussiaSalesData.groupby(['Date', 'Serial']).sum()
RussiaSalesData_df1 = RussiaSalesData_df1.reset_index()

RussiaSalesData_one_month = RussiaSalesData_df1.sort_values('Date').groupby('Serial').agg({'quantity' : lambda x: x.tail(1).sum()})

RussiaSalesData_three_months = RussiaSalesData_df1.sort_values('Date').groupby('Serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

RussiaSalesData_six_months = RussiaSalesData_df1.sort_values('Date').groupby('Serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

RussiaSalesData_one_month = RussiaSalesData_one_month.reset_index()
RussiaSalesData_three_months = RussiaSalesData_three_months.reset_index()
RussiaSalesData_six_months = RussiaSalesData_six_months.reset_index()

RussiaSalesData_one_month_avg = RussiaSalesData_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

RussiaSalesData_three_months_avg = RussiaSalesData_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

RussiaSalesData_six_months_avg = RussiaSalesData_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

TelemetronData_one_month_avg = TelemetronData_one_month['quantity'].groupby(TelemetronData_one_month['serial'], axis=0).sum()
TelemetronData_one_month_avg = TelemetronData_one_month_avg.to_frame().reset_index()
TelemetronData_one_month_avg = TelemetronData_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

TelemetronData_three_months_avg = TelemetronData_three_months['quantity'].groupby(TelemetronData_three_months['serial'], axis=0).sum()
TelemetronData_three_months_avg = TelemetronData_three_months_avg.to_frame().reset_index()
TelemetronData_three_months_avg = TelemetronData_three_months_avg.rename(columns={"quantity": "three_months_avg"})

TelemetronData_six_months_avg = TelemetronData_six_months['quantity'].groupby(TelemetronData_six_months['serial'], axis=0).sum()
TelemetronData_six_months_avg = TelemetronData_six_months_avg.to_frame().reset_index()
TelemetronData_six_months_avg = TelemetronData_six_months_avg.rename(columns={"quantity": "six_months_avg"})

TelemetronData_three_months_avg

VendonData_one_month_avg = VendonData_one_month['quantity'].groupby(VendonData_one_month['serial'], axis=0).sum()
VendonData_one_month_avg = VendonData_one_month_avg.to_frame().reset_index()
VendonData_one_month_avg = VendonData_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

VendonData_three_months_avg = VendonData_three_months['quantity'].groupby(VendonData_three_months['serial'], axis=0).sum()
VendonData_three_months_avg = VendonData_three_months_avg.to_frame().reset_index()
VendonData_three_months_avg = VendonData_three_months_avg.rename(columns={"quantity": "three_months_avg"})

VendonData_six_months_avg = VendonData_six_months['quantity'].groupby(VendonData_six_months['serial'], axis=0).sum()
VendonData_six_months_avg = VendonData_six_months_avg.to_frame().reset_index()
VendonData_six_months_avg = VendonData_six_months_avg.rename(columns={"quantity": "six_months_avg"})

VendonData_three_months_avg

#already done with change of code
PakistanSales_three_months_avg['three_months_avg'] = PakistanSales_three_months_avg['Sales_three_months_avg'].apply(lambda x: x/3)

PakistanSales_six_months_avg['six_months_avg'] = PakistanSales_six_months_avg['Sales_six_months_avg'].apply(lambda x: x/6)

In [273]:
PakistanSales_df = pd.merge(Pakistan_aggSales, PakistanSales_one_month_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])


# Merge the DataFrames based on the 'Serial' column
PakistanSales_df = pd.merge(Pakistan_aggSales, PakistanSales_one_month_avg, how='left', left_on='Serial', right_on='Serial')
# Print the head of the merged DataFrame
print(PakistanSales_df.head())

        Serial     quantity  Sales_one_Month_avg
0  10010063319   60245.1569             15412.08
1   2000014136  689624.6980             58078.43
2   2000014290   42356.1536              5000.00
3   2000014292  104124.6992             17440.00
4   2000014293  415646.1472             38800.00

In [274]:
PakistanSales_df2 = pd.merge(PakistanSales_df, PakistanSales_three_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
PakistanSales_df3 = pd.merge(PakistanSales_df2, PakistanSales_six_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
PakistanSales_df3 = PakistanSales_df3.fillna(0)

# Merge the DataFrames based on the 'Serial' column
MalaysiaSales_df1 = pd.merge(Malaysia_aggSales, MalaysiaSales_one_month_avg, how='left', left_on='Serial', right_on='Serial')
MalaysiaSales_df2 = pd.merge(MalaysiaSales_df1, MalaysiaSales_three_months_avg, how='left', left_on='Serial', right_on='Serial')
MalaysiaSales_df3 = pd.merge(MalaysiaSales_df2, MalaysiaSales_six_months_avg, how='left', left_on='Serial', right_on='Serial')
# Fill any missing values with 0
MalaysiaSales_df3 = MalaysiaSales_df3.fillna(0)


# Merge the DataFrames based on the 'Serial ID' column
IndiaSales_df1 = pd.merge(India_aggSales, IndiaSales_one_month_avg, how='left', left_on='Serial ID', right_on='Serial ID')
IndiaSales_df2 = pd.merge(IndiaSales_df1, IndiaSales_three_months_avg, how='left', left_on='Serial ID', right_on='Serial ID')
IndiaSales_df3 = pd.merge(IndiaSales_df2, IndiaSales_six_months_avg, how='left', left_on='Serial ID', right_on='Serial ID')

# Fill any missing values with 0
IndiaSales_df3 = IndiaSales_df3.fillna(0)

# Print the head of the merged DataFrame
print(IndiaSales_df3.head(30))

   Serial ID       quantity  Sales_one_Month_avg  Sales_three_months_avg  \
0   10010737   93785.068531             0.000000                0.000000
1   10010738   62524.483809             0.000000                0.000000
2   10010770       0.000000             0.000000                0.000000
3   10010772       0.000000             0.000000                0.000000
4   10010776   37566.116499          4898.003850             5113.581986
5   10010778       0.000000             0.000000                0.000000
6   10010799   29778.162700          2382.263558             2382.263558
7   10010800   29778.162700          2382.263558             2382.263558
8   10011102       0.000000             0.000000                0.000000
9   10011124   17059.199861          2973.877705             1715.778757
10  10011126  141473.617655         20245.976871            23993.486848
11  10011135       0.000000             0.000000                0.000000
12  10011145   23952.491128             0.000000                0.000000
13  10011170       0.000000             0.000000                0.000000
14  10011171    4383.717457          1236.385609              421.444059
15  10011172   11866.973036          1198.270411             1148.342478
16  10011173       0.000000             0.000000                0.000000
17  10011183   40799.387129          6940.743525             5147.967821
18  10011185  157136.115218         21232.714312            15003.671297
19  10011363    8559.132779          3960.028758             1320.009586
20  10011364    8909.905362          6485.957291             2161.985764
21  10011367   16647.811754          1129.566175             1966.856350
22  10011369       0.000000             0.000000                0.000000
23  10011379       0.000000             0.000000                0.000000
24  10011384       0.000000             0.000000                0.000000
25  10011389       0.000000             0.000000                0.000000
26  10012396   24149.100532          2815.616778             3754.155704
27  10012397       0.000000             0.000000                0.000000
28  10012641       0.000000             0.000000                0.000000
29  10012660       0.000000             0.000000                0.000000

    Sales_six_months_avg
0               0.000000
1            5526.705000
2               0.000000
3               0.000000
4            4450.296480
5               0.000000
6            2977.807485
7            2977.807485
8               0.000000
9            1379.397941
10          12898.097724
11              0.000000
12              0.000000
13              0.000000
14            224.531884
15           1273.611267
16              0.000000
17           4971.608999
18          18206.041639
19           1264.309460
20           1371.690309
21           2197.218738
22              0.000000
23              0.000000
24              0.000000
25              0.000000
26           2211.000122
27              0.000000
28              0.000000
29              0.000000

In [275]:
IndiaSales_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23384 entries, 0 to 23383
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial ID               23384 non-null  object
 1   quantity                23384 non-null  float64
 2   Sales_one_Month_avg     23384 non-null  float64
 3   Sales_three_months_avg  23384 non-null  float64
 4   Sales_six_months_avg    23384 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.1+ MB

#TelemetronData_three_months_avg['three_months_avg'] = TelemetronData_three_months_avg['three_months_avg'].apply(lambda x: x/3)

#TelemetronData_six_months_avg['six_months_avg'] = TelemetronData_six_months_avg['six_months_avg'].apply(lambda x: x/6)

TelemetronData_df = pd.merge(Telemetron_agg, TelemetronData_one_month_avg, how='left', left_on = ['serial'], right_on = ['serial'])
TelemetronData_df.head()

TelemetronData_df2 = pd.merge(TelemetronData_df, TelemetronData_three_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
TelemetronData_df3 = pd.merge(TelemetronData_df2, TelemetronData_six_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
TelemetronData_df3 = TelemetronData_df3.fillna(0)

In [276]:
RussiaSalesData_df = pd.merge(RussiaSalesData_agg, RussiaSalesData_one_month_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
RussiaSalesData_df.head()

RussiaSalesData_df2 = pd.merge(RussiaSalesData_df, RussiaSalesData_three_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
RussiaSalesData_df3 = pd.merge(RussiaSalesData_df2, RussiaSalesData_six_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
RussiaSalesData_df3 = RussiaSalesData_df3.fillna(0)

VendonData_three_months_avg['three_months_avg'] = VendonData_three_months_avg['three_months_avg'].apply(lambda x: x/3)

VendonData_six_months_avg['six_months_avg'] = VendonData_six_months_avg['six_months_avg'].apply(lambda x: x/6)

VendonData_df = pd.merge(Vendon_agg, VendonData_one_month_avg, how='left', left_on = ['serial'], right_on = ['serial'])

VendonData_df2 = pd.merge(VendonData_df, VendonData_three_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
VendonData_df3 = pd.merge(VendonData_df2, VendonData_six_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
VendonData_df3 = VendonData_df3.fillna(0)
VendonData_df3

Add Key manuf no and Sales org

In [277]:
SouthAfricaSales_df = pd.merge(SouthAfrica_aggSales, SouthAfricaSales_one_month_avg, how='left', left_on = ['AccountID'], right_on = ['AccountID'])
SouthAfricaSales_df.head()

SouthAfricaSales_df2 = pd.merge(SouthAfricaSales_df, SouthAfricaSales_three_months_avg, how='left', left_on = ['AccountID'], right_on = ['AccountID'])
SouthAfricaSales_df3 = pd.merge(SouthAfricaSales_df2, SouthAfricaSales_six_months_avg, how='left', left_on = ['AccountID'], right_on = ['AccountID'])
SouthAfricaSales_df3 = SouthAfricaSales_df3.fillna(0)
SouthAfricaSales_df3.head()

,AccountID,quantity,Sales_one_Month_avg,Sales_three_months_avg,Sales_six_months_avg
0,365014,1.26,0.12,0.146667,0.115000
1,365018,-2039.20,0.06,-693.263333,-339.953333
2,366680,1068.01,1068.01,356.003333,178.001667
3,366935,13691.11,8376.59,4563.703333,2281.851667
4,367418,176031.15,11897.82,10564.290000,11191.188333

In [278]:
SingaporeSales_df = pd.merge(Singapore_aggSales, SingaporeSales_one_month_avg, how='left', left_on = ['Manufacturer Number'], right_on = ['Manufacturer Number'])
SingaporeSales_df2 = pd.merge(SingaporeSales_df, SingaporeSales_three_months_avg, how='left', left_on = ['Manufacturer Number'], right_on = ['Manufacturer Number'])
SingaporeSales_df3 = pd.merge(SingaporeSales_df2, SingaporeSales_six_months_avg, how='left', left_on = ['Manufacturer Number'], right_on = ['Manufacturer Number'])
SingaporeSales_df3 = SingaporeSales_df3.fillna(0)
SingaporeSales_df3.head(30)

,Manufacturer Number,quantity,Sales_one_Month_avg,Sales_three_months_avg,Sales_six_months_avg
0,141982300000383201,4656.950000,258.900000,195.840000,206.320000
1,141982300001083201,4712.240000,273.025000,276.416667,251.898333
2,141982300003083201,16726.997298,948.140000,1132.286667,849.548130
3,141982300003283201,3764.300000,0.000000,94.040000,92.646667
4,141992300000483201,3255.640000,0.000000,116.880000,114.093333
5,141992300000783201,31185.008242,1668.219063,1655.716354,1623.321864
6,141992300000983201,2067.700000,0.000000,85.223333,75.580000
7,141992300001583201,7808.580000,175.320000,328.660000,283.250000
8,141992300001683201,780.710000,95.075000,72.158333,82.632500
9,141992300003283201,4157.200000,175.320000,233.760000,214.273333
10,141992300003883201,6445.595217,242.861159,251.201401,252.877150
11,142022300000183201,4418.975000,245.695000,211.085000,201.385833
12,142092300000183201,7602.345000,480.500000,355.526667,366.315000
13,142092300000383201,741.795000,87.810000,115.881667,97.237500
14,142092300000883201,4538.796764,242.861159,251.201401,252.877150
15,142092300001383201,12313.476691,606.982500,605.306250,507.991324
16,142552300004583201,27901.840000,1161.300000,1256.200000,1179.646667
17,142552300004983201,16074.751824,471.901070,736.648788,648.460484
18,142552300005083201,14554.320000,620.860000,625.686667,602.530000
19,142552300005183201,14744.660000,701.280000,935.040000,857.093333
20,142552300005283201,8765.320000,261.400000,445.666667,367.580000
21,142552300005383201,2487.608396,930.882815,829.202799,414.601399
22,142552300005483201,10897.042538,847.215362,820.240114,914.257163
23,142552300005583201,17729.138911,743.698911,2149.386304,1976.229818
24,142552300005783201,10463.990000,131.490000,496.740000,512.723333
25,142562300000983201,1940.780000,277.790000,371.026667,323.463333
26,142582300000283201,4020.819330,242.861159,251.201401,252.877150
27,142582300000383201,6536.223647,1051.920000,1402.560000,891.785641
28,142582300000883201,1947.316250,0.000000,86.762917,106.400833
29,142582300001083201,7776.295000,331.770000,398.270000,402.928333

In [279]:
PakistanSales_df3['KeyManufNo_SalesOrg'] = PakistanSales_df3['Serial'].astype(str) + 'Pakistan' 

# Create the new column by combining 'Serial' with 'Malaysia'
MalaysiaSales_df3['KeyManufNo_SalesOrg'] = MalaysiaSales_df3['Serial'].astype(str) + 'Malaysia'

# Create the new column by combining 'Serial ID' with 'India'
IndiaSales_df3['KeyManufNo_SalesOrg'] = IndiaSales_df3['Serial ID'].astype(str) + 'Nestlé India'

Not used yet in Vendon to differentiate markets

TelemetronData_df3['KeyManufNo_SalesOrg'] = TelemetronData_df3['serial'].astype(str) + 'Nestlé Russia'

In [280]:
RussiaSalesData_df3['KeyManufNo_SalesOrg'] = RussiaSalesData_df3['Serial'].astype(str) + 'Nestlé Russia'

In [281]:
SouthAfricaSales_df3['KeyManufNo_SalesOrg'] = SouthAfricaSales_df3['AccountID'].astype(str) + 'Nestle South Africa'

Rename the accountID column from South Africa as we already did the work to get the accountID

In [282]:
SouthAfricaSales_df4 = SouthAfricaSales_df3.rename(columns = {'AccountID':'Serial'})

In [283]:
SingaporeSales_df3['KeyManufNo_SalesOrg'] = SingaporeSales_df3['Manufacturer Number'].astype(str) + 'Singapore'

In [284]:
SingaporeSales_df4 = SingaporeSales_df3.rename(columns = {'Manufacturer Number':'Serial'})

IndiaSales_df4 = IndiaSales_df3.rename(columns = {'Serial ID':'Serial'})

In [285]:
IndiaSales_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23384 entries, 0 to 23383
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial                  23384 non-null  object
 1   quantity                23384 non-null  float64
 2   Sales_one_Month_avg     23384 non-null  float64
 3   Sales_three_months_avg  23384 non-null  float64
 4   Sales_six_months_avg    23384 non-null  float64
 5   KeyManufNo_SalesOrg     23384 non-null  object
dtypes: float64(4), object(2)
memory usage: 1.2+ MB

VendonData_df3['KeyManufNo_SalesOrg'] = VendonData_df3['serial'].astype(str) + VendonData_df3['SalesOrg'].astype(str)

VendonData_df3=VendonData_df3.drop(columns=['SalesOrg'])
VendonData_df3.head()

In [286]:
Concat_Sales = pd.concat([RussiaSalesData_df3, PakistanSales_df3, SouthAfricaSales_df4, SingaporeSales_df4, MalaysiaSales_df3, IndiaSales_df4])
Concat_Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111955 entries, 0 to 23383
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Serial                  111955 non-null  object
 1   quantity                111955 non-null  float64
 2   Sales_one_Month_avg     111955 non-null  float64
 3   Sales_three_months_avg  111955 non-null  float64
 4   Sales_six_months_avg    111955 non-null  float64
 5   KeyManufNo_SalesOrg     111955 non-null  object
dtypes: float64(4), object(2)
memory usage: 6.0+ MB

In [287]:
Concat_Sales['(lst_mth-6mth)/6mth'] = Concat_Sales.apply(lambda x: 0 if x['Sales_six_months_avg'] <= 0 else (x['Sales_one_Month_avg']-x['Sales_six_months_avg'])/x['Sales_six_months_avg'], axis=1)

Concat_Sales['3mth-6mth)/6mth'] = Concat_Sales.apply(lambda x: 0 if x['Sales_six_months_avg'] <= 0 else (x['Sales_three_months_avg']-x['Sales_six_months_avg'])/x['Sales_six_months_avg'], axis=1)

In [288]:
Concat_Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111955 entries, 0 to 23383
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Serial                  111955 non-null  object
 1   quantity                111955 non-null  float64
 2   Sales_one_Month_avg     111955 non-null  float64
 3   Sales_three_months_avg  111955 non-null  float64
 4   Sales_six_months_avg    111955 non-null  float64
 5   KeyManufNo_SalesOrg     111955 non-null  object
 6   (lst_mth-6mth)/6mth     111955 non-null  float64
 7   3mth-6mth)/6mth         111955 non-null  float64
dtypes: float64(6), object(2)
memory usage: 7.7+ MB

In [289]:
Concat_Sales.tail(5)

,Serial,quantity,Sales_one_Month_avg,Sales_three_months_avg,Sales_six_months_avg,KeyManufNo_SalesOrg,(lst_mth-6mth)/6mth,3mth-6mth)/6mth
23379,CWIP1220,109278.584960,9860.850211,8160.835934,7367.965021,CWIP1220Nestlé India,0.338341,0.107611
23380,CWIP1221,0.000000,0.000000,0.000000,0.000000,CWIP1221Nestlé India,0.000000,0.000000
23381,CWIP1222,0.000000,0.000000,0.000000,0.000000,CWIP1222Nestlé India,0.000000,0.000000
23382,CWIP1223,2372.966102,338.983051,338.988701,282.494350,CWIP1223Nestlé India,0.199964,0.199984
23383,CWIP1224,207064.744967,9155.295845,6103.530564,15599.534225,CWIP1224Nestlé India,-0.413105,-0.608736

Need to change the type otherwise cannot merge correctly with manuf number

TelemetronData_df3['serial'] = TelemetronData_df3['serial'].astype(str)

BeverageMachine7_wTickets_df['Manufacturer Number'] = BeverageMachine7_wTickets_df['Manufacturer Number'].astype(str)

w=aaaf.loc[aaaf['Manufacturer Number']=='20172526377']
w

In [290]:
#Concat_Telemetry = pd.concat([TelemetronData_df3, Telemetry_aggSales_df3])
Concat_Telemetry = Telemetry_aggSales_df3
Concat_Telemetry.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37404 entries, 0 to 37403
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   serial            37404 non-null  object
 1   quantity          37404 non-null  int64
 2   one_month_avg     37404 non-null  int64
 3   three_months_avg  37404 non-null  float64
 4   six_months_avg    37404 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.7+ MB

In [291]:
Concat_Telemetry['(lst_mth-6mth)/6mth'] = Concat_Telemetry.apply(lambda x: 0 if x['six_months_avg'] <= 0 else (x['one_month_avg']-x['six_months_avg'])/x['six_months_avg'], axis=1)

Concat_Telemetry['3mth-6mth)/6mth'] = Concat_Telemetry.apply(lambda x: 0 if x['six_months_avg'] <= 0 else (x['three_months_avg']-x['six_months_avg'])/x['six_months_avg'], axis=1)

## 10. Market Actions data

In [292]:
##Market Actions listed
MktActions = pd.read_excel(MktActions)
MktActions.head()

,Month,Serial ID,Sales Organisation,Parent Installation Point ID,Actions,Comments,CA Comments
0,2021-11-30,34F6401007,Nestle UK,7326,Other,CA Feedback Required,NaN
1,2021-11-30,16E0031901,Nestle UK,11955,Removal planned,NaN,NaN
2,2021-11-30,17E0020640,Nestle UK,8151,Removal planned,NaN,NaN
3,2021-11-30,10238090,Nestle UK,IP-11722,Removal planned,NaN,NaN
4,2021-11-30,101810133,Nestle UK,4915,Other,CA Feedback Required,NaN

In [293]:
MktActions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716 entries, 0 to 1715
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1716 non-null   datetime64[ns]
 1   Serial ID                     1716 non-null   object
 2   Sales Organisation            1716 non-null   object
 3   Parent Installation Point ID  1716 non-null   object
 4   Actions                       1715 non-null   object
 5   Comments                      1121 non-null   object
 6   CA Comments                   29 non-null     object
dtypes: datetime64[ns](1), object(6)
memory usage: 94.0+ KB

In [294]:
#add key serial + sales org?
#One hot encoding
def preprocess_MktActions(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Actions']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

MktActions_prep = preprocess_MktActions(MktActions)
MktActions_prep.head()

,Month,Serial ID,Sales Organisation,Parent Installation Point ID,Comments,CA Comments,Actions_ S1011 and S1011A,Actions_Churn risk reason unknown,Actions_Data corrected,Actions_Downgrade machine installed,...,Actions_Reviewed and no action Required,Actions_Reviewed and no actions required,Actions_S1011 and S1011A,Actions_Seasonal Machine,Actions_Telemetry installed,Actions_Upgrade machine installed,Actions_Visit completed,Actions_Visit/Call planned,Actions_removed,Actions_tagging update
0,2021-11-30,34F6401007,Nestle UK,7326,CA Feedback Required,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-11-30,16E0031901,Nestle UK,11955,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-11-30,17E0020640,Nestle UK,8151,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-11-30,10238090,Nestle UK,IP-11722,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-11-30,101810133,Nestle UK,4915,CA Feedback Required,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [295]:
MktActions_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716 entries, 0 to 1715
Data columns (total 30 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Month                                     1716 non-null   datetime64[ns]
 1   Serial ID                                 1716 non-null   object
 2   Sales Organisation                        1716 non-null   object
 3   Parent Installation Point ID              1716 non-null   object
 4   Comments                                  1121 non-null   object
 5   CA Comments                               29 non-null     object
 6   Actions_ S1011 and S1011A                 1716 non-null   uint8
 7   Actions_Churn risk reason unknown         1716 non-null   uint8
 8   Actions_Data corrected                    1716 non-null   uint8
 9   Actions_Downgrade machine installed       1716 non-null   uint8
 10  Actions_Lack of data discipline           1716 non-null   uint8
 11  Actions_New contract                      1716 non-null   uint8
 12  Actions_O039Q and O039L                   1716 non-null   uint8
 13  Actions_Other                             1716 non-null   uint8
 14  Actions_Out of order                      1716 non-null   uint8
 15  Actions_Phone Call completed              1716 non-null   uint8
 16  Actions_Plan for removal                  1716 non-null   uint8
 17  Actions_Removal Plan                      1716 non-null   uint8
 18  Actions_Removal planned                   1716 non-null   uint8
 19  Actions_Removed                           1716 non-null   uint8
 20  Actions_Reviewed and no action Required   1716 non-null   uint8
 21  Actions_Reviewed and no actions required  1716 non-null   uint8
 22  Actions_S1011 and S1011A                  1716 non-null   uint8
 23  Actions_Seasonal Machine                  1716 non-null   uint8
 24  Actions_Telemetry installed               1716 non-null   uint8
 25  Actions_Upgrade machine installed         1716 non-null   uint8
 26  Actions_Visit completed                   1716 non-null   uint8
 27  Actions_Visit/Call planned                1716 non-null   uint8
 28  Actions_removed                           1716 non-null   uint8
 29  Actions_tagging update                    1716 non-null   uint8
dtypes: datetime64[ns](1), object(5), uint8(24)
memory usage: 120.8+ KB

In [296]:
MktActions_prep2=MktActions_prep.drop(columns=['Sales Organisation','Parent Installation Point ID', 'Month'])
MktActions_prep3 = MktActions_prep2.groupby(['Serial ID']).sum()
MktActions_prep3.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_30260\521999914.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  MktActions_prep3 = MktActions_prep2.groupby(['Serial ID']).sum()

,Actions_ S1011 and S1011A,Actions_Churn risk reason unknown,Actions_Data corrected,Actions_Downgrade machine installed,Actions_Lack of data discipline,Actions_New contract,Actions_O039Q and O039L,Actions_Other,Actions_Out of order,Actions_Phone Call completed,...,Actions_Reviewed and no action Required,Actions_Reviewed and no actions required,Actions_S1011 and S1011A,Actions_Seasonal Machine,Actions_Telemetry installed,Actions_Upgrade machine installed,Actions_Visit completed,Actions_Visit/Call planned,Actions_removed,Actions_tagging update
Serial ID,,,,,,,,,,,,,,,,,,,,,
24606,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1895151,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10238090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10238091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10238092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [297]:
MktActions_prep3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1412 entries, 24606 to T487736
Data columns (total 24 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Actions_ S1011 and S1011A                 1412 non-null   uint8
 1   Actions_Churn risk reason unknown         1412 non-null   uint8
 2   Actions_Data corrected                    1412 non-null   uint8
 3   Actions_Downgrade machine installed       1412 non-null   uint8
 4   Actions_Lack of data discipline           1412 non-null   uint8
 5   Actions_New contract                      1412 non-null   uint8
 6   Actions_O039Q and O039L                   1412 non-null   uint8
 7   Actions_Other                             1412 non-null   uint8
 8   Actions_Out of order                      1412 non-null   uint8
 9   Actions_Phone Call completed              1412 non-null   uint8
 10  Actions_Plan for removal                  1412 non-null   uint8
 11  Actions_Removal Plan                      1412 non-null   uint8
 12  Actions_Removal planned                   1412 non-null   uint8
 13  Actions_Removed                           1412 non-null   uint8
 14  Actions_Reviewed and no action Required   1412 non-null   uint8
 15  Actions_Reviewed and no actions required  1412 non-null   uint8
 16  Actions_S1011 and S1011A                  1412 non-null   uint8
 17  Actions_Seasonal Machine                  1412 non-null   uint8
 18  Actions_Telemetry installed               1412 non-null   uint8
 19  Actions_Upgrade machine installed         1412 non-null   uint8
 20  Actions_Visit completed                   1412 non-null   uint8
 21  Actions_Visit/Call planned                1412 non-null   uint8
 22  Actions_removed                           1412 non-null   uint8
 23  Actions_tagging update                    1412 non-null   uint8
dtypes: uint8(24)
memory usage: 44.1+ KB

### (b) Plan to manage and process the data <a class="anchor" id="ManageData"></a>

I will extract the data into excel or csv format and upload it to python.

I can merge the data of the different files together

The data is checked monthly and has been created to be linked together

Columns useful to link the datasets together :

    'Product ID [Machine Model ID]'

    'Manufacturer Number'

    'BMB/C4C Model code'

    'M1'
    
    'Manufacture Serial Number'
    
    'Serial ID'

I need to find a way to have one line per machine per month for telemetry data and Placement Tickets

The main idea behind the use of telemetry data here is to check if we can see for example a relation between churn and a the number of cup sales.

I will not use all the features. Below are the features I am planning to use for the two biggest dataset :

19 columns from Beverage Machine data :

['Serial ID', 'Sales Organisation', 'Machine Status Groupings', 'User Status', 'TA Contract Installation Date', 'Depreciation Start',
'Position', 'TA Contract Start Date', 'TA Contract End Date', 'TA Usage Indicator',
'Account ABC Classification (Account ID)', 'Industry (Account ID)', 'Industry Code 1 (Account ID)',  'Account ABC Classification (EC ID)', 'Industry (EC ID)',
'Industry Code 1 (EC ID)', 'Parent Installation Point ID', 'Registered Product Category (Registered Product ID)', 'Calendar Date']

14 columns coming from the Beverage Classification data :

['Model', 'Model Vendor', 'Model Category', 'Model Group', 'Beverage Temperature',
'System Brands', 'Ingredient Format', 'Machine Type', 'Positionning', 'Generation',
'Blueprint Throughput', 'IP Ownership', 'Trading Partner', 'G/R/M TB']

### Beverage Machine data features and the Beverage Classification data features

##### Serial ID                                              
	Unique per machine and allows to link to the Tickets placements

##### Sales Organisation                                     
	Usually a Sales Organisation corresponds to a Country

##### Product ID [Machine Model ID]                          
	Code that allows us to link it to the intermediary mapping table which contains all the details for each machine

##### Machine Status Groupings                               
	Status of the Machine shows if a machine is :
		Deployed
		Idle
		Other

##### User Status                                            
	More detailed than status groupings

##### Depreciation Start                                     
	Date when the machine started to display cup

##### Manufacturer Number                                    
	Code that allows us to link to the telemetry data


##### Position                                               
	Can tell if a machine is a:
		RENT,
		Sale,
		Loan,
		Demo,
		etc.,
##### TA Contract Installation Date
    Date when the machine was installed, different than depreciation start because a machine can be installed but could have already dispensed cups in another Installation Point

##### TA Contract Start Date                                 
	Date when the contract started
    
##### TA Contract End Date                                  
	Date when the contract ended
    
##### TA Usage Indicator                                     
	Can have several usage:
		5 Monthly Rental
		Not assigned
		Trial / Evaluation
		7 Annual / Periodic

##### Account ABC Classification (Account ID)                
	Can help to identify in which Channel is the Account
    
##### Industry (Account ID)                                  
	Can help to identify in which Channel is the Account
    
##### Industry Code 1 (Account ID)                           
	Can help to identify in which Channel is the Account

##### Account ABC Classification (EC ID)                     
	Can help to identify in which Channel is the End Customer
    
##### Industry (EC ID)                                       
	Can help to identify in which Channel is the End Customer
    
##### Industry Code 1 (EC ID)                                
	Can help to identify in which Channel is the End Customer

##### Parent Installation Point ID                           
	Help to identify if a machine is still deployed in the same location by the same customer, it is the Installation Point ID we were talking before.

##### Registered Product Category (Registered Product ID)    
	Details of the category within our group

##### Calendar Date                                          
	Date when we extracted the data of the machine
    
##### BMB/C4C Model code                                     
	Code that allows to link the intermediary mapping table to the beverage machine data

##### M1                                                     
	Name of the harmonized model and used to link the intermediary mapping to the mapping file with unique model
    
##### Model                                                  
	Name of the harmonized model and used to link the intermediary mapping to the mapping file with unique model

##### Model Vendor                                           
	Name of the vendor of the coffee machine

##### Model Category                                         
	Category of the model
		
##### Model Group                                            
	Group of the model

##### Beverage Temperature                                   
	Temperature of the beverage

##### System Brands                                         
	Brand internal classification

##### Ingredient Format                                     
	Format of the ingredient

##### Machine Type                                           
	Type of Machine

##### Positionning                                           
	Positionning of the machine

##### Generation                                             
	Generation of the machine

##### Blueprint Throughput                                   
    Type of throughput

##### IP Ownership                                           
    Ownership type

##### Trading Partner                                        
	Type of Trading Partner

##### G/R/M TB                                               
	How it is managed by the market 

Useless data not really explaining the model :

##### not used columns : 32

User Status Last Changed On                            
Product [Machine Model]                                
	Name of the machine Model 
Range Brand                                           
	Brand of the model
    
EC ID                                                  
    We can identify the end customer with this number, some can have more than one machine
    
	Can be transformed into #Machine for this customer

Equipment Number                                       
Asset Number                                           
TA Contract Number                                   
Account ID                                          
Ship To ID                                     
EC Name                                           
Sales Org ID (Installation Point)                  
Model Harmonized                                    	
Comments                                          
Source                                              
Global Projects                                    
	Machine that are part of a project :
		Roastelier
		Alegria
		Nitro
		Milano
		EZCare
		Express
		CoolPro
Toolbox                                               
Non-Toolbox Reason                 
Product                                       
Type.                              
Machines Models (Harmonized)                     
Solution Brands                 
Toolbox 2019                                       
Toolbox 2018                                     
Toolbox 2017                                        
Trade Assets                                      
Active for Procurement (2017)                       
Idle Available Stock Type                          
Modified                                          
Modified By                                     
Created                                            
Item Type                                       
Path

### Placement Tickets data features

##### Service Category
    Tell if the machine was :
        Installed
        Removed
        Replaced

##### Completion Date
    Date when the Ticket was done, we will aggregate on the number of tickets and we will use it to get the day of last visit.

##### Incident Category
    Reason of the Ticket, details about the incident or ticket

##### Serial ID
    In order to link to the Beverage Machine data

### Telemetry data features

##### quantity 
    Sales quantity

##### serial 	
    ID that allows us to map a to the manufacturer number of the beverage machines

##### columns not used :

Month

    Month of the sales

stockId

    Each machines has a button linked to an ID and by mapping this ID to the related product when can know which type of cup was sold, yet the machines is not working for every machines, so the columns product might be wrong

Column1 	

    unknown Id

Averages 	

    unknown average

inactive 	

    unknown column

machine_id2 

    unknown Id

Product

    type of cup sold (mapping is not ready for every machines yet)

We will use only the sales quantity and the serial to link to the Beverage Machine data. The other columns are either not useful or not satisfying minimum requirements on accuracy of data (bad data)

### Missing data

In [298]:
# TA Contract Installation Date
BevMachMissingInstDate = BeverageMachine_df.loc[BeverageMachine_df['TA Contract Installation Date']=='#']['TA Contract Installation Date'].count()
TotBevMach = BeverageMachine_df['Serial ID'].count()

# TA Contract Start Date
BevMachMissingStartDate = BeverageMachine_df.loc[BeverageMachine_df['TA Contract Start Date']=='#']['TA Contract Start Date'].count()

# TA Contract End Date 
BevMachMissingEndDate = BeverageMachine_df.loc[BeverageMachine_df['TA Contract End Date']=='#']['TA Contract End Date'].count()

# Depreciation Start
BevMachMissingDepStartDate = BeverageMachine_df.loc[BeverageMachine_df['Depreciation Start']=='#']['Depreciation Start'].count()


print('Beverage machines missing Installation Date : ', BevMachMissingInstDate, ', which corresponds to ', 100*round(BevMachMissingInstDate/TotBevMach,2), '%')
print('Beverage machines missing Start Date : ', BevMachMissingStartDate, ', which corresponds to ', 100*round(BevMachMissingStartDate/TotBevMach,2), '%')
print('Beverage machines missing End Date : ', BevMachMissingEndDate, ', which corresponds to ', 100*round(BevMachMissingEndDate/TotBevMach,2), '%')
print('Beverage machines missing Depreciation Start Date : ', BevMachMissingDepStartDate, ', which corresponds to ', 100*round(BevMachMissingDepStartDate/TotBevMach,2), '%')

Beverage machines missing Installation Date :  3520712 , which corresponds to  63.0 %
Beverage machines missing Start Date :  3520712 , which corresponds to  63.0 %
Beverage machines missing End Date :  3520704 , which corresponds to  63.0 %
Beverage machines missing Depreciation Start Date :  4 , which corresponds to  0.0 %

##### Telemetry data
Even if the number of beverage machines equiped with telemetry data is increasing the data available is still low and should be seen as a complement.

In August 2020 only around 200 beverage machines have telemetry data and are already in the new system from which we got Beverage Machine data and we have around 60'000 beverage machines.


##### Placement Tickets data

27'318 beverage machines does not provide any Placement tickets


##### Date features missing

We see that sometimes the date is not filled for Installation Date, Start Date and End Date

#### Visits data
A visit is linked to an account and a machine "Account ID" can be linked to a visit "Account ID.Account ID Level 01.Key" maybe a key with the Sales Org in case it is unique only by market

#### Phone Calls data
A phone Call is linked to an account. Link "Account Name" from phone call with "Account ID" of the machine.

## Preparation of the data<a class="anchor" id="prep"></a>

### a) Details of preparation<a class="anchor" id="det"></a>

#### Beverage Machine data preparation

The goal is to get the actual maximal date of each Serial ID

If a machine has a maximal date that is lower than (or not equal to) the latest snapshot date, then the machine has churned.

We will look at the max date per installation point because when we lose an installation point we lose the customer. 

A machine can be realocated to another customer.

Keep only the latest month of data

In [299]:
BeverageMachine_df['Calendar Date'] = pd.to_datetime(BeverageMachine_df['Calendar Date'], errors =  'coerce')

In [300]:
BeverageMachine_df.tail()

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date,Key_ManufacturerID_SalesOrg
9617590,3201311,Nestle South Africa,44460,NESCAFE MILANO 8/60 H6 AR,100118541,MILANO,Deployed,Installed,40626,ZA4188,...,060502 Factory,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1079926,Trade Asset w/ Fixed Asset,ZA10,90083851,2023-12-31,3897301Nestle South Africa
9617591,3201312,Nestle South Africa,44460,NESCAFE MILANO 8/60 H6 AR,100118541,MILANO,Deployed,Installed,40695,ZA5014,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1080068,Trade Asset w/ Fixed Asset,ZA10,90083851,2023-12-31,3896790Nestle South Africa
9617592,3201313,Nestle South Africa,44460,NESCAFE MILANO 8/60 H6 AR,100118541,MILANO,Deployed,Installed,41334,ZA4631,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1080064,Trade Asset w/ Fixed Asset,ZA10,90083851,2023-12-31,3896790Nestle South Africa
9617593,3201314,Nestle South Africa,44460,NESCAFE ALEGRIA Base Cabinet,100118550,ALEGRIA,Deployed,Installed,42005,ZA14050,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1080336,Trade Asset Accessory,ZA10,90083852,2023-12-31,3896790Nestle South Africa
9617594,3201315,Nestle South Africa,44460,NESCAFE ALEGRIA Base Cabinet,100118550,ALEGRIA,Deployed,Installed,42370,ZA14115,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1079951,Trade Asset Accessory,ZA10,90083852,2023-12-31,3896944Nestle South Africa

BeverageMachine_df1 = BeverageMachine_df.copy()
BeverageMachine_df1 = BeverageMachine_df1.groupby(['Parent Installation Point ID'])

In [301]:
BeverageMachine_df1 = BeverageMachine_df.copy()
BeverageMachine_df1['Product ID [Machine Model ID]'] = BeverageMachine_df1['Product ID [Machine Model ID]'].astype(str)
#BeverageMachine_df2 = BeverageMachine_df1.groupby(['Parent Installation Point ID']).agg({'Calendar Date' : [np.min, np.max]})

#BeverageMachine_df1['Calendar Date2'] = BeverageMachine_df1['Calendar Date']

#BeverageMachine_df2 = BeverageMachine_df1.groupby(['Parent Installation Point ID']).agg({'Calendar Date' : 'min', 'Calendar Date2' : 'max'})

In [302]:
BeverageMachine_df2 = pd.merge(BeverageMachine_df1, BevMap_df, how='left', left_on = ['Product ID [Machine Model ID]'], right_on = ['ID Model Code'])
BeverageClassification1_df = BeverageClassification_df.drop_duplicates(['Model'])
BeverageMachine_df3 = pd.merge(BeverageMachine_df2, BeverageClassification1_df, how='left', left_on = ['Model'], right_on = ['Model'])

In [303]:
BeverageMachine_df3 = BeverageMachine_df3.query("`Model` != 'Accessories'")

In [304]:
BeverageMachine_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5148301 entries, 0 to 5574323
Data columns (total 73 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        object
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        datetime64[ns]
 37  Key_ManufacturerID_SalesOrg                          object
 38  Brand Name                                           object
 39  Description                                          object
 40  ID Model Code                                        object
 41  Source                                               object
 42  Model                                                object
 43  Revised                                              object
 44  Modified                                             object
 45  Modified By                                          object
 46  Model Vendor                                         object
 47  Model Category                                       object
 48  Global Projects                                      object
 49  System Brands                                        object
 50  Solution Brands                                      object
 51  Model Group                                          object
 52  Generation                                           object
 53  Product                                              object
 54  Ingredient Format                                    object
 55  Model Category 2                                     object
 56  Machine Type                                         object
 57  Beverage Temperature                                 object
 58  Positionning                                         object
 59  Blueprint Throughput                                 object
 60  G/R/M PML                                            object
 61  IP Ownership                                         object
 62  Price List                                           object
 63  PSL                                                  object
 64  TAA & TAR Ownership                                  object
 65  TAA & TAR                                            object
 66  SC & Planning                                        object
 67  Production                                           object
 68  IM                                                   object
 69  Sustainability LCA Ownership                         object
 70  Sustainability LCA                                   object
 71  Vendon Compatible                                    object
 72  Technical Capacity                                   int64
dtypes: datetime64[ns](1), int64(3), object(69)
memory usage: 2.8+ GB

In [305]:
# Get the distinct values for the column "TA Usage Indicator"
distinct_values = BeverageMachine_df3["TA Usage Indicator"].unique()

# Print the distinct values
print(distinct_values)

# Get the distinct values for the column "Position"
distinct_values2 = BeverageMachine_df3["Position"].unique()

# Print the distinct values
print(distinct_values2)

['Not assigned' '5 Monthly Rental' 'Trial / Evaluation'
 '7 Annual / Periodic' nan 'Yearly Rental' 'Trial' 'Weekly Rental']
['LOAN' '#' 'EVAL' 'RENT' 'DEMO' 'SALE' '21H0' '22O0' '23O0' 'SOLD' 'FOL'
 'SCRP' '1000' 'EXPE' '11' '1' nan 'TEST' 'LOA' '0' 'CUST' 'F030' 'R010'
 'R030' 'R020' 'R130' 'R050' 'R090' 'R080' 'R100' 'R070' 'R120' 'R110'
 'R040' 'R140' 'R150' 'F020' 'F010' 'F100' 'F050' 'F110' 'F070' 'F660'
 'F690' 'R720' 'F700' 'F710' 'F090' 'R060' 'R770' '1010']

In [306]:
# List of allowed values
allowed_values = ["DEMO", "EVAL", "FOL", "LOAN", "RENT", "SALE", "SCRP", "SOLD", "TEST"]

# Replace values not in the allowed list with "#"
BeverageMachine_df3.loc[~BeverageMachine_df3["Position"].isin(allowed_values), "Position"] = "#"

# Print the updated DataFrame for the "TA Usage Indicator" column
print(BeverageMachine_df3["Position"].unique())

# Replace "0" and NaN with "Not assigned" in the column "TA Usage Indicator"
BeverageMachine_df3["TA Usage Indicator"].replace({"0": "Not assigned", np.nan: "Not assigned"}, inplace=True)

# Print the updated DataFrame for the "TA Usage Indicator" column
print(BeverageMachine_df3["TA Usage Indicator"].unique())

['LOAN' '#' 'EVAL' 'RENT' 'DEMO' 'SALE' 'SOLD' 'FOL' 'SCRP' 'TEST']
['Not assigned' '5 Monthly Rental' 'Trial / Evaluation'
 '7 Annual / Periodic' 'Yearly Rental' 'Trial' 'Weekly Rental']

Another way to get min and max date e.g. "I wanted to create a new data frame where I can get min value in the column Numb if my string in the column Word is ab and max value if my string is bc for each Date. " :

s=df.groupby(['Date','Word']).Numb.agg(['min','max'])

s['number']=np.where(s.index.get_level_values(1)=='ab',s.min(1),s.max(1))

df11 =BeverageMachine_df.copy()
df22 = df11.reset_index()
df22.loc[df22.groupby('Parent Installation Point ID')['Calendar Date'].idxmin()]
df22.info()

In [307]:
# Sort the dataFrame by 'Calendar Date' and then remove duplicates :
BM_Maxdate_IPID2 = BeverageMachine_df3.sort_values('Calendar Date', ascending=False).drop_duplicates(['Parent Installation Point ID'])
BM_Maxdate_IPID2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273223 entries, 1467078 to 1732866
Data columns (total 73 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Unnamed: 0                                           273223 non-null  int64
 1   Sales Organisation                                   273223 non-null  object
 2   User Status Last Changed On                          272261 non-null  object
 3   Product [Machine Model]                              273223 non-null  object
 4   Product ID [Machine Model ID]                        273223 non-null  object
 5   Range Brand                                          273223 non-null  object
 6   Machine Status Groupings                             273223 non-null  object
 7   User Status                                          273223 non-null  object
 8   Depreciation Start                                   259195 non-null  object
 9   Serial ID                                            273223 non-null  object
 10  Manufacturer Number                                  262469 non-null  object
 11  Equipment Number                                     273221 non-null  object
 12  Asset Number                                         270539 non-null  object
 13  Position                                             273223 non-null  object
 14  TA Contract Number                                   143796 non-null  object
 15  TA Contract Installation Date                        142512 non-null  object
 16  TA Contract Start Date                               143299 non-null  object
 17  TA Contract End Date                                 139957 non-null  object
 18  TA Usage Indicator                                   273223 non-null  object
 19  Account ID                                           273223 non-null  object
 20  Ship To ID                                           273215 non-null  object
 21  EC ID                                                273223 non-null  object
 22  EC Name                                              272328 non-null  object
 23  City                                                 228660 non-null  object
 24  State                                                190535 non-null  object
 25  Postal Code                                          236600 non-null  object
 26  Account ABC Classification (Account ID)              272429 non-null  object
 27  Industry (Account ID)                                242274 non-null  object
 28  Industry Code 1 (Account ID)                         272414 non-null  object
 29  Account ABC Classification (EC ID)                   273173 non-null  object
 30  Industry (EC ID)                                     272923 non-null  object
 31  Industry Code 1 (EC ID)                              273166 non-null  object
 32  Parent Installation Point ID                         273223 non-null  object
 33  Registered Product Category (Registered Product ID)  273223 non-null  object
 34  Sales Org ID (Installation Point)                    273223 non-null  object
 35  SAP Material Line Code [Machine Model ID]            273223 non-null  int64
 36  Calendar Date                                        273223 non-null  datetime64[ns]
 37  Key_ManufacturerID_SalesOrg                          273223 non-null  object
 38  Brand Name                                           273223 non-null  object
 39  Description                                          273223 non-null  object
 40  ID Model Code                                        273223 non-null  object
 41  Source                                               273223 non-null  object
 42  Model                                                273223 non-null  object
 43  Revised                                              273223 non-null  object
 44  Modified                                             273223 non-null  object
 45  Modified By                                          273223 non-null  object
 46  Model Vendor                                         273223 non-null  object
 47  Model Category                                       273223 non-null  object
 48  Global Projects                                      273223 non-null  object
 49  System Brands                                        273223 non-null  object
 50  Solution Brands                                      273223 non-null  object
 51  Model Group                                          273223 non-null  object
 52  Generation                                           273223 non-null  object
 53  Product                                              273223 non-null  object
 54  Ingredient Format                                    273223 non-null  object
 55  Model Category 2                                     273223 non-null  object
 56  Machine Type                                         273223 non-null  object
 57  Beverage Temperature                                 273223 non-null  object
 58  Positionning                                         273223 non-null  object
 59  Blueprint Throughput                                 273223 non-null  object
 60  G/R/M PML                                            273223 non-null  object
 61  IP Ownership                                         273223 non-null  object
 62  Price List                                           273223 non-null  object
 63  PSL                                                  273223 non-null  object
 64  TAA & TAR Ownership                                  273223 non-null  object
 65  TAA & TAR                                            273223 non-null  object
 66  SC & Planning                                        273223 non-null  object
 67  Production                                           273223 non-null  object
 68  IM                                                   273223 non-null  object
 69  Sustainability LCA Ownership                         273223 non-null  object
 70  Sustainability LCA                                   273223 non-null  object
 71  Vendon Compatible                                    196462 non-null  object
 72  Technical Capacity                                   273223 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(69)
memory usage: 154.3+ MB

The columns allowing to link datasets should have the same format otherwise it might not work properly if one has a string format and the other a numerical format

In [308]:
BeverageMachine1_df = BM_Maxdate_IPID2
BeverageMachine1_df['Product ID [Machine Model ID]']=BeverageMachine1_df['Product ID [Machine Model ID]'].astype(str)

count = BeverageMachine1_df[BeverageMachine1_df['Sales Organisation'] == 'Nestlé Russia'].shape[0]
print("Number of rows with 'Sales Organisation' as 'Nestlé Russia':", count)

count = BeverageMachine1_df[(BeverageMachine1_df['Sales Organisation'] == 'Nestlé Russia') & (BeverageMachine1_df['Machine Status Groupings'] == 'Deployed')].shape[0]
print("Number of rows with 'Sales Organisation' as 'Nestlé Russia' and 'Machine Status Groupings' as 'Deployed':", count)

deployed_count = BeverageMachine1_df[BeverageMachine1_df['Machine Status Groupings'] == 'DEPLOYED'].shape[0]
print("Number of machines with status 'DEPLOYED':", deployed_count)

In [309]:
#transform the 'COMPLETION_SLA_MET' column from boolean (True/False) to integer (1/0) in your SQL query

try:
    dp_sql = """SELECT COMPLETION_DATE, INCIDENT_CATEGORY_DESCRIPTION, SERIAL_ID, COMPLETION_SLA_MET
    FROM EDW.PRS.C4C_REPAIR_TICKETS_KPI_V"""
    #dp_sql = """SELECT COMPLETION_DATE, INCIDENT_CATEGORY_DESCRIPTION, SERIAL_ID,
     #  CASE WHEN COMPLETION_SLA_MET = 'True' THEN 1 ELSE 0 END AS COMPLETION_SLA_MET
    #FROM EDW.PRS.C4C_REPAIR_TICKETS_KPI_V"""

    df_data_products_config = sf_session.sql(dp_sql)

except SnowparkSQLException as e:
    logging.error('Exception in function---[ get_data_products() ] - ' + str(e))


df_data_products_config.show()

pandas_df_Repair = df_data_products_config.toPandas()

--------------------------------------------------------------------------------------------
|"COMPLETION_DATE"  |"INCIDENT_CATEGORY_DESCRIPTION"  |"SERIAL_ID"  |"COMPLETION_SLA_MET"  |
--------------------------------------------------------------------------------------------
|2023-10-26         |18 N/A                           |20E0001712   |True                  |
|2024-07-26         |11 Electrical power              |ID23249      |False                 |
|2023-09-14         |17 Miscellaneous                 |22E0007320   |True                  |
|2023-10-05         |1.b Ingredient Dispensing        |SGBMB12596   |True                  |
|2024-02-13         |2.c Hydraulic Leaking            |ID15757      |False                 |
|2024-06-03         |11 Electrical power              |ID18125      |False                 |
|2024-07-25         |18 N/A                           |20E0004237   |True                  |
|2024-06-19         |2.b Hydraulic Dispensing         |SGBMB09405   |True                  |
|2023-12-13         |18 N/A                           |21H0012696   |True                  |
|2024-02-12         |11 Electrical power              |19O0045748   |True                  |
--------------------------------------------------------------------------------------------

BeverageMachine1_df = BeverageMachine1_df.loc[BeverageMachine1_df['Machine Status Groupings']=="Deployed"]

Merge the Beverage Machine data with the Beverage Mapping in order to get the related "Harmonized Model" of the "Beverage Machine Classification data" and later merge together the "Beverage Machine data" with the "Beverage Classification data"

We should do a cleaning step in order to keep only the machine having the 'Parent Installation Point ID' filled and remove duplicates, but not for 'Serial ID'

In [310]:
BeverageMachine4_df = BeverageMachine1_df.loc[BeverageMachine1_df['Parent Installation Point ID']!="#"].drop_duplicates(['Parent Installation Point ID'])

In [311]:
BeverageMachine4_df = BeverageMachine4_df.loc[BeverageMachine4_df['Serial ID']!="#"]

In [312]:
BeverageMachine4_df.columns

Index(['Unnamed: 0', 'Sales Organisation', 'User Status Last Changed On',
       'Product [Machine Model]', 'Product ID [Machine Model ID]',
       'Range Brand', 'Machine Status Groupings', 'User Status',
       'Depreciation Start', 'Serial ID', 'Manufacturer Number',
       'Equipment Number', 'Asset Number', 'Position', 'TA Contract Number',
       'TA Contract Installation Date', 'TA Contract Start Date',
       'TA Contract End Date', 'TA Usage Indicator', 'Account ID',
       'Ship To ID', 'EC ID', 'EC Name', 'City', 'State', 'Postal Code',
       'Account ABC Classification (Account ID)', 'Industry (Account ID)',
       'Industry Code 1 (Account ID)', 'Account ABC Classification (EC ID)',
       'Industry (EC ID)', 'Industry Code 1 (EC ID)',
       'Parent Installation Point ID',
       'Registered Product Category (Registered Product ID)',
       'Sales Org ID (Installation Point)',
       'SAP Material Line Code [Machine Model ID]', 'Calendar Date',
       'Key_ManufacturerID_SalesOrg', 'Brand Name', 'Description',
       'ID Model Code', 'Source', 'Model', 'Revised', 'Modified',
       'Modified By', 'Model Vendor', 'Model Category', 'Global Projects',
       'System Brands', 'Solution Brands', 'Model Group', 'Generation',
       'Product', 'Ingredient Format', 'Model Category 2', 'Machine Type',
       'Beverage Temperature', 'Positionning', 'Blueprint Throughput',
       'G/R/M PML', 'IP Ownership', 'Price List', 'PSL', 'TAA & TAR Ownership',
       'TAA & TAR', 'SC & Planning', 'Production', 'IM',
       'Sustainability LCA Ownership', 'Sustainability LCA',
       'Vendon Compatible', 'Technical Capacity'],
      dtype='object')

In [313]:
                   
                    
BeverageMachine5_df = BeverageMachine4_df[['Serial ID', 'Sales Organisation', 'Machine Status Groupings', 'User Status', 
                    'TA Contract Installation Date', 'Depreciation Start', 'Manufacturer Number', 'Position', 
                    'TA Contract Start Date', 'TA Contract End Date', 'TA Usage Indicator',
                    'Account ID',
                    'EC ID', 'EC Name', 'Account ABC Classification (Account ID)', 'Industry (Account ID)', 
                    'Industry Code 1 (Account ID)', 'Account ABC Classification (EC ID)', 
                    'Industry (EC ID)', 'Industry Code 1 (EC ID)', 'Parent Installation Point ID', 
                    'Registered Product Category (Registered Product ID)', 
                    'Model', 'Model Vendor', 'Model Category', 'Model Group', 
                    'Beverage Temperature', 'System Brands', 'Ingredient Format', 
                    'Machine Type', 'Positionning', 'Generation', 'Blueprint Throughput', 
                    'IP Ownership', 'Calendar Date', 'Key_ManufacturerID_SalesOrg', 'City', 'State', 'Postal Code']]
BeverageMachine5_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Machine Type,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code
1467078,16O0039217,Nestlé PH,Deployed,Installed,NaN,42826.0,T335733,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Proprietary,2024-09-30,T335733Nestlé PH,BAGUIO CITY,Caraga,8600
1511158,ID25005,Indonesia,Deployed,Installed,NaN,43404.0,T397931,LOAN,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T397931Indonesia,SUMEDANG,Jawa Barat,45371
1511166,ID28308,Indonesia,Deployed,Installed,NaN,43799.0,T464957,LOAN,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T464957Indonesia,hulu sungai utara,Kalimantan Selatan,71419
1511165,ID23492,Indonesia,Deployed,Installed,NaN,43281.0,T389703,LOAN,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T389703Indonesia,Bantul,Yogyakarta,55762
1511164,24O0019809,Indonesia,Deployed,Installed,NaN,45505.0,4102051591,LOAN,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,4102051591Indonesia,BANDAR LAMPUNG,Lampung,35241

If 'Calendar Date' is smaller than the 'ChurnDate2' it means that it has not churned

In [314]:
BeverageMachine5_df['Calendar Date'] = pd.to_datetime(BeverageMachine5_df['Calendar Date'])
BeverageMachine5_df.info()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_30260\1291754367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BeverageMachine5_df['Calendar Date'] = pd.to_datetime(BeverageMachine5_df['Calendar Date'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 1467078 to 1732866
Data columns (total 39 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Serial ID                                            273208 non-null  object
 1   Sales Organisation                                   273208 non-null  object
 2   Machine Status Groupings                             273208 non-null  object
 3   User Status                                          273208 non-null  object
 4   TA Contract Installation Date                        142497 non-null  object
 5   Depreciation Start                                   259180 non-null  object
 6   Manufacturer Number                                  262454 non-null  object
 7   Position                                             273208 non-null  object
 8   TA Contract Start Date                               143284 non-null  object
 9   TA Contract End Date                                 139942 non-null  object
 10  TA Usage Indicator                                   273208 non-null  object
 11  Account ID                                           273208 non-null  object
 12  EC ID                                                273208 non-null  object
 13  EC Name                                              272313 non-null  object
 14  Account ABC Classification (Account ID)              272414 non-null  object
 15  Industry (Account ID)                                242259 non-null  object
 16  Industry Code 1 (Account ID)                         272399 non-null  object
 17  Account ABC Classification (EC ID)                   273158 non-null  object
 18  Industry (EC ID)                                     272908 non-null  object
 19  Industry Code 1 (EC ID)                              273151 non-null  object
 20  Parent Installation Point ID                         273208 non-null  object
 21  Registered Product Category (Registered Product ID)  273208 non-null  object
 22  Model                                                273208 non-null  object
 23  Model Vendor                                         273208 non-null  object
 24  Model Category                                       273208 non-null  object
 25  Model Group                                          273208 non-null  object
 26  Beverage Temperature                                 273208 non-null  object
 27  System Brands                                        273208 non-null  object
 28  Ingredient Format                                    273208 non-null  object
 29  Machine Type                                         273208 non-null  object
 30  Positionning                                         273208 non-null  object
 31  Generation                                           273208 non-null  object
 32  Blueprint Throughput                                 273208 non-null  object
 33  IP Ownership                                         273208 non-null  object
 34  Calendar Date                                        273208 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          273208 non-null  object
 36  City                                                 228645 non-null  object
 37  State                                                190520 non-null  object
 38  Postal Code                                          236585 non-null  object
dtypes: datetime64[ns](1), object(38)
memory usage: 83.4+ MB

In [315]:
np.where(BeverageMachine5_df['Calendar Date']< ChurnDate2, True, False)
BeverageMachine5_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Machine Type,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code
1467078,16O0039217,Nestlé PH,Deployed,Installed,NaN,42826.0,T335733,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Proprietary,2024-09-30,T335733Nestlé PH,BAGUIO CITY,Caraga,8600
1511158,ID25005,Indonesia,Deployed,Installed,NaN,43404.0,T397931,LOAN,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T397931Indonesia,SUMEDANG,Jawa Barat,45371
1511166,ID28308,Indonesia,Deployed,Installed,NaN,43799.0,T464957,LOAN,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T464957Indonesia,hulu sungai utara,Kalimantan Selatan,71419
1511165,ID23492,Indonesia,Deployed,Installed,NaN,43281.0,T389703,LOAN,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T389703Indonesia,Bantul,Yogyakarta,55762
1511164,24O0019809,Indonesia,Deployed,Installed,NaN,45505.0,4102051591,LOAN,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,4102051591Indonesia,BANDAR LAMPUNG,Lampung,35241

In [316]:
columnwithfalse = False
BeverageMachine6_df=BeverageMachine5_df.copy()
BeverageMachine6_df['Churn'] = columnwithfalse
BeverageMachine6_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code,Churn
1467078,16O0039217,Nestlé PH,Deployed,Installed,NaN,42826.0,T335733,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Proprietary,2024-09-30,T335733Nestlé PH,BAGUIO CITY,Caraga,8600,False
1511158,ID25005,Indonesia,Deployed,Installed,NaN,43404.0,T397931,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T397931Indonesia,SUMEDANG,Jawa Barat,45371,False
1511166,ID28308,Indonesia,Deployed,Installed,NaN,43799.0,T464957,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T464957Indonesia,hulu sungai utara,Kalimantan Selatan,71419,False
1511165,ID23492,Indonesia,Deployed,Installed,NaN,43281.0,T389703,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T389703Indonesia,Bantul,Yogyakarta,55762,False
1511164,24O0019809,Indonesia,Deployed,Installed,NaN,45505.0,4102051591,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,4102051591Indonesia,BANDAR LAMPUNG,Lampung,35241,False

In [317]:
#BeverageMachine6_df['Churn'] = np.where((BeverageMachine5_df['Calendar Date_x']<BeverageMachine5_df['Calendar Date_y'])|
#                                (BeverageMachine5_df['Calendar Date_x'] == ChurnDate), False, True)

BeverageMachine6_df['Churn'] = np.where(BeverageMachine5_df['Calendar Date'] < ChurnDate2, True, False)
BeverageMachine6_df.loc[BeverageMachine6_df['Churn']==True].head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code,Churn
1324372,ID26431,Indonesia,Deployed,Installed,NaN,43677.0,T419775,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T419775Indonesia,Badung,Bali,80361,True
1324337,23O0039722,Indonesia,Deployed,Installed,NaN,45352.0,3322226091,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,3322226091Indonesia,Palembang,Sumatera Selatan,30961,True
1324356,ID30318,Indonesia,Deployed,Installed,NaN,44348.0,T502750,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T502750Indonesia,SLEMAN,Yogyakarta,55281,True
1324135,ID26423,Indonesia,Deployed,Installed,NaN,43708.0,T419767,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T419767Indonesia,Samarinda,Kalimantan Timur,75131,True
1324186,24O0027391,Indonesia,Deployed,Installed,NaN,45474.0,4182360091,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,4182360091Indonesia,TIMOR TENGAH SELATAN,Nusa Tenggara Timur,85519,True

In [318]:
BeverageMachine6_df.loc[BeverageMachine6_df['Churn']==False].head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code,Churn
1467078,16O0039217,Nestlé PH,Deployed,Installed,NaN,42826.0,T335733,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Proprietary,2024-09-30,T335733Nestlé PH,BAGUIO CITY,Caraga,8600,False
1511158,ID25005,Indonesia,Deployed,Installed,NaN,43404.0,T397931,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T397931Indonesia,SUMEDANG,Jawa Barat,45371,False
1511166,ID28308,Indonesia,Deployed,Installed,NaN,43799.0,T464957,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T464957Indonesia,hulu sungai utara,Kalimantan Selatan,71419,False
1511165,ID23492,Indonesia,Deployed,Installed,NaN,43281.0,T389703,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,T389703Indonesia,Bantul,Yogyakarta,55762,False
1511164,24O0019809,Indonesia,Deployed,Installed,NaN,45505.0,4102051591,LOAN,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-09-30,4102051591Indonesia,BANDAR LAMPUNG,Lampung,35241,False

Check the data and modify it if it is not the correct type

In [319]:
e = BeverageMachine6_df.loc[BeverageMachine6_df['Serial ID']==7010054129]
e.iloc[:20,9:40]

Empty DataFrame
Columns: [TA Contract End Date, TA Usage Indicator, Account ID, EC ID, EC Name, Account ABC Classification (Account ID), Industry (Account ID), Industry Code 1 (Account ID), Account ABC Classification (EC ID), Industry (EC ID), Industry Code 1 (EC ID), Parent Installation Point ID, Registered Product Category (Registered Product ID), Model, Model Vendor, Model Category, Model Group, Beverage Temperature, System Brands, Ingredient Format, Machine Type, Positionning, Generation, Blueprint Throughput, IP Ownership, Calendar Date, Key_ManufacturerID_SalesOrg, City, State, Postal Code, Churn]
Index: []

[0 rows x 31 columns]

In [320]:
BeverageMachine6_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 1467078 to 1732866
Data columns (total 40 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Serial ID                                            273208 non-null  object
 1   Sales Organisation                                   273208 non-null  object
 2   Machine Status Groupings                             273208 non-null  object
 3   User Status                                          273208 non-null  object
 4   TA Contract Installation Date                        142497 non-null  object
 5   Depreciation Start                                   259180 non-null  object
 6   Manufacturer Number                                  262454 non-null  object
 7   Position                                             273208 non-null  object
 8   TA Contract Start Date                               143284 non-null  object
 9   TA Contract End Date                                 139942 non-null  object
 10  TA Usage Indicator                                   273208 non-null  object
 11  Account ID                                           273208 non-null  object
 12  EC ID                                                273208 non-null  object
 13  EC Name                                              272313 non-null  object
 14  Account ABC Classification (Account ID)              272414 non-null  object
 15  Industry (Account ID)                                242259 non-null  object
 16  Industry Code 1 (Account ID)                         272399 non-null  object
 17  Account ABC Classification (EC ID)                   273158 non-null  object
 18  Industry (EC ID)                                     272908 non-null  object
 19  Industry Code 1 (EC ID)                              273151 non-null  object
 20  Parent Installation Point ID                         273208 non-null  object
 21  Registered Product Category (Registered Product ID)  273208 non-null  object
 22  Model                                                273208 non-null  object
 23  Model Vendor                                         273208 non-null  object
 24  Model Category                                       273208 non-null  object
 25  Model Group                                          273208 non-null  object
 26  Beverage Temperature                                 273208 non-null  object
 27  System Brands                                        273208 non-null  object
 28  Ingredient Format                                    273208 non-null  object
 29  Machine Type                                         273208 non-null  object
 30  Positionning                                         273208 non-null  object
 31  Generation                                           273208 non-null  object
 32  Blueprint Throughput                                 273208 non-null  object
 33  IP Ownership                                         273208 non-null  object
 34  Calendar Date                                        273208 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          273208 non-null  object
 36  City                                                 228645 non-null  object
 37  State                                                190520 non-null  object
 38  Postal Code                                          236585 non-null  object
 39  Churn                                                273208 non-null  bool
dtypes: bool(1), datetime64[ns](1), object(38)
memory usage: 83.6+ MB

I want some date features to be integer instead of non-null object

In [321]:
# Date features
Date_Features = ['TA Contract Installation Date', 'Depreciation Start',  'TA Contract Start Date', 
                 'TA Contract End Date']

BeverageMachine7_df= BeverageMachine6_df.copy()

for x in Date_Features:
    BeverageMachine7_df[x] = pd.to_numeric(BeverageMachine7_df[x], errors='coerce').fillna(0).astype(int)

In [322]:
BeverageMachine7_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 1467078 to 1732866
Data columns (total 40 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Serial ID                                            273208 non-null  object
 1   Sales Organisation                                   273208 non-null  object
 2   Machine Status Groupings                             273208 non-null  object
 3   User Status                                          273208 non-null  object
 4   TA Contract Installation Date                        273208 non-null  int32
 5   Depreciation Start                                   273208 non-null  int32
 6   Manufacturer Number                                  262454 non-null  object
 7   Position                                             273208 non-null  object
 8   TA Contract Start Date                               273208 non-null  int32
 9   TA Contract End Date                                 273208 non-null  int32
 10  TA Usage Indicator                                   273208 non-null  object
 11  Account ID                                           273208 non-null  object
 12  EC ID                                                273208 non-null  object
 13  EC Name                                              272313 non-null  object
 14  Account ABC Classification (Account ID)              272414 non-null  object
 15  Industry (Account ID)                                242259 non-null  object
 16  Industry Code 1 (Account ID)                         272399 non-null  object
 17  Account ABC Classification (EC ID)                   273158 non-null  object
 18  Industry (EC ID)                                     272908 non-null  object
 19  Industry Code 1 (EC ID)                              273151 non-null  object
 20  Parent Installation Point ID                         273208 non-null  object
 21  Registered Product Category (Registered Product ID)  273208 non-null  object
 22  Model                                                273208 non-null  object
 23  Model Vendor                                         273208 non-null  object
 24  Model Category                                       273208 non-null  object
 25  Model Group                                          273208 non-null  object
 26  Beverage Temperature                                 273208 non-null  object
 27  System Brands                                        273208 non-null  object
 28  Ingredient Format                                    273208 non-null  object
 29  Machine Type                                         273208 non-null  object
 30  Positionning                                         273208 non-null  object
 31  Generation                                           273208 non-null  object
 32  Blueprint Throughput                                 273208 non-null  object
 33  IP Ownership                                         273208 non-null  object
 34  Calendar Date                                        273208 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          273208 non-null  object
 36  City                                                 228645 non-null  object
 37  State                                                190520 non-null  object
 38  Postal Code                                          236585 non-null  object
 39  Churn                                                273208 non-null  bool
dtypes: bool(1), datetime64[ns](1), int32(4), object(34)
memory usage: 79.5+ MB

#### Placement Tickets data preparation

In order to merge Placement Tickets data with Beverage Machine data I need to perform some preparations of the data.

I would like to have one row per Manufacture Serial Number and Month

Remove "Removal Ticket" because it is nearly like giving the information if the machine has churned. 
To be decided maybe I should remove it too.
I just kept "Seasonal Removal" because it helps to understand that it is a special case and a similar machine might not churn if it is not a Seasonal Removal

In [323]:
Placement_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525466 entries, 0 to 525465
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Serial ID                      525074 non-null  object
 1   Service Category               525466 non-null  object
 2   INCIDENT_CATEGORY_DESCRIPTION  522680 non-null  object
dtypes: object(3)
memory usage: 12.0+ MB

In [324]:
table1 = Placement_df.loc[Placement_df['Service Category']!="Removal"]
table1 = table1.loc[table1['Service Category']!="Removal."]
table2 = Placement_df.loc[Placement_df['INCIDENT_CATEGORY_DESCRIPTION']=="Seasonal Removal"]

In [325]:
table1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311431 entries, 0 to 525464
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Serial ID                      311169 non-null  object
 1   Service Category               311431 non-null  object
 2   INCIDENT_CATEGORY_DESCRIPTION  309338 non-null  object
dtypes: object(3)
memory usage: 9.5+ MB

In [326]:
Placement_df_wo_rem = pd.concat([table1,table2])
Placement_df_wo_rem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317774 entries, 0 to 525465
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Serial ID                      317504 non-null  object
 1   Service Category               317774 non-null  object
 2   INCIDENT_CATEGORY_DESCRIPTION  315681 non-null  object
dtypes: object(3)
memory usage: 9.7+ MB

In [327]:
from xlrd.xldate import xldate_as_tuple
from dateutil.relativedelta import relativedelta

Placement_df_prep = Placement_df_wo_rem[['Serial ID', 'Service Category','INCIDENT_CATEGORY_DESCRIPTION']].copy()

Placement_df_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317774 entries, 0 to 525465
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Serial ID                      317504 non-null  object
 1   Service Category               317774 non-null  object
 2   INCIDENT_CATEGORY_DESCRIPTION  315681 non-null  object
dtypes: object(3)
memory usage: 9.7+ MB

In [328]:
Placement_df_prep['Serial ID'] = Placement_df_prep['Serial ID'].astype('str')

In [329]:
def preprocess_f(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Service Category','INCIDENT_CATEGORY_DESCRIPTION']
                
    # Some columns could be also ordinal features but we will keep them as nominal features for the moment
    ##ordi_vars = ['Positionning', 'Generation',]
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

Placement_df_prep2 = preprocess_f(Placement_df_prep)
Placement_df_prep2.head()

,Serial ID,Service Category_Installation,Service Category_Removal,Service Category_Replacement,INCIDENT_CATEGORY_DESCRIPTION_Customer relocation,INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_N/A,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Removal / Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,22O0031091,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
6,23E0001221,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
7,23E0008237,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,18000095,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,21O0010678,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [330]:
Placement_df_prep2.columns

Index(['Serial ID', 'Service Category_Installation',
       'Service Category_Removal', 'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_N/A',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Removal / Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade'],
      dtype='object')

In [331]:
Placement_df_prep3 = Placement_df_prep2.groupby(["Serial ID"])\
[['Serial ID', 'Service Category_Installation',
       'Service Category_Removal', 'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade']].sum()


TicketsColumnsList = ['Serial ID', 'Service Category_Installation',
       'Service Category_Removal', 'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade']

Placement_df_prep3.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_30260\282038959.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade']].sum()

,Service Category_Installation,Service Category_Removal,Service Category_Replacement,INCIDENT_CATEGORY_DESCRIPTION_Customer relocation,INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
Serial ID,,,,,,,,,,,,,,,
.102313088,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
.4390764,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
.6470438,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
.8061053,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
10000013,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [332]:
# Specify the filename
filename = 'TicketsColumnsList.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(TicketsColumnsList, file)

In [333]:
Placement_df_prep3.columns

Index(['Service Category_Installation', 'Service Category_Removal',
       'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade'],
      dtype='object')

In [334]:
Placement_df_prep3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 166609 entries, .102313088 to ZAR1222
Data columns (total 15 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Service Category_Installation                                    166609 non-null  uint8
 1   Service Category_Removal                                         166609 non-null  uint8
 2   Service Category_Replacement                                     166609 non-null  uint8
 3   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                166609 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       166609 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   166609 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      166609 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               166609 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  166609 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_Renew                              166609 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              166609 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   166609 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            166609 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      166609 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  166609 non-null  uint8
dtypes: uint8(15)
memory usage: 3.7+ MB

In [335]:
Placement_df_prep5 = Placement_df_prep3.reset_index()

In [336]:
Placement_df_prep5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166609 entries, 0 to 166608
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        166609 non-null  object
 1   Service Category_Installation                                    166609 non-null  uint8
 2   Service Category_Removal                                         166609 non-null  uint8
 3   Service Category_Replacement                                     166609 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                166609 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       166609 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   166609 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      166609 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               166609 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  166609 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Renew                              166609 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              166609 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   166609 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            166609 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      166609 non-null  uint8
 15  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  166609 non-null  uint8
dtypes: object(1), uint8(15)
memory usage: 3.7+ MB

In [337]:
BeverageMachine7_df.columns

Index(['Serial ID', 'Sales Organisation', 'Machine Status Groupings',
       'User Status', 'TA Contract Installation Date', 'Depreciation Start',
       'Manufacturer Number', 'Position', 'TA Contract Start Date',
       'TA Contract End Date', 'TA Usage Indicator', 'Account ID', 'EC ID',
       'EC Name', 'Account ABC Classification (Account ID)',
       'Industry (Account ID)', 'Industry Code 1 (Account ID)',
       'Account ABC Classification (EC ID)', 'Industry (EC ID)',
       'Industry Code 1 (EC ID)', 'Parent Installation Point ID',
       'Registered Product Category (Registered Product ID)', 'Model',
       'Model Vendor', 'Model Category', 'Model Group', 'Beverage Temperature',
       'System Brands', 'Ingredient Format', 'Machine Type', 'Positionning',
       'Generation', 'Blueprint Throughput', 'IP Ownership', 'Calendar Date',
       'Key_ManufacturerID_SalesOrg', 'City', 'State', 'Postal Code', 'Churn'],
      dtype='object')

In [338]:
Placement_df_prep5.loc[Placement_df_prep5['Serial ID']=='#']

Empty DataFrame
Columns: [Serial ID, Service Category_Installation, Service Category_Removal, Service Category_Replacement, INCIDENT_CATEGORY_DESCRIPTION_Customer relocation, INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales, INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix, INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation, INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair, INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point, INCIDENT_CATEGORY_DESCRIPTION_Renew, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal, INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show, INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other, INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade]
Index: []

Remove Placement tickets with 'Serial ID' == '#'

In [339]:
Placement_df_prep6 = Placement_df_prep5.loc[Placement_df_prep5['Serial ID']!='#']

In [340]:
Placement_df_prep6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166609 entries, 0 to 166608
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        166609 non-null  object
 1   Service Category_Installation                                    166609 non-null  uint8
 2   Service Category_Removal                                         166609 non-null  uint8
 3   Service Category_Replacement                                     166609 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                166609 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       166609 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   166609 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      166609 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               166609 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  166609 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Renew                              166609 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              166609 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   166609 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            166609 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      166609 non-null  uint8
 15  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  166609 non-null  uint8
dtypes: object(1), uint8(15)
memory usage: 4.9+ MB

In [341]:
#Placement_df_prep6['Serial ID'] = Placement_df_prep6['Serial ID'].astype('str')

In [342]:
Placement_df_prep6 = Placement_df_prep6.reset_index()

Placement_df_prep6=Placement_df_prep6.drop(columns=['index'])
Placement_df_prep6

,Serial ID,Service Category_Installation,Service Category_Removal,Service Category_Replacement,INCIDENT_CATEGORY_DESCRIPTION_Customer relocation,INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,.102313088,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,.4390764,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,.6470438,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
3,.8061053,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,10000013,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166604,ZAB2022048,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
166605,ZAB2022049,4,0,0,0,0,0,0,0,2,0,0,0,2,0,0
166606,ZAB2022050,2,0,0,0,0,0,0,0,2,0,0,0,0,0,0
166607,ZAG0054,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
166608,ZAR1222,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0

I will link both data together Beverage Machine data and Placement Ticket

In [343]:
BeverageMachine7_wTickets_df = pd.merge(BeverageMachine7_df, Placement_df_prep6, how='left', left_on = ['Serial ID'], right_on = ['Serial ID'])

f=BeverageMachine7_wTickets_df.loc[BeverageMachine7_wTickets_df['Serial ID']=='7010054129']
f.iloc[:20,20:50]

In [344]:
BeverageMachine7_wTickets_df

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,16O0039217,Nestlé PH,Deployed,Installed,0,42826,T335733,#,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID25005,Indonesia,Deployed,Installed,0,43404,T397931,LOAN,0,0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ID28308,Indonesia,Deployed,Installed,0,43799,T464957,LOAN,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ID23492,Indonesia,Deployed,Installed,0,43281,T389703,LOAN,0,0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,24O0019809,Indonesia,Deployed,Installed,0,45505,4102051591,LOAN,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273203,SGBMB09511,Singapore,Deployed,Installed,0,41609,T245361,#,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273204,21O0019672,Pakistan,Deployed,To be Removed,0,0,21O0019672,#,0,0,...,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
273205,21O0019671,Pakistan,Deployed,To be Removed,0,0,21O0019671,#,0,0,...,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
273206,21O0019675,Pakistan,Deployed,Installed,0,0,21O0019675,#,0,0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
273207,SGBMB13011,Singapore,Deployed,Installed,0,43556,20184658022,#,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [345]:
BeverageMachine7_wTickets_df=BeverageMachine7_wTickets_df.fillna(0)
BeverageMachine7_wTickets_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,16O0039217,Nestlé PH,Deployed,Installed,0,42826,T335733,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ID25005,Indonesia,Deployed,Installed,0,43404,T397931,LOAN,0,0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ID28308,Indonesia,Deployed,Installed,0,43799,T464957,LOAN,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ID23492,Indonesia,Deployed,Installed,0,43281,T389703,LOAN,0,0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,24O0019809,Indonesia,Deployed,Installed,0,45505,4102051591,LOAN,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

Even if we have only around 2000 machines having tickets, BeverageMachine7_wTickets_df can be used and we will see if it can improve the model.

In [346]:
SO_Tickets =['prstzr pnstrpzcp ztd', 'prstzr nk', 'prstzr prw zrpzppd', 'ppkcstpp']

BeverageMachine7_wTicketsOnly_df = Placement_df_prep6

BeverageMachine7_wTicketsOnly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166609 entries, 0 to 166608
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        166609 non-null  object
 1   Service Category_Installation                                    166609 non-null  uint8
 2   Service Category_Removal                                         166609 non-null  uint8
 3   Service Category_Replacement                                     166609 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                166609 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       166609 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   166609 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      166609 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               166609 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  166609 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Renew                              166609 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              166609 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   166609 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            166609 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      166609 non-null  uint8
 15  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  166609 non-null  uint8
dtypes: object(1), uint8(15)
memory usage: 3.7+ MB

#### Telemetry data preparation

Let's see what we can get with only machines having Telemetry data

In [347]:
BeverageMachine7_wTelemetry = pd.merge(BeverageMachine7_df, Telemetry_aggSales, how='inner', left_on = ['Manufacturer Number'], right_on = ['serial'])
BeverageMachine7_wTelemetry.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21849 entries, 0 to 21848
Data columns (total 41 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Serial ID                                            21849 non-null  object
 1   Sales Organisation                                   21849 non-null  object
 2   Machine Status Groupings                             21849 non-null  object
 3   User Status                                          21849 non-null  object
 4   TA Contract Installation Date                        21849 non-null  int32
 5   Depreciation Start                                   21849 non-null  int32
 6   Manufacturer Number                                  21849 non-null  object
 7   Position                                             21849 non-null  object
 8   TA Contract Start Date                               21849 non-null  int32
 9   TA Contract End Date                                 21849 non-null  int32
 10  TA Usage Indicator                                   21849 non-null  object
 11  Account ID                                           21849 non-null  object
 12  EC ID                                                21849 non-null  object
 13  EC Name                                              21824 non-null  object
 14  Account ABC Classification (Account ID)              21818 non-null  object
 15  Industry (Account ID)                                20101 non-null  object
 16  Industry Code 1 (Account ID)                         21818 non-null  object
 17  Account ABC Classification (EC ID)                   21848 non-null  object
 18  Industry (EC ID)                                     21837 non-null  object
 19  Industry Code 1 (EC ID)                              21847 non-null  object
 20  Parent Installation Point ID                         21849 non-null  object
 21  Registered Product Category (Registered Product ID)  21849 non-null  object
 22  Model                                                21849 non-null  object
 23  Model Vendor                                         21849 non-null  object
 24  Model Category                                       21849 non-null  object
 25  Model Group                                          21849 non-null  object
 26  Beverage Temperature                                 21849 non-null  object
 27  System Brands                                        21849 non-null  object
 28  Ingredient Format                                    21849 non-null  object
 29  Machine Type                                         21849 non-null  object
 30  Positionning                                         21849 non-null  object
 31  Generation                                           21849 non-null  object
 32  Blueprint Throughput                                 21849 non-null  object
 33  IP Ownership                                         21849 non-null  object
 34  Calendar Date                                        21849 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          21849 non-null  object
 36  City                                                 18947 non-null  object
 37  State                                                15140 non-null  object
 38  Postal Code                                          18297 non-null  object
 39  Churn                                                21849 non-null  bool
 40  quantity                                             21849 non-null  int64
dtypes: bool(1), datetime64[ns](1), int32(4), int64(1), object(34)
memory usage: 6.5+ MB

I only have 218 machines matching a Telemetry Kit. This is clearly not enough in order to apply Machine Learning model to predict churn.
We should at least combine it with the Beverage Machine data if we want to use it.

#### Visits data preparation

In [348]:
Visitsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693412 entries, 0 to 693411
Data columns (total 7 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   VISIT_TYPE_DESCRIPTION              529681 non-null  object
 1   End Date in Local Time Zone         693412 non-null  object
 2   Result                              29205 non-null   object
 3   SALESORG                            693412 non-null  object
 4   Activity Life Cycle Status          693412 non-null  object
 5   Visit                               693412 non-null  object
 6   Account ID.Account ID Level 01.Key  629088 non-null  object
dtypes: object(7)
memory usage: 37.0+ MB

In [349]:
Visitsdf.columns

Index(['VISIT_TYPE_DESCRIPTION', 'End Date in Local Time Zone', 'Result',
       'SALESORG', 'Activity Life Cycle Status', 'Visit',
       'Account ID.Account ID Level 01.Key'],
      dtype='object')

In [350]:
Visitsdf1 = Visitsdf[['End Date in Local Time Zone', 'Result', 'Activity Life Cycle Status', 'Visit', 'Account ID.Account ID Level 01.Key']]

Remove visits with no account id

In [351]:
Visitsdf1 = Visitsdf1.loc[Visitsdf1['Account ID.Account ID Level 01.Key']!="#"]

In [352]:
Visitsdf1['Result'] = Visitsdf1['Result'].fillna('Not assigned')

I do not have the Sales org ID in TA and I think that Account ID are unique I am not doing the key "KeySOAccID" yet.

In [353]:
#Visitsdf1['KeySOAccID'] = Visitsdf1['Sales Organization'] + Visitsdf1['Account ID.Account ID Level 01.Key'].map(str)

In [354]:
def preprocess_visits(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Result', 'Activity Life Cycle Status']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

Visitsdf_prep = preprocess_visits(Visitsdf1)
Visitsdf_prep.head()

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,2024-08-19,2951330,5038175,0,1,0,0,0,0,0,1,0,0
1,2023-11-16,2690357,2736552,0,1,0,0,0,0,0,1,0,0
2,2023-09-25,2589892,2736552,0,1,0,0,0,0,0,1,0,0
3,2023-08-29,2567478,5846218,0,1,0,0,0,0,0,1,0,0
4,2023-11-03,2652033,4598986,0,1,0,0,0,0,0,0,0,1

Summarize the column based on the Account ID and keep the last visit date

In [355]:
Visitsdf_prep.columns

Index(['End Date in Local Time Zone', 'Visit',
       'Account ID.Account ID Level 01.Key', 'Result_Incomplete Selling Call',
       'Result_Not assigned', 'Result_Objective Met',
       'Result_Objective Partially Met', 'Result_Requires Further Follow-up',
       'Result_Unsuccessful Selling Call',
       'Activity Life Cycle Status_Canceled',
       'Activity Life Cycle Status_Completed',
       'Activity Life Cycle Status_In Process',
       'Activity Life Cycle Status_Open'],
      dtype='object')

In [356]:
Visitsdf_prep.iloc[0]['End Date in Local Time Zone']

datetime.date(2024, 8, 19)

In [357]:
Visitsdf_prep['End Date in Local Time Zone'] = Visitsdf_prep['End Date in Local Time Zone'].apply(str)


Visitsdf_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 693412 entries, 0 to 693411
Data columns (total 13 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   End Date in Local Time Zone            693412 non-null  object
 1   Visit                                  693412 non-null  object
 2   Account ID.Account ID Level 01.Key     629088 non-null  object
 3   Result_Incomplete Selling Call         693412 non-null  uint8
 4   Result_Not assigned                    693412 non-null  uint8
 5   Result_Objective Met                   693412 non-null  uint8
 6   Result_Objective Partially Met         693412 non-null  uint8
 7   Result_Requires Further Follow-up      693412 non-null  uint8
 8   Result_Unsuccessful Selling Call       693412 non-null  uint8
 9   Activity Life Cycle Status_Canceled    693412 non-null  uint8
 10  Activity Life Cycle Status_Completed   693412 non-null  uint8
 11  Activity Life Cycle Status_In Process  693412 non-null  uint8
 12  Activity Life Cycle Status_Open        693412 non-null  uint8
dtypes: object(3), uint8(10)
memory usage: 27.8+ MB

In [358]:
#pip install dateparser

In [359]:
#import dateparser

Visitsdf_prep2 =Visitsdf_prep.copy()
Visitsdf_prep2['End Date in Local Time Zone'] = pd.to_datetime(Visitsdf_prep2['End Date in Local Time Zone'])
#Visitsdf_prep2['End Date in Local Time Zone'] = Visitsdf_prep2['End Date in Local Time Zone'].apply(lambda x: dateparser.parse(x))

In [360]:
Visitsdf_prep2

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,2024-08-19,2951330,5038175,0,1,0,0,0,0,0,1,0,0
1,2023-11-16,2690357,2736552,0,1,0,0,0,0,0,1,0,0
2,2023-09-25,2589892,2736552,0,1,0,0,0,0,0,1,0,0
3,2023-08-29,2567478,5846218,0,1,0,0,0,0,0,1,0,0
4,2023-11-03,2652033,4598986,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
693407,2023-01-19,2178331,None,0,1,0,0,0,0,0,1,0,0
693408,2023-09-01,2546883,None,0,0,1,0,0,0,0,1,0,0
693409,2023-08-09,2541043,None,0,1,0,0,0,0,0,1,0,0
693410,2024-06-06,2885842,None,0,1,0,0,0,0,0,1,0,0
693411,2024-07-01,2907586,None,0,1,0,0,0,0,0,1,0,0

pd.to_datetime(Visitsdf_prep2['End Date in Local Time Zone'])

In [361]:
Visitsdf_prep2.sort_values('End Date in Local Time Zone', ascending = True)

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
117711,2010-07-29,2406815,3914214,0,1,0,0,0,0,0,0,0,1
357375,2010-08-26,2406233,3556508,0,1,0,0,0,0,0,0,0,1
640942,2011-07-12,2406832,2757927,0,1,0,0,0,0,0,0,0,1
679028,2012-07-26,2450208,None,0,1,0,0,0,0,0,0,0,1
407553,2012-08-24,2406231,3315972,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
522538,2029-04-29,2854625,5629131,0,1,0,0,0,0,0,1,0,0
448158,2032-01-01,2794143,1254117,0,1,0,0,0,0,0,0,0,1
623469,2032-11-23,2183887,7151935,0,1,0,0,0,0,0,0,1,0
333289,2033-05-31,2331495,7584994,0,1,0,0,0,0,0,0,1,0
304808,2033-05-31,2813160,4494718,0,1,0,0,0,0,0,1,0,0

In [362]:
Visitsdf_prep2 = Visitsdf_prep2.sort_values('End Date in Local Time Zone')
Visitsdf_prep2.head()

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
117711,2010-07-29,2406815,3914214,0,1,0,0,0,0,0,0,0,1
357375,2010-08-26,2406233,3556508,0,1,0,0,0,0,0,0,0,1
640942,2011-07-12,2406832,2757927,0,1,0,0,0,0,0,0,0,1
679028,2012-07-26,2450208,None,0,1,0,0,0,0,0,0,0,1
407553,2012-08-24,2406231,3315972,0,1,0,0,0,0,0,0,0,1

In [363]:
Visitsdf_prep3 = (Visitsdf_prep2.sort_values('End Date in Local Time Zone')
    .groupby(["Account ID.Account ID Level 01.Key"])
                      .agg({
        'End Date in Local Time Zone': lambda s: s.values[-1],
        'Result_Incomplete Selling Call' : 'sum',
        'Result_Not assigned' : 'sum', 
        'Result_Objective Met' : 'sum',
       'Result_Objective Partially Met' : 'sum', 'Result_Requires Further Follow-up' : 'sum',
       'Result_Unsuccessful Selling Call' : 'sum',
       'Activity Life Cycle Status_Canceled' : 'sum',
       'Activity Life Cycle Status_Completed' : 'sum',
       'Activity Life Cycle Status_In Process' : 'sum',
       'Activity Life Cycle Status_Open' : 'sum'
    })
)

In [364]:
Visitsdf_prep3.head()

,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
Account ID.Account ID Level 01.Key,,,,,,,,,,,
1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0
1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0
1000216,2024-07-04,0,25,0,0,0,0,0,25,0,0
1000222,2024-07-17,0,3,0,0,0,0,1,2,0,0
1000256,2024-11-03,0,31,0,0,0,0,2,28,0,1

In [365]:
Visitsdf_prep4 = Visitsdf_prep3.copy()
Visitsdf_prep4.reset_index(inplace=True)

In [366]:
Visitsdf_prep4['Last_visit_diff_months'] = ChurnDate2 - Visitsdf_prep4['End Date in Local Time Zone']

Visitsdf_prep4['Last_visit_diff_months'] = Visitsdf_prep4['Last_visit_diff_months']/np.timedelta64(1,'M')

In [367]:
Visitsdf_prep4.head()

,Account ID.Account ID Level 01.Key,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months
0,1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0,4.993942
1,1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0,5.683895
2,1000216,2024-07-04,0,25,0,0,0,0,0,25,0,0,2.891230
3,1000222,2024-07-17,0,3,0,0,0,0,1,2,0,0,2.464116
4,1000256,2024-11-03,0,31,0,0,0,0,2,28,0,1,-1.117066

In [368]:
Visitsdf_wVisits = Visitsdf_prep4.copy()
Visitsdf_wVisits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109552 entries, 0 to 109551
Data columns (total 13 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Account ID.Account ID Level 01.Key     109552 non-null  object
 1   End Date in Local Time Zone            109552 non-null  datetime64[ns]
 2   Result_Incomplete Selling Call         109552 non-null  uint8
 3   Result_Not assigned                    109552 non-null  uint64
 4   Result_Objective Met                   109552 non-null  uint8
 5   Result_Objective Partially Met         109552 non-null  uint8
 6   Result_Requires Further Follow-up      109552 non-null  uint8
 7   Result_Unsuccessful Selling Call       109552 non-null  uint8
 8   Activity Life Cycle Status_Canceled    109552 non-null  uint8
 9   Activity Life Cycle Status_Completed   109552 non-null  uint64
 10  Activity Life Cycle Status_In Process  109552 non-null  uint8
 11  Activity Life Cycle Status_Open        109552 non-null  uint8
 12  Last_visit_diff_months                 109552 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1), uint64(2), uint8(8)
memory usage: 5.0+ MB

df['Reported_Date'] = pd.to_datetime(df['Reported_Date'], format='%m/%d/%Y')
df['Process Date'] = pd.to_datetime(df['Process Date'], format='%m/%d/%Y')

df = (
    df
    .sort_values('Process Date')
    .groupby('ID', as_index=False)
    .agg({
        'Total': 'sum',
        'Process Date': lambda s: s.values[-1]
    })
)

'Activity Owner', 'Visit Description', 'Sales Unit (Hierarchy)' might be useful but with one hot encoding I would have too many columns

In [369]:
Visitsdf_wVisits2 = Visitsdf_wVisits.reset_index() 
Visitsdf_wVisits = Visitsdf_wVisits2.rename(columns={"Account ID.Account ID Level 01.Key":"Acc_ID"})
Visitsdf_wVisits

,index,Acc_ID,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months
0,0,1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0,4.993942
1,1,1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0,5.683895
2,2,1000216,2024-07-04,0,25,0,0,0,0,0,25,0,0,2.891230
3,3,1000222,2024-07-17,0,3,0,0,0,0,1,2,0,0,2.464116
4,4,1000256,2024-11-03,0,31,0,0,0,0,2,28,0,1,-1.117066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109547,109547,9531804,2024-09-25,0,0,1,0,0,0,0,1,0,0,0.164274
109548,109548,9532836,2024-09-25,0,1,0,0,0,0,0,1,0,0,0.164274
109549,109549,9533131,2024-09-11,0,1,0,0,0,0,0,0,0,1,0.624243
109550,109550,9533891,2024-09-25,0,2,0,0,0,0,0,2,0,0,0.164274
109551,109551,CO_TW10,2023-07-20,0,4,0,0,0,0,2,0,0,2,14.390439

left2 = pd.DataFrame(
    {"A": ["A0", "A1", "A2", "C1"], "B": ["B0", "B1", "B2", "B2"], "K1": [1938031, 1938031, 2, 3]}, index=["K0", "K1", "K2", "K2"]
)
left2

In [370]:
Visitsdf_wVisits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109552 entries, 0 to 109551
Data columns (total 14 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   index                                  109552 non-null  int64
 1   Acc_ID                                 109552 non-null  object
 2   End Date in Local Time Zone            109552 non-null  datetime64[ns]
 3   Result_Incomplete Selling Call         109552 non-null  uint8
 4   Result_Not assigned                    109552 non-null  uint64
 5   Result_Objective Met                   109552 non-null  uint8
 6   Result_Objective Partially Met         109552 non-null  uint8
 7   Result_Requires Further Follow-up      109552 non-null  uint8
 8   Result_Unsuccessful Selling Call       109552 non-null  uint8
 9   Activity Life Cycle Status_Canceled    109552 non-null  uint8
 10  Activity Life Cycle Status_Completed   109552 non-null  uint64
 11  Activity Life Cycle Status_In Process  109552 non-null  uint8
 12  Activity Life Cycle Status_Open        109552 non-null  uint8
 13  Last_visit_diff_months                 109552 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1), uint64(2), uint8(8)
memory usage: 5.9+ MB

In [371]:

Visitsdf_wVisits['Acc_ID'] = Visitsdf_wVisits['Acc_ID'].astype(str)
Visitsdf_wVisits['#Visits completed'] = Visitsdf_wVisits['Activity Life Cycle Status_Completed']
Visitsdf_wVisits = Visitsdf_wVisits.drop(['Activity Life Cycle Status_Completed'], axis = 1)
Visitsdf_wVisits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109552 entries, 0 to 109551
Data columns (total 14 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   index                                  109552 non-null  int64
 1   Acc_ID                                 109552 non-null  object
 2   End Date in Local Time Zone            109552 non-null  datetime64[ns]
 3   Result_Incomplete Selling Call         109552 non-null  uint8
 4   Result_Not assigned                    109552 non-null  uint64
 5   Result_Objective Met                   109552 non-null  uint8
 6   Result_Objective Partially Met         109552 non-null  uint8
 7   Result_Requires Further Follow-up      109552 non-null  uint8
 8   Result_Unsuccessful Selling Call       109552 non-null  uint8
 9   Activity Life Cycle Status_Canceled    109552 non-null  uint8
 10  Activity Life Cycle Status_In Process  109552 non-null  uint8
 11  Activity Life Cycle Status_Open        109552 non-null  uint8
 12  Last_visit_diff_months                 109552 non-null  float64
 13  #Visits completed                      109552 non-null  uint64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1), uint64(2), uint8(8)
memory usage: 5.9+ MB

In [372]:
a=Visitsdf_wVisits.loc[Visitsdf_wVisits['Acc_ID']=='1938031']
a

,index,Acc_ID,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed
18302,18302,1938031,2023-06-20,0,24,0,0,0,0,0,0,0,15.376086,24

result = pd.merge(left2, Visitsdf_wVisits, how='left', left_on = ['K1'], right_on = ['Acc_ID']) 
result

#### Phone calls data preparation

In [374]:
PhoneCallsdf.head()

,ACTIVITY_NAME,Account Name,ACTIVITY_OWNER,Activity Life Cycle Status,PHONE_CALL_ID,OBJECTIVE_PHONE_CALL,SALES_ORGANIZATION,End Date in Local Time Zone,START_DATE_IN_LOCAL_TIME_ZONE,PERIODEND,EE
0,2023-07-28- A C H Associates Call 1,7908431,Gargi Singh,Completed,1191971,None,IN14,2023-07-29,2023-07-29,2023 - 07,10214
1,2023-04-17- Nothing Call 2,7533455,Jadala Aishwarya,Completed,1099871,None,IN14,2023-04-19,2023-04-19,2023 - 04,4473
2,"Телефонный звонок Веселый пекарь,ул.Красная 122",3570593,ESR NP_Армавир_esr,Completed,1060372,None,RU3A,2023-03-02,2023-03-02,2023 - 03,5236
3,"Телефонный звонок Веселый пекарь,ул.Красная 122",3570593,ESR NP_Армавир_esr,Completed,1110928,None,RU3A,2023-05-04,2023-05-04,2023 - 05,5236
4,Contacted for order,7270187,Ish Puri,Completed,1058249,None,IN14,2023-02-25,2023-02-25,2023 - 02,5354

In [375]:
PhoneCallsdf.columns

Index(['ACTIVITY_NAME', 'Account Name', 'ACTIVITY_OWNER',
       'Activity Life Cycle Status', 'PHONE_CALL_ID', 'OBJECTIVE_PHONE_CALL',
       'SALES_ORGANIZATION', 'End Date in Local Time Zone',
       'START_DATE_IN_LOCAL_TIME_ZONE', 'PERIODEND', 'EE'],
      dtype='object')

'Activity Owner',
 'Objective (Phone Call)' -> to much text freedom and too many reasons
 'Phone Call ID' -> not needed

In [376]:
PhoneCallsdf1 = PhoneCallsdf[['Account Name', 'Activity Life Cycle Status', 'End Date in Local Time Zone']]

In [377]:
def preprocess_calls(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Activity Life Cycle Status']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

PhoneCallsdf_prep = preprocess_calls(PhoneCallsdf1)
PhoneCallsdf_prep.head()

,Account Name,End Date in Local Time Zone,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,7908431,2023-07-29,0,1,0,0
1,7533455,2023-04-19,0,1,0,0
2,3570593,2023-03-02,0,1,0,0
3,3570593,2023-05-04,0,1,0,0
4,7270187,2023-02-25,0,1,0,0

Remove phone calls without an account ID

In [378]:
PhoneCallsdf_prep1 = PhoneCallsdf_prep.loc[PhoneCallsdf_prep['Account Name']!="#"]

In [379]:
PhoneCallsdf_prep1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369604 entries, 0 to 369603
Data columns (total 6 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Account Name                           369604 non-null  object
 1   End Date in Local Time Zone            369604 non-null  object
 2   Activity Life Cycle Status_Canceled    369604 non-null  uint8
 3   Activity Life Cycle Status_Completed   369604 non-null  uint8
 4   Activity Life Cycle Status_In Process  369604 non-null  uint8
 5   Activity Life Cycle Status_Open        369604 non-null  uint8
dtypes: object(2), uint8(4)
memory usage: 9.9+ MB

Remove date greater than next year

In [380]:
Churndate2_year = ChurnDate2.year

In [381]:
PhoneCallsdf_prep1['End Date in Local Time Zone'] = pd.to_datetime(PhoneCallsdf_prep1['End Date in Local Time Zone'], errors = 'coerce')

In [382]:
PhoneCallsdf_prep1 = PhoneCallsdf_prep1.loc[PhoneCallsdf_prep1['End Date in Local Time Zone'] < dt.datetime(Churndate2_year+1,1,1)]

In [383]:
PhoneCallsdf_prep1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369576 entries, 0 to 369603
Data columns (total 6 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Account Name                           369576 non-null  object
 1   End Date in Local Time Zone            369576 non-null  datetime64[ns]
 2   Activity Life Cycle Status_Canceled    369576 non-null  uint8
 3   Activity Life Cycle Status_Completed   369576 non-null  uint8
 4   Activity Life Cycle Status_In Process  369576 non-null  uint8
 5   Activity Life Cycle Status_Open        369576 non-null  uint8
dtypes: datetime64[ns](1), object(1), uint8(4)
memory usage: 9.9+ MB

In [384]:
PhoneCallsdf_prep1 = PhoneCallsdf_prep1.sort_values('End Date in Local Time Zone')

In [385]:
PhoneCallsdf_prep2 = (PhoneCallsdf_prep1.sort_values('End Date in Local Time Zone')
    .groupby(["Account Name"])
                      .agg({
        'End Date in Local Time Zone': lambda s: s.values[-1],
        'Activity Life Cycle Status_Completed' : 'sum'}))

In [386]:
PhoneCallsdf_prep2

             End Date in Local Time Zone  Activity Life Cycle Status_Completed
Account Name
1000058                       2023-12-11                                     1
1000096                       2024-05-31                                     4
1000142                       2023-02-13                                     3
1000216                       2024-09-25                                    93
1000222                       2024-07-04                                     3
...                                  ...                                   ...
9577287                       2024-10-17                                     1
9578364                       2024-10-17                                     2
9578554                       2024-10-18                                     1
9578603                       2024-10-18                                     1
None                          2024-10-18                                  1795

[157618 rows x 2 columns]

In [387]:
PhoneCallsdf_prep3 = PhoneCallsdf_prep2.copy()
PhoneCallsdf_prep3.reset_index()

,Account Name,End Date in Local Time Zone,Activity Life Cycle Status_Completed
0,1000058,2023-12-11,1
1,1000096,2024-05-31,4
2,1000142,2023-02-13,3
3,1000216,2024-09-25,93
4,1000222,2024-07-04,3
...,...,...,...
157613,9577287,2024-10-17,1
157614,9578364,2024-10-17,2
157615,9578554,2024-10-18,1
157616,9578603,2024-10-18,1
157617,None,2024-10-18,1795

In [388]:
PhoneCallsdf_prep3['Last_call_diff_months'] = ChurnDate2 - PhoneCallsdf_prep3['End Date in Local Time Zone']

PhoneCallsdf_prep3['Last_call_diff_months'] = PhoneCallsdf_prep3['Last_call_diff_months']/np.timedelta64(1,'M')

In [389]:
PhoneCallsdf_prep3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157618 entries, 1000058 to None
Data columns (total 3 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   End Date in Local Time Zone           157618 non-null  datetime64[ns]
 1   Activity Life Cycle Status_Completed  157618 non-null  uint64
 2   Last_call_diff_months                 157618 non-null  float64
dtypes: datetime64[ns](1), float64(1), uint64(1)
memory usage: 4.8+ MB

In [390]:
PhoneCallsdf_prep3 = PhoneCallsdf_prep3.copy()
PhoneCallsdf_prep3.reset_index()

,Account Name,End Date in Local Time Zone,Activity Life Cycle Status_Completed,Last_call_diff_months
0,1000058,2023-12-11,1,9.659336
1,1000096,2024-05-31,4,4.008296
2,1000142,2023-02-13,3,19.548656
3,1000216,2024-09-25,93,0.164274
4,1000222,2024-07-04,3,2.891230
...,...,...,...,...
157613,9577287,2024-10-17,1,-0.558533
157614,9578364,2024-10-17,2,-0.558533
157615,9578554,2024-10-18,1,-0.591388
157616,9578603,2024-10-18,1,-0.591388
157617,None,2024-10-18,1795,-0.591388

In [391]:
PhoneCallsdf_prep3['#Calls Completed'] = PhoneCallsdf_prep3['Activity Life Cycle Status_Completed']
PhoneCallsdf_prep3 = PhoneCallsdf_prep3.drop(['Activity Life Cycle Status_Completed'], axis = 1)
PhoneCallsdf_prep3.head()

,End Date in Local Time Zone,Last_call_diff_months,#Calls Completed
Account Name,,,
1000058,2023-12-11,9.659336,1
1000096,2024-05-31,4.008296,4
1000142,2023-02-13,19.548656,3
1000216,2024-09-25,0.164274,93
1000222,2024-07-04,2.891230,3

#### Incident Ticket preparation

In [392]:
IncidentTicketdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642752 entries, 0 to 642751
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Completion Date_2   639673 non-null  object
 1   Incident Category   642752 non-null  object
 2   Serial ID           642752 non-null  object
 3   COMPLETION_SLA_MET  641201 non-null  object
dtypes: object(4)
memory usage: 19.6+ MB

In [393]:
IncidentTicketdf.columns

Index(['Completion Date_2', 'Incident Category', 'Serial ID',
       'COMPLETION_SLA_MET'],
      dtype='object')

Maybe I will do a delta between "Completion Date_2" and "Reported On"

Removed:
'AuxFix' -> 'AuxTime'
'Completion SLA Met' -> 'SLAMet'
'SLAMet' -> 'SLA MET?' 
'Service Technician' not clear and a lot of data

In [394]:
IncidentTicketdf3 = IncidentTicketdf

IncidentTicketdf2 = IncidentTicketdf1.copy()
#IncidentTicketdf2['Completion Date_2'] = IncidentTicketdf2['Completion Date_2'].apply(str)
#IncidentTicketdf2['Completion Date_2'] = IncidentTicketdf2['Completion Date_2'].apply(lambda x: dateparser.parse(x))

In [395]:
IncidentTicketdf3['Completion Date_2'] = pd.to_datetime(IncidentTicketdf3['Completion Date_2'], errors = 'coerce')
#IncidentTicketdf3['Reported On'] = pd.to_datetime(IncidentTicketdf3['REPORTED_ON'], errors = 'coerce')

IncidentTicketdf3['Completion Date_2'] = IncidentTicketdf3['Completion Date_2'].fillna(dt.datetime(2000,1,1))
#IncidentTicketdf3['Reported On'] = IncidentTicketdf3['Reported On'].fillna(dt.datetime(2000,1,1))

In [396]:
IncidentTicketdf3.head()

,Completion Date_2,Incident Category,Serial ID,COMPLETION_SLA_MET
0,2024-09-12,3.a Door Display/Touchscreen,MYBMB29612,True
1,2024-01-20,18 N/A,21H0022211,True
2,2024-09-11,17 Miscellaneous,B3731,False
3,2024-06-15,18 N/A,18E0013801,True
4,2023-09-19,1.b Ingredient Dispensing,17O0040866,False

In [397]:
IncidentTicketdf3 = IncidentTicketdf3.loc[IncidentTicketdf3['Serial ID']!="#"]

In [398]:
def preprocess_InciTickets(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Incident Category', 'COMPLETION_SLA_MET']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

IncidentTicketdf_prep = preprocess_InciTickets(IncidentTicketdf3)
IncidentTicketdf_prep.head()

,Completion Date_2,Serial ID,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing,Incident Category_1.c Ingredient Dripping,Incident Category_1.d Ingredient Other,Incident Category_10 Abnormal smell,Incident Category_11 Electrical power,Incident Category_12 Water supply issue,Incident Category_13 Connectivity (modem),...,Incident Category_5.c Dispensing Area Other,Incident Category_6 Electronics (PCBs),Incident Category_7 Wire/Harness,Incident Category_8 Software/Firmware,Incident Category_9 Abnormal noise,Incident Category_Low throughput,Incident Category_Requested by Customer,Incident Category_Scheduled,COMPLETION_SLA_MET_False,COMPLETION_SLA_MET_True
0,2024-09-12,MYBMB29612,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2024-01-20,21H0022211,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2024-09-11,B3731,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2024-06-15,18E0013801,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2023-09-19,17O0040866,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [399]:
IncidentTicketdf_prep.columns

Index(['Completion Date_2', 'Serial ID',
       'Incident Category_1.a Ingredient Calibration',
       'Incident Category_1.b Ingredient Dispensing',
       'Incident Category_1.c Ingredient Dripping',
       'Incident Category_1.d Ingredient Other',
       'Incident Category_10 Abnormal smell',
       'Incident Category_11 Electrical power',
       'Incident Category_12 Water supply issue',
       'Incident Category_13 Connectivity (modem)',
       'Incident Category_14 Accessory problem(external pump..)',
       'Incident Category_15 Return with parts',
       'Incident Category_16 Operator mishandling(improper fill..)',
       'Incident Category_17 Miscellaneous', 'Incident Category_18 N/A',
       'Incident Category_2.a Hydraulic Calibration',
       'Incident Category_2.b Hydraulic Dispensing',
       'Incident Category_2.c Hydraulic Leaking',
       'Incident Category_2.d Hydraulic Heating',
       'Incident Category_2.e Hydraulic Cooling/Freezing',
       'Incident Category_2.f Hydraulic Filling',
       'Incident Category_2.g Hydraulic Other',
       'Incident Category_3.a Door Display/Touchscreen',
       'Incident Category_3.b Door Menu buttons',
       'Incident Category_3.c Door Detection',
       'Incident Category_3.d Door Key/Key switch',
       'Incident Category_3.e Door Other',
       'Incident Category_4.a Reconst. Area In-cup quality/Recipes',
       'Incident Category_4.b Reconstitution Area Mixing system',
       'Incident Category_4.c Reconstitution Area Other',
       'Incident Category_5.a Disp. Area Manifold/Distribution',
       'Incident Category_5.b Dispensing Area Drip Tray',
       'Incident Category_5.c Dispensing Area Other',
       'Incident Category_6 Electronics (PCBs)',
       'Incident Category_7 Wire/Harness',
       'Incident Category_8 Software/Firmware',
       'Incident Category_9 Abnormal noise',
       'Incident Category_Low throughput',
       'Incident Category_Requested by Customer',
       'Incident Category_Scheduled', 'COMPLETION_SLA_MET_False',
       'COMPLETION_SLA_MET_True'],
      dtype='object')

In [400]:
IncidentTicketdf_prep = IncidentTicketdf_prep.sort_values('Completion Date_2')

I will not use 'Reported On' because I aggreagate and I do not want to make a delta anymore

In [401]:
IncidentTicketdf_prep2 = (IncidentTicketdf_prep.sort_values('Completion Date_2')
    .groupby(["Serial ID"])
                      .agg({'Completion Date_2' : lambda s: s.values[-1], 
       'Incident Category_1.a Ingredient Calibration' : 'sum',
       'Incident Category_1.b Ingredient Dispensing' : 'sum',
       'Incident Category_1.c Ingredient Dripping' : 'sum',
       'Incident Category_1.d Ingredient Other' : 'sum',
       'Incident Category_10 Abnormal smell' : 'sum',
       'Incident Category_11 Electrical power' : 'sum',
       'Incident Category_12 Water supply issue' : 'sum',
       'Incident Category_13 Connectivity (modem)' : 'sum',
       'Incident Category_14 Accessory problem(external pump..)' : 'sum',
       'Incident Category_15 Return with parts' : 'sum',
       'Incident Category_16 Operator mishandling(improper fill..)' : 'sum',
       'Incident Category_17 Miscellaneous': 'sum',
                            'Incident Category_18 N/A' : 'sum',
       'Incident Category_2.a Hydraulic Calibration' : 'sum',
       'Incident Category_2.b Hydraulic Dispensing' : 'sum',
       'Incident Category_2.c Hydraulic Leaking' : 'sum',
       'Incident Category_2.d Hydraulic Heating': 'sum',
       'Incident Category_2.e Hydraulic Cooling/Freezing': 'sum',
       'Incident Category_2.f Hydraulic Filling': 'sum',
       'Incident Category_2.g Hydraulic Other': 'sum',
       'Incident Category_3.a Door Display/Touchscreen': 'sum',
       'Incident Category_3.b Door Menu buttons': 'sum',
       'Incident Category_3.c Door Detection': 'sum',
       'Incident Category_3.d Door Key/Key switch': 'sum',
       'Incident Category_3.e Door Other': 'sum',
       'Incident Category_4.a Reconst. Area In-cup quality/Recipes': 'sum',
       'Incident Category_4.b Reconstitution Area Mixing system': 'sum',
       'Incident Category_4.c Reconstitution Area Other': 'sum',
       'Incident Category_5.a Disp. Area Manifold/Distribution': 'sum',
       'Incident Category_5.b Dispensing Area Drip Tray': 'sum',
       'Incident Category_5.c Dispensing Area Other': 'sum',
       'Incident Category_6 Electronics (PCBs)': 'sum',
       'Incident Category_7 Wire/Harness': 'sum',
       'Incident Category_8 Software/Firmware': 'sum',
       'Incident Category_9 Abnormal noise': 'sum',
                            'COMPLETION_SLA_MET_False': 'sum',
                            'COMPLETION_SLA_MET_True': 'sum'})
)

In [402]:
IncidentTicketdf_prep2['Last_InTick_diff_months'] = ChurnDate2 - IncidentTicketdf_prep2['Completion Date_2']

IncidentTicketdf_prep2['Last_InTick_diff_months'] = IncidentTicketdf_prep2['Last_InTick_diff_months']/np.timedelta64(1,'M')

In [403]:
IncidentTicketdf_prep2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79372 entries, 100100250 to ZA978
Data columns (total 39 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Completion Date_2                                           79372 non-null  datetime64[ns]
 1   Incident Category_1.a Ingredient Calibration                79372 non-null  uint8
 2   Incident Category_1.b Ingredient Dispensing                 79372 non-null  uint8
 3   Incident Category_1.c Ingredient Dripping                   79372 non-null  uint8
 4   Incident Category_1.d Ingredient Other                      79372 non-null  uint8
 5   Incident Category_10 Abnormal smell                         79372 non-null  uint8
 6   Incident Category_11 Electrical power                       79372 non-null  uint8
 7   Incident Category_12 Water supply issue                     79372 non-null  uint8
 8   Incident Category_13 Connectivity (modem)                   79372 non-null  uint8
 9   Incident Category_14 Accessory problem(external pump..)     79372 non-null  uint8
 10  Incident Category_15 Return with parts                      79372 non-null  uint8
 11  Incident Category_16 Operator mishandling(improper fill..)  79372 non-null  uint8
 12  Incident Category_17 Miscellaneous                          79372 non-null  uint8
 13  Incident Category_18 N/A                                    79372 non-null  uint8
 14  Incident Category_2.a Hydraulic Calibration                 79372 non-null  uint8
 15  Incident Category_2.b Hydraulic Dispensing                  79372 non-null  uint8
 16  Incident Category_2.c Hydraulic Leaking                     79372 non-null  uint8
 17  Incident Category_2.d Hydraulic Heating                     79372 non-null  uint8
 18  Incident Category_2.e Hydraulic Cooling/Freezing            79372 non-null  uint8
 19  Incident Category_2.f Hydraulic Filling                     79372 non-null  uint8
 20  Incident Category_2.g Hydraulic Other                       79372 non-null  uint8
 21  Incident Category_3.a Door Display/Touchscreen              79372 non-null  uint8
 22  Incident Category_3.b Door Menu buttons                     79372 non-null  uint8
 23  Incident Category_3.c Door Detection                        79372 non-null  uint8
 24  Incident Category_3.d Door Key/Key switch                   79372 non-null  uint8
 25  Incident Category_3.e Door Other                            79372 non-null  uint8
 26  Incident Category_4.a Reconst. Area In-cup quality/Recipes  79372 non-null  uint8
 27  Incident Category_4.b Reconstitution Area Mixing system     79372 non-null  uint8
 28  Incident Category_4.c Reconstitution Area Other             79372 non-null  uint8
 29  Incident Category_5.a Disp. Area Manifold/Distribution      79372 non-null  uint8
 30  Incident Category_5.b Dispensing Area Drip Tray             79372 non-null  uint8
 31  Incident Category_5.c Dispensing Area Other                 79372 non-null  uint8
 32  Incident Category_6 Electronics (PCBs)                      79372 non-null  uint8
 33  Incident Category_7 Wire/Harness                            79372 non-null  uint8
 34  Incident Category_8 Software/Firmware                       79372 non-null  uint8
 35  Incident Category_9 Abnormal noise                          79372 non-null  uint8
 36  COMPLETION_SLA_MET_False                                    79372 non-null  uint8
 37  COMPLETION_SLA_MET_True                                     79372 non-null  uint64
 38  Last_InTick_diff_months                                     79372 non-null  float64
dtypes: datetime64[ns](1), float64(1), uint64(1), uint8(36)
memory usage: 5.1+ MB

In [404]:
IncidentTicketdf_prep2 = IncidentTicketdf_prep2.reset_index()
IncidentTicketdf_prep2.head()

,Serial ID,Completion Date_2,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing,Incident Category_1.c Ingredient Dripping,Incident Category_1.d Ingredient Other,Incident Category_10 Abnormal smell,Incident Category_11 Electrical power,Incident Category_12 Water supply issue,Incident Category_13 Connectivity (modem),...,Incident Category_5.a Disp. Area Manifold/Distribution,Incident Category_5.b Dispensing Area Drip Tray,Incident Category_5.c Dispensing Area Other,Incident Category_6 Electronics (PCBs),Incident Category_7 Wire/Harness,Incident Category_8 Software/Firmware,Incident Category_9 Abnormal noise,COMPLETION_SLA_MET_False,COMPLETION_SLA_MET_True,Last_InTick_diff_months
0,100100250,2023-02-20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,19.318672
1,100100251,2022-01-13,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,32.559190
2,100100276,2021-08-01,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,37.980246
3,100100293,2022-11-16,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,22.472741
4,100100296,2021-07-10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,38.703053

#### Data with all
Let's see what we can get if we include Telemetry, sales and Tickets

In [405]:

BeverageMachine7_wTickets_df['Manufacturer Number'] = BeverageMachine7_wTickets_df['Manufacturer Number'].astype('str')
Concat_Telemetry['serial'] = Concat_Telemetry['serial'].astype('str')

In [406]:
BeverageMachine7_wTickets_wTelemetry_df = pd.merge(BeverageMachine7_wTickets_df, Concat_Telemetry, how='left', left_on = ['Manufacturer Number'], right_on = ['serial'])

BeverageMachine7_wTickets_wTelemetry_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 0 to 273207
Data columns (total 62 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        273208 non-null  object
 1   Sales Organisation                                               273208 non-null  object
 2   Machine Status Groupings                                         273208 non-null  object
 3   User Status                                                      273208 non-null  object
 4   TA Contract Installation Date                                    273208 non-null  int32
 5   Depreciation Start                                               273208 non-null  int32
 6   Manufacturer Number                                              273208 non-null  object
 7   Position                                                         273208 non-null  object
 8   TA Contract Start Date                                           273208 non-null  int32
 9   TA Contract End Date                                             273208 non-null  int32
 10  TA Usage Indicator                                               273208 non-null  object
 11  Account ID                                                       273208 non-null  object
 12  EC ID                                                            273208 non-null  object
 13  EC Name                                                          273208 non-null  object
 14  Account ABC Classification (Account ID)                          273208 non-null  object
 15  Industry (Account ID)                                            273208 non-null  object
 16  Industry Code 1 (Account ID)                                     273208 non-null  object
 17  Account ABC Classification (EC ID)                               273208 non-null  object
 18  Industry (EC ID)                                                 273208 non-null  object
 19  Industry Code 1 (EC ID)                                          273208 non-null  object
 20  Parent Installation Point ID                                     273208 non-null  object
 21  Registered Product Category (Registered Product ID)              273208 non-null  object
 22  Model                                                            273208 non-null  object
 23  Model Vendor                                                     273208 non-null  object
 24  Model Category                                                   273208 non-null  object
 25  Model Group                                                      273208 non-null  object
 26  Beverage Temperature                                             273208 non-null  object
 27  System Brands                                                    273208 non-null  object
 28  Ingredient Format                                                273208 non-null  object
 29  Machine Type                                                     273208 non-null  object
 30  Positionning                                                     273208 non-null  object
 31  Generation                                                       273208 non-null  object
 32  Blueprint Throughput                                             273208 non-null  object
 33  IP Ownership                                                     273208 non-null  object
 34  Calendar Date                                                    273208 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      273208 non-null  object
 36  City                                                             273208 non-null  object
 37  State                                                            273208 non-null  object
 38  Postal Code                                                      273208 non-null  object
 39  Churn                                                            273208 non-null  bool
 40  Service Category_Installation                                    273208 non-null  float64
 41  Service Category_Removal                                         273208 non-null  float64
 42  Service Category_Replacement                                     273208 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                273208 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       273208 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   273208 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      273208 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               273208 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  273208 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              273208 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              273208 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   273208 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            273208 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      273208 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  273208 non-null  float64
 55  serial                                                           21849 non-null   object
 56  quantity                                                         21849 non-null   float64
 57  one_month_avg                                                    21849 non-null   float64
 58  three_months_avg                                                 21849 non-null   float64
 59  six_months_avg                                                   21849 non-null   float64
 60  (lst_mth-6mth)/6mth                                              21849 non-null   float64
 61  3mth-6mth)/6mth                                                  21849 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(21), int32(4), object(35)
memory usage: 125.3+ MB

In [407]:
BeverageMachine7_wTickets_wTelemetry_df = pd.merge(BeverageMachine7_wTickets_df, Concat_Telemetry, how='left', left_on = ['Manufacturer Number'], right_on = ['serial'])
BeverageMachine7_wTickets_wTelemetry_df=BeverageMachine7_wTickets_wTelemetry_df.fillna(0)
BeverageMachine7_wTickets_wTelemetry_df["quantity"] = BeverageMachine7_wTickets_wTelemetry_df["quantity"].astype(int)
BeverageMachine7_wTickets_wTelemetry_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 0 to 273207
Data columns (total 62 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        273208 non-null  object
 1   Sales Organisation                                               273208 non-null  object
 2   Machine Status Groupings                                         273208 non-null  object
 3   User Status                                                      273208 non-null  object
 4   TA Contract Installation Date                                    273208 non-null  int32
 5   Depreciation Start                                               273208 non-null  int32
 6   Manufacturer Number                                              273208 non-null  object
 7   Position                                                         273208 non-null  object
 8   TA Contract Start Date                                           273208 non-null  int32
 9   TA Contract End Date                                             273208 non-null  int32
 10  TA Usage Indicator                                               273208 non-null  object
 11  Account ID                                                       273208 non-null  object
 12  EC ID                                                            273208 non-null  object
 13  EC Name                                                          273208 non-null  object
 14  Account ABC Classification (Account ID)                          273208 non-null  object
 15  Industry (Account ID)                                            273208 non-null  object
 16  Industry Code 1 (Account ID)                                     273208 non-null  object
 17  Account ABC Classification (EC ID)                               273208 non-null  object
 18  Industry (EC ID)                                                 273208 non-null  object
 19  Industry Code 1 (EC ID)                                          273208 non-null  object
 20  Parent Installation Point ID                                     273208 non-null  object
 21  Registered Product Category (Registered Product ID)              273208 non-null  object
 22  Model                                                            273208 non-null  object
 23  Model Vendor                                                     273208 non-null  object
 24  Model Category                                                   273208 non-null  object
 25  Model Group                                                      273208 non-null  object
 26  Beverage Temperature                                             273208 non-null  object
 27  System Brands                                                    273208 non-null  object
 28  Ingredient Format                                                273208 non-null  object
 29  Machine Type                                                     273208 non-null  object
 30  Positionning                                                     273208 non-null  object
 31  Generation                                                       273208 non-null  object
 32  Blueprint Throughput                                             273208 non-null  object
 33  IP Ownership                                                     273208 non-null  object
 34  Calendar Date                                                    273208 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      273208 non-null  object
 36  City                                                             273208 non-null  object
 37  State                                                            273208 non-null  object
 38  Postal Code                                                      273208 non-null  object
 39  Churn                                                            273208 non-null  bool
 40  Service Category_Installation                                    273208 non-null  float64
 41  Service Category_Removal                                         273208 non-null  float64
 42  Service Category_Replacement                                     273208 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                273208 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       273208 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   273208 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      273208 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               273208 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  273208 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              273208 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              273208 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   273208 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            273208 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      273208 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  273208 non-null  float64
 55  serial                                                           273208 non-null  object
 56  quantity                                                         273208 non-null  int32
 57  one_month_avg                                                    273208 non-null  float64
 58  three_months_avg                                                 273208 non-null  float64
 59  six_months_avg                                                   273208 non-null  float64
 60  (lst_mth-6mth)/6mth                                              273208 non-null  float64
 61  3mth-6mth)/6mth                                                  273208 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(20), int32(5), object(35)
memory usage: 124.3+ MB

In [408]:
A= Concat_Sales.drop_duplicates(subset= 'KeyManufNo_SalesOrg')
A.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111955 entries, 0 to 23383
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Serial                  111955 non-null  object
 1   quantity                111955 non-null  float64
 2   Sales_one_Month_avg     111955 non-null  float64
 3   Sales_three_months_avg  111955 non-null  float64
 4   Sales_six_months_avg    111955 non-null  float64
 5   KeyManufNo_SalesOrg     111955 non-null  object
 6   (lst_mth-6mth)/6mth     111955 non-null  float64
 7   3mth-6mth)/6mth         111955 non-null  float64
dtypes: float64(6), object(2)
memory usage: 7.7+ MB

In [409]:
Concat_Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111955 entries, 0 to 23383
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Serial                  111955 non-null  object
 1   quantity                111955 non-null  float64
 2   Sales_one_Month_avg     111955 non-null  float64
 3   Sales_three_months_avg  111955 non-null  float64
 4   Sales_six_months_avg    111955 non-null  float64
 5   KeyManufNo_SalesOrg     111955 non-null  object
 6   (lst_mth-6mth)/6mth     111955 non-null  float64
 7   3mth-6mth)/6mth         111955 non-null  float64
dtypes: float64(6), object(2)
memory usage: 7.7+ MB

In [410]:
BeverageMachine7_wTickets_wTelemetry_wSales_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_df, Concat_Sales, how='left', left_on = ['Key_ManufacturerID_SalesOrg'], right_on = ['KeyManufNo_SalesOrg'])
BeverageMachine7_wTickets_wTelemetry_wSales_df = BeverageMachine7_wTickets_wTelemetry_wSales_df.fillna(0)
BeverageMachine7_wTickets_wTelemetry_wSales_df["quantity_y"] = BeverageMachine7_wTickets_wTelemetry_wSales_df["quantity_y"].astype(int)
BeverageMachine7_wTickets_wTelemetry_wSales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 0 to 273207
Data columns (total 70 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        273208 non-null  object
 1   Sales Organisation                                               273208 non-null  object
 2   Machine Status Groupings                                         273208 non-null  object
 3   User Status                                                      273208 non-null  object
 4   TA Contract Installation Date                                    273208 non-null  int32
 5   Depreciation Start                                               273208 non-null  int32
 6   Manufacturer Number                                              273208 non-null  object
 7   Position                                                         273208 non-null  object
 8   TA Contract Start Date                                           273208 non-null  int32
 9   TA Contract End Date                                             273208 non-null  int32
 10  TA Usage Indicator                                               273208 non-null  object
 11  Account ID                                                       273208 non-null  object
 12  EC ID                                                            273208 non-null  object
 13  EC Name                                                          273208 non-null  object
 14  Account ABC Classification (Account ID)                          273208 non-null  object
 15  Industry (Account ID)                                            273208 non-null  object
 16  Industry Code 1 (Account ID)                                     273208 non-null  object
 17  Account ABC Classification (EC ID)                               273208 non-null  object
 18  Industry (EC ID)                                                 273208 non-null  object
 19  Industry Code 1 (EC ID)                                          273208 non-null  object
 20  Parent Installation Point ID                                     273208 non-null  object
 21  Registered Product Category (Registered Product ID)              273208 non-null  object
 22  Model                                                            273208 non-null  object
 23  Model Vendor                                                     273208 non-null  object
 24  Model Category                                                   273208 non-null  object
 25  Model Group                                                      273208 non-null  object
 26  Beverage Temperature                                             273208 non-null  object
 27  System Brands                                                    273208 non-null  object
 28  Ingredient Format                                                273208 non-null  object
 29  Machine Type                                                     273208 non-null  object
 30  Positionning                                                     273208 non-null  object
 31  Generation                                                       273208 non-null  object
 32  Blueprint Throughput                                             273208 non-null  object
 33  IP Ownership                                                     273208 non-null  object
 34  Calendar Date                                                    273208 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      273208 non-null  object
 36  City                                                             273208 non-null  object
 37  State                                                            273208 non-null  object
 38  Postal Code                                                      273208 non-null  object
 39  Churn                                                            273208 non-null  bool
 40  Service Category_Installation                                    273208 non-null  float64
 41  Service Category_Removal                                         273208 non-null  float64
 42  Service Category_Replacement                                     273208 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                273208 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       273208 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   273208 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      273208 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               273208 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  273208 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              273208 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              273208 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   273208 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            273208 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      273208 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  273208 non-null  float64
 55  serial                                                           273208 non-null  object
 56  quantity_x                                                       273208 non-null  int32
 57  one_month_avg                                                    273208 non-null  float64
 58  three_months_avg                                                 273208 non-null  float64
 59  six_months_avg                                                   273208 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            273208 non-null  float64
 61  3mth-6mth)/6mth_x                                                273208 non-null  float64
 62  Serial                                                           273208 non-null  object
 63  quantity_y                                                       273208 non-null  int32
 64  Sales_one_Month_avg                                              273208 non-null  float64
 65  Sales_three_months_avg                                           273208 non-null  float64
 66  Sales_six_months_avg                                             273208 non-null  float64
 67  KeyManufNo_SalesOrg                                              273208 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            273208 non-null  float64
 69  3mth-6mth)/6mth_y                                                273208 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(25), int32(6), object(37)
memory usage: 139.9+ MB

In [411]:
BeverageMachine7_wTickets_wTelemetry_wSales_df['EC ID'] = BeverageMachine7_wTickets_wTelemetry_wSales_df['EC ID'].astype('str')
Visitsdf_wVisits['Acc_ID'] = Visitsdf_wVisits['Acc_ID'].astype('str')

In [412]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_wSales_df, Visitsdf_wVisits, how='left', left_on = ['EC ID'], right_on = ['Acc_ID'])
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'] = pd.to_datetime(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'])
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'] = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'].fillna(dt.datetime(2000,1,1))
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df.fillna(0)

In [413]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 0 to 273207
Data columns (total 84 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        273208 non-null  object
 1   Sales Organisation                                               273208 non-null  object
 2   Machine Status Groupings                                         273208 non-null  object
 3   User Status                                                      273208 non-null  object
 4   TA Contract Installation Date                                    273208 non-null  int32
 5   Depreciation Start                                               273208 non-null  int32
 6   Manufacturer Number                                              273208 non-null  object
 7   Position                                                         273208 non-null  object
 8   TA Contract Start Date                                           273208 non-null  int32
 9   TA Contract End Date                                             273208 non-null  int32
 10  TA Usage Indicator                                               273208 non-null  object
 11  Account ID                                                       273208 non-null  object
 12  EC ID                                                            273208 non-null  object
 13  EC Name                                                          273208 non-null  object
 14  Account ABC Classification (Account ID)                          273208 non-null  object
 15  Industry (Account ID)                                            273208 non-null  object
 16  Industry Code 1 (Account ID)                                     273208 non-null  object
 17  Account ABC Classification (EC ID)                               273208 non-null  object
 18  Industry (EC ID)                                                 273208 non-null  object
 19  Industry Code 1 (EC ID)                                          273208 non-null  object
 20  Parent Installation Point ID                                     273208 non-null  object
 21  Registered Product Category (Registered Product ID)              273208 non-null  object
 22  Model                                                            273208 non-null  object
 23  Model Vendor                                                     273208 non-null  object
 24  Model Category                                                   273208 non-null  object
 25  Model Group                                                      273208 non-null  object
 26  Beverage Temperature                                             273208 non-null  object
 27  System Brands                                                    273208 non-null  object
 28  Ingredient Format                                                273208 non-null  object
 29  Machine Type                                                     273208 non-null  object
 30  Positionning                                                     273208 non-null  object
 31  Generation                                                       273208 non-null  object
 32  Blueprint Throughput                                             273208 non-null  object
 33  IP Ownership                                                     273208 non-null  object
 34  Calendar Date                                                    273208 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      273208 non-null  object
 36  City                                                             273208 non-null  object
 37  State                                                            273208 non-null  object
 38  Postal Code                                                      273208 non-null  object
 39  Churn                                                            273208 non-null  bool
 40  Service Category_Installation                                    273208 non-null  float64
 41  Service Category_Removal                                         273208 non-null  float64
 42  Service Category_Replacement                                     273208 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                273208 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       273208 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   273208 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      273208 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               273208 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  273208 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              273208 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              273208 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   273208 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            273208 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      273208 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  273208 non-null  float64
 55  serial                                                           273208 non-null  object
 56  quantity_x                                                       273208 non-null  int32
 57  one_month_avg                                                    273208 non-null  float64
 58  three_months_avg                                                 273208 non-null  float64
 59  six_months_avg                                                   273208 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            273208 non-null  float64
 61  3mth-6mth)/6mth_x                                                273208 non-null  float64
 62  Serial                                                           273208 non-null  object
 63  quantity_y                                                       273208 non-null  int32
 64  Sales_one_Month_avg                                              273208 non-null  float64
 65  Sales_three_months_avg                                           273208 non-null  float64
 66  Sales_six_months_avg                                             273208 non-null  float64
 67  KeyManufNo_SalesOrg                                              273208 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            273208 non-null  float64
 69  3mth-6mth)/6mth_y                                                273208 non-null  float64
 70  index                                                            273208 non-null  float64
 71  Acc_ID                                                           273208 non-null  object
 72  End Date in Local Time Zone                                      273208 non-null  datetime64[ns]
 73  Result_Incomplete Selling Call                                   273208 non-null  float64
 74  Result_Not assigned                                              273208 non-null  float64
 75  Result_Objective Met                                             273208 non-null  float64
 76  Result_Objective Partially Met                                   273208 non-null  float64
 77  Result_Requires Further Follow-up                                273208 non-null  float64
 78  Result_Unsuccessful Selling Call                                 273208 non-null  float64
 79  Activity Life Cycle Status_Canceled                              273208 non-null  float64
 80  Activity Life Cycle Status_In Process                            273208 non-null  float64
 81  Activity Life Cycle Status_Open                                  273208 non-null  float64
 82  Last_visit_diff_months                                           273208 non-null  float64
 83  #Visits completed                                                273208 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(37), int32(6), object(38)
memory usage: 169.1+ MB

In [414]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed
0,16O0039217,Nestlé PH,Deployed,Installed,0,42826,T335733,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1,ID25005,Indonesia,Deployed,Installed,0,43404,T397931,LOAN,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.135896,1.0
2,ID28308,Indonesia,Deployed,Installed,0,43799,T464957,LOAN,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
3,ID23492,Indonesia,Deployed,Installed,0,43281,T389703,LOAN,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4,24O0019809,Indonesia,Deployed,Installed,0,45505,4102051591,LOAN,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0

In [415]:
PhoneCallsdf_prep3 = PhoneCallsdf_prep3.reset_index()

In [416]:
PhoneCallsdf_prep3['Account Name'] = PhoneCallsdf_prep3['Account Name'].astype('str')

In [417]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df, PhoneCallsdf_prep3, how='left', left_on = ['EC ID'], right_on = ['Account Name'])
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 0 to 273207
Data columns (total 88 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        273208 non-null  object
 1   Sales Organisation                                               273208 non-null  object
 2   Machine Status Groupings                                         273208 non-null  object
 3   User Status                                                      273208 non-null  object
 4   TA Contract Installation Date                                    273208 non-null  int32
 5   Depreciation Start                                               273208 non-null  int32
 6   Manufacturer Number                                              273208 non-null  object
 7   Position                                                         273208 non-null  object
 8   TA Contract Start Date                                           273208 non-null  int32
 9   TA Contract End Date                                             273208 non-null  int32
 10  TA Usage Indicator                                               273208 non-null  object
 11  Account ID                                                       273208 non-null  object
 12  EC ID                                                            273208 non-null  object
 13  EC Name                                                          273208 non-null  object
 14  Account ABC Classification (Account ID)                          273208 non-null  object
 15  Industry (Account ID)                                            273208 non-null  object
 16  Industry Code 1 (Account ID)                                     273208 non-null  object
 17  Account ABC Classification (EC ID)                               273208 non-null  object
 18  Industry (EC ID)                                                 273208 non-null  object
 19  Industry Code 1 (EC ID)                                          273208 non-null  object
 20  Parent Installation Point ID                                     273208 non-null  object
 21  Registered Product Category (Registered Product ID)              273208 non-null  object
 22  Model                                                            273208 non-null  object
 23  Model Vendor                                                     273208 non-null  object
 24  Model Category                                                   273208 non-null  object
 25  Model Group                                                      273208 non-null  object
 26  Beverage Temperature                                             273208 non-null  object
 27  System Brands                                                    273208 non-null  object
 28  Ingredient Format                                                273208 non-null  object
 29  Machine Type                                                     273208 non-null  object
 30  Positionning                                                     273208 non-null  object
 31  Generation                                                       273208 non-null  object
 32  Blueprint Throughput                                             273208 non-null  object
 33  IP Ownership                                                     273208 non-null  object
 34  Calendar Date                                                    273208 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      273208 non-null  object
 36  City                                                             273208 non-null  object
 37  State                                                            273208 non-null  object
 38  Postal Code                                                      273208 non-null  object
 39  Churn                                                            273208 non-null  bool
 40  Service Category_Installation                                    273208 non-null  float64
 41  Service Category_Removal                                         273208 non-null  float64
 42  Service Category_Replacement                                     273208 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                273208 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       273208 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   273208 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      273208 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               273208 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  273208 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              273208 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              273208 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   273208 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            273208 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      273208 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  273208 non-null  float64
 55  serial                                                           273208 non-null  object
 56  quantity_x                                                       273208 non-null  int32
 57  one_month_avg                                                    273208 non-null  float64
 58  three_months_avg                                                 273208 non-null  float64
 59  six_months_avg                                                   273208 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            273208 non-null  float64
 61  3mth-6mth)/6mth_x                                                273208 non-null  float64
 62  Serial                                                           273208 non-null  object
 63  quantity_y                                                       273208 non-null  int32
 64  Sales_one_Month_avg                                              273208 non-null  float64
 65  Sales_three_months_avg                                           273208 non-null  float64
 66  Sales_six_months_avg                                             273208 non-null  float64
 67  KeyManufNo_SalesOrg                                              273208 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            273208 non-null  float64
 69  3mth-6mth)/6mth_y                                                273208 non-null  float64
 70  index                                                            273208 non-null  float64
 71  Acc_ID                                                           273208 non-null  object
 72  End Date in Local Time Zone_x                                    273208 non-null  datetime64[ns]
 73  Result_Incomplete Selling Call                                   273208 non-null  float64
 74  Result_Not assigned                                              273208 non-null  float64
 75  Result_Objective Met                                             273208 non-null  float64
 76  Result_Objective Partially Met                                   273208 non-null  float64
 77  Result_Requires Further Follow-up                                273208 non-null  float64
 78  Result_Unsuccessful Selling Call                                 273208 non-null  float64
 79  Activity Life Cycle Status_Canceled                              273208 non-null  float64
 80  Activity Life Cycle Status_In Process                            273208 non-null  float64
 81  Activity Life Cycle Status_Open                                  273208 non-null  float64
 82  Last_visit_diff_months                                           273208 non-null  float64
 83  #Visits completed                                                273208 non-null  float64
 84  Account Name                                                     16489 non-null   object
 85  End Date in Local Time Zone_y                                    16489 non-null   datetime64[ns]
 86  Last_call_diff_months                                            16489 non-null   float64
 87  #Calls Completed                                                 16489 non-null   float64
dtypes: bool(1), datetime64[ns](3), float64(39), int32(6), object(39)
memory usage: 177.4+ MB

In [418]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'] = pd.to_datetime(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'])

BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'] = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'].fillna(dt.datetime(2000,1,1))
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df.fillna(0)

In [419]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 0 to 273207
Data columns (total 88 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        273208 non-null  object
 1   Sales Organisation                                               273208 non-null  object
 2   Machine Status Groupings                                         273208 non-null  object
 3   User Status                                                      273208 non-null  object
 4   TA Contract Installation Date                                    273208 non-null  int32
 5   Depreciation Start                                               273208 non-null  int32
 6   Manufacturer Number                                              273208 non-null  object
 7   Position                                                         273208 non-null  object
 8   TA Contract Start Date                                           273208 non-null  int32
 9   TA Contract End Date                                             273208 non-null  int32
 10  TA Usage Indicator                                               273208 non-null  object
 11  Account ID                                                       273208 non-null  object
 12  EC ID                                                            273208 non-null  object
 13  EC Name                                                          273208 non-null  object
 14  Account ABC Classification (Account ID)                          273208 non-null  object
 15  Industry (Account ID)                                            273208 non-null  object
 16  Industry Code 1 (Account ID)                                     273208 non-null  object
 17  Account ABC Classification (EC ID)                               273208 non-null  object
 18  Industry (EC ID)                                                 273208 non-null  object
 19  Industry Code 1 (EC ID)                                          273208 non-null  object
 20  Parent Installation Point ID                                     273208 non-null  object
 21  Registered Product Category (Registered Product ID)              273208 non-null  object
 22  Model                                                            273208 non-null  object
 23  Model Vendor                                                     273208 non-null  object
 24  Model Category                                                   273208 non-null  object
 25  Model Group                                                      273208 non-null  object
 26  Beverage Temperature                                             273208 non-null  object
 27  System Brands                                                    273208 non-null  object
 28  Ingredient Format                                                273208 non-null  object
 29  Machine Type                                                     273208 non-null  object
 30  Positionning                                                     273208 non-null  object
 31  Generation                                                       273208 non-null  object
 32  Blueprint Throughput                                             273208 non-null  object
 33  IP Ownership                                                     273208 non-null  object
 34  Calendar Date                                                    273208 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      273208 non-null  object
 36  City                                                             273208 non-null  object
 37  State                                                            273208 non-null  object
 38  Postal Code                                                      273208 non-null  object
 39  Churn                                                            273208 non-null  bool
 40  Service Category_Installation                                    273208 non-null  float64
 41  Service Category_Removal                                         273208 non-null  float64
 42  Service Category_Replacement                                     273208 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                273208 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       273208 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   273208 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      273208 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               273208 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  273208 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              273208 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              273208 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   273208 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            273208 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      273208 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  273208 non-null  float64
 55  serial                                                           273208 non-null  object
 56  quantity_x                                                       273208 non-null  int32
 57  one_month_avg                                                    273208 non-null  float64
 58  three_months_avg                                                 273208 non-null  float64
 59  six_months_avg                                                   273208 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            273208 non-null  float64
 61  3mth-6mth)/6mth_x                                                273208 non-null  float64
 62  Serial                                                           273208 non-null  object
 63  quantity_y                                                       273208 non-null  int32
 64  Sales_one_Month_avg                                              273208 non-null  float64
 65  Sales_three_months_avg                                           273208 non-null  float64
 66  Sales_six_months_avg                                             273208 non-null  float64
 67  KeyManufNo_SalesOrg                                              273208 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            273208 non-null  float64
 69  3mth-6mth)/6mth_y                                                273208 non-null  float64
 70  index                                                            273208 non-null  float64
 71  Acc_ID                                                           273208 non-null  object
 72  End Date in Local Time Zone_x                                    273208 non-null  datetime64[ns]
 73  Result_Incomplete Selling Call                                   273208 non-null  float64
 74  Result_Not assigned                                              273208 non-null  float64
 75  Result_Objective Met                                             273208 non-null  float64
 76  Result_Objective Partially Met                                   273208 non-null  float64
 77  Result_Requires Further Follow-up                                273208 non-null  float64
 78  Result_Unsuccessful Selling Call                                 273208 non-null  float64
 79  Activity Life Cycle Status_Canceled                              273208 non-null  float64
 80  Activity Life Cycle Status_In Process                            273208 non-null  float64
 81  Activity Life Cycle Status_Open                                  273208 non-null  float64
 82  Last_visit_diff_months                                           273208 non-null  float64
 83  #Visits completed                                                273208 non-null  float64
 84  Account Name                                                     273208 non-null  object
 85  End Date in Local Time Zone_y                                    273208 non-null  datetime64[ns]
 86  Last_call_diff_months                                            273208 non-null  float64
 87  #Calls Completed                                                 273208 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(39), int32(6), object(39)
memory usage: 177.4+ MB

In [420]:
IncidentTicketdf_prep2['Serial ID'] = IncidentTicketdf_prep2['Serial ID'].astype('str')

In [421]:
IncidentTicketdf_prep2['Serial ID'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 79372 entries, 0 to 79371
Series name: Serial ID
Non-Null Count  Dtype
--------------  -----
79372 non-null  object
dtypes: object(1)
memory usage: 620.2+ KB

In [422]:
BeverageMachine_all_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df, IncidentTicketdf_prep2, how='left', left_on = ['Serial ID'], right_on = ['Serial ID'])
BeverageMachine_all_df['Completion Date_2'] = pd.to_datetime(BeverageMachine_all_df['Completion Date_2'])
BeverageMachine_all_df['Completion Date_2'] = BeverageMachine_all_df['Completion Date_2'].fillna(dt.datetime(2000,1,1))
BeverageMachine_all_df = BeverageMachine_all_df.fillna(0)

In [423]:
MktActions_prep3 = MktActions_prep3.reset_index()
MktActions_prep3

,Serial ID,Actions_ S1011 and S1011A,Actions_Churn risk reason unknown,Actions_Data corrected,Actions_Downgrade machine installed,Actions_Lack of data discipline,Actions_New contract,Actions_O039Q and O039L,Actions_Other,Actions_Out of order,...,Actions_Reviewed and no action Required,Actions_Reviewed and no actions required,Actions_S1011 and S1011A,Actions_Seasonal Machine,Actions_Telemetry installed,Actions_Upgrade machine installed,Actions_Visit completed,Actions_Visit/Call planned,Actions_removed,Actions_tagging update
0,24606,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1895151,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,10238090,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10238091,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,10238092,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,T348033,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1408,T348040,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1409,T348082,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1410,T392705,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1411,T487736,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [424]:
MktActions_prep3['Serial ID'] = MktActions_prep3['Serial ID'].astype('str')

In [425]:

BeverageMachine_all_df2 = pd.merge(BeverageMachine_all_df, MktActions_prep3, how='left', left_on = ['Serial ID'], right_on = ['Serial ID'])
#BeverageMachine_all_df['Completion Date_2'] = pd.to_datetime(BeverageMachine_all_df['Completion Date_2'])
#BeverageMachine_all_df['Completion Date_2'] = BeverageMachine_all_df['Completion Date_2'].fillna(dt.datetime(2000,1,1))
BeverageMachine_all_df2 = BeverageMachine_all_df2.fillna(0)

BeverageMachine_all_df = BeverageMachine_all_df2

UKService_prep2 = UKService_prep2.reset_index()

BeverageMachine_all_df2 = pd.merge(BeverageMachine_all_df, UKService_prep2, how='left', left_on = ['Key_ManufacturerID_SalesOrg'], right_on = ['Key_ManufacturerID_SalesOrg'])
BeverageMachine_all_df2['Month'] = pd.to_datetime(BeverageMachine_all_df2['Month'])
BeverageMachine_all_df2['Month'] = BeverageMachine_all_df2['Month'].fillna(dt.datetime(2000,1,1))
BeverageMachine_all_df2 = BeverageMachine_all_df2.fillna(0)

In [426]:
BeverageMachine_all_df = BeverageMachine_all_df2
a = BeverageMachine_all_df.iloc[:,100:]
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 0 to 273207
Data columns (total 51 columns):
 #   Column                                                      Non-Null Count   Dtype
---  ------                                                      --------------   -----
 0   Incident Category_17 Miscellaneous                          273208 non-null  float64
 1   Incident Category_18 N/A                                    273208 non-null  float64
 2   Incident Category_2.a Hydraulic Calibration                 273208 non-null  float64
 3   Incident Category_2.b Hydraulic Dispensing                  273208 non-null  float64
 4   Incident Category_2.c Hydraulic Leaking                     273208 non-null  float64
 5   Incident Category_2.d Hydraulic Heating                     273208 non-null  float64
 6   Incident Category_2.e Hydraulic Cooling/Freezing            273208 non-null  float64
 7   Incident Category_2.f Hydraulic Filling                     273208 non-null  float64
 8   Incident Category_2.g Hydraulic Other                       273208 non-null  float64
 9   Incident Category_3.a Door Display/Touchscreen              273208 non-null  float64
 10  Incident Category_3.b Door Menu buttons                     273208 non-null  float64
 11  Incident Category_3.c Door Detection                        273208 non-null  float64
 12  Incident Category_3.d Door Key/Key switch                   273208 non-null  float64
 13  Incident Category_3.e Door Other                            273208 non-null  float64
 14  Incident Category_4.a Reconst. Area In-cup quality/Recipes  273208 non-null  float64
 15  Incident Category_4.b Reconstitution Area Mixing system     273208 non-null  float64
 16  Incident Category_4.c Reconstitution Area Other             273208 non-null  float64
 17  Incident Category_5.a Disp. Area Manifold/Distribution      273208 non-null  float64
 18  Incident Category_5.b Dispensing Area Drip Tray             273208 non-null  float64
 19  Incident Category_5.c Dispensing Area Other                 273208 non-null  float64
 20  Incident Category_6 Electronics (PCBs)                      273208 non-null  float64
 21  Incident Category_7 Wire/Harness                            273208 non-null  float64
 22  Incident Category_8 Software/Firmware                       273208 non-null  float64
 23  Incident Category_9 Abnormal noise                          273208 non-null  float64
 24  COMPLETION_SLA_MET_False                                    273208 non-null  float64
 25  COMPLETION_SLA_MET_True                                     273208 non-null  float64
 26  Last_InTick_diff_months                                     273208 non-null  float64
 27  Actions_ S1011 and S1011A                                   273208 non-null  float64
 28  Actions_Churn risk reason unknown                           273208 non-null  float64
 29  Actions_Data corrected                                      273208 non-null  float64
 30  Actions_Downgrade machine installed                         273208 non-null  float64
 31  Actions_Lack of data discipline                             273208 non-null  float64
 32  Actions_New contract                                        273208 non-null  float64
 33  Actions_O039Q and O039L                                     273208 non-null  float64
 34  Actions_Other                                               273208 non-null  float64
 35  Actions_Out of order                                        273208 non-null  float64
 36  Actions_Phone Call completed                                273208 non-null  float64
 37  Actions_Plan for removal                                    273208 non-null  float64
 38  Actions_Removal Plan                                        273208 non-null  float64
 39  Actions_Removal planned                                     273208 non-null  float64
 40  Actions_Removed                                             273208 non-null  float64
 41  Actions_Reviewed and no action Required                     273208 non-null  float64
 42  Actions_Reviewed and no actions required                    273208 non-null  float64
 43  Actions_S1011 and S1011A                                    273208 non-null  float64
 44  Actions_Seasonal Machine                                    273208 non-null  float64
 45  Actions_Telemetry installed                                 273208 non-null  float64
 46  Actions_Upgrade machine installed                           273208 non-null  float64
 47  Actions_Visit completed                                     273208 non-null  float64
 48  Actions_Visit/Call planned                                  273208 non-null  float64
 49  Actions_removed                                             273208 non-null  float64
 50  Actions_tagging update                                      273208 non-null  float64
dtypes: float64(51)
memory usage: 108.4 MB

###TODO Remove when market have enough data

BeverageMachine_all_df2 = BeverageMachine_all_df.copy()

# Sales Organisation with more than one month of data
SO = ['Nestle Sweden',  'Nestlé Czech', 'Nestlé Denmark', 'Nestlé Finland', 'Nestlé Norway', 'Nestlé Slovak Republic']

#BeverageMachine_all_df3 =  pd.DataFrame([])

for i in SO:
    BeverageMachine_all_df2 = BeverageMachine_all_df2.loc[BeverageMachine_all_df2['Sales Organisation'] != i]
BeverageMachine_all_df2.head()
BeverageMachine_all_df = BeverageMachine_all_df2

# Specify the filename
filename = 'TelemetryColumnsList.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(TelemetryColumnsList, file)

#### Data summary

I now have four datasets :

"BeverageMachine7_df" 

    which is all the data of the beverage machines without ticket data

    This data will be our main data and it will be used to Train and test our models because we have data for all the machines

"BeverageMachine7_wTickets_df" 

    which is with the Ticket data and when there is no tickets for a machine we fill with 0
    
    As we only have around 2000 machines having tickets we will use it on the model that performed better with main data to see if it can bring better results with Telemetry data

"BeverageMachine7_wTicketsOnly_df" 

    which is only the data of the machines having Tickets
    
    Only useful for EDA

"BeverageMachine7_wTickets_wTelemetry_df"

    We will use it on the model that performed better with main data to see if it can bring better results than the Main data or the Main data with tickets. If it does not improve significantly the results we will not use it  because it takes a lot of time to get Telemetry data.
    Later, more machines will have Telemetry and a data lake will be created and it will br easier to get the data.

### Save the data<a class="anchor" id="save"></a>

I choose to save the data into a pickle file because it is a good way to transfer a pandas dataframe

##### BeverageMachine7_df

In [427]:
BeverageMachine_all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273208 entries, 0 to 273207
Columns: 151 entries, Serial ID to Actions_tagging update
dtypes: bool(1), datetime64[ns](4), float64(101), int32(6), object(39)
memory usage: 308.8+ MB

In [428]:
BeverageMachine_all_df.iloc[0:10, 68:90]

,(lst_mth-6mth)/6mth_y,3mth-6mth)/6mth_y,index,Acc_ID,End Date in Local Time Zone_x,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,...,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed,Account Name,End Date in Local Time Zone_y,Last_call_diff_months,#Calls Completed,Completion Date_2,Incident Category_1.a Ingredient Calibration
0,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0
1,0.0,0.0,80053.0,6900020,2023-03-28,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,18.135896,1.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0
2,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2022-06-13,0.0
3,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2022-08-08,0.0
4,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0
5,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2024-09-09,0.0
6,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0
7,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2023-04-13,0.0
8,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2024-09-29,0.0
9,0.0,0.0,44514.0,4431122,2024-02-19,0.0,12.0,0.0,0.0,0.0,...,0.0,0.0,7.359494,12.0,0,2000-01-01,0.0,0.0,2024-10-15,0.0

In [429]:
# Specify the filename
filename = 'BM_noTickets.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_df, file)

In [430]:
# Specify the filename
filename = 'BM_noTickets.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Load the pickle file
with open(file_path_with_filename, 'rb') as file:
    BM_noTickets = pickle.load(file)

Quick test to see if I am able to reopen the data in another Notebook

##### BeverageMachine7_wTickets_df

In [431]:
# Specify the filename
filename = 'BM_wTickets.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_wTickets_df, file)

##### BeverageMachine7_wTicketsOnly_df

In [432]:
# Specify the filename
filename = 'BM_wTicketsOnly.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_wTicketsOnly_df, file)

##### BeverageMachine7_wTickets_wTelemetry_df

In [433]:
# Specify the filename
filename = 'BeverageMachine7_wTickets_wTelemetry_df.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_wTickets_wTelemetry_df, file)

##### Other dataframe needed for the second preparation step later

In [434]:
# Specify the filename
filename = 'IncidentTicketdf.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(IncidentTicketdf_prep2, file)

In [435]:
# Specify the filename
filename = 'TelemetryAggregated_df.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(Telemetry_aggSales, file)

#### All data with placements, telemetry, visits, phone calls, Incidents tickets

In [436]:
# Specify the filename
filename = 'BeverageMachine_all_df2.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine_all_df, file)

In [437]:
BeverageMachine_all_df.to_csv(r'C:\Users\msalomo\predictions-BevData.csv', index = False, header=True)