# Capstone Project by Mirko Salomon 

# BEVERAGE MACHINE CHURN PREDICTION

* ## [1) The problem](#TheProblem)

    * #### Goal
    
* ## [2) The Data](#TheData)
    * ### [(a) Clear overview of your data](#DataOverview)
    
        ##### Beverage Machine data

        ##### Beverage Mapping data

        ##### Beverage Classification data
    
        ##### Placement Tickets data

        ##### Telemetry data

    * ### [(b) Plan to manage and process the data](#ManageData)
    
        ##### Beverage Machine data features and the Beverage Classification data features

        ##### Placement Tickets data features
        
        ##### Telemetry data features

        ##### Missing data
        
        ##### Preparation of the data in order to execute some EDA

* ## [3) Preparation of the data](#prep)         
    * ### [(a) Details of preparation](#det)
    
        #### Beverage Machine data preparation

        #### Placement Tickets data preparation

        #### Telemetry data preparation

        #### Data summary
        
    * ### [(b) Save the data](#save)

## 1) The problem <a class="anchor" id="TheProblem"></a>

The main business is a full service for beverage machine including :

    beverage machines placed at a customer’s place (rented or loaned), 
    
    the beverage ingredients (coffee beans, soluble coffee, juice, etc.) delivered to the customers 
    
    and the management of any issue and repair.

A little bit like the printers in companies where a printing machine is placed and the ink and the issues are also managed by the same company.

We have high churn rate of the beverage machine rented/loaned in our business and the goal is to reduce the churn rate by predicting which customer is more likely to churn and try to retain these customers.

The goal is to use Machine Learning in order to predict which machine is at risk of churn by calculating a churn likelihood.

The 'churned' machines are the machines that are definitively removed from their installation point thus resulting in a lower number of machines deployed dispensing beverage cups.

A churned machine generates a one-time cost for removal and replacement and a variable cost for depreciation and storage whilst a new location is found.

The Installation Point is referring to a customer's point where the machine is installed. A customer can have one or several Installation Point. A machine can be replaced by a new Machine on the same Installation Point. The Idea is to look when we lose an Installation Point, meaning that a machine distributing beverage cups has churned.

A Machine can be replaced on an Installation Point and it means we have kept the customer, so that is why we focus on the Installation Point rather than the Machine's Serial ID.

Two proposals could be used:

    Proposal 1 : We keep all the Installation Point data available and we do not aggregate the monthly data of the machines
    
    Proposal 2 : We aggregate the data of the same Installation Point over several month.
    
Example Proposal 1:

    InstPoint     Month of snapshot     ID       Churn      Age in Month      
    Inst.   1     Jan                   1        No         20
    Inst.   2     Jan                   2        No         48
    Inst.   3     Jan                   3        No         69
    Inst.   4     Jan                   4        Yes        45
    
    Inst.   1     Feb                   5        No         21
    Inst.   2     Feb                   6        No         49
    Inst.   3     Feb                   7        Yes        70
    Inst.   5     Feb                   8        No         25
    
    Inst.   1     Mar                   9        No         22
    Inst.   2     Mar                   10       No         50
    Inst.   5     Mar                   11       No         26
    Inst.   6     Mar                   12       No         30
    Inst.   7     Mar                   13       No         42
    Inst.   8     Mar                   14       No         7
    
    
Example Proposal 2:

    Inst.   #     Latest month snap     ID       Churn      Age in Month       data available since (month)     
    Inst.   1     Mar                   1        No         22                 3
    Inst.   2     Mar                   2        No         50                 3
    Inst.   3     Feb                   3        Yes        70                 1
    Inst.   4     Jan                   4        Yes        45                 2
    Inst.   5     Mar                   5        No         26                 2
    Inst.   6     Mar                   6        No         30                 1
    Inst.   7     Mar                   7        No         42                 1
    Inst.   8     Mar                   8        No         7                  1

I am currently missing all the Installation Point before January who have churned, therefore, the data is only having the current Park of Installation Point, only having the survivors, so I need to be careful of the Survivorship bias.

In order to make a Time Series problem it would be better to have more data.

I can have data from one Sales Organisation available in January and for another Sales Organisation in March.

The idea behind the first proposal was to predict a monthly churn rate, the monthly churn rate is the number of churn over the total. However with 10 month of data it is not the best solution.

With the second solution I will predict based on features if the machine has churned or not. The advantage of the second solution is that we can work without the time dimension and focus only on the features to make a prediction if the machine has churned or not.

### a) Goal <a class="anchor" id="Goal"></a>

By giving the customer's installation point with the highest churn likelihood to the managers, they can take action in order to retain more customer's installation point.

This will help to retain more customer's installation points and increase the company's deployed beverage machine park.

Also, less churn implies higher efficiency per machine (less time in the deposit) and lower cost for installation removal.

### TO DO LIST
Add Sales Org ID to vendon data and to Incident tickets and with a mapping create a key Serial-SalesOrg to link to the main data
Add acquisition cost and book value from ERP?

## 2) The data <a class="anchor" id="TheData"></a>

### (a) Clear overview of your data  <a class="anchor" id="DataOverview"></a>

pip install matplotlib

In [264]:
import pandas as pd
import os
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

import datetime as dt
from datetime import datetime

import pickle
#Install brokenaxes
#!pip install brokenaxes

from config import (
    BeverageMachine22_df,
    BeverageMachine23_df,
    BeverageMachine24_df,
    BevMap_df,
    BeverageClassification_df,
    Placement_df,
    np_churn_consumption2,
    np_churn_consumption,
    Visitsdf,
    PhoneCallsdf,
    IncidentTicketdf,
    PakistanSales,
    MalaysiaSales,
    RussiaSalesData,
    SouthAfricaSales,
    SingaporeSales,
    MktActions,
    IndiaSales
)

# Specify the file path
file_path_output = r'C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Notebook output'

# Date when the data was extracted
ChurnDate2=datetime(2023,7,31)

# The range from when I want to have the details about Telemetry data
TelemetryDateRangeStart = '2020-01-01'

In [265]:
# Date when the data was extracted
import calendar

#Algorithm that gives the last day of the past month as Churn Date
CurrentDate = datetime.today()

shift_year = 0
shift_month = 1

if (CurrentDate.month == 1):
    shift_year = 1
    shift_month = -11

new_date = calendar.monthrange(CurrentDate.year - shift_year,CurrentDate.month - shift_month)
ChurnDate2 = datetime(CurrentDate.year - shift_year,CurrentDate.month - shift_month,new_date[1])

print(ChurnDate2)

2024-06-30 00:00:00

In [266]:
####Whe is the last time we had telemetry data
# Should be the same as Churn Date2

#TelemetryDate = ChurnDate2
#TelemetryDate = datetime(2020,8,31)

#PakistanLastUpdate = datetime(2021,5,31)
#PakistanDateRangeStart = datetime(2020,7,31)

#VendonDateRangeStart = TelemetryDate
#VendonLastUpdate = datetime(2021,9,30)

The data has been anonymized

#### Below is a list of my datasets:

#### 1.	Beverage Machine data
    - The Beverage machine data is maintained by the Service manager of each Sales Organisation (usually a Sales Organisation corresponds to a country) and I can create a report to extract the data in excel from a database maintained by an external provider.
    - The database only keeps the latest state of the machine, therefore, I take a monthly snapshot of the data to capture the changes. 
    - This data provides details about the Beverage Machines park situation.
    - More and more Sales Organisations are going to be managed by this system, so the number of machines managed is increasing.

#### 2.	Beverage Mapping data
    - Beverage Mapping data is maintained in an Excel file by a colleague, I ask him to upload this mapping whenever I find new machines in the consolidated Beverage Machine data.
    - The goal of the file is to link the Beverage machine data to the Beverage Classification data.

#### 3.	Beverage Classification data
    - Beverage Classification data is maintained in a SharePoint file by a colleague.
    - This file is to get more technical details and features of the Beverage Machines.
    
#### 4.	Placement Tickets data
    - The Placement Tickets data is maintained by the Service manager of each Sales org and I can create a report to extract the data in excel from a database maintained by an external provider.
    - This data provides details of the placements and some incidents tickets of the Beverage Machines.
    - Sometimes the tickets are not done by the Service manager and some market does not fill this data inside the database, so only a minority of machines have this data.

#### 5.	Telemetry data
    - A new project has been launched not very long ago and some machine are equipped with telemetry data.
    - This data is stored by the telemetry provider and I asked an external colleague managing the relationship with the telemetry provider to share with me the data he could get from his requests.
    - Very few machines are equipped with telemetry data.
    - The number of machines connected with Telemetry is going to increase in the future.
    - This is not the definitive data, I have asked my colleague, but he could not provide me the final data this month, a data lake is being built in order to access the data more easily in the future


#### 6.	Visits data

#### 7. Phone Calls data

#### 8. Repair tickets data

### Beverage Machine data
Below you can find an extract of the Beverage Machine data which contains the details of the Beverage Machines

No need to use 2021 data so I turned it to Markdown

BeverageMachine_df = pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload.csv")
BeverageMachine_df.head()

#### Additionnal beverage data

In [267]:
###From 2022 onwards
#BeverageMachine22_df = pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload22.csv")

BeverageMachine22_df = pd.read_csv(BeverageMachine22_df)
BeverageMachine22_df.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\2688253730.py:4: DtypeWarning: Columns (2,8,9,11,19,20,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  BeverageMachine22_df = pd.read_csv(BeverageMachine22_df)

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry (Account ID),Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date
0,0,Kuwait General Operational Manager,43985,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,0,184658239,...,0801 Nestle Companies,080107 Nestle Middle East,08 Export,0801 Nestle Companies,080107 Nestle Middle East,980519,Trade Asset w/ Fixed Asset,KW10,90068903,2022-01-31
1,1,Kuwait General Operational Manager,43985,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Idle,To be Assigned,0,184658259,...,0102 Hypermarket,010299 Not classified,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,KW10,90068903,2022-01-31
2,2,Kuwait General Operational Manager,43985,NESCAFE ALEGRIA FTP30 v1.0 BM,100023190,ALEGRIA,Deployed,Installed,0,195061606,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1015364,Trade Asset w/ Fixed Asset,KW10,90073039,2022-01-31
3,3,Kuwait General Operational Manager,43985,NESCAFE ALEGRIA FTP30 v1.0 BM,100023190,ALEGRIA,Deployed,Installed,44013,195061605,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,Not assigned,666056,Trade Asset w/ Fixed Asset,KW10,90073039,2022-01-31
4,4,Kuwait General Operational Manager,43985,EZ Care Mini-Duo BM,100023377,OTHERS-R/L/N,Deployed,Installed,39295,T070572,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0601 Full Service Rest's,Not assigned,667092,Trade Asset w/ Fixed Asset,KW10,90045690,2022-01-31

In [268]:
BeverageMachine22_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3425600 entries, 0 to 3425599
Data columns (total 37 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
dtypes: int64(3), object(34)
memory usage: 967.0+ MB

Not needed anymore
### 2020 data
Bev_add2 = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload23.csv")
Bev_add2.head()

In [269]:
##2023 data

#BeverageMachine23_df =  pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload23.csv")
BeverageMachine23_df =  pd.read_csv(BeverageMachine23_df)
BeverageMachine23_df.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\1355821232.py:4: DtypeWarning: Columns (2,8,9,11,14,16,17,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  BeverageMachine23_df =  pd.read_csv(BeverageMachine23_df)

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry (Account ID),Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date
0,0,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42430,16E0009895,...,1101 Exclusive,110101 Distribution Center,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
1,1,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42522,16E0014757,...,0618 Distributors OOH,061802 Non Exclusive,06 Out of Home,0203 Petrol Station,020399 Not classified,1046515,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
2,2,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42614,16E0021271,...,0618 Distributors OOH,061802 Non Exclusive,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
3,3,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42705,16E0021245,...,1101 Exclusive,110101 Distribution Center,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
4,4,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42736,16E0021249,...,1101 Exclusive,110101 Distribution Center,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31

In [270]:
##2024 data
#BeverageMachine24_df =  pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload24.csv")
BeverageMachine24_df =  pd.read_csv(BeverageMachine24_df)
BeverageMachine24_df.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\319131405.py:3: DtypeWarning: Columns (2,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  BeverageMachine24_df =  pd.read_csv(BeverageMachine24_df)

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry (Account ID),Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date
0,0,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544849,...,0614 Convenience OOH,061406 PMO:Petrol Stations,06 Out of Home,0614 Convenience OOH,061406 PMO:Petrol Stations,1498958,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
1,1,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544851,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-8930,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
2,2,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544855,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9059,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
3,3,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43282.0,182026936,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9146,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
4,4,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43313.0,182026920,...,0605 Business/Industry,060503 Remote Site Company,06 Out of Home,0605 Business/Industry,060503 Remote Site Company,IP-9006,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31

In [271]:
BeverageMachine_df = pd.concat([BeverageMachine24_df, BeverageMachine22_df], ignore_index=True) 
BeverageMachine_df = pd.concat([BeverageMachine_df, BeverageMachine23_df], ignore_index=True) 

#BeverageMachine_df = BeverageMachine24_df.append(BeverageMachine22_df)
#BeverageMachine_df = BeverageMachine_df.append(BeverageMachine23_df)
BeverageMachine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8582683 entries, 0 to 8582682
Data columns (total 37 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
dtypes: int64(3), object(34)
memory usage: 2.4+ GB

Manufacturer Serial number can be the same for two different machine in different countries let's create a key Key_ManufacturerID_SalesOrg

Key_ManufacturerID_SalesOrg will be used for merging local sales data from market with the main data

import pandas as pd

# Create a new column 'Key_ManufacturerID_SalesOrg' with initial values from 'Manufacturer Number' and 'Sales Organisation'
BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Manufacturer Number'].astype(str) + BeverageMachine_df['Sales Organisation']



# Conditionally update 'Key_ManufacturerID_SalesOrg' column if it is a specific Sales Organisation
specific_market = 'Nestlé Russia'  # Replace with the name of your specific market
# for Russia use Account ID instead of Manufacturer Number
BeverageMachine_df.loc[BeverageMachine_df['Sales Organisation'] == specific_market, 'Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Account ID'].astype(str) + BeverageMachine_df['Sales Organisation']

In [272]:
# Create a new column 'Key_ManufacturerID_SalesOrg' with initial values from 'Manufacturer Number' and 'Sales Organisation'
BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Manufacturer Number'].astype(str) + BeverageMachine_df['Sales Organisation']

#Account ID should be of type "String"
BeverageMachine_df['Account ID'] = BeverageMachine_df['Account ID'].astype(str)
BeverageMachine_df['Serial ID'] = BeverageMachine_df['Serial ID'].astype(str)

# Conditionally update 'Key_ManufacturerID_SalesOrg' column if it is a specific market
specific_market = 'Nestle South Africa'

specific_market2 = 'Nestlé India' 


BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df.apply(
    lambda row: str(row['Serial ID']) + row['Sales Organisation'] if row['Sales Organisation'] == specific_market2 else (
        row['Account ID'] + row['Sales Organisation'] if row['Sales Organisation'] == specific_market else row['Key_ManufacturerID_SalesOrg']
    ), axis=1
)

# Update 'Key_ManufacturerID_SalesOrg' column based on specific markets
BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df.apply(
    lambda row: row['Account ID'] + row['Sales Organisation'] if row['Sales Organisation'] == specific_market else (
        str(row['Serial ID']) + row['Sales Organisation'] if row['Sales Organisation'] == specific_market2 else row['Key_ManufacturerID_SalesOrg']
    ), axis=1
)

BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Manufacturer Number'].astype(str) +  BeverageMachine_df['Sales Organisation']

In [273]:
a= BeverageMachine_df.loc[BeverageMachine_df['Serial ID']=='10050079']
print(a[['Serial ID', 'Key_ManufacturerID_SalesOrg']])

        Serial ID Key_ManufacturerID_SalesOrg
243599   10050079        10050079Nestlé India
436752   10050079        10050079Nestlé India
752975   10050079        10050079Nestlé India
1069137  10050079        10050079Nestlé India
1467879  10050079        10050079Nestlé India
1772380  10050079        10050079Nestlé India
2076288  10050079        10050079Nestlé India
2400572  10050079        10050079Nestlé India
2676904  10050079        10050079Nestlé India
2754961  10050079        10050079Nestlé India
3068479  10050079        10050079Nestlé India
3416917  10050079        10050079Nestlé India
3637426  10050079        10050079Nestlé India
3992058  10050079        10050079Nestlé India
4325603  10050079        10050079Nestlé India
4619865  10050079        10050079Nestlé India
4917147  10050079        10050079Nestlé India
5215309  10050079        10050079Nestlé India
5516936  10050079        10050079Nestlé India
5893378  10050079        10050079Nestlé India
6089194  10050079        10050079Nestlé India
6408972  10050079        10050079Nestlé India
6631083  10050079        10050079Nestlé India
6905220  10050079        10050079Nestlé India
7347719  10050079        10050079Nestlé India
7498268  10050079        10050079Nestlé India
7801190  10050079        10050079Nestlé India
8168244  10050079        10050079Nestlé India
8476914  10050079        10050079Nestlé India

Serial Id should be a string had issue with mix type for same serial ID

In [274]:
BeverageMachine_df['Serial ID'] = BeverageMachine_df['Serial ID'].astype('str')

BeverageMachine_df['Parent Installation Point ID'] = BeverageMachine_df['Parent Installation Point ID'].astype('str')

In [275]:
BeverageMachine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8582683 entries, 0 to 8582682
Data columns (total 38 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
 37  Key_ManufacturerID_SalesOrg                          object
dtypes: int64(3), object(35)
memory usage: 2.4+ GB

In [276]:
BeverageMachine_df = BeverageMachine_df.query("`Product [Machine Model]` != 'Vendon Telemetry Device – vBox BM'")

In [277]:
BeverageMachine_df['Sales Organisation'].unique()

array(['Nestlé UAE', 'NP Bosnia & Herzegovina', 'Néstlé Bahrain',
       'NESTLE PROD SERV - CN19', 'SHL NESTLE PROD SERV',
       'Nestlé Denmark', 'Nestlé Finland', 'Nestle Hong Kong',
       'Indonesia', 'JP Japan Sales',
       'Kuwait General Operational Manager', 'NP North Macedonia',
       'Malaysia', 'Nestle New Zealand', 'Nestlé PH', 'Nestlé Qatar',
       'Nestlé Russia', 'Nestlé Slovak Republic', 'Nestle Turkiye Gida',
       'Nestle South Africa', 'Singapore', 'Nestle Australia Ltd',
       'NP-Bulgaria', 'NESTLE PROD SERV - CN17',
       'NESTLE PROD SERV - CN20', 'Nestlé Czech', 'Nestle UK',
       'NP Croatia, Slovenia', 'Nestlé India', 'Néstlé Jordania',
       'Nestle Kenya Ltd', 'Néstlé Lebanon', 'Nestle Prd Mauritius Ltd',
       'NP-Netherlands', 'Nestlé Norway',
       'Oman - Business Manager UAE & Oman', 'Pakistan',
       'NP Serbia, Kosovo, Montenegro', 'Néstlé Saudi Arabia',
       'Nestle Sweden', 'Thailand', 'Nestlé Taiwan', 'NP-Belgilux',
       'NP-France', 'NP Croatia, Slovenia-HR11', 'Nestlé Italy IT35 OOH',
       'Nestle Ireland', 'Nestle Romania S.R.L', 'Nestle Poland',
       'Baltics Sales Organization', nan, 'Poland Sales Organization'],
      dtype=object)

Removed some markets from analysis

In [278]:
BeverageMachine_df2 = BeverageMachine_df.copy()
BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NESTLE PROD SERV - CN17']
BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NESTLE PROD SERV - CN19']
BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NESTLE PROD SERV - CN20']
#BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='SHL NESTLE PROD SERV']
#BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='Nestlé Taiwan']
#BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NP-Netherlands']


#BeverageMachine_df2 = BeverageMachine_df2.drop(BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']=='Nestlé India'].index, inplace=True)
#BeverageMachine_df2 = BeverageMachine_df2.drop(BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']=='NESTLE PROD SERV - CN17'].index, inplace=True)
BeverageMachine_df2.head()

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date,Key_ManufacturerID_SalesOrg
0,0,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544849,...,061406 PMO:Petrol Stations,06 Out of Home,0614 Convenience OOH,061406 PMO:Petrol Stations,1498958,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20174544849Nestlé UAE
1,1,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544851,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-8930,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20174544851Nestlé UAE
2,2,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544855,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9059,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20174544855Nestlé UAE
3,3,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43282.0,182026936,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9146,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20182026936Nestlé UAE
4,4,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43313.0,182026920,...,060503 Remote Site Company,06 Out of Home,0605 Business/Industry,060503 Remote Site Company,IP-9006,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20182026920Nestlé UAE

In [279]:
BeverageMachine_df2['Sales Organisation'].unique()

array(['Nestlé UAE', 'NP Bosnia & Herzegovina', 'Néstlé Bahrain',
       'SHL NESTLE PROD SERV', 'Nestlé Denmark', 'Nestlé Finland',
       'Nestle Hong Kong', 'Indonesia', 'JP Japan Sales',
       'Kuwait General Operational Manager', 'NP North Macedonia',
       'Malaysia', 'Nestle New Zealand', 'Nestlé PH', 'Nestlé Qatar',
       'Nestlé Russia', 'Nestlé Slovak Republic', 'Nestle Turkiye Gida',
       'Nestle South Africa', 'Singapore', 'Nestle Australia Ltd',
       'NP-Bulgaria', 'Nestlé Czech', 'Nestle UK', 'NP Croatia, Slovenia',
       'Nestlé India', 'Néstlé Jordania', 'Nestle Kenya Ltd',
       'Néstlé Lebanon', 'Nestle Prd Mauritius Ltd', 'NP-Netherlands',
       'Nestlé Norway', 'Oman - Business Manager UAE & Oman', 'Pakistan',
       'NP Serbia, Kosovo, Montenegro', 'Néstlé Saudi Arabia',
       'Nestle Sweden', 'Thailand', 'Nestlé Taiwan', 'NP-Belgilux',
       'NP-France', 'NP Croatia, Slovenia-HR11', 'Nestlé Italy IT35 OOH',
       'Nestle Ireland', 'Nestle Romania S.R.L', 'Nestle Poland',
       'Baltics Sales Organization', nan, 'Poland Sales Organization'],
      dtype=object)

In [280]:
BeverageMachine_df = BeverageMachine_df2

In [281]:
BeverageMachine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7317359 entries, 0 to 8582682
Data columns (total 38 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
 37  Key_ManufacturerID_SalesOrg                          object
dtypes: int64(3), object(35)
memory usage: 2.1+ GB

### Beverage Mapping data

In [282]:
# (A) Load the Beverage Mapping data
#BevMap_df = pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\SBU-11 NESTLE PRO. Translation.csv")
BevMap_df = pd.read_csv(BevMap_df)

BevMap_df['ID Model Code']=BevMap_df['ID Model Code'].astype(str)
BevMap_df.head()

,Brand Name,Description,ID Model Code,Source,Model,Revised,Modified,Modified By
0,Accolade,Accolade 12oz,ACC-FPD-12z,BMB,N&W Astro Accolade,Yes,6/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
1,Accolade,Accolade 9oz,ACC-FPD- 9z,BMB,N&W Astro Accolade,Yes,6/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
2,ALEGRIA,Chest Freezer NP PK BM,100069870,C4C,Accessories,Yes,6/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
3,ALEGRIA,Chiller SAX 250 NP BM PK,100069872,C4C,Others,Yes,6/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
4,ALEGRIA,Chiller SAX 400 NP BM PK,100069869,C4C,Others,Yes,6/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"

In [283]:
BevMap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2574 entries, 0 to 2573
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand Name     2574 non-null   object
 1   Description    2574 non-null   object
 2   ID Model Code  2574 non-null   object
 3   Source         2574 non-null   object
 4   Model          2574 non-null   object
 5   Revised        2574 non-null   object
 6   Modified       2574 non-null   object
 7   Modified By    2574 non-null   object
dtypes: object(8)
memory usage: 161.0+ KB

### Beverage Classification data

In [284]:
# (A) Load the Beverage Classification data
BeverageClassification_df = pd.read_csv(BeverageClassification_df)

BeverageClassification_df.head()

,Model,Model Vendor,Model Category,Global Projects,System Brands,Solution Brands,Model Group,Generation,Product,Ingredient Format,...,PSL,TAA & TAR Ownership,TAA & TAR,SC & Planning,Production,IM,Sustainability LCA Ownership,Sustainability LCA,Vendon Compatible,Technical Capacity
0,4Swiss Roma A10 PRO,Others,Mainstream B2C,%23-N/A,Branded others,Branded Others,Other,Legacy,Pure R&G,Pure R&G,...,Validated,Market,Not Done,Market,Discontinued,Market,Market,Not Done,NaN,20
1,Accessories,Generic,Other,%23-N/A,Branded others,Non-Branded,Other,Legacy,%23-Unknown,Other,...,Validated,Market,Not Done,Market,Discontinued,Market,Market,Not Done,NaN,0
2,Alegria V-Café 140,Crem,Hot Liquid,Alegria,Nescafé Alegria,Nescafé Alegria,NA Legacy,Gen. 1,Hot Liquid,Liquid,...,Mandatory,Region,Not Done,Region,Active,Region,Region,Not Done,NaN,0
3,Alegria V-Café 2120,Crem,Hot Liquid,Alegria,Nescafé Alegria,Nescafé Alegria,NA Legacy,Gen. 1,Hot Liquid,Liquid,...,Mandatory,Region,Not Done,Region,Active,Region,Region,Not Done,NaN,0
4,Alegria V-Café 4500,NP Beverages,Hot Liquid,Alegria,Nescafé Alegria,Nescafé Alegria,NA Legacy,Gen. 1,Hot Liquid,Liquid,...,Validated,Market,Not Done,Market,Discontinued,Market,Market,Not Done,NaN,0

In [285]:
BeverageClassification_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Model                         580 non-null    object
 1   Model Vendor                  581 non-null    object
 2   Model Category                581 non-null    object
 3   Global Projects               581 non-null    object
 4   System Brands                 581 non-null    object
 5   Solution Brands               581 non-null    object
 6   Model Group                   581 non-null    object
 7   Generation                    581 non-null    object
 8   Product                       581 non-null    object
 9   Ingredient Format             581 non-null    object
 10  Model Category 2              581 non-null    object
 11  Machine Type                  581 non-null    object
 12  Beverage Temperature          581 non-null    object
 13  Positionning                  581 non-null    object
 14  Blueprint Throughput          581 non-null    object
 15  G/R/M PML                     581 non-null    object
 16  IP Ownership                  581 non-null    object
 17  Price List                    581 non-null    object
 18  PSL                           581 non-null    object
 19  TAA & TAR Ownership           581 non-null    object
 20  TAA & TAR                     581 non-null    object
 21  SC & Planning                 581 non-null    object
 22  Production                    581 non-null    object
 23  IM                            581 non-null    object
 24  Sustainability LCA Ownership  581 non-null    object
 25  Sustainability LCA            581 non-null    object
 26  Vendon Compatible             272 non-null    object
 27  Technical Capacity            581 non-null    int64
dtypes: int64(1), object(27)
memory usage: 127.2+ KB

### Placement Tickets data

In [286]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\miniconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\miniconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [287]:
# Load the Placement Tickets data
#Placement_df = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Net Placements.xlsx")
#Placement_df.tail()

In [288]:
#Placement_df.info()

In [289]:
# Read the Excel file into a pandas DataFrame and filter columns
file_path = Placement_df
selected_columns = ['Serial ID', 'Service Category', 'INCIDENT_CATEGORY_DESCRIPTION']
Placement_df = pd.read_excel(file_path, usecols=selected_columns)
# Perform operations on the selected DataFrame as needed
print(Placement_df)

       Service Category INCIDENT_CATEGORY_DESCRIPTION Serial ID
0               Removal                Low throughput  10047122
1               Removal                Low throughput  10033315
2               Removal                Low throughput  10050079
3               Removal                Low throughput  10033718
4               Removal                Low throughput  10044185
...                 ...                           ...       ...
327569          Removal               End of contract  12001061
327570          Removal               End of contract  11000556
327571          Removal               End of contract  12000394
327572          Removal               End of contract  14000458
327573          Removal               End of contract  16000118

[327574 rows x 3 columns]

### Telemetry data

Get data from URL for Telemetry Data Lake

In [290]:
url = "https://queryenginelandingprod.blob.core.windows.net/shared/np/churn/np_churn_historical_consumption_by_product_group.csv?sp=r&st=2023-04-10T06:40:59Z&se=2050-04-10T14:40:59Z&spr=https&sv=2021-12-02&sr=b&sig=d%2Fn5C%2FWWksWDI%2FiiZEqwz5mOaw2jAqkW9DHUOSz6R7Q%3D"
np_churn_consumption2 =pd.read_csv(url)
np_churn_consumption2

,date,serial,sap_serial,quantity,salesorg,machine_id,product_group
0,2021-07-31,143145,90074584,100,Turkey,1196,CAFE LATTE
1,2021-07-31,NaN,994374,1471,Turkey,2128,CAFE LATTE
2,2021-07-31,91259,994007,480,Turkey,4186,CAFE LATTE
3,2021-07-31,147770,90074584,119,Turkey,5313,CAFE LATTE
4,2021-07-31,NaN,NaN,417,Turkey,75,CAFE LATTE
...,...,...,...,...,...,...,...
3749309,2024-03-31,20183043800,NaN,1,Russia,1168806,Unknown
3749310,2024-03-31,20180912114,NaN,1,Russia,1169429,MOCHA
3749311,2024-03-31,20182838874,NaN,2,Russia,1172820,CAFE LATTE
3749312,2024-03-31,20173234278,NaN,1,Russia,1170793,CHOCOLATE
3749313,2024-03-31,20214731967,NaN,1,Russia,2369301,CHOCOLATE

In [291]:
#url= "https://queryenginelandingstag.blob.core.windows.net/shared/np/churn/np_churn_historical_consumption.csv?sp=r&st=2022-09-02T07:17:17Z&se=2050-09-02T15:17:17Z&spr=https&sv=2021-06-08&sr=b&sig=hiIpKctZ%2BlxXwR9E%2BVReK1TnsQqZrcayCYu%2BZaCynlw%3D"
url = "https://queryenginelandingprod.blob.core.windows.net/shared/np/churn/np_churn_historical_consumption.csv?sp=r&st=2022-11-29T12:22:43Z&se=2050-11-29T20:22:43Z&spr=https&sv=2021-06-08&sr=b&sig=JZE599UA3foRsJ6ZbOHW6M0nWexxLc3JCB49gJ%2B2faU%3D"
np_churn_consumption =pd.read_csv(url)
np_churn_consumption

              date         serial  sap_serial  quantity salesorg  machine_id
0       2021-07-31            NaN      994374      4041   Turkey        2128
1       2021-07-31            NaN      994229      1610   Turkey        3456
2       2021-07-31            NaN      994334      1845   Turkey         505
3       2021-07-31            NaN      994167       790   Turkey        3974
4       2021-07-31            NaN      994345      1927   Turkey        2221
...            ...            ...         ...       ...      ...         ...
516116  2023-11-30    20170604953         NaN         1   Russia     1170801
516117  2023-11-30            NaN         NaN         1   Russia     1215429
516118  2024-06-30        Unknown         NaN         1      UKI     7113485
516119  2024-06-30    20241617431  24E0002562         3    Italy     2381540
516120  2024-06-30  PX20224947092       44362         1   Mexico      573016

[516121 rows x 6 columns]

In [292]:
np_churn_consumption = np_churn_consumption.rename(columns={"date": "Month", "salesorg": "SalesOrg"}).reset_index()
np_churn_consumption.head()

   index       Month serial sap_serial  quantity SalesOrg  machine_id
0      0  2021-07-31    NaN     994374      4041   Turkey        2128
1      1  2021-07-31    NaN     994229      1610   Turkey        3456
2      2  2021-07-31    NaN     994334      1845   Turkey         505
3      3  2021-07-31    NaN     994167       790   Turkey        3974
4      4  2021-07-31    NaN     994345      1927   Turkey        2221

In [293]:
np_churn_consumption=np_churn_consumption.drop(columns=['sap_serial','index', 'machine_id'])
np_churn_consumption.head()

        Month serial  quantity SalesOrg
0  2021-07-31    NaN      4041   Turkey
1  2021-07-31    NaN      1610   Turkey
2  2021-07-31    NaN      1845   Turkey
3  2021-07-31    NaN       790   Turkey
4  2021-07-31    NaN      1927   Turkey

In [294]:
Telemetry_df = np_churn_consumption

# Load the Telemetry data
Telemetry_df = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Telemetry2021.xlsx")
Telemetry_df.tail()

In [295]:
Telemetry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516121 entries, 0 to 516120
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Month     516121 non-null  object
 1   serial    503310 non-null  object
 2   quantity  516121 non-null  int64
 3   SalesOrg  516118 non-null  object
dtypes: int64(1), object(3)
memory usage: 15.8+ MB

# Load the Telemetry data
Telemetry_add = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Telemetry2022.xlsx")
Telemetry_add.tail()

Telemetry_df = Telemetry_df.append(Telemetry_add)
Telemetry_df.info()

Telemetry_df.tail()

I will only keep the telemetry data in the date range, so it is only the telemtry data starting after "TelemetryDateRangeStart"

#Telemetry_df1 = Telemetry_df.loc[Telemetry_df['Month']>=TelemetryDateRangeStart]

I will aggregate the number of Cup Sales for each Machine by the feature called 'serial' which corresponds to the feature 'Manufacturer Number' in the Beverage Machine data

In [296]:
Telemetry_aggSales = Telemetry_df['quantity'].groupby(Telemetry_df['serial'], axis=0).sum()
Telemetry_aggSales_df = Telemetry_aggSales.to_frame().reset_index()
Telemetry_aggSales_df

                    serial  quantity
0           \t 20221813844      2923
1             '20202016602     62072
2            'Y20231619331     12474
3                        .    115554
4              00000000000      1710
...                    ...       ...
33915  Х580BGS230203370088     19258
33916  Х580BGS230203370094       293
33917  Х580BGS230203370097      4617
33918  Х580BGS230203370098      5686
33919  Х580BGS230203370105     14397

[33920 rows x 2 columns]

In [297]:
Telemetry_df1 = Telemetry_df.groupby(['Month', 'serial']).sum()
# df.groupby(['col5', 'col2']).size()
#['quantity']
Telemetry_df1 = Telemetry_df1.reset_index()

Telemetry_df1

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\1522141084.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Telemetry_df1 = Telemetry_df.groupby(['Month', 'serial']).sum()

             Month               serial  quantity
0       2021-07-31         '20202016602       761
1       2021-07-31            000103535      1372
2       2021-07-31            000103550      1392
3       2021-07-31             00089366        43
4       2021-07-31             00094264       326
...            ...                  ...       ...
491660  2024-06-30  Х580BGS230203370088      2487
491661  2024-06-30  Х580BGS230203370094       253
491662  2024-06-30  Х580BGS230203370097       569
491663  2024-06-30  Х580BGS230203370098      1053
491664  2024-06-30  Х580BGS230203370105      2794

[491665 rows x 3 columns]

from dateutil.relativedelta import relativedelta

one_month = TelemetryDate + relativedelta(months=-1)
three_months = TelemetryDate + relativedelta(months=-3)
six_months = TelemetryDate + relativedelta(months=-6)

Telemetry_df_one_month = Telemetry_df1.loc[Telemetry_df1['Month']>one_month]
Telemetry_df_three_months = Telemetry_df1.loc[Telemetry_df1['Month']>three_months]
Telemetry_df_six_months = Telemetry_df1.loc[Telemetry_df1['Month']>six_months]

TODO
why "Telemetry_aggSales_one_month_avg = Telemetry_df_one_month['quantity'].groupby(Telemetry_df_one_month['serial'], axis=0).count()"

not this?
Telemetry_aggSales_one_month_avg = Telemetry_df_one_month['quantity'].groupby(Telemetry_df_one_month['serial'], axis=0).sum()

In [298]:
Telemetry_df_one_month = Telemetry_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(1).sum()})

Telemetry_df_three_months = Telemetry_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

Telemetry_df_six_months = Telemetry_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

Telemetry_df_one_month = Telemetry_df_one_month.rename(columns={"quantity": "one_month_avg"}).reset_index()

Telemetry_df_three_months = Telemetry_df_three_months.rename(columns={"quantity": "three_months_avg"}).reset_index()

Telemetry_df_six_months = Telemetry_df_six_months.rename(columns={"quantity": "six_months_avg"}).reset_index()

Telemetry_aggSales_one_month_avg = Telemetry_df_one_month['quantity'].groupby(Telemetry_df_one_month['serial'], axis=0).count()
Telemetry_aggSales_one_month_avg = Telemetry_aggSales_one_month_avg.to_frame().reset_index()
Telemetry_aggSales_one_month_avg = Telemetry_aggSales_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

Telemetry_aggSales_three_months_avg = Telemetry_df_three_months['quantity'].groupby(Telemetry_df_three_months['serial'], axis=0).count()
Telemetry_aggSales_three_months_avg = Telemetry_aggSales_three_months_avg.to_frame().reset_index()
Telemetry_aggSales_three_months_avg = Telemetry_aggSales_three_months_avg.rename(columns={"quantity": "three_months_avg"})

Telemetry_aggSales_six_months_avg = Telemetry_df_six_months['quantity'].groupby(Telemetry_df_six_months['serial'], axis=0).count()
Telemetry_aggSales_six_months_avg = Telemetry_aggSales_six_months_avg.to_frame().reset_index()
Telemetry_aggSales_six_months_avg = Telemetry_aggSales_six_months_avg.rename(columns={"quantity": "six_months_avg"})

Telemetry_aggSales_three_months_avg

Telemetry_aggSales_three_months_avg['three_months_avg'] = Telemetry_aggSales_three_months_avg['three_months_avg'].apply(lambda x: x/3)

Telemetry_aggSales_six_months_avg['six_months_avg'] = Telemetry_aggSales_six_months_avg['six_months_avg'].apply(lambda x: x/6)

Telemetry_aggSales_three_months_avg

I used 'left' instead of 'inner' because I want all the machines that had data

In [299]:
Telemetry_aggSales_df

                    serial  quantity
0           \t 20221813844      2923
1             '20202016602     62072
2            'Y20231619331     12474
3                        .    115554
4              00000000000      1710
...                    ...       ...
33915  Х580BGS230203370088     19258
33916  Х580BGS230203370094       293
33917  Х580BGS230203370097      4617
33918  Х580BGS230203370098      5686
33919  Х580BGS230203370105     14397

[33920 rows x 2 columns]

In [300]:
Telemetry_df_one_month

                    serial  one_month_avg
0           \t 20221813844           1771
1             '20202016602           1401
2            'Y20231619331           2200
3                        .          23289
4              00000000000              5
...                    ...            ...
33915  Х580BGS230203370088           2487
33916  Х580BGS230203370094            253
33917  Х580BGS230203370097            569
33918  Х580BGS230203370098           1053
33919  Х580BGS230203370105           2794

[33920 rows x 2 columns]

In [301]:
Telemetry_aggSales_df1 = pd.merge(Telemetry_aggSales_df, Telemetry_df_one_month, how='left', left_on = ['serial'], right_on = ['serial'])
Telemetry_aggSales_df1.head()

           serial  quantity  one_month_avg
0  \t 20221813844      2923           1771
1    '20202016602     62072           1401
2   'Y20231619331     12474           2200
3               .    115554          23289
4     00000000000      1710              5

In [302]:
Telemetry_aggSales_df2 = pd.merge(Telemetry_aggSales_df1, Telemetry_df_three_months, how='left', left_on = ['serial'], right_on = ['serial'])
Telemetry_aggSales_df3 = pd.merge(Telemetry_aggSales_df2, Telemetry_df_six_months, how='left', left_on = ['serial'], right_on = ['serial'])
Telemetry_aggSales_df3 = Telemetry_aggSales_df3.fillna(0)
Telemetry_aggSales_df3

,serial,quantity,one_month_avg,three_months_avg,six_months_avg
0,\t 20221813844,2923,1771,974.333333,487.166667
1,'20202016602,62072,1401,2447.000000,2536.166667
2,'Y20231619331,12474,2200,1863.333333,1607.000000
3,.,115554,23289,14331.000000,11039.166667
4,00000000000,1710,5,252.333333,285.000000
...,...,...,...,...,...
33915,Х580BGS230203370088,19258,2487,2422.000000,2358.333333
33916,Х580BGS230203370094,293,253,97.666667,48.833333
33917,Х580BGS230203370097,4617,569,664.333333,569.666667
33918,Х580BGS230203370098,5686,1053,1141.666667,816.500000
33919,Х580BGS230203370105,14397,2794,2614.666667,2276.833333

In [303]:
Telemetry_aggSales_df3['serial'] = Telemetry_aggSales_df3['serial'].astype(str)

In [304]:
Telemetry_aggSales_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33920 entries, 0 to 33919
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   serial            33920 non-null  object
 1   quantity          33920 non-null  int64
 2   one_month_avg     33920 non-null  int64
 3   three_months_avg  33920 non-null  float64
 4   six_months_avg    33920 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.6+ MB

### 6. Visits data

In [305]:
# Load the Visits data
Visitsdf = pd.read_excel(Visitsdf)
Visitsdf.head()

,Month,Year,Period,Counter_visits_completed,Cummulative,Cummulative_Final,Cummulative Graph,Occurence Balancing,Activity Owner,Activity Owner ID,...,Activity Life Cycle Status id,Activity Life Cycle Status,Counter_visits,Visit Description,Visit,Account ID.Account ID Level 01,Account ID.Account ID Level 01.Key,Result,Visit Type,Index
0,9,2023,2023 - 09,1,189 674,23 413,8,RU3A1896742023 - 09,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,Visit Янгиров - с. юлаева 2 машина .,2551734,Янгиров - с. юлаева 2 машина .,2768189,NaN,Service Visit,591
1,3,2023,2023 - 03,1,54 046,20 822,3,RU3A540462023 - 03,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,Visit Янгиров - с. юлаева 2 машина .,2245946,Янгиров - с. юлаева 2 машина .,2768189,NaN,Service Visit,592
2,10,2023,2023 - 10,1,213 061,23 387,9,RU3A2130612023 - 10,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,Visit АЗС № 02-229 Башнефть,2611322,АЗС № 02-229 Башнефть,2778304,NaN,Service Visit,773
3,11,2023,2023 - 11,1,239 379,26 318,9,RU3A2393792023 - 11,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,Visit кафе Чебуреки - Гоголя 2,2703718,кафе Чебуреки - Гоголя 2,5566275,NaN,Service Visit,1699
4,3,2023,2023 - 03,1,54 046,20 822,3,RU3A540462023 - 03,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,Visit кафе Чебуреки - Гоголя 2,2245952,кафе Чебуреки - Гоголя 2,5566275,NaN,Service Visit,1700

### 7. Phone Calls data

In [306]:
# Load the Visits data
PhoneCallsdf = pd.read_excel(PhoneCallsdf, dtype={'Account Name': str})
PhoneCallsdf.head()

,Activity Name,Account Name,Activity Owner,Activity Life Cycle Status,Phone Call ID,Objective (Phone Call),Sales Organization,End Date in Local Time Zone,Start Date in Local Time Zone,PeriodEnd,ee
0,2023-03-22- College Call 1,7323619,Jadala Aishwarya,Completed,1076183,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
1,2023-03-22- Prince Call 1,7318725,Jadala Aishwarya,Completed,1075720,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
2,2023-03-21- Pappu Call 2,7316669,Jadala Aishwarya,Completed,1075959,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
3,2023-03-21- Teachers Call 2,7316674,Jadala Aishwarya,Completed,1075975,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
4,2023-03-22- vivo Mobile India Pvt Ltd Call 1,7323658,Jadala Aishwarya,Completed,1076076,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0

### 8. Incident Tickets data

In [307]:
IncidentTicketdf = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Incident tickets.xlsx")
IncidentTicketdf.head()

,Index,SLAMet,YearMonth,Period,NextDateAux,NextDateAux2,AuxTime,TimeFrom,Next CreatedDatevar,TimeTo,...,SUB_TICKET_SALES_ORGANIZATION_ID,SUB_TICKET_SALES_ORGANIZATION_DESCRIPTION,ITEM_TARGET_INSTALLATION_POINT,WORK_PROGRESS,DATE_OF_LAST_MOVEMENT,COMPLETION_DUE_DATE,SERVICE_CATEGORY,SERVICE_CATEGORY_DESCRIPTION,SALESORG,COUNTER
0,2181-06-24 00:00:00,0,202110.0,2021 - 10,-738067.0,"vendredi, 18 mai 1979",Yes,20,2021-10-25,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"mardi, 5 octobre 2021",CA_5,Repair,BG10,1
1,2183-11-26 00:00:00,0,202110.0,2021 - 10,-738069.0,"mercredi, 16 mai 1979",Yes,344,2022-09-16,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"vendredi, 8 octobre 2021",CA_5,Repair,BG10,1
2,2184-02-27 00:00:00,0,202110.0,2021 - 10,-738069.0,"mercredi, 16 mai 1979",No,5,2021-10-12,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"mercredi, 6 octobre 2021",CA_5,Repair,BG10,1
3,2184-05-17 00:00:00,0,202110.0,2021 - 10,-738069.0,"mercredi, 16 mai 1979",No,1,2021-10-08,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"vendredi, 8 octobre 2021",CA_5,Repair,BG10,1
4,2185-01-22 00:00:00,0,202110.0,2021 - 10,-738070.0,"mardi, 15 mai 1979",Yes,327,2022-08-31,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"vendredi, 8 octobre 2021",CA_5,Repair,BG10,1

### 9. Market specific data

UK stopped providing their service data

# Load the Visits data
#PhoneCallsdf = pd.read_excel(os.path.join('C:', 'Users', 'msalomo', 'Churn Project', 'Data', 'Completed Phone Calls.xlsx'))

UKService = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\UK Service data 202103.xlsx")

UKService['Key_ManufacturerID_SalesOrg'] = UKService['Serial N'].astype(str) + "Nestle UK"

UKService.head()

def preprocess_UKService(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Fault Codes', 'FTF']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

UKService_prep = preprocess_UKService(UKService)
UKService_prep.head()

Quick check on a serial with 7 entries

UKService_prepX=UKService_prep.loc[UKService_prep['Serial N'] =='0010237915']

UKService_prepX

UKService_prep.columns

UKService_prep2 = (UKService_prep.sort_values('Month')
    .groupby(["Key_ManufacturerID_SalesOrg"])
                      .agg({'Month': lambda s: s.values[-1], 
                            'Serial N': lambda s: s.values[-1], 
                            'Minutes': 'mean', 
                            'Fault Codes_Blocked ingredients' : 'sum', 
                            'Fault Codes_Boiler fault' : 'sum',
                            'Fault Codes_Booked' : 'sum', 
                            'Fault Codes_Brewer issue' : 'sum',
                            'Fault Codes_Canister' : 'sum', 
                            'Fault Codes_Card reader install' : 'sum',
                            'Fault Codes_Card reader removal' : 'sum',
                            'Fault Codes_Change drink size' : 'sum',
                            'Fault Codes_Cleaning / Hygiene kit ' : 'sum',
                            'Fault Codes_Coinmech' : 'sum',
                            'Fault Codes_Decomission' : 'sum', 
                            'Fault Codes_Delivery' : 'sum',
                            'Fault Codes_Display issue' : 'sum', 
                            'Fault Codes_Door' : 'sum',
                            'Fault Codes_Drink Strength/ taste' : 'sum', 
                            'Fault Codes_Faulty door' : 'sum',
                            'Fault Codes_Filters ' : 'sum', 
                            'Fault Codes_Fridge fault' : 'sum', 
                            'Fault Codes_Leak' : 'sum',
                            'Fault Codes_Machine empty no ingredients' : 'sum', 
                            'Fault Codes_Measures' : 'sum',
                            'Fault Codes_Motor' : 'sum', 
                            'Fault Codes_No Fault Found' : 'sum',
                            'Fault Codes_No power Socket' : 'sum', 
                            'Fault Codes_Not dispensing drinks' : 'sum',
                            'Fault Codes_Not heating' : 'sum', 
                            'Fault Codes_Other' : 'sum',
                            'Fault Codes_Other (derial number check etc)' : 'sum', 
                            'Fault Codes_PPM' : 'sum',
                            'Fault Codes_Power / CPU Machine' : 'sum', 
                            'Fault Codes_Price increase' : 'sum',
                            'Fault Codes_Pump / Valve  internal' : 'sum',
                            'Fault Codes_Pump / Water External' : 'sum', 
                            'Fault Codes_Telemetry' : 'sum',
                            'Fault Codes_Training' : 'sum', 
                            'Fault Codes_consumable' : 'sum',
                            'Fault Codes_machine Install' : 'sum', 
                            'Fault Codes_workshop' : 'sum', 
                            'FTF_1' : 'sum', 
                            'FTF_2' : 'sum',
                            'FTF_3' : 'sum', 
                            'FTF_4' : 'sum'                  
    })
)

UKService_prep2

### 10. LOCAL DATA

Sales & Telemetron & Vendon 2021 Sales

PakistanSales both Serial no and manuf no are the same
RussiaSalesData uses Manuf no

Vendon data uses manuf no

In [308]:
PakistanSales = pd.read_excel(PakistanSales)
MalaysiaSales = pd.read_excel(MalaysiaSales)

# Drop the 'Serial' column
MalaysiaSales.drop('Serial', axis=1, inplace=True)
# Rename the 'Serial Manufacturer' column to 'Serial'
MalaysiaSales.rename(columns={'Serial Manufacturer': 'Serial'}, inplace=True)

In [309]:
PakistanSales.head()

       Serial    quantity      Month
0  20O0014321   2512.8206 2021-01-01
1  7010054243   8488.0412 2021-01-01
2  7010055066  91133.6902 2021-01-01
3  7010045635  91133.6902 2021-01-01
4  7010058209  91133.6902 2021-01-01

In [310]:
PakistanSales['Serial'] = PakistanSales['Serial'].astype(str)
MalaysiaSales['Serial'] = MalaysiaSales['Serial'].astype(str)

In [311]:
RussiaSalesData = pd.read_excel(RussiaSalesData)

IndiaSalesData = pd.read_excel(IndiaSales)

In [312]:
# Keep only the desired columns
desired_columns = ["Serial ID", "Total NNS", "Sales Month"]
IndiaSalesData = IndiaSalesData[desired_columns]
IndiaSalesData.tail()

       Serial ID  Total NNS Sales Month
126638  10043378      500.0  2024-06-30
126639  10018012        0.0  2024-06-30
126640  10020384        0.0  2024-06-30
126641  10051481        0.0  2024-06-30
126642  10044457        0.0  2024-06-30

In [313]:
RussiaSalesData.tail()

             Date Machine Manufacturer Serial Number  ПРОДАЖИ (NPS)
919526 2024-06-30                BC9CNE62B2401V00060            0.0
919527 2024-06-30                BC9CNE62B2401V00061            0.0
919528 2024-06-30                           10408518            NaN
919529 2024-06-30                           10408520            NaN
919530 2024-06-30                          B1-136394            NaN

In [314]:
RussiaSalesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919531 entries, 0 to 919530
Data columns (total 3 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Date                                919531 non-null  datetime64[ns]
 1   Machine Manufacturer Serial Number  919525 non-null  object
 2   ПРОДАЖИ (NPS)                       919479 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 21.0+ MB

In [315]:
SouthAfricaSales = pd.read_excel(SouthAfricaSales)

In [316]:
SouthAfricaSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4496 entries, 0 to 4495
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AccountID  4496 non-null   int64
 1   quantity   4496 non-null   float64
 2   Month      4496 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 105.5 KB

In [317]:
SingaporeSales = pd.read_excel(SingaporeSales)

In [318]:
SingaporeSales['Month'] = pd.to_datetime(SingaporeSales['Month'])
SingaporeSales['Serial ID'] = SingaporeSales['Serial ID'].astype(str)
IndiaSalesData['Serial ID'] = IndiaSalesData['Serial ID'].astype(str)

IndiaSalesData['Month'] = pd.to_datetime(IndiaSalesData['Sales Month'])
                                         
# Drop the "Sales Month" column
IndiaSalesData.drop('Sales Month', axis=1, inplace=True)

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\3430434649.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  SingaporeSales['Month'] = pd.to_datetime(SingaporeSales['Month'])

In [319]:
SingaporeSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102794 entries, 0 to 102793
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Serial ID            102794 non-null  object
 1   Month                102794 non-null  datetime64[ns]
 2   Sales                97142 non-null   float64
 3   Ship to              102794 non-null  object
 4   Account ID           102793 non-null  float64
 5   Manufacturer Number  102794 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 4.7+ MB

pip install pandasql

In [320]:
# create data frame
df1 = SingaporeSales
 
print("Original DataFrame")
 
# print original data frame
display(df1)
 
# create a dictionary
# key = old name
# value = new name
dict = {'Serial ID': 'Serial_ID',
        'Month' : 'Month',
        'Sales' : 'Sales',
        'Ship to': 'Ship_to',
       'Account ID' : 'Account_ID',
       'Manufacturer Number' : 'Manufacturer_Number'}
 
print("\nAfter rename")
# call rename () method
df1.rename(columns=dict,
          inplace=True)
 
# print Data frame after rename columns
display(df1)

Original DataFrame

,Serial ID,Month,Sales,Ship to,Account ID,Manufacturer Number
0,SGBMB03059,2023-01-31,0.00,30885489704,3981172.0,20092213179
1,SGBMB04056,2023-01-31,NaN,27835PA00101,3981872.0,20092414016
2,SGBMB03049,2023-01-31,0.00,30885489184,3981521.0,20092414029
3,SGBMB03772,2023-01-31,2412.35,27835KEP008A01,3982306.0,20094625024
4,SGBMB03804,2023-01-31,0.00,30885489344,3981360.0,20094625056
...,...,...,...,...,...,...
102789,24O0026978,2024-06-30,368.64,280311160621,8916009.0,20242020225
102790,24O0026979,2024-06-30,385.36,68312133000-TU4,4216248.0,20242020226
102791,24O0026980,2024-06-30,1991.20,6767280N-2208181,9174172.0,20242020227
102792,24O0026981,2024-06-30,3941.76,6767280N-2404020,9174165.0,20242020228
102793,24O0026982,2024-06-30,3941.76,6767280N-2404020,9169146.0,20242020229

After rename

,Serial_ID,Month,Sales,Ship_to,Account_ID,Manufacturer_Number
0,SGBMB03059,2023-01-31,0.00,30885489704,3981172.0,20092213179
1,SGBMB04056,2023-01-31,NaN,27835PA00101,3981872.0,20092414016
2,SGBMB03049,2023-01-31,0.00,30885489184,3981521.0,20092414029
3,SGBMB03772,2023-01-31,2412.35,27835KEP008A01,3982306.0,20094625024
4,SGBMB03804,2023-01-31,0.00,30885489344,3981360.0,20094625056
...,...,...,...,...,...,...
102789,24O0026978,2024-06-30,368.64,280311160621,8916009.0,20242020225
102790,24O0026979,2024-06-30,385.36,68312133000-TU4,4216248.0,20242020226
102791,24O0026980,2024-06-30,1991.20,6767280N-2208181,9174172.0,20242020227
102792,24O0026981,2024-06-30,3941.76,6767280N-2404020,9174165.0,20242020228
102793,24O0026982,2024-06-30,3941.76,6767280N-2404020,9169146.0,20242020229

In [321]:
import pandas as pd
import sqlite3

# create a sample DataFrame
df = df1

# create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# write the DataFrame to the database
df.to_sql('my_table', con=conn)

# define the SQL query
query = '''
SELECT Month, Sales AS quantity, Ship_to, Manufacturer_Number,
       COUNT(Manufacturer_Number) OVER (PARTITION BY Month, Ship_to) AS Manufacturer_Count,
       (Sales / COUNT(Manufacturer_Number) OVER (PARTITION BY Month, Ship_to)) AS Sales_perMachine
FROM my_table
'''

# run the query using pandas
result = pd.read_sql_query(query, conn)

# print the result
print(result)

                      Month  quantity         Ship_to Manufacturer_Number  \
0       2023-01-31 00:00:00       0.0      2215122122         20103018840
1       2023-01-31 00:00:00       0.0      2215122122         20103018859
2       2023-01-31 00:00:00       0.0      2215122122         20102917864
3       2023-01-31 00:00:00       0.0      2215122122         20102917875
4       2023-01-31 00:00:00       0.0      2215122122         20103923848
...                     ...       ...             ...                 ...
102789  2024-06-30 00:00:00       0.0  69338116933811         20141213799
102790  2024-06-30 00:00:00       0.0  69338116933811         20141213800
102791  2024-06-30 00:00:00       0.0  69338116933811         20141213801
102792  2024-06-30 00:00:00       0.0  69338116933811         20141213823
102793  2024-06-30 00:00:00     488.8  69768386976838         20224845590

        Manufacturer_Count  Sales_perMachine
0                      204               0.0
1                      204               0.0
2                      204               0.0
3                      204               0.0
4                      204               0.0
...                    ...               ...
102789                  21               0.0
102790                  21               0.0
102791                  21               0.0
102792                  21               0.0
102793                   1             488.8

[102794 rows x 6 columns]

In [322]:
SingaporeSales = result
SingaporeSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102794 entries, 0 to 102793
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Month                102794 non-null  object
 1   quantity             97142 non-null   float64
 2   Ship_to              102794 non-null  object
 3   Manufacturer_Number  102794 non-null  object
 4   Manufacturer_Count   102794 non-null  int64
 5   Sales_perMachine     97142 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 4.7+ MB

In [323]:
SingaporeSales.rename(columns={'Manufacturer_Number': 'Manufacturer Number'}, inplace=True)
SingaporeSales.rename(columns={'quantity': 'quantityold'}, inplace=True)
SingaporeSales.rename(columns={'Sales_perMachine': 'quantity'}, inplace=True)

In [324]:
IndiaSalesData.rename(columns={'Total NNS': 'quantity'}, inplace=True)

In [325]:
RussiaSalesData.rename(columns={'Machine Manufacturer Serial Number': 'Serial', 'ПРОДАЖИ (NPS)': 'quantity'}, inplace=True)
RussiaSalesData

             Date               Serial  quantity
0      2021-01-31                 4228       0.0
1      2021-01-31                 5419       0.0
2      2021-01-31                 5477       0.0
3      2021-01-31               420090       0.0
4      2021-01-31               420283       0.0
...           ...                  ...       ...
919526 2024-06-30  BC9CNE62B2401V00060       0.0
919527 2024-06-30  BC9CNE62B2401V00061       0.0
919528 2024-06-30             10408518       NaN
919529 2024-06-30             10408520       NaN
919530 2024-06-30            B1-136394       NaN

[919531 rows x 3 columns]

In [326]:
RussiaSalesData['quantity'] = RussiaSalesData['quantity'].astype(float)
RussiaSalesData['Serial'] = RussiaSalesData['Serial'].astype(str)

In [327]:
RussiaSalesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919531 entries, 0 to 919530
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Date      919531 non-null  datetime64[ns]
 1   Serial    919531 non-null  object
 2   quantity  919479 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 21.0+ MB

TelemetronData = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Telemetron Data.xlsx")

TelemetronData.rename(columns={'Machine serial': 'serial', 'Total': 'quantity'}, inplace=True)

In [328]:
PakistanSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241736 entries, 0 to 241735
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Serial    241736 non-null  object
 1   quantity  241736 non-null  float64
 2   Month     241736 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.5+ MB

VendonData = pd.read_excel(r"C:\Users\msalomo\Churn Project\Data\Telemetry2021.xlsx")

VendonData.head()

In [329]:
Pakistan_aggSales = PakistanSales['quantity'].groupby(PakistanSales['Serial'], axis=0).sum()
Pakistan_aggSales = Pakistan_aggSales.reset_index()

# Perform the aggregation on 'quantity' grouped by 'Serial'
Malaysia_aggSales = MalaysiaSales['quantity'].groupby(MalaysiaSales['Serial']).sum().reset_index()

India_aggSales = IndiaSalesData['quantity'].groupby(IndiaSalesData['Serial ID']).sum().reset_index()

# Print
print(India_aggSales)

      Serial ID       quantity
0      10010737   93785.068531
1      10010738   62524.483809
2      10010770       0.000000
3      10010772       0.000000
4      10010776   22225.370541
...         ...            ...
22416  CWIP1220   84796.077158
22417  CWIP1221       0.000000
22418  CWIP1222       0.000000
22419  CWIP1223    1356.000000
22420  CWIP1224  188754.153277

[22421 rows x 2 columns]

Telemetron_agg = TelemetronData['quantity'].groupby(TelemetronData['serial'], axis=0).sum()
Telemetron_agg = Telemetron_agg.reset_index()
Telemetron_agg

In [330]:
RussiaSalesData_agg = RussiaSalesData['quantity'].groupby(RussiaSalesData['Serial'], axis=0).sum()
RussiaSalesData_agg = RussiaSalesData_agg.reset_index()
RussiaSalesData_agg

               Serial  quantity
0       00001428-0011      0.00
1       00001429-0001  51785.57
2       00001429-0004      0.00
3      00001429-0006       0.00
4       00001429-0007      0.00
...               ...       ...
30792          ХК0114      0.00
30793          ХК0115      0.00
30794          ХК0116      0.00
30795          ХК0120      0.00
30796          ХК0124      0.00

[30797 rows x 2 columns]

In [331]:
SouthAfrica_aggSales = SouthAfricaSales['quantity'].groupby(SouthAfricaSales['AccountID'], axis=0).sum()
SouthAfrica_aggSales = SouthAfrica_aggSales.reset_index()
SouthAfrica_aggSales

     AccountID    quantity
0       365014        1.02
1       365018       40.65
2       366680     1068.01
3       366935    13691.11
4       367418   164133.33
..         ...         ...
596    7149375  1097121.79
597    7194148     2215.32
598    7197352    11643.49
599    7209444     3956.93
600    7247586    26812.97

[601 rows x 2 columns]

In [332]:
Singapore_aggSales = SingaporeSales['quantity'].groupby(SingaporeSales['Manufacturer Number'], axis=0).sum()
Singapore_aggSales = Singapore_aggSales.reset_index()
Singapore_aggSales

     Manufacturer Number      quantity
0     141982300000383201   4069.430000
1     141982300001083201   3882.990000
2     141982300003083201  13330.137298
3     141982300003283201   3482.180000
4     141992300000483201   2905.000000
...                  ...           ...
6409            ZEBA0072  23638.870169
6410            ZEBA0073  13864.805460
6411            ZEBA0074  17240.806548
6412            ZEBA0075  19083.711681
6413            ZEBA0076  14609.503967

[6414 rows x 2 columns]

#Vendon_agg = VendonData['quantity'].groupby(VendonData['serial'], axis=0).sum()

Vendon_agg = (VendonData.sort_values('Month')
    .groupby(["serial"])
                      .agg({'SalesOrg' : lambda s: s.values[-1],
                            'quantity' : 'sum'}))

Vendon_agg = Vendon_agg.reset_index()
Vendon_agg

PakistanSales = PakistanSales.loc[PakistanSales['Month']>=PakistanDateRangeStart]

VendonData = VendonData.loc[VendonData['Month']>=VendonDateRangeStart]

I will aggregate the number of Cup Sales for each Machine by the feature called 'serial' which corresponds to the feature 'Manufacturer Number' in the Beverage Machine data

In [333]:

PakistanSales_df1 = PakistanSales.groupby(['Month', 'Serial']).sum()
PakistanSales_df1 = PakistanSales_df1.reset_index()


PakistanSales_one_month = PakistanSales_df1.sort_values('Month').groupby('Serial').agg({'quantity' : lambda x: x.tail(1).sum()})

PakistanSales_three_months = PakistanSales_df1.sort_values('Month').groupby('Serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

PakistanSales_six_months = PakistanSales_df1.sort_values('Month').groupby('Serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

# Group by 'Month' and 'Serial' and calculate the sum
MalaysiaSales_df1 = MalaysiaSales.groupby(['Month', 'Serial']).sum().reset_index()
# Calculate the sum of 'quantity' for the latest month for each 'Serial'
MalaysiaSales_one_month = MalaysiaSales_df1.sort_values('Month').groupby('Serial').agg({'quantity': lambda x: x.tail(1).sum()})
# Calculate the average of 'quantity' for the last three months for each 'Serial'
MalaysiaSales_three_months = MalaysiaSales_df1.sort_values('Month').groupby('Serial').agg({'quantity': lambda x: x.tail(3).sum() / 3})
# Calculate the average of 'quantity' for the last six months for each 'Serial'
MalaysiaSales_six_months = MalaysiaSales_df1.sort_values('Month').groupby('Serial').agg({'quantity': lambda x: x.tail(6).sum() / 6})

# Group by 'Month' and 'Serial ID' and calculate the sum
IndiaSales_df1 = IndiaSalesData.groupby(['Month', 'Serial ID']).sum().reset_index()

# Calculate the sum of 'quantity' for the latest month for each 'Serial ID'
IndiaSales_one_month = IndiaSales_df1.sort_values('Month').groupby('Serial ID').agg({'quantity': lambda x: x.tail(1).sum()})

# Calculate the average of 'quantity' for the last three months for each 'Serial ID'
IndiaSales_three_months = IndiaSales_df1.sort_values('Month').groupby('Serial ID').agg({'quantity': lambda x: x.tail(3).sum() / 3})

# Calculate the average of 'quantity' for the last six months for each 'Serial ID'
IndiaSales_six_months = IndiaSales_df1.sort_values('Month').groupby('Serial ID').agg({'quantity': lambda x: x.tail(6).sum() / 6})

# Print the resulting DataFrames
print(IndiaSales_one_month)

           quantity
Serial ID
10010737        0.0
10010738        0.0
10010770        0.0
10010772        0.0
10010776     7227.0
...             ...
CWIP1220     8573.0
CWIP1221        0.0
CWIP1222        0.0
CWIP1223        0.0
CWIP1224    14789.0

[22421 rows x 1 columns]

In [334]:
PakistanSales_one_month = PakistanSales_one_month.reset_index()
PakistanSales_three_months = PakistanSales_three_months.reset_index()
PakistanSales_six_months = PakistanSales_six_months.reset_index()

# Reset the index for 'MalaysiaSales_one_month'
MalaysiaSales_one_month = MalaysiaSales_one_month.reset_index()
# Reset the index for 'MalaysiaSales_three_months'
MalaysiaSales_three_months = MalaysiaSales_three_months.reset_index()
# Reset the index for 'MalaysiaSales_six_months'
MalaysiaSales_six_months = MalaysiaSales_six_months.reset_index()

# Reset the index for 'IndiaSales_one_month'
IndiaSales_one_month = IndiaSales_one_month.reset_index()

# Reset the index for 'IndiaSales_three_months'
IndiaSales_three_months = IndiaSales_three_months.reset_index()

# Reset the index for 'IndiaSales_six_months'
IndiaSales_six_months = IndiaSales_six_months.reset_index()

# Print the 'IndiaSales_three_months' DataFrame
print(IndiaSales_three_months)

      Serial ID      quantity
0      10010737      0.000000
1      10010738  11053.410000
2      10010770      0.000000
3      10010772      0.000000
4      10010776   3787.010973
...         ...           ...
22416  CWIP1220   6575.094108
22417  CWIP1221      0.000000
22418  CWIP1222      0.000000
22419  CWIP1223    226.000000
22420  CWIP1224  25095.537886

[22421 rows x 2 columns]

from dateutil.relativedelta import relativedelta

one_month_pak = PakistanLastUpdate + relativedelta(months=-1)
three_months_pak = PakistanLastUpdate + relativedelta(months=-3)
six_months_pak = PakistanLastUpdate + relativedelta(months=-6)

PakistanSales_one_month = PakistanSales.loc[PakistanSales['Month']>one_month_pak]
PakistanSales_three_months = PakistanSales.loc[PakistanSales['Month']>three_months_pak]
PakistanSales_six_months = PakistanSales.loc[PakistanSales['Month']>six_months_pak]

VendonData_one_month = VendonData.loc[VendonData['Month']>one_month_pak]
VendonData_three_months = VendonData.loc[VendonData['Month']>three_months_pak]
VendonData_six_months = VendonData.loc[VendonData['Month']>six_months_pak]

PakistanSales_one_month.loc[PakistanSales_one_month['serial'] != '70010058920']

PakistanSales_one_month_avg = PakistanSales_one_month['quantity'].groupby(PakistanSales_one_month['serial'], axis=0).sum()

PakistanSales_one_month_avg = PakistanSales_one_month_avg.to_frame().reset_index()
PakistanSales_one_month_avg = PakistanSales_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

In [335]:
#PakistanSales_one_month_avg = PakistanSales_one_month['quantity'].groupby(PakistanSales_one_month['serial'], axis=0).sum()
#PakistanSales_one_month_avg = PakistanSales_one_month_avg.to_frame().reset_index()
PakistanSales_one_month_avg = PakistanSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

#PakistanSales_three_months_avg = PakistanSales_three_months['quantity'].groupby(PakistanSales_three_months['serial'], axis=0).sum()
#PakistanSales_three_months_avg = PakistanSales_three_months_avg.to_frame().reset_index()
PakistanSales_three_months_avg = PakistanSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

#PakistanSales_six_months_avg = PakistanSales_six_months['quantity'].groupby(PakistanSales_six_months['serial'], axis=0).sum()
#PakistanSales_six_months_avg = PakistanSales_six_months_avg.to_frame().reset_index()
PakistanSales_six_months_avg = PakistanSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

PakistanSales_three_months_avg

# Rename the column in 'MalaysiaSales_one_month'
MalaysiaSales_one_month_avg = MalaysiaSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})
# Rename the column in 'MalaysiaSales_three_months'
MalaysiaSales_three_months_avg = MalaysiaSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})
# Rename the column in 'MalaysiaSales_six_months'
MalaysiaSales_six_months_avg = MalaysiaSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

# Rename the column in 'IndiaSales_one_month'
IndiaSales_one_month_avg = IndiaSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

# Rename the column in 'IndiaSales_three_months'
IndiaSales_three_months_avg = IndiaSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

# Rename the column in 'IndiaSales_six_months'
IndiaSales_six_months_avg = IndiaSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

# Print the 'IndiaSales_three_months_avg' DataFrame
print(IndiaSales_three_months_avg)

      Serial ID  Sales_three_months_avg
0      10010737                0.000000
1      10010738            11053.410000
2      10010770                0.000000
3      10010772                0.000000
4      10010776             3787.010973
...         ...                     ...
22416  CWIP1220             6575.094108
22417  CWIP1221                0.000000
22418  CWIP1222                0.000000
22419  CWIP1223              226.000000
22420  CWIP1224            25095.537886

[22421 rows x 2 columns]

In [336]:
SouthAfricaSales_df1 = SouthAfricaSales.groupby(['Month', 'AccountID']).sum()
SouthAfricaSales_df1 = SouthAfricaSales.reset_index()


SouthAfricaSales_one_month = SouthAfricaSales_df1.sort_values('Month').groupby('AccountID').agg({'quantity' : lambda x: x.tail(1).sum()})

SouthAfricaSales_three_months = SouthAfricaSales_df1.sort_values('Month').groupby('AccountID').agg({'quantity' : lambda x: x.tail(3).sum()/3})

SouthAfricaSales_six_months = SouthAfricaSales_df1.sort_values('Month').groupby('AccountID').agg({'quantity' : lambda x: x.tail(6).sum()/6})


SouthAfricaSales_one_month = SouthAfricaSales_one_month.reset_index()
SouthAfricaSales_three_months = SouthAfricaSales_three_months.reset_index()
SouthAfricaSales_six_months = SouthAfricaSales_six_months.reset_index()
SouthAfricaSales_three_months


SouthAfricaSales_one_month_avg = SouthAfricaSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})


SouthAfricaSales_three_months_avg = SouthAfricaSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})


SouthAfricaSales_six_months_avg = SouthAfricaSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

SouthAfricaSales_three_months_avg

     AccountID  Sales_three_months_avg
0       365014                0.146667
1       365018                0.056667
2       366680              356.003333
3       366935             4563.703333
4       367418             8541.916667
..         ...                     ...
596    7149375            41432.986667
597    7194148              738.440000
598    7197352             3881.163333
599    7209444             1318.976667
600    7247586             3972.406667

[601 rows x 2 columns]

In [337]:
SingaporeSales_df1 = SingaporeSales.groupby(['Month', 'Manufacturer Number']).sum()
SingaporeSales_df1 = SingaporeSales.reset_index()


SingaporeSales_one_month = SingaporeSales_df1.sort_values('Month').groupby('Manufacturer Number').agg({'quantity' : lambda x: x.tail(1).sum()})

SingaporeSales_three_months = SingaporeSales_df1.sort_values('Month').groupby('Manufacturer Number').agg({'quantity' : lambda x: x.tail(3).sum()/3})

SingaporeSales_six_months = SingaporeSales_df1.sort_values('Month').groupby('Manufacturer Number').agg({'quantity' : lambda x: x.tail(6).sum()/6})


SingaporeSales_one_month = SingaporeSales_one_month.reset_index()
SingaporeSales_three_months = SingaporeSales_three_months.reset_index()
SingaporeSales_six_months = SingaporeSales_six_months.reset_index()
SingaporeSales_three_months


SingaporeSales_one_month_avg = SingaporeSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

SingaporeSales_three_months_avg = SingaporeSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

SingaporeSales_six_months_avg = SingaporeSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\3947899767.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  SingaporeSales_df1 = SingaporeSales.groupby(['Month', 'Manufacturer Number']).sum()

TelemetronData_df1 = TelemetronData.groupby(['Month', 'serial']).sum()
TelemetronData_df1 = TelemetronData_df1.reset_index()

TelemetronData_one_month = TelemetronData_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(1).sum()})

TelemetronData_three_months = TelemetronData_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

TelemetronData_six_months = TelemetronData_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

TelemetronData_one_month = TelemetronData_one_month.reset_index()
TelemetronData_three_months = TelemetronData_three_months.reset_index()
TelemetronData_six_months = TelemetronData_six_months.reset_index()
TelemetronData_three_months

#TelemetronData_one_month_avg = TelemetronData_one_month['quantity'].groupby(TelemetronData_one_month['serial'], axis=0).sum()
#TelemetronData_one_month_avg = TelemetronData_one_month_avg.to_frame().reset_index()
TelemetronData_one_month_avg = TelemetronData_one_month.rename(columns={"quantity": "one_month_avg"})

#TelemetronData_three_months_avg = TelemetronData_three_months['quantity'].groupby(TelemetronData_three_months['serial'], axis=0).sum()
#TelemetronData_three_months_avg = TelemetronData_three_months_avg.to_frame().reset_index()
TelemetronData_three_months_avg = TelemetronData_three_months.rename(columns={"quantity": "three_months_avg"})

#TelemetronData_six_months_avg = TelemetronData_six_months['quantity'].groupby(TelemetronData_six_months['serial'], axis=0).sum()
#TelemetronData_six_months_avg = TelemetronData_six_months_avg.to_frame().reset_index()
TelemetronData_six_months_avg = TelemetronData_six_months.rename(columns={"quantity": "six_months_avg"})

TelemetronData_three_months_avg

In [338]:
RussiaSalesData_df1 = RussiaSalesData.groupby(['Date', 'Serial']).sum()
RussiaSalesData_df1 = RussiaSalesData_df1.reset_index()

RussiaSalesData_one_month = RussiaSalesData_df1.sort_values('Date').groupby('Serial').agg({'quantity' : lambda x: x.tail(1).sum()})

RussiaSalesData_three_months = RussiaSalesData_df1.sort_values('Date').groupby('Serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

RussiaSalesData_six_months = RussiaSalesData_df1.sort_values('Date').groupby('Serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

RussiaSalesData_one_month = RussiaSalesData_one_month.reset_index()
RussiaSalesData_three_months = RussiaSalesData_three_months.reset_index()
RussiaSalesData_six_months = RussiaSalesData_six_months.reset_index()

RussiaSalesData_one_month_avg = RussiaSalesData_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

RussiaSalesData_three_months_avg = RussiaSalesData_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

RussiaSalesData_six_months_avg = RussiaSalesData_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

TelemetronData_one_month_avg = TelemetronData_one_month['quantity'].groupby(TelemetronData_one_month['serial'], axis=0).sum()
TelemetronData_one_month_avg = TelemetronData_one_month_avg.to_frame().reset_index()
TelemetronData_one_month_avg = TelemetronData_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

TelemetronData_three_months_avg = TelemetronData_three_months['quantity'].groupby(TelemetronData_three_months['serial'], axis=0).sum()
TelemetronData_three_months_avg = TelemetronData_three_months_avg.to_frame().reset_index()
TelemetronData_three_months_avg = TelemetronData_three_months_avg.rename(columns={"quantity": "three_months_avg"})

TelemetronData_six_months_avg = TelemetronData_six_months['quantity'].groupby(TelemetronData_six_months['serial'], axis=0).sum()
TelemetronData_six_months_avg = TelemetronData_six_months_avg.to_frame().reset_index()
TelemetronData_six_months_avg = TelemetronData_six_months_avg.rename(columns={"quantity": "six_months_avg"})

TelemetronData_three_months_avg

VendonData_one_month_avg = VendonData_one_month['quantity'].groupby(VendonData_one_month['serial'], axis=0).sum()
VendonData_one_month_avg = VendonData_one_month_avg.to_frame().reset_index()
VendonData_one_month_avg = VendonData_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

VendonData_three_months_avg = VendonData_three_months['quantity'].groupby(VendonData_three_months['serial'], axis=0).sum()
VendonData_three_months_avg = VendonData_three_months_avg.to_frame().reset_index()
VendonData_three_months_avg = VendonData_three_months_avg.rename(columns={"quantity": "three_months_avg"})

VendonData_six_months_avg = VendonData_six_months['quantity'].groupby(VendonData_six_months['serial'], axis=0).sum()
VendonData_six_months_avg = VendonData_six_months_avg.to_frame().reset_index()
VendonData_six_months_avg = VendonData_six_months_avg.rename(columns={"quantity": "six_months_avg"})

VendonData_three_months_avg

#already done with change of code
PakistanSales_three_months_avg['three_months_avg'] = PakistanSales_three_months_avg['Sales_three_months_avg'].apply(lambda x: x/3)

PakistanSales_six_months_avg['six_months_avg'] = PakistanSales_six_months_avg['Sales_six_months_avg'].apply(lambda x: x/6)

In [339]:
PakistanSales_df = pd.merge(Pakistan_aggSales, PakistanSales_one_month_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])


# Merge the DataFrames based on the 'Serial' column
PakistanSales_df = pd.merge(Pakistan_aggSales, PakistanSales_one_month_avg, how='left', left_on='Serial', right_on='Serial')
# Print the head of the merged DataFrame
print(PakistanSales_df.head())

        Serial     quantity  Sales_one_Month_avg
0  10010063319   60245.1569             15412.08
1   2000014136  689624.6980             58078.43
2   2000014290   42356.1536              5000.00
3   2000014292  104124.6992             17440.00
4   2000014293  415646.1472             38800.00

In [340]:
PakistanSales_df2 = pd.merge(PakistanSales_df, PakistanSales_three_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
PakistanSales_df3 = pd.merge(PakistanSales_df2, PakistanSales_six_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
PakistanSales_df3 = PakistanSales_df3.fillna(0)

# Merge the DataFrames based on the 'Serial' column
MalaysiaSales_df1 = pd.merge(Malaysia_aggSales, MalaysiaSales_one_month_avg, how='left', left_on='Serial', right_on='Serial')
MalaysiaSales_df2 = pd.merge(MalaysiaSales_df1, MalaysiaSales_three_months_avg, how='left', left_on='Serial', right_on='Serial')
MalaysiaSales_df3 = pd.merge(MalaysiaSales_df2, MalaysiaSales_six_months_avg, how='left', left_on='Serial', right_on='Serial')
# Fill any missing values with 0
MalaysiaSales_df3 = MalaysiaSales_df3.fillna(0)


# Merge the DataFrames based on the 'Serial ID' column
IndiaSales_df1 = pd.merge(India_aggSales, IndiaSales_one_month_avg, how='left', left_on='Serial ID', right_on='Serial ID')
IndiaSales_df2 = pd.merge(IndiaSales_df1, IndiaSales_three_months_avg, how='left', left_on='Serial ID', right_on='Serial ID')
IndiaSales_df3 = pd.merge(IndiaSales_df2, IndiaSales_six_months_avg, how='left', left_on='Serial ID', right_on='Serial ID')

# Fill any missing values with 0
IndiaSales_df3 = IndiaSales_df3.fillna(0)

# Print the head of the merged DataFrame
print(IndiaSales_df3.head(30))

   Serial ID       quantity  Sales_one_Month_avg  Sales_three_months_avg  \
0   10010737   93785.068531                  0.0                0.000000
1   10010738   62524.483809                  0.0            11053.410000
2   10010770       0.000000                  0.0                0.000000
3   10010772       0.000000                  0.0                0.000000
4   10010776   22225.370541               7227.0             3787.010973
5   10010778       0.000000                  0.0                0.000000
6   10010799   22631.372025               1191.0             3573.351411
7   10010800   22631.372025               1191.0             3573.351411
8   10011102       0.000000                  0.0                0.000000
9   10011124   11911.863591               1440.0             1043.017126
10  10011126   69493.157111                  0.0             1802.708601
11  10011135       0.000000                  0.0                0.000000
12  10011145   23952.491128                  0.0                0.000000
13  10011170       0.000000                  0.0                0.000000
14  10011171    3119.385280                  0.0               27.619708
15  10011172    8421.945604                899.0             1398.880057
16  10011173       0.000000                  0.0                0.000000
17  10011183   25355.483667               6489.0             4795.250178
18  10011185  112125.101328              20792.0            21408.411981
19  10011363    4599.104020                249.0             1208.609333
20  10011364    2423.948072                  0.0              581.394855
21  10011367   10747.242703                  0.0             2427.581125
22  10011369       0.000000                  0.0                0.000000
23  10011379       0.000000                  0.0                0.000000
24  10011384       0.000000                  0.0                0.000000
25  10011389       0.000000                  0.0                0.000000
26  10012396   12886.633421                  0.0              667.844541
27  10012397       0.000000                  0.0                0.000000
28  10012641       0.000000                  0.0                0.000000
29  10012660       0.000000                  0.0                0.000000

    Sales_six_months_avg
0           15630.844755
1           10420.747301
2               0.000000
3               0.000000
4            3704.228424
5               0.000000
6            3771.895337
7            3771.895337
8               0.000000
9            1985.310598
10          11582.192852
11              0.000000
12           3992.081855
13              0.000000
14            519.897547
15           1403.657601
16              0.000000
17           4225.913944
18          18687.516888
19            766.517337
20            403.991345
21           1791.207117
22              0.000000
23              0.000000
24              0.000000
25              0.000000
26           2147.772237
27              0.000000
28              0.000000
29              0.000000

In [341]:
IndiaSales_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22421 entries, 0 to 22420
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial ID               22421 non-null  object
 1   quantity                22421 non-null  float64
 2   Sales_one_Month_avg     22421 non-null  float64
 3   Sales_three_months_avg  22421 non-null  float64
 4   Sales_six_months_avg    22421 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.0+ MB

#TelemetronData_three_months_avg['three_months_avg'] = TelemetronData_three_months_avg['three_months_avg'].apply(lambda x: x/3)

#TelemetronData_six_months_avg['six_months_avg'] = TelemetronData_six_months_avg['six_months_avg'].apply(lambda x: x/6)

TelemetronData_df = pd.merge(Telemetron_agg, TelemetronData_one_month_avg, how='left', left_on = ['serial'], right_on = ['serial'])
TelemetronData_df.head()

TelemetronData_df2 = pd.merge(TelemetronData_df, TelemetronData_three_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
TelemetronData_df3 = pd.merge(TelemetronData_df2, TelemetronData_six_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
TelemetronData_df3 = TelemetronData_df3.fillna(0)

In [342]:
RussiaSalesData_df = pd.merge(RussiaSalesData_agg, RussiaSalesData_one_month_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
RussiaSalesData_df.head()

RussiaSalesData_df2 = pd.merge(RussiaSalesData_df, RussiaSalesData_three_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
RussiaSalesData_df3 = pd.merge(RussiaSalesData_df2, RussiaSalesData_six_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
RussiaSalesData_df3 = RussiaSalesData_df3.fillna(0)

VendonData_three_months_avg['three_months_avg'] = VendonData_three_months_avg['three_months_avg'].apply(lambda x: x/3)

VendonData_six_months_avg['six_months_avg'] = VendonData_six_months_avg['six_months_avg'].apply(lambda x: x/6)

VendonData_df = pd.merge(Vendon_agg, VendonData_one_month_avg, how='left', left_on = ['serial'], right_on = ['serial'])

VendonData_df2 = pd.merge(VendonData_df, VendonData_three_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
VendonData_df3 = pd.merge(VendonData_df2, VendonData_six_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
VendonData_df3 = VendonData_df3.fillna(0)
VendonData_df3

Add Key manuf no and Sales org

In [343]:
SouthAfricaSales_df = pd.merge(SouthAfrica_aggSales, SouthAfricaSales_one_month_avg, how='left', left_on = ['AccountID'], right_on = ['AccountID'])
SouthAfricaSales_df.head()

SouthAfricaSales_df2 = pd.merge(SouthAfricaSales_df, SouthAfricaSales_three_months_avg, how='left', left_on = ['AccountID'], right_on = ['AccountID'])
SouthAfricaSales_df3 = pd.merge(SouthAfricaSales_df2, SouthAfricaSales_six_months_avg, how='left', left_on = ['AccountID'], right_on = ['AccountID'])
SouthAfricaSales_df3 = SouthAfricaSales_df3.fillna(0)
SouthAfricaSales_df3.head()

,AccountID,quantity,Sales_one_Month_avg,Sales_three_months_avg,Sales_six_months_avg
0,365014,1.02,0.20,0.146667,0.083333
1,365018,40.65,0.06,0.056667,6.713333
2,366680,1068.01,1068.01,356.003333,178.001667
3,366935,13691.11,8376.59,4563.703333,2281.851667
4,367418,164133.33,8998.11,8541.916667,10027.113333

In [344]:
SingaporeSales_df = pd.merge(Singapore_aggSales, SingaporeSales_one_month_avg, how='left', left_on = ['Manufacturer Number'], right_on = ['Manufacturer Number'])
SingaporeSales_df2 = pd.merge(SingaporeSales_df, SingaporeSales_three_months_avg, how='left', left_on = ['Manufacturer Number'], right_on = ['Manufacturer Number'])
SingaporeSales_df3 = pd.merge(SingaporeSales_df2, SingaporeSales_six_months_avg, how='left', left_on = ['Manufacturer Number'], right_on = ['Manufacturer Number'])
SingaporeSales_df3 = SingaporeSales_df3.fillna(0)
SingaporeSales_df3.head(30)

,Manufacturer Number,quantity,Sales_one_Month_avg,Sales_three_months_avg,Sales_six_months_avg
0,141982300000383201,4069.430000,188.410000,216.800000,218.305000
1,141982300001083201,3882.990000,165.740000,227.380000,196.265000
2,141982300003083201,13330.137298,657.900000,566.809593,698.722073
3,141982300003283201,3482.180000,0.000000,91.253333,132.993333
4,141992300000483201,2905.000000,333.920000,111.306667,166.960000
5,141992300000783201,26217.859180,1756.372121,1590.927374,1575.860470
6,141992300000983201,1812.030000,117.100000,65.936667,66.775000
7,141992300001583201,6822.600000,178.380000,237.840000,263.763333
8,141992300001683201,780.710000,95.075000,72.158333,82.632500
9,141992300003283201,3455.920000,250.440000,194.786667,97.393333
10,141992300003883201,5691.991014,248.915797,254.552899,341.878502
11,142022300000183201,3785.720000,151.600000,191.686667,168.318333
12,142092300000183201,6535.765000,605.390000,377.103333,333.395000
13,142092300000383201,394.150000,38.480000,78.593333,43.431667
14,142092300000883201,3785.192561,248.915797,254.552899,205.178432
15,142092300001383201,10497.557941,408.400000,410.676397,501.104657
16,142552300004583201,24133.240000,1214.400000,1103.093333,1124.620000
17,142552300004983201,13864.805460,610.212670,560.272179,635.829714
18,142552300005083201,12677.260000,523.720000,579.373333,624.920000
19,142552300005183201,11939.540000,1001.760000,779.146667,1057.413333
20,142552300005283201,7428.320000,405.040000,289.493333,293.720000
21,142552300005383201,2487.608396,930.882815,829.202799,414.601399
22,142552300005483201,10897.042538,847.215362,820.240114,914.257163
23,142552300005583201,17729.138911,743.698911,2149.386304,1976.229818
24,142552300005783201,8973.770000,542.620000,528.706667,549.576667
25,142562300000983201,1940.780000,277.790000,371.026667,323.463333
26,142582300000283201,3267.215127,248.915797,254.552899,435.786479
27,142582300000383201,2328.543647,1001.760000,381.011282,242.432189
28,142582300000883201,1687.027500,38.653750,126.038750,102.736458
29,142582300001083201,6581.485000,418.050000,407.586667,420.771667

In [345]:
PakistanSales_df3['KeyManufNo_SalesOrg'] = PakistanSales_df3['Serial'].astype(str) + 'Pakistan' 

# Create the new column by combining 'Serial' with 'Malaysia'
MalaysiaSales_df3['KeyManufNo_SalesOrg'] = MalaysiaSales_df3['Serial'].astype(str) + 'Malaysia'

# Create the new column by combining 'Serial ID' with 'India'
IndiaSales_df3['KeyManufNo_SalesOrg'] = IndiaSales_df3['Serial ID'].astype(str) + 'Nestlé India'

Not used yet in Vendon to differentiate markets

TelemetronData_df3['KeyManufNo_SalesOrg'] = TelemetronData_df3['serial'].astype(str) + 'Nestlé Russia'

In [346]:
RussiaSalesData_df3['KeyManufNo_SalesOrg'] = RussiaSalesData_df3['Serial'].astype(str) + 'Nestlé Russia'

In [347]:
SouthAfricaSales_df3['KeyManufNo_SalesOrg'] = SouthAfricaSales_df3['AccountID'].astype(str) + 'Nestle South Africa'

Rename the accountID column from South Africa as we already did the work to get the accountID

In [348]:
SouthAfricaSales_df4 = SouthAfricaSales_df3.rename(columns = {'AccountID':'Serial'})

In [349]:
SingaporeSales_df3['KeyManufNo_SalesOrg'] = SingaporeSales_df3['Manufacturer Number'].astype(str) + 'Singapore'

In [350]:
SingaporeSales_df4 = SingaporeSales_df3.rename(columns = {'Manufacturer Number':'Serial'})

IndiaSales_df4 = IndiaSales_df3.rename(columns = {'Serial ID':'Serial'})

In [351]:
IndiaSales_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22421 entries, 0 to 22420
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial                  22421 non-null  object
 1   quantity                22421 non-null  float64
 2   Sales_one_Month_avg     22421 non-null  float64
 3   Sales_three_months_avg  22421 non-null  float64
 4   Sales_six_months_avg    22421 non-null  float64
 5   KeyManufNo_SalesOrg     22421 non-null  object
dtypes: float64(4), object(2)
memory usage: 1.2+ MB

VendonData_df3['KeyManufNo_SalesOrg'] = VendonData_df3['serial'].astype(str) + VendonData_df3['SalesOrg'].astype(str)

VendonData_df3=VendonData_df3.drop(columns=['SalesOrg'])
VendonData_df3.head()

In [352]:
Concat_Sales = pd.concat([RussiaSalesData_df3, PakistanSales_df3, SouthAfricaSales_df4, SingaporeSales_df4, MalaysiaSales_df3, IndiaSales_df4])
Concat_Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91893 entries, 0 to 22420
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial                  91893 non-null  object
 1   quantity                91893 non-null  float64
 2   Sales_one_Month_avg     91893 non-null  float64
 3   Sales_three_months_avg  91893 non-null  float64
 4   Sales_six_months_avg    91893 non-null  float64
 5   KeyManufNo_SalesOrg     91893 non-null  object
dtypes: float64(4), object(2)
memory usage: 4.9+ MB

In [353]:
Concat_Sales['(lst_mth-6mth)/6mth'] = Concat_Sales.apply(lambda x: 0 if x['Sales_six_months_avg'] <= 0 else (x['Sales_one_Month_avg']-x['Sales_six_months_avg'])/x['Sales_six_months_avg'], axis=1)

Concat_Sales['3mth-6mth)/6mth'] = Concat_Sales.apply(lambda x: 0 if x['Sales_six_months_avg'] <= 0 else (x['Sales_three_months_avg']-x['Sales_six_months_avg'])/x['Sales_six_months_avg'], axis=1)

In [354]:
Concat_Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91893 entries, 0 to 22420
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial                  91893 non-null  object
 1   quantity                91893 non-null  float64
 2   Sales_one_Month_avg     91893 non-null  float64
 3   Sales_three_months_avg  91893 non-null  float64
 4   Sales_six_months_avg    91893 non-null  float64
 5   KeyManufNo_SalesOrg     91893 non-null  object
 6   (lst_mth-6mth)/6mth     91893 non-null  float64
 7   3mth-6mth)/6mth         91893 non-null  float64
dtypes: float64(6), object(2)
memory usage: 6.3+ MB

In [355]:
Concat_Sales.tail(5)

,Serial,quantity,Sales_one_Month_avg,Sales_three_months_avg,Sales_six_months_avg,KeyManufNo_SalesOrg,(lst_mth-6mth)/6mth,3mth-6mth)/6mth
22416,CWIP1220,84796.077158,8573.0,6575.094108,14132.679526,CWIP1220Nestlé India,-0.393392,-0.534760
22417,CWIP1221,0.000000,0.0,0.000000,0.000000,CWIP1221Nestlé India,0.000000,0.000000
22418,CWIP1222,0.000000,0.0,0.000000,0.000000,CWIP1222Nestlé India,0.000000,0.000000
22419,CWIP1223,1356.000000,0.0,226.000000,226.000000,CWIP1223Nestlé India,-1.000000,0.000000
22420,CWIP1224,188754.153277,14789.0,25095.537886,31459.025546,CWIP1224Nestlé India,-0.529896,-0.202279

Need to change the type otherwise cannot merge correctly with manuf number

TelemetronData_df3['serial'] = TelemetronData_df3['serial'].astype(str)

BeverageMachine7_wTickets_df['Manufacturer Number'] = BeverageMachine7_wTickets_df['Manufacturer Number'].astype(str)

w=aaaf.loc[aaaf['Manufacturer Number']=='20172526377']
w

In [356]:
#Concat_Telemetry = pd.concat([TelemetronData_df3, Telemetry_aggSales_df3])
Concat_Telemetry = Telemetry_aggSales_df3
Concat_Telemetry.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33920 entries, 0 to 33919
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   serial            33920 non-null  object
 1   quantity          33920 non-null  int64
 2   one_month_avg     33920 non-null  int64
 3   three_months_avg  33920 non-null  float64
 4   six_months_avg    33920 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.6+ MB

In [357]:
Concat_Telemetry['(lst_mth-6mth)/6mth'] = Concat_Telemetry.apply(lambda x: 0 if x['six_months_avg'] <= 0 else (x['one_month_avg']-x['six_months_avg'])/x['six_months_avg'], axis=1)

Concat_Telemetry['3mth-6mth)/6mth'] = Concat_Telemetry.apply(lambda x: 0 if x['six_months_avg'] <= 0 else (x['three_months_avg']-x['six_months_avg'])/x['six_months_avg'], axis=1)

## 10. Market Actions data

In [358]:
##Market Actions listed
MktActions = pd.read_excel(MktActions)
MktActions.head()

,Month,Serial ID,Sales Organisation,Parent Installation Point ID,Actions,Comments,CA Comments
0,2021-11-30,34F6401007,Nestle UK,7326,Other,CA Feedback Required,NaN
1,2021-11-30,16E0031901,Nestle UK,11955,Removal planned,NaN,NaN
2,2021-11-30,17E0020640,Nestle UK,8151,Removal planned,NaN,NaN
3,2021-11-30,10238090,Nestle UK,IP-11722,Removal planned,NaN,NaN
4,2021-11-30,101810133,Nestle UK,4915,Other,CA Feedback Required,NaN

In [359]:
MktActions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476 entries, 0 to 1475
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1476 non-null   datetime64[ns]
 1   Serial ID                     1476 non-null   object
 2   Sales Organisation            1476 non-null   object
 3   Parent Installation Point ID  1476 non-null   object
 4   Actions                       1475 non-null   object
 5   Comments                      1110 non-null   object
 6   CA Comments                   29 non-null     object
dtypes: datetime64[ns](1), object(6)
memory usage: 80.8+ KB

In [360]:
#add key serial + sales org?
#One hot encoding
def preprocess_MktActions(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Actions']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

MktActions_prep = preprocess_MktActions(MktActions)
MktActions_prep.head()

,Month,Serial ID,Sales Organisation,Parent Installation Point ID,Comments,CA Comments,Actions_Churn risk reason unknown,Actions_Data corrected,Actions_Downgrade machine installed,Actions_Lack of data discipline,...,Actions_Removed,Actions_Reviewed and no action Required,Actions_Reviewed and no actions required,Actions_Seasonal Machine,Actions_Telemetry installed,Actions_Upgrade machine installed,Actions_Visit completed,Actions_Visit/Call planned,Actions_removed,Actions_tagging update
0,2021-11-30,34F6401007,Nestle UK,7326,CA Feedback Required,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-11-30,16E0031901,Nestle UK,11955,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-11-30,17E0020640,Nestle UK,8151,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-11-30,10238090,Nestle UK,IP-11722,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-11-30,101810133,Nestle UK,4915,CA Feedback Required,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [361]:
MktActions_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476 entries, 0 to 1475
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Month                                     1476 non-null   datetime64[ns]
 1   Serial ID                                 1476 non-null   object
 2   Sales Organisation                        1476 non-null   object
 3   Parent Installation Point ID              1476 non-null   object
 4   Comments                                  1110 non-null   object
 5   CA Comments                               29 non-null     object
 6   Actions_Churn risk reason unknown         1476 non-null   uint8
 7   Actions_Data corrected                    1476 non-null   uint8
 8   Actions_Downgrade machine installed       1476 non-null   uint8
 9   Actions_Lack of data discipline           1476 non-null   uint8
 10  Actions_New contract                      1476 non-null   uint8
 11  Actions_Other                             1476 non-null   uint8
 12  Actions_Out of order                      1476 non-null   uint8
 13  Actions_Phone Call completed              1476 non-null   uint8
 14  Actions_Plan for removal                  1476 non-null   uint8
 15  Actions_Removal Plan                      1476 non-null   uint8
 16  Actions_Removal planned                   1476 non-null   uint8
 17  Actions_Removed                           1476 non-null   uint8
 18  Actions_Reviewed and no action Required   1476 non-null   uint8
 19  Actions_Reviewed and no actions required  1476 non-null   uint8
 20  Actions_Seasonal Machine                  1476 non-null   uint8
 21  Actions_Telemetry installed               1476 non-null   uint8
 22  Actions_Upgrade machine installed         1476 non-null   uint8
 23  Actions_Visit completed                   1476 non-null   uint8
 24  Actions_Visit/Call planned                1476 non-null   uint8
 25  Actions_removed                           1476 non-null   uint8
 26  Actions_tagging update                    1476 non-null   uint8
dtypes: datetime64[ns](1), object(5), uint8(21)
memory usage: 99.6+ KB

In [362]:
MktActions_prep2=MktActions_prep.drop(columns=['Sales Organisation','Parent Installation Point ID', 'Month'])
MktActions_prep3 = MktActions_prep2.groupby(['Serial ID']).sum()
MktActions_prep3.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\521999914.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  MktActions_prep3 = MktActions_prep2.groupby(['Serial ID']).sum()

,Actions_Churn risk reason unknown,Actions_Data corrected,Actions_Downgrade machine installed,Actions_Lack of data discipline,Actions_New contract,Actions_Other,Actions_Out of order,Actions_Phone Call completed,Actions_Plan for removal,Actions_Removal Plan,...,Actions_Removed,Actions_Reviewed and no action Required,Actions_Reviewed and no actions required,Actions_Seasonal Machine,Actions_Telemetry installed,Actions_Upgrade machine installed,Actions_Visit completed,Actions_Visit/Call planned,Actions_removed,Actions_tagging update
Serial ID,,,,,,,,,,,,,,,,,,,,,
24606,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1895151,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10238090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10238091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10238092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [363]:
MktActions_prep3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1229 entries, 24606 to T487736
Data columns (total 21 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Actions_Churn risk reason unknown         1229 non-null   uint8
 1   Actions_Data corrected                    1229 non-null   uint8
 2   Actions_Downgrade machine installed       1229 non-null   uint8
 3   Actions_Lack of data discipline           1229 non-null   uint8
 4   Actions_New contract                      1229 non-null   uint8
 5   Actions_Other                             1229 non-null   uint8
 6   Actions_Out of order                      1229 non-null   uint8
 7   Actions_Phone Call completed              1229 non-null   uint8
 8   Actions_Plan for removal                  1229 non-null   uint8
 9   Actions_Removal Plan                      1229 non-null   uint8
 10  Actions_Removal planned                   1229 non-null   uint8
 11  Actions_Removed                           1229 non-null   uint8
 12  Actions_Reviewed and no action Required   1229 non-null   uint8
 13  Actions_Reviewed and no actions required  1229 non-null   uint8
 14  Actions_Seasonal Machine                  1229 non-null   uint8
 15  Actions_Telemetry installed               1229 non-null   uint8
 16  Actions_Upgrade machine installed         1229 non-null   uint8
 17  Actions_Visit completed                   1229 non-null   uint8
 18  Actions_Visit/Call planned                1229 non-null   uint8
 19  Actions_removed                           1229 non-null   uint8
 20  Actions_tagging update                    1229 non-null   uint8
dtypes: uint8(21)
memory usage: 34.8+ KB

### (b) Plan to manage and process the data <a class="anchor" id="ManageData"></a>

I will extract the data into excel or csv format and upload it to python.

I can merge the data of the different files together

The data is checked monthly and has been created to be linked together

Columns useful to link the datasets together :

    'Product ID [Machine Model ID]'

    'Manufacturer Number'

    'BMB/C4C Model code'

    'M1'
    
    'Manufacture Serial Number'
    
    'Serial ID'

I need to find a way to have one line per machine per month for telemetry data and Placement Tickets

The main idea behind the use of telemetry data here is to check if we can see for example a relation between churn and a the number of cup sales.

I will not use all the features. Below are the features I am planning to use for the two biggest dataset :

19 columns from Beverage Machine data :

['Serial ID', 'Sales Organisation', 'Machine Status Groupings', 'User Status', 'TA Contract Installation Date', 'Depreciation Start',
'Position', 'TA Contract Start Date', 'TA Contract End Date', 'TA Usage Indicator',
'Account ABC Classification (Account ID)', 'Industry (Account ID)', 'Industry Code 1 (Account ID)',  'Account ABC Classification (EC ID)', 'Industry (EC ID)',
'Industry Code 1 (EC ID)', 'Parent Installation Point ID', 'Registered Product Category (Registered Product ID)', 'Calendar Date']

14 columns coming from the Beverage Classification data :

['Model', 'Model Vendor', 'Model Category', 'Model Group', 'Beverage Temperature',
'System Brands', 'Ingredient Format', 'Machine Type', 'Positionning', 'Generation',
'Blueprint Throughput', 'IP Ownership', 'Trading Partner', 'G/R/M TB']

### Beverage Machine data features and the Beverage Classification data features

##### Serial ID                                              
	Unique per machine and allows to link to the Tickets placements

##### Sales Organisation                                     
	Usually a Sales Organisation corresponds to a Country

##### Product ID [Machine Model ID]                          
	Code that allows us to link it to the intermediary mapping table which contains all the details for each machine

##### Machine Status Groupings                               
	Status of the Machine shows if a machine is :
		Deployed
		Idle
		Other

##### User Status                                            
	More detailed than status groupings

##### Depreciation Start                                     
	Date when the machine started to display cup

##### Manufacturer Number                                    
	Code that allows us to link to the telemetry data


##### Position                                               
	Can tell if a machine is a:
		RENT,
		Sale,
		Loan,
		Demo,
		etc.,
##### TA Contract Installation Date
    Date when the machine was installed, different than depreciation start because a machine can be installed but could have already dispensed cups in another Installation Point

##### TA Contract Start Date                                 
	Date when the contract started
    
##### TA Contract End Date                                  
	Date when the contract ended
    
##### TA Usage Indicator                                     
	Can have several usage:
		5 Monthly Rental
		Not assigned
		Trial / Evaluation
		7 Annual / Periodic

##### Account ABC Classification (Account ID)                
	Can help to identify in which Channel is the Account
    
##### Industry (Account ID)                                  
	Can help to identify in which Channel is the Account
    
##### Industry Code 1 (Account ID)                           
	Can help to identify in which Channel is the Account

##### Account ABC Classification (EC ID)                     
	Can help to identify in which Channel is the End Customer
    
##### Industry (EC ID)                                       
	Can help to identify in which Channel is the End Customer
    
##### Industry Code 1 (EC ID)                                
	Can help to identify in which Channel is the End Customer

##### Parent Installation Point ID                           
	Help to identify if a machine is still deployed in the same location by the same customer, it is the Installation Point ID we were talking before.

##### Registered Product Category (Registered Product ID)    
	Details of the category within our group

##### Calendar Date                                          
	Date when we extracted the data of the machine
    
##### BMB/C4C Model code                                     
	Code that allows to link the intermediary mapping table to the beverage machine data

##### M1                                                     
	Name of the harmonized model and used to link the intermediary mapping to the mapping file with unique model
    
##### Model                                                  
	Name of the harmonized model and used to link the intermediary mapping to the mapping file with unique model

##### Model Vendor                                           
	Name of the vendor of the coffee machine

##### Model Category                                         
	Category of the model
		
##### Model Group                                            
	Group of the model

##### Beverage Temperature                                   
	Temperature of the beverage

##### System Brands                                         
	Brand internal classification

##### Ingredient Format                                     
	Format of the ingredient

##### Machine Type                                           
	Type of Machine

##### Positionning                                           
	Positionning of the machine

##### Generation                                             
	Generation of the machine

##### Blueprint Throughput                                   
    Type of throughput

##### IP Ownership                                           
    Ownership type

##### Trading Partner                                        
	Type of Trading Partner

##### G/R/M TB                                               
	How it is managed by the market 

Useless data not really explaining the model :

##### not used columns : 32

User Status Last Changed On                            
Product [Machine Model]                                
	Name of the machine Model 
Range Brand                                           
	Brand of the model
    
EC ID                                                  
    We can identify the end customer with this number, some can have more than one machine
    
	Can be transformed into #Machine for this customer

Equipment Number                                       
Asset Number                                           
TA Contract Number                                   
Account ID                                          
Ship To ID                                     
EC Name                                           
Sales Org ID (Installation Point)                  
Model Harmonized                                    	
Comments                                          
Source                                              
Global Projects                                    
	Machine that are part of a project :
		Roastelier
		Alegria
		Nitro
		Milano
		EZCare
		Express
		CoolPro
Toolbox                                               
Non-Toolbox Reason                 
Product                                       
Type.                              
Machines Models (Harmonized)                     
Solution Brands                 
Toolbox 2019                                       
Toolbox 2018                                     
Toolbox 2017                                        
Trade Assets                                      
Active for Procurement (2017)                       
Idle Available Stock Type                          
Modified                                          
Modified By                                     
Created                                            
Item Type                                       
Path

### Placement Tickets data features

##### Service Category
    Tell if the machine was :
        Installed
        Removed
        Replaced

##### Completion Date
    Date when the Ticket was done, we will aggregate on the number of tickets and we will use it to get the day of last visit.

##### Incident Category
    Reason of the Ticket, details about the incident or ticket

##### Serial ID
    In order to link to the Beverage Machine data

### Telemetry data features

##### quantity 
    Sales quantity

##### serial 	
    ID that allows us to map a to the manufacturer number of the beverage machines

##### columns not used :

Month

    Month of the sales

stockId

    Each machines has a button linked to an ID and by mapping this ID to the related product when can know which type of cup was sold, yet the machines is not working for every machines, so the columns product might be wrong

Column1 	

    unknown Id

Averages 	

    unknown average

inactive 	

    unknown column

machine_id2 

    unknown Id

Product

    type of cup sold (mapping is not ready for every machines yet)

We will use only the sales quantity and the serial to link to the Beverage Machine data. The other columns are either not useful or not satisfying minimum requirements on accuracy of data (bad data)

### Missing data

In [364]:
# TA Contract Installation Date
BevMachMissingInstDate = BeverageMachine_df.loc[BeverageMachine_df['TA Contract Installation Date']=='#']['TA Contract Installation Date'].count()
TotBevMach = BeverageMachine_df['Serial ID'].count()

# TA Contract Start Date
BevMachMissingStartDate = BeverageMachine_df.loc[BeverageMachine_df['TA Contract Start Date']=='#']['TA Contract Start Date'].count()

# TA Contract End Date 
BevMachMissingEndDate = BeverageMachine_df.loc[BeverageMachine_df['TA Contract End Date']=='#']['TA Contract End Date'].count()

# Depreciation Start
BevMachMissingDepStartDate = BeverageMachine_df.loc[BeverageMachine_df['Depreciation Start']=='#']['Depreciation Start'].count()


print('Beverage machines missing Installation Date : ', BevMachMissingInstDate, ', which corresponds to ', 100*round(BevMachMissingInstDate/TotBevMach,2), '%')
print('Beverage machines missing Start Date : ', BevMachMissingStartDate, ', which corresponds to ', 100*round(BevMachMissingStartDate/TotBevMach,2), '%')
print('Beverage machines missing End Date : ', BevMachMissingEndDate, ', which corresponds to ', 100*round(BevMachMissingEndDate/TotBevMach,2), '%')
print('Beverage machines missing Depreciation Start Date : ', BevMachMissingDepStartDate, ', which corresponds to ', 100*round(BevMachMissingDepStartDate/TotBevMach,2), '%')

Beverage machines missing Installation Date :  5426386 , which corresponds to  74.0 %
Beverage machines missing Start Date :  5426386 , which corresponds to  74.0 %
Beverage machines missing End Date :  5426378 , which corresponds to  74.0 %
Beverage machines missing Depreciation Start Date :  4 , which corresponds to  0.0 %

##### Telemetry data
Even if the number of beverage machines equiped with telemetry data is increasing the data available is still low and should be seen as a complement.

In August 2020 only around 200 beverage machines have telemetry data and are already in the new system from which we got Beverage Machine data and we have around 60'000 beverage machines.


##### Placement Tickets data

27'318 beverage machines does not provide any Placement tickets


##### Date features missing

We see that sometimes the date is not filled for Installation Date, Start Date and End Date

#### Visits data
A visit is linked to an account and a machine "Account ID" can be linked to a visit "Account ID.Account ID Level 01.Key" maybe a key with the Sales Org in case it is unique only by market

#### Phone Calls data
A phone Call is linked to an account. Link "Account Name" from phone call with "Account ID" of the machine.

## Preparation of the data<a class="anchor" id="prep"></a>

### a) Details of preparation<a class="anchor" id="det"></a>

#### Beverage Machine data preparation

The goal is to get the actual maximal date of each Serial ID

If a machine has a maximal date that is lower than (or not equal to) the latest snapshot date, then the machine has churned.

We will look at the max date per installation point because when we lose an installation point we lose the customer. 

A machine can be realocated to another customer.

Keep only the latest month of data

In [365]:
BeverageMachine_df['Calendar Date'] = pd.to_datetime(BeverageMachine_df['Calendar Date'], errors =  'coerce')

In [366]:
BeverageMachine_df.tail()

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date,Key_ManufacturerID_SalesOrg
8582678,3201311,Nestle South Africa,44460,NESCAFE MILANO 8/60 H6 AR,100118541,MILANO,Deployed,Installed,40626,ZA4188,...,060502 Factory,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1079926,Trade Asset w/ Fixed Asset,ZA10,90083851,2023-12-31,3897301Nestle South Africa
8582679,3201312,Nestle South Africa,44460,NESCAFE MILANO 8/60 H6 AR,100118541,MILANO,Deployed,Installed,40695,ZA5014,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1080068,Trade Asset w/ Fixed Asset,ZA10,90083851,2023-12-31,3896790Nestle South Africa
8582680,3201313,Nestle South Africa,44460,NESCAFE MILANO 8/60 H6 AR,100118541,MILANO,Deployed,Installed,41334,ZA4631,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1080064,Trade Asset w/ Fixed Asset,ZA10,90083851,2023-12-31,3896790Nestle South Africa
8582681,3201314,Nestle South Africa,44460,NESCAFE ALEGRIA Base Cabinet,100118550,ALEGRIA,Deployed,Installed,42005,ZA14050,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1080336,Trade Asset Accessory,ZA10,90083852,2023-12-31,3896790Nestle South Africa
8582682,3201315,Nestle South Africa,44460,NESCAFE ALEGRIA Base Cabinet,100118550,ALEGRIA,Deployed,Installed,42370,ZA14115,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1079951,Trade Asset Accessory,ZA10,90083852,2023-12-31,3896944Nestle South Africa

BeverageMachine_df1 = BeverageMachine_df.copy()
BeverageMachine_df1 = BeverageMachine_df1.groupby(['Parent Installation Point ID'])

In [367]:
BeverageMachine_df1 = BeverageMachine_df.copy()
BeverageMachine_df1['Product ID [Machine Model ID]'] = BeverageMachine_df1['Product ID [Machine Model ID]'].astype(str)
#BeverageMachine_df2 = BeverageMachine_df1.groupby(['Parent Installation Point ID']).agg({'Calendar Date' : [np.min, np.max]})

#BeverageMachine_df1['Calendar Date2'] = BeverageMachine_df1['Calendar Date']

#BeverageMachine_df2 = BeverageMachine_df1.groupby(['Parent Installation Point ID']).agg({'Calendar Date' : 'min', 'Calendar Date2' : 'max'})

In [368]:
BeverageMachine_df2 = pd.merge(BeverageMachine_df1, BevMap_df, how='left', left_on = ['Product ID [Machine Model ID]'], right_on = ['ID Model Code'])
BeverageClassification1_df = BeverageClassification_df.drop_duplicates(['Model'])
BeverageMachine_df3 = pd.merge(BeverageMachine_df2, BeverageClassification1_df, how='left', left_on = ['Model'], right_on = ['Model'])

In [369]:
BeverageMachine_df3 = BeverageMachine_df3.query("`Model` != 'Accessories'")

In [370]:
BeverageMachine_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6335223 entries, 0 to 7317356
Data columns (total 73 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        object
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        datetime64[ns]
 37  Key_ManufacturerID_SalesOrg                          object
 38  Brand Name                                           object
 39  Description                                          object
 40  ID Model Code                                        object
 41  Source                                               object
 42  Model                                                object
 43  Revised                                              object
 44  Modified                                             object
 45  Modified By                                          object
 46  Model Vendor                                         object
 47  Model Category                                       object
 48  Global Projects                                      object
 49  System Brands                                        object
 50  Solution Brands                                      object
 51  Model Group                                          object
 52  Generation                                           object
 53  Product                                              object
 54  Ingredient Format                                    object
 55  Model Category 2                                     object
 56  Machine Type                                         object
 57  Beverage Temperature                                 object
 58  Positionning                                         object
 59  Blueprint Throughput                                 object
 60  G/R/M PML                                            object
 61  IP Ownership                                         object
 62  Price List                                           object
 63  PSL                                                  object
 64  TAA & TAR Ownership                                  object
 65  TAA & TAR                                            object
 66  SC & Planning                                        object
 67  Production                                           object
 68  IM                                                   object
 69  Sustainability LCA Ownership                         object
 70  Sustainability LCA                                   object
 71  Vendon Compatible                                    object
 72  Technical Capacity                                   int64
dtypes: datetime64[ns](1), int64(3), object(69)
memory usage: 3.5+ GB

In [371]:
# Get the distinct values for the column "TA Usage Indicator"
distinct_values = BeverageMachine_df3["TA Usage Indicator"].unique()

# Print the distinct values
print(distinct_values)

# Get the distinct values for the column "Position"
distinct_values2 = BeverageMachine_df3["Position"].unique()

# Print the distinct values
print(distinct_values2)

['Not assigned' '5 Monthly Rental' '1 Sale' 'Trial / Evaluation'
 '7 Annual / Periodic' nan 'Monthly Rental' 'Yearly Rental' 'Trial'
 'Weekly Rental']
['LOAN' '#' 'SCRP' 'EVAL' 'RENT' 'DEMO' 'SALE' '21H0' '22O0' '23O0' 'SOLD'
 'FOL' '1000' 'EXPE' '11' '1' nan '1010' 'TEST' '0' 'CUST' 'F030' 'R010'
 'R030' 'R020' 'R130' 'R050' 'R090' 'R080' 'R100' 'R070' 'R120' 'R110'
 'R040' 'R140' 'R150' 'F020' 'F010' 'F100' 'F050' 'F110' 'F070' 'F660'
 'F690' 'R720' 'F700' 'F710' 'F090' 'R060' 'R770']

In [372]:
# List of allowed values
allowed_values = ["DEMO", "EVAL", "FOL", "LOAN", "RENT", "SALE", "SCRP", "SOLD", "TEST"]

# Replace values not in the allowed list with "#"
BeverageMachine_df3.loc[~BeverageMachine_df3["Position"].isin(allowed_values), "Position"] = "#"

# Print the updated DataFrame for the "TA Usage Indicator" column
print(BeverageMachine_df3["Position"].unique())

# Replace "0" and NaN with "Not assigned" in the column "TA Usage Indicator"
BeverageMachine_df3["TA Usage Indicator"].replace({"0": "Not assigned", np.nan: "Not assigned"}, inplace=True)

# Print the updated DataFrame for the "TA Usage Indicator" column
print(BeverageMachine_df3["TA Usage Indicator"].unique())

['LOAN' '#' 'SCRP' 'EVAL' 'RENT' 'DEMO' 'SALE' 'SOLD' 'FOL' 'TEST']
['Not assigned' '5 Monthly Rental' '1 Sale' 'Trial / Evaluation'
 '7 Annual / Periodic' 'Monthly Rental' 'Yearly Rental' 'Trial'
 'Weekly Rental']

Another way to get min and max date e.g. "I wanted to create a new data frame where I can get min value in the column Numb if my string in the column Word is ab and max value if my string is bc for each Date. " :

s=df.groupby(['Date','Word']).Numb.agg(['min','max'])

s['number']=np.where(s.index.get_level_values(1)=='ab',s.min(1),s.max(1))

df11 =BeverageMachine_df.copy()
df22 = df11.reset_index()
df22.loc[df22.groupby('Parent Installation Point ID')['Calendar Date'].idxmin()]
df22.info()

In [373]:
# Sort the dataFrame by 'Calendar Date' and then remove duplicates :
BM_Maxdate_IPID2 = BeverageMachine_df3.sort_values('Calendar Date', ascending=False).drop_duplicates(['Parent Installation Point ID'])
BM_Maxdate_IPID2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265213 entries, 1405121 to 1790890
Data columns (total 73 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Unnamed: 0                                           265213 non-null  int64
 1   Sales Organisation                                   265190 non-null  object
 2   User Status Last Changed On                          264208 non-null  object
 3   Product [Machine Model]                              265213 non-null  object
 4   Product ID [Machine Model ID]                        265213 non-null  object
 5   Range Brand                                          265213 non-null  object
 6   Machine Status Groupings                             265211 non-null  object
 7   User Status                                          265213 non-null  object
 8   Depreciation Start                                   252584 non-null  object
 9   Serial ID                                            265213 non-null  object
 10  Manufacturer Number                                  254388 non-null  object
 11  Equipment Number                                     265188 non-null  object
 12  Asset Number                                         262520 non-null  object
 13  Position                                             265213 non-null  object
 14  TA Contract Number                                   139014 non-null  object
 15  TA Contract Installation Date                        137740 non-null  object
 16  TA Contract Start Date                               138481 non-null  object
 17  TA Contract End Date                                 135258 non-null  object
 18  TA Usage Indicator                                   265213 non-null  object
 19  Account ID                                           265213 non-null  object
 20  Ship To ID                                           265158 non-null  object
 21  EC ID                                                264432 non-null  object
 22  EC Name                                              264431 non-null  object
 23  City                                                 222437 non-null  object
 24  State                                                180944 non-null  object
 25  Postal Code                                          228640 non-null  object
 26  Account ABC Classification (Account ID)              265025 non-null  object
 27  Industry (Account ID)                                237029 non-null  object
 28  Industry Code 1 (Account ID)                         265010 non-null  object
 29  Account ABC Classification (EC ID)                   265110 non-null  object
 30  Industry (EC ID)                                     264854 non-null  object
 31  Industry Code 1 (EC ID)                              265101 non-null  object
 32  Parent Installation Point ID                         265213 non-null  object
 33  Registered Product Category (Registered Product ID)  265213 non-null  object
 34  Sales Org ID (Installation Point)                    265190 non-null  object
 35  SAP Material Line Code [Machine Model ID]            265213 non-null  int64
 36  Calendar Date                                        265213 non-null  datetime64[ns]
 37  Key_ManufacturerID_SalesOrg                          265190 non-null  object
 38  Brand Name                                           265213 non-null  object
 39  Description                                          265213 non-null  object
 40  ID Model Code                                        265213 non-null  object
 41  Source                                               265213 non-null  object
 42  Model                                                265213 non-null  object
 43  Revised                                              265213 non-null  object
 44  Modified                                             265213 non-null  object
 45  Modified By                                          265213 non-null  object
 46  Model Vendor                                         265213 non-null  object
 47  Model Category                                       265213 non-null  object
 48  Global Projects                                      265213 non-null  object
 49  System Brands                                        265213 non-null  object
 50  Solution Brands                                      265213 non-null  object
 51  Model Group                                          265213 non-null  object
 52  Generation                                           265213 non-null  object
 53  Product                                              265213 non-null  object
 54  Ingredient Format                                    265213 non-null  object
 55  Model Category 2                                     265213 non-null  object
 56  Machine Type                                         265213 non-null  object
 57  Beverage Temperature                                 265213 non-null  object
 58  Positionning                                         265213 non-null  object
 59  Blueprint Throughput                                 265213 non-null  object
 60  G/R/M PML                                            265213 non-null  object
 61  IP Ownership                                         265213 non-null  object
 62  Price List                                           265213 non-null  object
 63  PSL                                                  265213 non-null  object
 64  TAA & TAR Ownership                                  265213 non-null  object
 65  TAA & TAR                                            265213 non-null  object
 66  SC & Planning                                        265213 non-null  object
 67  Production                                           265213 non-null  object
 68  IM                                                   265213 non-null  object
 69  Sustainability LCA Ownership                         265213 non-null  object
 70  Sustainability LCA                                   265213 non-null  object
 71  Vendon Compatible                                    194682 non-null  object
 72  Technical Capacity                                   265213 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(69)
memory usage: 149.7+ MB

The columns allowing to link datasets should have the same format otherwise it might not work properly if one has a string format and the other a numerical format

In [374]:
BeverageMachine1_df = BM_Maxdate_IPID2
BeverageMachine1_df['Product ID [Machine Model ID]']=BeverageMachine1_df['Product ID [Machine Model ID]'].astype(str)

In [375]:
count = BeverageMachine1_df[BeverageMachine1_df['Sales Organisation'] == 'Nestlé Russia'].shape[0]
print("Number of rows with 'Sales Organisation' as 'Nestlé Russia':", count)

count = BeverageMachine1_df[(BeverageMachine1_df['Sales Organisation'] == 'Nestlé Russia') & (BeverageMachine1_df['Machine Status Groupings'] == 'Deployed')].shape[0]
print("Number of rows with 'Sales Organisation' as 'Nestlé Russia' and 'Machine Status Groupings' as 'Deployed':", count)

Number of rows with 'Sales Organisation' as 'Nestlé Russia': 26794
Number of rows with 'Sales Organisation' as 'Nestlé Russia' and 'Machine Status Groupings' as 'Deployed': 10935

In [376]:
deployed_count = BeverageMachine1_df[BeverageMachine1_df['Machine Status Groupings'] == 'DEPLOYED'].shape[0]
print("Number of machines with status 'DEPLOYED':", deployed_count)

Number of machines with status 'DEPLOYED': 163227

In [377]:
#TODELETE
#Snowflake values are different and in Upper case, it creates a problem when I filter out machines that are not "Deployed"
BeverageMachine1_df['Machine Status Groupings'] = BeverageMachine1_df['Machine Status Groupings'].replace({'DEPLOYED': 'Deployed', 'IDLE': 'Idle', 'OTHER': 'Other'})

#Snowflake has a different Upper letters value and for one month of data the algorithm can know if the data comes from Snowflake and adapt the algorithm to know these machines have not churned, to be deleted once all the data comes from Snowflake
BeverageMachine1_df['User Status'] = BeverageMachine1_df['User Status'].replace({'IN PREPARATION': 'In Preparation', 'TO BE ASSIGNED': 'To be Assigned', 'TO BE DESTROYED': 'To be Destroyed', 'IN REPAIR': 'In Repair', 'INSTALLED': 'Installed', 'UNDER INSTALLATION': 'Under Installation', 'MISSING': 'Missing', 'STATUS TO BE CORRECTED IN ERP': 'Status to be corrected in ERP', 'TO BE REMOVED': 'To be Removed'})
BeverageMachine1_df['TA Usage Indicator'] = BeverageMachine1_df['TA Usage Indicator'].replace({'Monthly Rental': '5 Monthly Rental', '': 'Not assigned'})

In [378]:
BeverageMachine1_df = BeverageMachine1_df.loc[BeverageMachine1_df['Machine Status Groupings']=="Deployed"]

Merge the Beverage Machine data with the Beverage Mapping in order to get the related "Harmonized Model" of the "Beverage Machine Classification data" and later merge together the "Beverage Machine data" with the "Beverage Classification data"

We should do a cleaning step in order to keep only the machine having the 'Parent Installation Point ID' filled and remove duplicates, but not for 'Serial ID'

In [379]:
BeverageMachine4_df = BeverageMachine1_df.loc[BeverageMachine1_df['Parent Installation Point ID']!="#"].drop_duplicates(['Parent Installation Point ID'])

In [380]:
BeverageMachine4_df = BeverageMachine4_df.loc[BeverageMachine4_df['Serial ID']!="#"]

In [381]:
BeverageMachine4_df.columns

Index(['Unnamed: 0', 'Sales Organisation', 'User Status Last Changed On',
       'Product [Machine Model]', 'Product ID [Machine Model ID]',
       'Range Brand', 'Machine Status Groupings', 'User Status',
       'Depreciation Start', 'Serial ID', 'Manufacturer Number',
       'Equipment Number', 'Asset Number', 'Position', 'TA Contract Number',
       'TA Contract Installation Date', 'TA Contract Start Date',
       'TA Contract End Date', 'TA Usage Indicator', 'Account ID',
       'Ship To ID', 'EC ID', 'EC Name', 'City', 'State', 'Postal Code',
       'Account ABC Classification (Account ID)', 'Industry (Account ID)',
       'Industry Code 1 (Account ID)', 'Account ABC Classification (EC ID)',
       'Industry (EC ID)', 'Industry Code 1 (EC ID)',
       'Parent Installation Point ID',
       'Registered Product Category (Registered Product ID)',
       'Sales Org ID (Installation Point)',
       'SAP Material Line Code [Machine Model ID]', 'Calendar Date',
       'Key_ManufacturerID_SalesOrg', 'Brand Name', 'Description',
       'ID Model Code', 'Source', 'Model', 'Revised', 'Modified',
       'Modified By', 'Model Vendor', 'Model Category', 'Global Projects',
       'System Brands', 'Solution Brands', 'Model Group', 'Generation',
       'Product', 'Ingredient Format', 'Model Category 2', 'Machine Type',
       'Beverage Temperature', 'Positionning', 'Blueprint Throughput',
       'G/R/M PML', 'IP Ownership', 'Price List', 'PSL', 'TAA & TAR Ownership',
       'TAA & TAR', 'SC & Planning', 'Production', 'IM',
       'Sustainability LCA Ownership', 'Sustainability LCA',
       'Vendon Compatible', 'Technical Capacity'],
      dtype='object')

In [382]:
                   
                    
BeverageMachine5_df = BeverageMachine4_df[['Serial ID', 'Sales Organisation', 'Machine Status Groupings', 'User Status', 
                    'TA Contract Installation Date', 'Depreciation Start', 'Manufacturer Number', 'Position', 
                    'TA Contract Start Date', 'TA Contract End Date', 'TA Usage Indicator',
                    'Account ID',
                    'EC ID', 'EC Name', 'Account ABC Classification (Account ID)', 'Industry (Account ID)', 
                    'Industry Code 1 (Account ID)', 'Account ABC Classification (EC ID)', 
                    'Industry (EC ID)', 'Industry Code 1 (EC ID)', 'Parent Installation Point ID', 
                    'Registered Product Category (Registered Product ID)', 
                    'Model', 'Model Vendor', 'Model Category', 'Model Group', 
                    'Beverage Temperature', 'System Brands', 'Ingredient Format', 
                    'Machine Type', 'Positionning', 'Generation', 'Blueprint Throughput', 
                    'IP Ownership', 'Calendar Date', 'Key_ManufacturerID_SalesOrg', 'City', 'State', 'Postal Code']]
BeverageMachine5_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Machine Type,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code
1478512,MYBMB23733,Malaysia,Deployed,Installed,NaN,42149.0,1501010020,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1501010020Malaysia,Georgetown,Pulau Pinang,10050
1478480,MYBMB16220,Malaysia,Deployed,Installed,NaN,40452.0,1008010077,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1008010077Malaysia,Georgetown,Pulau Pinang,10400
1478479,MYBMB22032,Malaysia,Deployed,Installed,NaN,41744.0,1311040368,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1311040368Malaysia,Bayan Lepas,Pulau Pinang,11900
1478478,MYBMB29360,Malaysia,Deployed,Installed,NaN,43293.0,1701030176,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1701030176Malaysia,Georgetown,Pulau Pinang,10300
1478477,MYBMB18489,Malaysia,Deployed,Installed,NaN,41000.0,20120402564,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Proprietary,2024-06-30,20120402564Malaysia,Kuala Langat,Selangor,42500

If 'Calendar Date' is smaller than the 'ChurnDate2' it means that it has not churned

In [383]:
BeverageMachine5_df['Calendar Date'] = pd.to_datetime(BeverageMachine5_df['Calendar Date'])
BeverageMachine5_df.info()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\1291754367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BeverageMachine5_df['Calendar Date'] = pd.to_datetime(BeverageMachine5_df['Calendar Date'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 1478512 to 1790890
Data columns (total 39 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Serial ID                                            250179 non-null  object
 1   Sales Organisation                                   250179 non-null  object
 2   Machine Status Groupings                             250179 non-null  object
 3   User Status                                          250179 non-null  object
 4   TA Contract Installation Date                        129179 non-null  object
 5   Depreciation Start                                   237780 non-null  object
 6   Manufacturer Number                                  239666 non-null  object
 7   Position                                             250179 non-null  object
 8   TA Contract Start Date                               129922 non-null  object
 9   TA Contract End Date                                 126780 non-null  object
 10  TA Usage Indicator                                   250179 non-null  object
 11  Account ID                                           250179 non-null  object
 12  EC ID                                                249890 non-null  object
 13  EC Name                                              249889 non-null  object
 14  Account ABC Classification (Account ID)              249993 non-null  object
 15  Industry (Account ID)                                222968 non-null  object
 16  Industry Code 1 (Account ID)                         249978 non-null  object
 17  Account ABC Classification (EC ID)                   250129 non-null  object
 18  Industry (EC ID)                                     249879 non-null  object
 19  Industry Code 1 (EC ID)                              250121 non-null  object
 20  Parent Installation Point ID                         250179 non-null  object
 21  Registered Product Category (Registered Product ID)  250179 non-null  object
 22  Model                                                250179 non-null  object
 23  Model Vendor                                         250179 non-null  object
 24  Model Category                                       250179 non-null  object
 25  Model Group                                          250179 non-null  object
 26  Beverage Temperature                                 250179 non-null  object
 27  System Brands                                        250179 non-null  object
 28  Ingredient Format                                    250179 non-null  object
 29  Machine Type                                         250179 non-null  object
 30  Positionning                                         250179 non-null  object
 31  Generation                                           250179 non-null  object
 32  Blueprint Throughput                                 250179 non-null  object
 33  IP Ownership                                         250179 non-null  object
 34  Calendar Date                                        250179 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          250179 non-null  object
 36  City                                                 211259 non-null  object
 37  State                                                173839 non-null  object
 38  Postal Code                                          218699 non-null  object
dtypes: datetime64[ns](1), object(38)
memory usage: 76.3+ MB

In [384]:
np.where(BeverageMachine5_df['Calendar Date']< ChurnDate2, True, False)
BeverageMachine5_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Machine Type,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code
1478512,MYBMB23733,Malaysia,Deployed,Installed,NaN,42149.0,1501010020,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1501010020Malaysia,Georgetown,Pulau Pinang,10050
1478480,MYBMB16220,Malaysia,Deployed,Installed,NaN,40452.0,1008010077,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1008010077Malaysia,Georgetown,Pulau Pinang,10400
1478479,MYBMB22032,Malaysia,Deployed,Installed,NaN,41744.0,1311040368,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1311040368Malaysia,Bayan Lepas,Pulau Pinang,11900
1478478,MYBMB29360,Malaysia,Deployed,Installed,NaN,43293.0,1701030176,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1701030176Malaysia,Georgetown,Pulau Pinang,10300
1478477,MYBMB18489,Malaysia,Deployed,Installed,NaN,41000.0,20120402564,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 1,Medium,Proprietary,2024-06-30,20120402564Malaysia,Kuala Langat,Selangor,42500

In [385]:
columnwithfalse = False
BeverageMachine6_df=BeverageMachine5_df.copy()
BeverageMachine6_df['Churn'] = columnwithfalse
BeverageMachine6_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code,Churn
1478512,MYBMB23733,Malaysia,Deployed,Installed,NaN,42149.0,1501010020,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1501010020Malaysia,Georgetown,Pulau Pinang,10050,False
1478480,MYBMB16220,Malaysia,Deployed,Installed,NaN,40452.0,1008010077,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1008010077Malaysia,Georgetown,Pulau Pinang,10400,False
1478479,MYBMB22032,Malaysia,Deployed,Installed,NaN,41744.0,1311040368,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1311040368Malaysia,Bayan Lepas,Pulau Pinang,11900,False
1478478,MYBMB29360,Malaysia,Deployed,Installed,NaN,43293.0,1701030176,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1701030176Malaysia,Georgetown,Pulau Pinang,10300,False
1478477,MYBMB18489,Malaysia,Deployed,Installed,NaN,41000.0,20120402564,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Proprietary,2024-06-30,20120402564Malaysia,Kuala Langat,Selangor,42500,False

In [386]:
#BeverageMachine6_df['Churn'] = np.where((BeverageMachine5_df['Calendar Date_x']<BeverageMachine5_df['Calendar Date_y'])|
#                                (BeverageMachine5_df['Calendar Date_x'] == ChurnDate), False, True)

BeverageMachine6_df['Churn'] = np.where(BeverageMachine5_df['Calendar Date'] < ChurnDate2, True, False)
BeverageMachine6_df.loc[BeverageMachine6_df['Churn']==True].head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code,Churn
1186194,Y0403242,NP-France,Deployed,Installed,NaN,NaN,Y20170403242,SOLD,NaN,NaN,...,Mainstream,Legacy,Medium,Non-Proprietary,2024-05-31,Y20170403242NP-France,St Witz,Val-d'Oise,95470,True
1186473,19E0010488,Nestlé Italy IT35 OOH,Deployed,To be Removed,NaN,43739.0,XBBA00100,EVAL,NaN,NaN,...,Other,Legacy,Medium,Non-Proprietary,2024-05-31,XBBA00100Nestlé Italy IT35 OOH,Milano,Milan,20149,True
1186478,24E0000437,NP-Netherlands,Deployed,To be Removed,NaN,45383.0,24094034,EVAL,NaN,NaN,...,Mainstream,Legacy,Medium,Non-Proprietary,2024-05-31,24094034NP-Netherlands,Tilburg,NaN,5042 EH,True
1186396,21H0024960,Nestle Turkiye Gida,Deployed,Installed,NaN,44256.0,20204530601,#,NaN,NaN,...,Premium,Gen. 2,Medium,Proprietary,2024-05-31,20204530601Nestle Turkiye Gida,İZMİR,Izmir,35330,True
1186330,18E0004687,Nestlé Italy IT35 OOH,Deployed,Installed,NaN,43252.0,ZZGE00054,EVAL,NaN,NaN,...,Other,Legacy,Medium,Non-Proprietary,2024-05-31,ZZGE00054Nestlé Italy IT35 OOH,Valderice,Trapani,91019,True

In [387]:
BeverageMachine6_df.loc[BeverageMachine6_df['Churn']==False].head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code,Churn
1478512,MYBMB23733,Malaysia,Deployed,Installed,NaN,42149.0,1501010020,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1501010020Malaysia,Georgetown,Pulau Pinang,10050,False
1478480,MYBMB16220,Malaysia,Deployed,Installed,NaN,40452.0,1008010077,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1008010077Malaysia,Georgetown,Pulau Pinang,10400,False
1478479,MYBMB22032,Malaysia,Deployed,Installed,NaN,41744.0,1311040368,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1311040368Malaysia,Bayan Lepas,Pulau Pinang,11900,False
1478478,MYBMB29360,Malaysia,Deployed,Installed,NaN,43293.0,1701030176,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Propr. Comp.,2024-06-30,1701030176Malaysia,Georgetown,Pulau Pinang,10300,False
1478477,MYBMB18489,Malaysia,Deployed,Installed,NaN,41000.0,20120402564,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Proprietary,2024-06-30,20120402564Malaysia,Kuala Langat,Selangor,42500,False

Check the data and modify it if it is not the correct type

In [388]:
e = BeverageMachine6_df.loc[BeverageMachine6_df['Serial ID']==7010054129]
e.iloc[:20,9:40]

Empty DataFrame
Columns: [TA Contract End Date, TA Usage Indicator, Account ID, EC ID, EC Name, Account ABC Classification (Account ID), Industry (Account ID), Industry Code 1 (Account ID), Account ABC Classification (EC ID), Industry (EC ID), Industry Code 1 (EC ID), Parent Installation Point ID, Registered Product Category (Registered Product ID), Model, Model Vendor, Model Category, Model Group, Beverage Temperature, System Brands, Ingredient Format, Machine Type, Positionning, Generation, Blueprint Throughput, IP Ownership, Calendar Date, Key_ManufacturerID_SalesOrg, City, State, Postal Code, Churn]
Index: []

[0 rows x 31 columns]

In [389]:
BeverageMachine6_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 1478512 to 1790890
Data columns (total 40 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Serial ID                                            250179 non-null  object
 1   Sales Organisation                                   250179 non-null  object
 2   Machine Status Groupings                             250179 non-null  object
 3   User Status                                          250179 non-null  object
 4   TA Contract Installation Date                        129179 non-null  object
 5   Depreciation Start                                   237780 non-null  object
 6   Manufacturer Number                                  239666 non-null  object
 7   Position                                             250179 non-null  object
 8   TA Contract Start Date                               129922 non-null  object
 9   TA Contract End Date                                 126780 non-null  object
 10  TA Usage Indicator                                   250179 non-null  object
 11  Account ID                                           250179 non-null  object
 12  EC ID                                                249890 non-null  object
 13  EC Name                                              249889 non-null  object
 14  Account ABC Classification (Account ID)              249993 non-null  object
 15  Industry (Account ID)                                222968 non-null  object
 16  Industry Code 1 (Account ID)                         249978 non-null  object
 17  Account ABC Classification (EC ID)                   250129 non-null  object
 18  Industry (EC ID)                                     249879 non-null  object
 19  Industry Code 1 (EC ID)                              250121 non-null  object
 20  Parent Installation Point ID                         250179 non-null  object
 21  Registered Product Category (Registered Product ID)  250179 non-null  object
 22  Model                                                250179 non-null  object
 23  Model Vendor                                         250179 non-null  object
 24  Model Category                                       250179 non-null  object
 25  Model Group                                          250179 non-null  object
 26  Beverage Temperature                                 250179 non-null  object
 27  System Brands                                        250179 non-null  object
 28  Ingredient Format                                    250179 non-null  object
 29  Machine Type                                         250179 non-null  object
 30  Positionning                                         250179 non-null  object
 31  Generation                                           250179 non-null  object
 32  Blueprint Throughput                                 250179 non-null  object
 33  IP Ownership                                         250179 non-null  object
 34  Calendar Date                                        250179 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          250179 non-null  object
 36  City                                                 211259 non-null  object
 37  State                                                173839 non-null  object
 38  Postal Code                                          218699 non-null  object
 39  Churn                                                250179 non-null  bool
dtypes: bool(1), datetime64[ns](1), object(38)
memory usage: 76.6+ MB

I want some date features to be integer instead of non-null object

In [390]:
# Date features
Date_Features = ['TA Contract Installation Date', 'Depreciation Start',  'TA Contract Start Date', 
                 'TA Contract End Date']

BeverageMachine7_df= BeverageMachine6_df.copy()

for x in Date_Features:
    BeverageMachine7_df[x] = pd.to_numeric(BeverageMachine7_df[x], errors='coerce').fillna(0).astype(int)

In [391]:
BeverageMachine7_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 1478512 to 1790890
Data columns (total 40 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Serial ID                                            250179 non-null  object
 1   Sales Organisation                                   250179 non-null  object
 2   Machine Status Groupings                             250179 non-null  object
 3   User Status                                          250179 non-null  object
 4   TA Contract Installation Date                        250179 non-null  int32
 5   Depreciation Start                                   250179 non-null  int32
 6   Manufacturer Number                                  239666 non-null  object
 7   Position                                             250179 non-null  object
 8   TA Contract Start Date                               250179 non-null  int32
 9   TA Contract End Date                                 250179 non-null  int32
 10  TA Usage Indicator                                   250179 non-null  object
 11  Account ID                                           250179 non-null  object
 12  EC ID                                                249890 non-null  object
 13  EC Name                                              249889 non-null  object
 14  Account ABC Classification (Account ID)              249993 non-null  object
 15  Industry (Account ID)                                222968 non-null  object
 16  Industry Code 1 (Account ID)                         249978 non-null  object
 17  Account ABC Classification (EC ID)                   250129 non-null  object
 18  Industry (EC ID)                                     249879 non-null  object
 19  Industry Code 1 (EC ID)                              250121 non-null  object
 20  Parent Installation Point ID                         250179 non-null  object
 21  Registered Product Category (Registered Product ID)  250179 non-null  object
 22  Model                                                250179 non-null  object
 23  Model Vendor                                         250179 non-null  object
 24  Model Category                                       250179 non-null  object
 25  Model Group                                          250179 non-null  object
 26  Beverage Temperature                                 250179 non-null  object
 27  System Brands                                        250179 non-null  object
 28  Ingredient Format                                    250179 non-null  object
 29  Machine Type                                         250179 non-null  object
 30  Positionning                                         250179 non-null  object
 31  Generation                                           250179 non-null  object
 32  Blueprint Throughput                                 250179 non-null  object
 33  IP Ownership                                         250179 non-null  object
 34  Calendar Date                                        250179 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          250179 non-null  object
 36  City                                                 211259 non-null  object
 37  State                                                173839 non-null  object
 38  Postal Code                                          218699 non-null  object
 39  Churn                                                250179 non-null  bool
dtypes: bool(1), datetime64[ns](1), int32(4), object(34)
memory usage: 72.8+ MB

#### Placement Tickets data preparation

In order to merge Placement Tickets data with Beverage Machine data I need to perform some preparations of the data.

I would like to have one row per Manufacture Serial Number and Month

Remove "Removal Ticket" because it is nearly like giving the information if the machine has churned. 
To be decided maybe I should remove it too.
I just kept "Seasonal Removal" because it helps to understand that it is a special case and a similar machine might not churn if it is not a Seasonal Removal

In [392]:
Placement_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327574 entries, 0 to 327573
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Service Category               327574 non-null  object
 1   INCIDENT_CATEGORY_DESCRIPTION  326262 non-null  object
 2   Serial ID                      327372 non-null  object
dtypes: object(3)
memory usage: 7.5+ MB

In [393]:
table1 = Placement_df.loc[Placement_df['Service Category']!="Removal"]
table1 = table1.loc[table1['Service Category']!="Removal."]
table2 = Placement_df.loc[Placement_df['INCIDENT_CATEGORY_DESCRIPTION']=="Seasonal Removal"]

In [394]:
table1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197958 entries, 859 to 325158
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Service Category               197958 non-null  object
 1   INCIDENT_CATEGORY_DESCRIPTION  196984 non-null  object
 2   Serial ID                      197823 non-null  object
dtypes: object(3)
memory usage: 6.0+ MB

In [395]:
Placement_df_wo_rem = pd.concat([table1,table2])
Placement_df_wo_rem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202161 entries, 859 to 325188
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Service Category               202161 non-null  object
 1   INCIDENT_CATEGORY_DESCRIPTION  201187 non-null  object
 2   Serial ID                      202022 non-null  object
dtypes: object(3)
memory usage: 6.2+ MB

In [396]:
from xlrd.xldate import xldate_as_tuple
from dateutil.relativedelta import relativedelta

Placement_df_prep = Placement_df_wo_rem[['Serial ID', 'Service Category','INCIDENT_CATEGORY_DESCRIPTION']].copy()

Placement_df_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202161 entries, 859 to 325188
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Serial ID                      202022 non-null  object
 1   Service Category               202161 non-null  object
 2   INCIDENT_CATEGORY_DESCRIPTION  201187 non-null  object
dtypes: object(3)
memory usage: 6.2+ MB

In [397]:
Placement_df_prep['Serial ID'] = Placement_df_prep['Serial ID'].astype('str')

In [398]:
def preprocess_f(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Service Category','INCIDENT_CATEGORY_DESCRIPTION']
                
    # Some columns could be also ordinal features but we will keep them as nominal features for the moment
    ##ordi_vars = ['Positionning', 'Generation',]
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

Placement_df_prep2 = preprocess_f(Placement_df_prep)
Placement_df_prep2.head()

,Serial ID,Service Category_Installation,Service Category_Removal,Service Category_Replacement,INCIDENT_CATEGORY_DESCRIPTION_Customer relocation,INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Removal / Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
859,10048419,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
860,10043045,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
1503,10051301,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4697,10056376,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
9497,10047527,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0

In [399]:
Placement_df_prep2.columns

Index(['Serial ID', 'Service Category_Installation',
       'Service Category_Removal', 'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Removal / Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade'],
      dtype='object')

In [400]:
Placement_df_prep3 = Placement_df_prep2.groupby(["Serial ID"])\
[['Serial ID', 'Service Category_Installation',
       'Service Category_Removal', 'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade']].sum()


TicketsColumnsList = ['Serial ID', 'Service Category_Installation',
       'Service Category_Removal', 'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade']

Placement_df_prep3.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\282038959.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade']].sum()

,Service Category_Installation,Service Category_Removal,Service Category_Replacement,INCIDENT_CATEGORY_DESCRIPTION_Customer relocation,INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
Serial ID,,,,,,,,,,,,,,,
.102313088,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
.4390764,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
100100125,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
100100249,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
100100250,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [401]:
# Specify the filename
filename = 'TicketsColumnsList.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(TicketsColumnsList, file)

In [402]:
Placement_df_prep3.columns

Index(['Service Category_Installation', 'Service Category_Removal',
       'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade'],
      dtype='object')

In [403]:
Placement_df_prep3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129827 entries, .102313088 to nan
Data columns (total 15 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Service Category_Installation                                    129827 non-null  uint8
 1   Service Category_Removal                                         129827 non-null  uint8
 2   Service Category_Replacement                                     129827 non-null  uint8
 3   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                129827 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       129827 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   129827 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      129827 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               129827 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  129827 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_Renew                              129827 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              129827 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   129827 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            129827 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      129827 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  129827 non-null  uint8
dtypes: uint8(15)
memory usage: 2.8+ MB

In [404]:
Placement_df_prep5 = Placement_df_prep3.reset_index()

In [405]:
Placement_df_prep5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129827 entries, 0 to 129826
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        129827 non-null  object
 1   Service Category_Installation                                    129827 non-null  uint8
 2   Service Category_Removal                                         129827 non-null  uint8
 3   Service Category_Replacement                                     129827 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                129827 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       129827 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   129827 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      129827 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               129827 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  129827 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Renew                              129827 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              129827 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   129827 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            129827 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      129827 non-null  uint8
 15  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  129827 non-null  uint8
dtypes: object(1), uint8(15)
memory usage: 2.8+ MB

In [406]:
BeverageMachine7_df.columns

Index(['Serial ID', 'Sales Organisation', 'Machine Status Groupings',
       'User Status', 'TA Contract Installation Date', 'Depreciation Start',
       'Manufacturer Number', 'Position', 'TA Contract Start Date',
       'TA Contract End Date', 'TA Usage Indicator', 'Account ID', 'EC ID',
       'EC Name', 'Account ABC Classification (Account ID)',
       'Industry (Account ID)', 'Industry Code 1 (Account ID)',
       'Account ABC Classification (EC ID)', 'Industry (EC ID)',
       'Industry Code 1 (EC ID)', 'Parent Installation Point ID',
       'Registered Product Category (Registered Product ID)', 'Model',
       'Model Vendor', 'Model Category', 'Model Group', 'Beverage Temperature',
       'System Brands', 'Ingredient Format', 'Machine Type', 'Positionning',
       'Generation', 'Blueprint Throughput', 'IP Ownership', 'Calendar Date',
       'Key_ManufacturerID_SalesOrg', 'City', 'State', 'Postal Code', 'Churn'],
      dtype='object')

In [407]:
Placement_df_prep5.loc[Placement_df_prep5['Serial ID']=='#']

Empty DataFrame
Columns: [Serial ID, Service Category_Installation, Service Category_Removal, Service Category_Replacement, INCIDENT_CATEGORY_DESCRIPTION_Customer relocation, INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales, INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix, INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation, INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair, INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point, INCIDENT_CATEGORY_DESCRIPTION_Renew, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal, INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show, INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other, INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade]
Index: []

Remove Placement tickets with 'Serial ID' == '#'

In [408]:
Placement_df_prep6 = Placement_df_prep5.loc[Placement_df_prep5['Serial ID']!='#']

In [409]:
Placement_df_prep6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129827 entries, 0 to 129826
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        129827 non-null  object
 1   Service Category_Installation                                    129827 non-null  uint8
 2   Service Category_Removal                                         129827 non-null  uint8
 3   Service Category_Replacement                                     129827 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                129827 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       129827 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   129827 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      129827 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               129827 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  129827 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Renew                              129827 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              129827 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   129827 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            129827 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      129827 non-null  uint8
 15  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  129827 non-null  uint8
dtypes: object(1), uint8(15)
memory usage: 3.8+ MB

In [410]:
#Placement_df_prep6['Serial ID'] = Placement_df_prep6['Serial ID'].astype('str')

In [411]:
Placement_df_prep6 = Placement_df_prep6.reset_index()

Placement_df_prep6=Placement_df_prep6.drop(columns=['index'])
Placement_df_prep6

,Serial ID,Service Category_Installation,Service Category_Removal,Service Category_Replacement,INCIDENT_CATEGORY_DESCRIPTION_Customer relocation,INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,.102313088,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,.4390764,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,100100125,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
3,100100249,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
4,100100250,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129822,ZAB2022049,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
129823,ZAB2022050,2,0,0,0,0,0,0,0,2,0,0,0,0,0,0
129824,ZAG0054,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
129825,ZAR1222,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0
129826,nan,124,4,11,0,9,39,0,2,80,0,2,4,2,1,0

I will link both data together Beverage Machine data and Placement Ticket

In [412]:
BeverageMachine7_wTickets_df = pd.merge(BeverageMachine7_df, Placement_df_prep6, how='left', left_on = ['Serial ID'], right_on = ['Serial ID'])

f=BeverageMachine7_wTickets_df.loc[BeverageMachine7_wTickets_df['Serial ID']=='7010054129']
f.iloc[:20,20:50]

In [413]:
BeverageMachine7_wTickets_df

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,MYBMB23733,Malaysia,Deployed,Installed,0,42149,1501010020,#,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MYBMB16220,Malaysia,Deployed,Installed,0,40452,1008010077,#,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,MYBMB22032,Malaysia,Deployed,Installed,0,41744,1311040368,#,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MYBMB29360,Malaysia,Deployed,Installed,0,43293,1701030176,#,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MYBMB18489,Malaysia,Deployed,Installed,0,41000,20120402564,#,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250174,20O0017852,Singapore,Deployed,Installed,0,44166,2008020003,#,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250175,20O0017851,Singapore,Deployed,Installed,0,44166,2008020002,#,0,0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
250176,20O0017860,Singapore,Deployed,Installed,0,44166,2008020011,#,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
250177,20O0017861,Singapore,Deployed,Installed,0,44166,2008020012,#,0,0,...,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
250178,20O0017862,Singapore,Deployed,Installed,0,44166,2008020013,#,0,0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0

In [414]:
BeverageMachine7_wTickets_df=BeverageMachine7_wTickets_df.fillna(0)
BeverageMachine7_wTickets_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,MYBMB23733,Malaysia,Deployed,Installed,0,42149,1501010020,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MYBMB16220,Malaysia,Deployed,Installed,0,40452,1008010077,#,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,MYBMB22032,Malaysia,Deployed,Installed,0,41744,1311040368,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MYBMB29360,Malaysia,Deployed,Installed,0,43293,1701030176,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MYBMB18489,Malaysia,Deployed,Installed,0,41000,20120402564,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Even if we have only around 2000 machines having tickets, BeverageMachine7_wTickets_df can be used and we will see if it can improve the model.

In [415]:
SO_Tickets =['prstzr pnstrpzcp ztd', 'prstzr nk', 'prstzr prw zrpzppd', 'ppkcstpp']

BeverageMachine7_wTicketsOnly_df = Placement_df_prep6

BeverageMachine7_wTicketsOnly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129827 entries, 0 to 129826
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        129827 non-null  object
 1   Service Category_Installation                                    129827 non-null  uint8
 2   Service Category_Removal                                         129827 non-null  uint8
 3   Service Category_Replacement                                     129827 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                129827 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       129827 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   129827 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      129827 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               129827 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  129827 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Renew                              129827 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              129827 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   129827 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            129827 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      129827 non-null  uint8
 15  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  129827 non-null  uint8
dtypes: object(1), uint8(15)
memory usage: 2.8+ MB

#### Telemetry data preparation

Let's see what we can get with only machines having Telemetry data

In [416]:
BeverageMachine7_wTelemetry = pd.merge(BeverageMachine7_df, Telemetry_aggSales, how='inner', left_on = ['Manufacturer Number'], right_on = ['serial'])
BeverageMachine7_wTelemetry.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19549 entries, 0 to 19548
Data columns (total 41 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Serial ID                                            19549 non-null  object
 1   Sales Organisation                                   19549 non-null  object
 2   Machine Status Groupings                             19549 non-null  object
 3   User Status                                          19549 non-null  object
 4   TA Contract Installation Date                        19549 non-null  int32
 5   Depreciation Start                                   19549 non-null  int32
 6   Manufacturer Number                                  19549 non-null  object
 7   Position                                             19549 non-null  object
 8   TA Contract Start Date                               19549 non-null  int32
 9   TA Contract End Date                                 19549 non-null  int32
 10  TA Usage Indicator                                   19549 non-null  object
 11  Account ID                                           19549 non-null  object
 12  EC ID                                                19530 non-null  object
 13  EC Name                                              19530 non-null  object
 14  Account ABC Classification (Account ID)              19530 non-null  object
 15  Industry (Account ID)                                17948 non-null  object
 16  Industry Code 1 (Account ID)                         19530 non-null  object
 17  Account ABC Classification (EC ID)                   19548 non-null  object
 18  Industry (EC ID)                                     19538 non-null  object
 19  Industry Code 1 (EC ID)                              19547 non-null  object
 20  Parent Installation Point ID                         19549 non-null  object
 21  Registered Product Category (Registered Product ID)  19549 non-null  object
 22  Model                                                19549 non-null  object
 23  Model Vendor                                         19549 non-null  object
 24  Model Category                                       19549 non-null  object
 25  Model Group                                          19549 non-null  object
 26  Beverage Temperature                                 19549 non-null  object
 27  System Brands                                        19549 non-null  object
 28  Ingredient Format                                    19549 non-null  object
 29  Machine Type                                         19549 non-null  object
 30  Positionning                                         19549 non-null  object
 31  Generation                                           19549 non-null  object
 32  Blueprint Throughput                                 19549 non-null  object
 33  IP Ownership                                         19549 non-null  object
 34  Calendar Date                                        19549 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          19549 non-null  object
 36  City                                                 17141 non-null  object
 37  State                                                13794 non-null  object
 38  Postal Code                                          16712 non-null  object
 39  Churn                                                19549 non-null  bool
 40  quantity                                             19549 non-null  int64
dtypes: bool(1), datetime64[ns](1), int32(4), int64(1), object(34)
memory usage: 5.8+ MB

I only have 218 machines matching a Telemetry Kit. This is clearly not enough in order to apply Machine Learning model to predict churn.
We should at least combine it with the Beverage Machine data if we want to use it.

#### Visits data preparation

In [417]:
Visitsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636560 entries, 0 to 636559
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Month                               636560 non-null  int64
 1   Year                                636560 non-null  int64
 2   Period                              636560 non-null  object
 3   Counter_visits_completed            636560 non-null  int64
 4   Cummulative                         636560 non-null  object
 5   Cummulative_Final                   636560 non-null  object
 6   Cummulative Graph                   634321 non-null  object
 7   Occurence Balancing                 636560 non-null  object
 8   Activity Owner                      636538 non-null  object
 9   Activity Owner ID                   636538 non-null  float64
 10  End Date in Local Time Zone         636560 non-null  datetime64[ns]
 11  Result_ID                           636560 non-null  object
 12  Sales Org Desc                      636560 non-null  object
 13  Sales Organization                  636560 non-null  object
 14  Sales Unit (Hierarchy)              636560 non-null  object
 15  Sales Unit (Hierarchy) ID           636560 non-null  object
 16  Activity Life Cycle Status id       636560 non-null  int64
 17  Activity Life Cycle Status          636560 non-null  object
 18  Counter_visits                      636560 non-null  int64
 19  Visit Description                   636554 non-null  object
 20  Visit                               636560 non-null  int64
 21  Account ID.Account ID Level 01      581315 non-null  object
 22  Account ID.Account ID Level 01.Key  581318 non-null  object
 23  Result                              26498 non-null   object
 24  Visit Type                          489229 non-null  object
 25  Index                               636560 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(17)
memory usage: 126.3+ MB

In [418]:
Visitsdf.columns

Index(['Month', 'Year', 'Period', 'Counter_visits_completed', 'Cummulative',
       'Cummulative_Final', 'Cummulative Graph', 'Occurence Balancing',
       'Activity Owner', 'Activity Owner ID', 'End Date in Local Time Zone',
       'Result_ID', 'Sales Org Desc', 'Sales Organization',
       'Sales Unit (Hierarchy)', 'Sales Unit (Hierarchy) ID',
       'Activity Life Cycle Status id', 'Activity Life Cycle Status',
       'Counter_visits', 'Visit Description', 'Visit',
       'Account ID.Account ID Level 01', 'Account ID.Account ID Level 01.Key',
       'Result', 'Visit Type', 'Index'],
      dtype='object')

In [419]:
Visitsdf1 = Visitsdf[['End Date in Local Time Zone', 'Result', 'Activity Life Cycle Status', 'Visit', 'Account ID.Account ID Level 01.Key']]

Remove visits with no account id

In [420]:
Visitsdf1 = Visitsdf1.loc[Visitsdf1['Account ID.Account ID Level 01.Key']!="#"]

In [421]:
Visitsdf1['Result'] = Visitsdf1['Result'].fillna('Not assigned')

I do not have the Sales org ID in TA and I think that Account ID are unique I am not doing the key "KeySOAccID" yet.

In [422]:
#Visitsdf1['KeySOAccID'] = Visitsdf1['Sales Organization'] + Visitsdf1['Account ID.Account ID Level 01.Key'].map(str)

In [423]:
def preprocess_visits(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Result', 'Activity Life Cycle Status']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

Visitsdf_prep = preprocess_visits(Visitsdf1)
Visitsdf_prep.head()

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,2023-09-26,2551734,2768189,0,1,0,0,0,0,0,1,0,0
1,2023-03-07,2245946,2768189,0,1,0,0,0,0,0,1,0,0
2,2023-10-05,2611322,2778304,0,1,0,0,0,0,0,1,0,0
3,2023-11-23,2703718,5566275,0,1,0,0,0,0,0,1,0,0
4,2023-03-09,2245952,5566275,0,1,0,0,0,0,0,1,0,0

Summarize the column based on the Account ID and keep the last visit date

In [424]:
Visitsdf_prep.columns

Index(['End Date in Local Time Zone', 'Visit',
       'Account ID.Account ID Level 01.Key', 'Result_Incomplete Selling Call',
       'Result_Not assigned', 'Result_Objective Met',
       'Result_Objective Partially Met', 'Result_Requires Further Follow-up',
       'Result_Unsuccessful Selling Call',
       'Activity Life Cycle Status_Canceled',
       'Activity Life Cycle Status_Completed',
       'Activity Life Cycle Status_In Process',
       'Activity Life Cycle Status_Open'],
      dtype='object')

In [425]:
Visitsdf_prep.iloc[0]['End Date in Local Time Zone']

Timestamp('2023-09-26 00:00:00')

In [426]:
Visitsdf_prep['End Date in Local Time Zone'] = Visitsdf_prep['End Date in Local Time Zone'].apply(str)


Visitsdf_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 636560 entries, 0 to 636559
Data columns (total 13 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   End Date in Local Time Zone            636560 non-null  object
 1   Visit                                  636560 non-null  int64
 2   Account ID.Account ID Level 01.Key     581318 non-null  object
 3   Result_Incomplete Selling Call         636560 non-null  uint8
 4   Result_Not assigned                    636560 non-null  uint8
 5   Result_Objective Met                   636560 non-null  uint8
 6   Result_Objective Partially Met         636560 non-null  uint8
 7   Result_Requires Further Follow-up      636560 non-null  uint8
 8   Result_Unsuccessful Selling Call       636560 non-null  uint8
 9   Activity Life Cycle Status_Canceled    636560 non-null  uint8
 10  Activity Life Cycle Status_Completed   636560 non-null  uint8
 11  Activity Life Cycle Status_In Process  636560 non-null  uint8
 12  Activity Life Cycle Status_Open        636560 non-null  uint8
dtypes: int64(1), object(2), uint8(10)
memory usage: 25.5+ MB

In [427]:
#pip install dateparser

In [428]:
#import dateparser

Visitsdf_prep2 =Visitsdf_prep.copy()
Visitsdf_prep2['End Date in Local Time Zone'] = pd.to_datetime(Visitsdf_prep2['End Date in Local Time Zone'])
#Visitsdf_prep2['End Date in Local Time Zone'] = Visitsdf_prep2['End Date in Local Time Zone'].apply(lambda x: dateparser.parse(x))

In [429]:
Visitsdf_prep2

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,2023-09-26,2551734,2768189,0,1,0,0,0,0,0,1,0,0
1,2023-03-07,2245946,2768189,0,1,0,0,0,0,0,1,0,0
2,2023-10-05,2611322,2778304,0,1,0,0,0,0,0,1,0,0
3,2023-11-23,2703718,5566275,0,1,0,0,0,0,0,1,0,0
4,2023-03-09,2245952,5566275,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
636555,2023-12-12,2550292,NaN,0,0,0,0,1,0,0,1,0,0
636556,2023-11-29,2707011,NaN,0,0,0,0,1,0,0,1,0,0
636557,2024-06-13,2891147,NaN,0,0,0,0,1,0,0,1,0,0
636558,2023-11-09,2677802,NaN,0,0,0,0,1,0,0,1,0,0
636559,2024-03-14,2810203,NaN,0,0,0,0,1,0,0,1,0,0

pd.to_datetime(Visitsdf_prep2['End Date in Local Time Zone'])

In [430]:
Visitsdf_prep2.sort_values('End Date in Local Time Zone', ascending = True)

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
257054,2010-07-29,2406815,3914214,0,1,0,0,0,0,0,0,0,1
257055,2010-08-26,2406233,3556508,0,1,0,0,0,0,0,0,0,1
257044,2011-07-12,2406832,2757927,0,1,0,0,0,0,0,0,0,1
257045,2012-07-26,2450208,NaN,0,1,0,0,0,0,0,0,0,1
257061,2012-08-24,2406231,3315972,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
465541,2029-04-29,2854625,5629131,0,1,0,0,0,0,0,1,0,0
292187,2032-01-01,2794143,1254117,0,1,0,0,0,0,0,0,0,1
287498,2032-11-23,2183887,7151935,0,1,0,0,0,0,0,0,1,0
299218,2033-05-31,2331495,7584994,0,1,0,0,0,0,0,0,1,0
387933,2033-05-31,2813160,4494718,0,1,0,0,0,0,0,1,0,0

In [431]:
Visitsdf_prep2 = Visitsdf_prep2.sort_values('End Date in Local Time Zone')
Visitsdf_prep2.head()

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
257054,2010-07-29,2406815,3914214,0,1,0,0,0,0,0,0,0,1
257055,2010-08-26,2406233,3556508,0,1,0,0,0,0,0,0,0,1
257044,2011-07-12,2406832,2757927,0,1,0,0,0,0,0,0,0,1
257045,2012-07-26,2450208,NaN,0,1,0,0,0,0,0,0,0,1
257061,2012-08-24,2406231,3315972,0,1,0,0,0,0,0,0,0,1

In [432]:
Visitsdf_prep3 = (Visitsdf_prep2.sort_values('End Date in Local Time Zone')
    .groupby(["Account ID.Account ID Level 01.Key"])
                      .agg({
        'End Date in Local Time Zone': lambda s: s.values[-1],
        'Result_Incomplete Selling Call' : 'sum',
        'Result_Not assigned' : 'sum', 
        'Result_Objective Met' : 'sum',
       'Result_Objective Partially Met' : 'sum', 'Result_Requires Further Follow-up' : 'sum',
       'Result_Unsuccessful Selling Call' : 'sum',
       'Activity Life Cycle Status_Canceled' : 'sum',
       'Activity Life Cycle Status_Completed' : 'sum',
       'Activity Life Cycle Status_In Process' : 'sum',
       'Activity Life Cycle Status_Open' : 'sum'
    })
)

In [433]:
Visitsdf_prep3.head()

,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
Account ID.Account ID Level 01.Key,,,,,,,,,,,
1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0
1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0
1000216,2024-06-18,0,24,0,0,0,0,0,24,0,0
1000222,2024-06-20,0,1,0,0,0,0,0,1,0,0
1000256,2024-11-03,0,27,0,0,0,0,2,24,0,1

In [434]:
Visitsdf_prep4 = Visitsdf_prep3.copy()
Visitsdf_prep4.reset_index()

,Account ID.Account ID Level 01.Key,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0
1,1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0
2,1000216,2024-06-18,0,24,0,0,0,0,0,24,0,0
3,1000222,2024-06-20,0,1,0,0,0,0,0,1,0,0
4,1000256,2024-11-03,0,27,0,0,0,0,2,24,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
103081,9311468,2024-07-02,0,1,0,0,0,0,0,0,0,1
103082,9311470,2024-07-02,0,1,0,0,0,0,0,0,0,1
103083,9311550,2024-07-10,0,1,0,0,0,0,0,0,0,1
103084,9311552,2024-07-09,0,1,0,0,0,0,1,0,0,0
103085,CO_TW10,2023-07-20,0,4,0,0,0,0,2,0,0,2

In [435]:
Visitsdf_prep4['Last_visit_diff_months'] = ChurnDate2 - Visitsdf_prep4['End Date in Local Time Zone']

Visitsdf_prep4['Last_visit_diff_months'] = Visitsdf_prep4['Last_visit_diff_months']/np.timedelta64(1,'M')

In [436]:
Visitsdf_prep4.head()

,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months
Account ID.Account ID Level 01.Key,,,,,,,,,,,,
1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0,1.971293
1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0,2.661246
1000216,2024-06-18,0,24,0,0,0,0,0,24,0,0,0.394259
1000222,2024-06-20,0,1,0,0,0,0,0,1,0,0,0.328549
1000256,2024-11-03,0,27,0,0,0,0,2,24,0,1,-4.139715

In [437]:
Visitsdf_wVisits = Visitsdf_prep4.copy()
Visitsdf_wVisits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103086 entries, 1000058 to CO_TW10
Data columns (total 12 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   End Date in Local Time Zone            103086 non-null  datetime64[ns]
 1   Result_Incomplete Selling Call         103086 non-null  uint8
 2   Result_Not assigned                    103086 non-null  uint64
 3   Result_Objective Met                   103086 non-null  uint8
 4   Result_Objective Partially Met         103086 non-null  uint8
 5   Result_Requires Further Follow-up      103086 non-null  uint8
 6   Result_Unsuccessful Selling Call       103086 non-null  uint8
 7   Activity Life Cycle Status_Canceled    103086 non-null  uint8
 8   Activity Life Cycle Status_Completed   103086 non-null  uint64
 9   Activity Life Cycle Status_In Process  103086 non-null  uint8
 10  Activity Life Cycle Status_Open        103086 non-null  uint8
 11  Last_visit_diff_months                 103086 non-null  float64
dtypes: datetime64[ns](1), float64(1), uint64(2), uint8(8)
memory usage: 4.7+ MB

df['Reported_Date'] = pd.to_datetime(df['Reported_Date'], format='%m/%d/%Y')
df['Process Date'] = pd.to_datetime(df['Process Date'], format='%m/%d/%Y')

df = (
    df
    .sort_values('Process Date')
    .groupby('ID', as_index=False)
    .agg({
        'Total': 'sum',
        'Process Date': lambda s: s.values[-1]
    })
)

'Activity Owner', 'Visit Description', 'Sales Unit (Hierarchy)' might be useful but with one hot encoding I would have too many columns

In [438]:
Visitsdf_wVisits2 = Visitsdf_wVisits.reset_index() 
Visitsdf_wVisits = Visitsdf_wVisits2.rename(columns={"Account ID.Account ID Level 01.Key":"Acc_ID"})
Visitsdf_wVisits

,Acc_ID,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months
0,1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0,1.971293
1,1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0,2.661246
2,1000216,2024-06-18,0,24,0,0,0,0,0,24,0,0,0.394259
3,1000222,2024-06-20,0,1,0,0,0,0,0,1,0,0,0.328549
4,1000256,2024-11-03,0,27,0,0,0,0,2,24,0,1,-4.139715
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103081,9311468,2024-07-02,0,1,0,0,0,0,0,0,0,1,-0.065710
103082,9311470,2024-07-02,0,1,0,0,0,0,0,0,0,1,-0.065710
103083,9311550,2024-07-10,0,1,0,0,0,0,0,0,0,1,-0.328549
103084,9311552,2024-07-09,0,1,0,0,0,0,1,0,0,0,-0.295694
103085,CO_TW10,2023-07-20,0,4,0,0,0,0,2,0,0,2,11.367790

left2 = pd.DataFrame(
    {"A": ["A0", "A1", "A2", "C1"], "B": ["B0", "B1", "B2", "B2"], "K1": [1938031, 1938031, 2, 3]}, index=["K0", "K1", "K2", "K2"]
)
left2

In [439]:
Visitsdf_wVisits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103086 entries, 0 to 103085
Data columns (total 13 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Acc_ID                                 103086 non-null  object
 1   End Date in Local Time Zone            103086 non-null  datetime64[ns]
 2   Result_Incomplete Selling Call         103086 non-null  uint8
 3   Result_Not assigned                    103086 non-null  uint64
 4   Result_Objective Met                   103086 non-null  uint8
 5   Result_Objective Partially Met         103086 non-null  uint8
 6   Result_Requires Further Follow-up      103086 non-null  uint8
 7   Result_Unsuccessful Selling Call       103086 non-null  uint8
 8   Activity Life Cycle Status_Canceled    103086 non-null  uint8
 9   Activity Life Cycle Status_Completed   103086 non-null  uint64
 10  Activity Life Cycle Status_In Process  103086 non-null  uint8
 11  Activity Life Cycle Status_Open        103086 non-null  uint8
 12  Last_visit_diff_months                 103086 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1), uint64(2), uint8(8)
memory usage: 4.7+ MB

In [440]:

Visitsdf_wVisits['Acc_ID'] = Visitsdf_wVisits['Acc_ID'].astype(str)
Visitsdf_wVisits['#Visits completed'] = Visitsdf_wVisits['Activity Life Cycle Status_Completed']
Visitsdf_wVisits = Visitsdf_wVisits.drop(['Activity Life Cycle Status_Completed'], axis = 1)
Visitsdf_wVisits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103086 entries, 0 to 103085
Data columns (total 13 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Acc_ID                                 103086 non-null  object
 1   End Date in Local Time Zone            103086 non-null  datetime64[ns]
 2   Result_Incomplete Selling Call         103086 non-null  uint8
 3   Result_Not assigned                    103086 non-null  uint64
 4   Result_Objective Met                   103086 non-null  uint8
 5   Result_Objective Partially Met         103086 non-null  uint8
 6   Result_Requires Further Follow-up      103086 non-null  uint8
 7   Result_Unsuccessful Selling Call       103086 non-null  uint8
 8   Activity Life Cycle Status_Canceled    103086 non-null  uint8
 9   Activity Life Cycle Status_In Process  103086 non-null  uint8
 10  Activity Life Cycle Status_Open        103086 non-null  uint8
 11  Last_visit_diff_months                 103086 non-null  float64
 12  #Visits completed                      103086 non-null  uint64
dtypes: datetime64[ns](1), float64(1), object(1), uint64(2), uint8(8)
memory usage: 4.7+ MB

In [441]:
a=Visitsdf_wVisits.loc[Visitsdf_wVisits['Acc_ID']=='1938031']
a

,Acc_ID,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed
17671,1938031,2023-06-20,0,24,0,0,0,0,0,0,0,12.353436,24

result = pd.merge(left2, Visitsdf_wVisits, how='left', left_on = ['K1'], right_on = ['Acc_ID']) 
result

#### Phone calls data preparation

In [442]:
PhoneCallsdf.head()

,Activity Name,Account Name,Activity Owner,Activity Life Cycle Status,Phone Call ID,Objective (Phone Call),Sales Organization,End Date in Local Time Zone,Start Date in Local Time Zone,PeriodEnd,ee
0,2023-03-22- College Call 1,7323619,Jadala Aishwarya,Completed,1076183,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
1,2023-03-22- Prince Call 1,7318725,Jadala Aishwarya,Completed,1075720,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
2,2023-03-21- Pappu Call 2,7316669,Jadala Aishwarya,Completed,1075959,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
3,2023-03-21- Teachers Call 2,7316674,Jadala Aishwarya,Completed,1075975,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
4,2023-03-22- vivo Mobile India Pvt Ltd Call 1,7323658,Jadala Aishwarya,Completed,1076076,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0

In [443]:
PhoneCallsdf.columns

Index(['Activity Name', 'Account Name', 'Activity Owner',
       'Activity Life Cycle Status', 'Phone Call ID', 'Objective (Phone Call)',
       'Sales Organization', 'End Date in Local Time Zone',
       'Start Date in Local Time Zone', 'PeriodEnd', 'ee'],
      dtype='object')

'Activity Owner',
 'Objective (Phone Call)' -> to much text freedom and too many reasons
 'Phone Call ID' -> not needed

In [444]:
PhoneCallsdf1 = PhoneCallsdf[['Account Name', 'Activity Life Cycle Status', 'End Date in Local Time Zone']]

In [445]:
def preprocess_calls(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Activity Life Cycle Status']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

PhoneCallsdf_prep = preprocess_calls(PhoneCallsdf1)
PhoneCallsdf_prep.head()

,Account Name,End Date in Local Time Zone,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,7323619,"mercredi, 22 mars 2023",0,1,0,0
1,7318725,"mercredi, 22 mars 2023",0,1,0,0
2,7316669,"mercredi, 22 mars 2023",0,1,0,0
3,7316674,"mercredi, 22 mars 2023",0,1,0,0
4,7323658,"mercredi, 22 mars 2023",0,1,0,0

Remove phone calls without an account ID

In [446]:
PhoneCallsdf_prep1 = PhoneCallsdf_prep.loc[PhoneCallsdf_prep['Account Name']!="#"]

In [447]:
PhoneCallsdf_prep1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322397 entries, 0 to 322396
Data columns (total 6 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Account Name                           320887 non-null  object
 1   End Date in Local Time Zone            322397 non-null  object
 2   Activity Life Cycle Status_Canceled    322397 non-null  uint8
 3   Activity Life Cycle Status_Completed   322397 non-null  uint8
 4   Activity Life Cycle Status_In Process  322397 non-null  uint8
 5   Activity Life Cycle Status_Open        322397 non-null  uint8
dtypes: object(2), uint8(4)
memory usage: 8.6+ MB

Remove date greater than next year

In [448]:
Churndate2_year = ChurnDate2.year

In [449]:
PhoneCallsdf_prep1['End Date in Local Time Zone'] = pd.to_datetime(PhoneCallsdf_prep1['End Date in Local Time Zone'], errors = 'coerce')

In [450]:
PhoneCallsdf_prep1 = PhoneCallsdf_prep1.loc[PhoneCallsdf_prep1['End Date in Local Time Zone'] < dt.datetime(Churndate2_year+1,1,1)]

In [451]:
PhoneCallsdf_prep1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Account Name                           0 non-null      object
 1   End Date in Local Time Zone            0 non-null      datetime64[ns]
 2   Activity Life Cycle Status_Canceled    0 non-null      uint8
 3   Activity Life Cycle Status_Completed   0 non-null      uint8
 4   Activity Life Cycle Status_In Process  0 non-null      uint8
 5   Activity Life Cycle Status_Open        0 non-null      uint8
dtypes: datetime64[ns](1), object(1), uint8(4)
memory usage: 0.0+ bytes

In [452]:
PhoneCallsdf_prep1 = PhoneCallsdf_prep1.sort_values('End Date in Local Time Zone')

In [453]:
PhoneCallsdf_prep2 = (PhoneCallsdf_prep1.sort_values('End Date in Local Time Zone')
    .groupby(["Account Name"])
                      .agg({
        'End Date in Local Time Zone': lambda s: s.values[-1],
        'Activity Life Cycle Status_Completed' : 'sum'}))

In [454]:
PhoneCallsdf_prep2

Empty DataFrame
Columns: [End Date in Local Time Zone, Activity Life Cycle Status_Completed]
Index: []

In [455]:
PhoneCallsdf_prep3 = PhoneCallsdf_prep2.copy()
PhoneCallsdf_prep3.reset_index()

Empty DataFrame
Columns: [Account Name, End Date in Local Time Zone, Activity Life Cycle Status_Completed]
Index: []

In [456]:
PhoneCallsdf_prep3['Last_call_diff_months'] = ChurnDate2 - PhoneCallsdf_prep3['End Date in Local Time Zone']

PhoneCallsdf_prep3['Last_call_diff_months'] = PhoneCallsdf_prep3['Last_call_diff_months']/np.timedelta64(1,'M')

In [457]:
PhoneCallsdf_prep3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   End Date in Local Time Zone           0 non-null      datetime64[ns]
 1   Activity Life Cycle Status_Completed  0 non-null      uint8
 2   Last_call_diff_months                 0 non-null      float64
dtypes: datetime64[ns](1), float64(1), uint8(1)
memory usage: 0.0+ bytes

In [458]:
PhoneCallsdf_prep3 = PhoneCallsdf_prep3.copy()
PhoneCallsdf_prep3.reset_index()

Empty DataFrame
Columns: [Account Name, End Date in Local Time Zone, Activity Life Cycle Status_Completed, Last_call_diff_months]
Index: []

In [459]:
PhoneCallsdf_prep3['#Calls Completed'] = PhoneCallsdf_prep3['Activity Life Cycle Status_Completed']
PhoneCallsdf_prep3 = PhoneCallsdf_prep3.drop(['Activity Life Cycle Status_Completed'], axis = 1)
PhoneCallsdf_prep3.head()

Empty DataFrame
Columns: [End Date in Local Time Zone, Last_call_diff_months, #Calls Completed]
Index: []

#### Incident Ticket preparation

In [460]:
IncidentTicketdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248791 entries, 0 to 248790
Data columns (total 70 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   Index                                      248791 non-null  object
 1   SLAMet                                     248791 non-null  int64
 2   YearMonth                                  247894 non-null  float64
 3   Period                                     247894 non-null  object
 4   NextDateAux                                247894 non-null  float64
 5   NextDateAux2                               247894 non-null  object
 6   AuxTime                                    248791 non-null  object
 7   TimeFrom                                   248791 non-null  int64
 8   Next CreatedDatevar                        171497 non-null  datetime64[ns]
 9   TimeTo                                     248791 non-null  int64
 10  Previous CreatedDatevar                    171587 non-null  datetime64[ns]
 11  AuxFix                                     248791 non-null  int64
 12  SLA MET?                                   248791 non-null  object
 13  AuxTimeUS                                  248791 non-null  object
 14  Main Ticket ID                             248782 non-null  float64
 15  Main Ticket                                248721 non-null  object
 16  MAIN_TICKET_COMPLETION_DATE                171425 non-null  object
 17  Sub Ticket ID                              248791 non-null  int64
 18  Sub Ticket                                 248791 non-null  object
 19  REPORTED_ON                                248770 non-null  datetime64[ns]
 20  SOLVED_VIA_PHONE                           248696 non-null  object
 21  STATUS                                     248791 non-null  int64
 22  STATUS_DESCRIPTION                         248791 non-null  object
 23  PROCESSING                                 248791 non-null  object
 24  PROCESSING_DESCRIPTION                     248791 non-null  object
 25  SERVICE_TECHNICIAN                         225844 non-null  object
 26  Completion Date_2                          247894 non-null  datetime64[ns]
 27  Completion SLA Met                         248254 non-null  float64
 28  PRODUCT_DESCRIPTION                        248791 non-null  object
 29  PRODUCT_ID                                 248791 non-null  int64
 30  Serial ID                                  248791 non-null  object
 31  PRIORITY_DESCRIPTION                       248791 non-null  object
 32  EC_ID                                      248789 non-null  float64
 33  EC_NAME                                    248789 non-null  object
 34  EC_HOUSENUMBER                             58216 non-null   object
 35  EC_STREET                                  186413 non-null  object
 36  EC_CIY                                     228993 non-null  object
 37  EC_STATE                                   36431 non-null   object
 38  EC_POSTALCODE                              232997 non-null  object
 39  INCIDENT_CATEGORY_ID                       248791 non-null  object
 40  Incident Category                          248791 non-null  object
 41  MANUFACTURER_SERIAL_NUMBER                 244452 non-null  object
 42  MAIN_ADDRESS                               248791 non-null  bool
 43  ACCOUNT_ID                                 248791 non-null  int64
 44  ACCOUNT_DESCRIPTION                        248791 non-null  object
 45  ACCOUNT_POSTAL_CODE                        236620 non-null  object
 46  SHIP_TO_ID                                 248791 non-null  int64
 47  SHIP_TO_NAME                               248791 non-null  object
 48  SHIP_TO_POSTAL_CODE                        236808 non-null  object
 49  ECRESPONSIBLE_SALES_ID                     162030 non-null  float64
 50  ECRESPONSIBLE_SALES_DESCRIPTION            162030 non-null  object
 51  ACCOUNT_TERRITORY_ID                       174687 non-null  float64
 52  USER_STATUS                                248791 non-null  int64
 53  USER_STATUS_DESCRIPTION                    248791 non-null  object
 54  REGISTERED_PRODUCT_CATEGORY                248791 non-null  object
 55  REGISTERED_PRODUCT_ID                      248791 non-null  int64
 56  EC_SERVICE_TERRITORY_ID                    199018 non-null  float64
 57  SHIP_TO_SERVICE_TERRITORY_ID               180457 non-null  float64
 58  TICKET_SERVICE_TERRITORY_ID                248732 non-null  float64
 59  Sales Organization                         248791 non-null  object
 60  SUB_TICKET_SALES_ORGANIZATION_ID           248791 non-null  object
 61  SUB_TICKET_SALES_ORGANIZATION_DESCRIPTION  248791 non-null  object
 62  ITEM_TARGET_INSTALLATION_POINT             0 non-null       float64
 63  WORK_PROGRESS                              248791 non-null  int64
 64  DATE_OF_LAST_MOVEMENT                      165482 non-null  datetime64[ns]
 65  COMPLETION_DUE_DATE                        248233 non-null  object
 66  SERVICE_CATEGORY                           248791 non-null  object
 67  SERVICE_CATEGORY_DESCRIPTION               248791 non-null  object
 68  SALESORG                                   248791 non-null  object
 69  COUNTER                                    248791 non-null  int64
dtypes: bool(1), datetime64[ns](5), float64(11), int64(13), object(40)
memory usage: 131.2+ MB

In [461]:
IncidentTicketdf.columns

Index(['Index', 'SLAMet', 'YearMonth', 'Period', 'NextDateAux', 'NextDateAux2',
       'AuxTime', 'TimeFrom', 'Next CreatedDatevar', 'TimeTo',
       'Previous CreatedDatevar', 'AuxFix', 'SLA MET?', 'AuxTimeUS',
       'Main Ticket ID', 'Main Ticket', 'MAIN_TICKET_COMPLETION_DATE',
       'Sub Ticket ID', 'Sub Ticket', 'REPORTED_ON', 'SOLVED_VIA_PHONE',
       'STATUS', 'STATUS_DESCRIPTION', 'PROCESSING', 'PROCESSING_DESCRIPTION',
       'SERVICE_TECHNICIAN', 'Completion Date_2', 'Completion SLA Met',
       'PRODUCT_DESCRIPTION', 'PRODUCT_ID', 'Serial ID',
       'PRIORITY_DESCRIPTION', 'EC_ID', 'EC_NAME', 'EC_HOUSENUMBER',
       'EC_STREET', 'EC_CIY', 'EC_STATE', 'EC_POSTALCODE',
       'INCIDENT_CATEGORY_ID', 'Incident Category',
       'MANUFACTURER_SERIAL_NUMBER', 'MAIN_ADDRESS', 'ACCOUNT_ID',
       'ACCOUNT_DESCRIPTION', 'ACCOUNT_POSTAL_CODE', 'SHIP_TO_ID',
       'SHIP_TO_NAME', 'SHIP_TO_POSTAL_CODE', 'ECRESPONSIBLE_SALES_ID',
       'ECRESPONSIBLE_SALES_DESCRIPTION', 'ACCOUNT_TERRITORY_ID',
       'USER_STATUS', 'USER_STATUS_DESCRIPTION', 'REGISTERED_PRODUCT_CATEGORY',
       'REGISTERED_PRODUCT_ID', 'EC_SERVICE_TERRITORY_ID',
       'SHIP_TO_SERVICE_TERRITORY_ID', 'TICKET_SERVICE_TERRITORY_ID',
       'Sales Organization', 'SUB_TICKET_SALES_ORGANIZATION_ID',
       'SUB_TICKET_SALES_ORGANIZATION_DESCRIPTION',
       'ITEM_TARGET_INSTALLATION_POINT', 'WORK_PROGRESS',
       'DATE_OF_LAST_MOVEMENT', 'COMPLETION_DUE_DATE', 'SERVICE_CATEGORY',
       'SERVICE_CATEGORY_DESCRIPTION', 'SALESORG', 'COUNTER'],
      dtype='object')

Maybe I will do a delta between "Completion Date_2" and "Reported On"

Removed:
'AuxFix' -> 'AuxTime'
'Completion SLA Met' -> 'SLAMet'
'SLAMet' -> 'SLA MET?' 
'Service Technician' not clear and a lot of data

In [462]:
print(IncidentTicketdf['Completion SLA Met'])

0         0.0
1         1.0
2         0.0
3         1.0
4         1.0
         ...
248786    1.0
248787    1.0
248788    1.0
248789    1.0
248790    1.0
Name: Completion SLA Met, Length: 248791, dtype: float64

In [463]:
IncidentTicketdf1 = IncidentTicketdf[['Completion Date_2', 'Incident Category', 
                    'REPORTED_ON', 'Serial ID', 'Completion SLA Met', 'AuxTime']]
IncidentTicketdf1.rename(columns={'Completion SLA Met': 'SLA MET?'}, inplace=True)

C:\Users\msalomo\AppData\Local\Temp\ipykernel_16268\336651773.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IncidentTicketdf1.rename(columns={'Completion SLA Met': 'SLA MET?'}, inplace=True)

In [464]:
IncidentTicketdf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248791 entries, 0 to 248790
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Completion Date_2  247894 non-null  datetime64[ns]
 1   Incident Category  248791 non-null  object
 2   REPORTED_ON        248770 non-null  datetime64[ns]
 3   Serial ID          248791 non-null  object
 4   SLA MET?           248254 non-null  float64
 5   AuxTime            248791 non-null  object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 11.4+ MB

In [465]:
a = IncidentTicketdf1.loc[IncidentTicketdf1['Serial ID']==7010054129]
#a= IncidentTicketdf1.loc[IncidentTicketdf1['Serial ID']=='MYBMB20838']
a

,Completion Date_2,Incident Category,REPORTED_ON,Serial ID,SLA MET?,AuxTime
41914,2022-01-25,1.d Ingredient Other,2022-01-25 16:13:32,7010054129,1.0,Yes

In [466]:
IncidentTicketdf2 = IncidentTicketdf1.copy()
#IncidentTicketdf2['Completion Date_2'] = IncidentTicketdf2['Completion Date_2'].apply(str)
#IncidentTicketdf2['Completion Date_2'] = IncidentTicketdf2['Completion Date_2'].apply(lambda x: dateparser.parse(x))

In [467]:
IncidentTicketdf3 = IncidentTicketdf2.copy()
IncidentTicketdf3['Completion Date_2'] = pd.to_datetime(IncidentTicketdf3['Completion Date_2'], errors = 'coerce')
IncidentTicketdf3['Reported On'] = pd.to_datetime(IncidentTicketdf3['REPORTED_ON'], errors = 'coerce')

IncidentTicketdf3['Completion Date_2'] = IncidentTicketdf3['Completion Date_2'].fillna(dt.datetime(2000,1,1))
IncidentTicketdf3['Reported On'] = IncidentTicketdf3['Reported On'].fillna(dt.datetime(2000,1,1))

In [468]:
IncidentTicketdf3 = IncidentTicketdf3.loc[IncidentTicketdf3['Serial ID']!="#"]

In [469]:
def preprocess_InciTickets(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Incident Category', 'SLA MET?', 'AuxTime']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

IncidentTicketdf_prep = preprocess_InciTickets(IncidentTicketdf3)
IncidentTicketdf_prep.head()

,Completion Date_2,REPORTED_ON,Serial ID,Reported On,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing,Incident Category_1.c Ingredient Dripping,Incident Category_1.d Ingredient Other,Incident Category_10 Abnormal smell,Incident Category_11 Electrical power,...,Incident Category_7 Wire/Harness,Incident Category_8 Software/Firmware,Incident Category_9 Abnormal noise,Incident Category_Low throughput,Incident Category_Requested by Customer,Incident Category_Scheduled,SLA MET?_0.0,SLA MET?_1.0,AuxTime_No,AuxTime_Yes
0,2021-10-05,2021-10-03 10:33:40,18E0017587,2021-10-03 10:33:40,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,2021-10-07,2021-10-06 05:35:47,Y105133933,2021-10-06 05:35:47,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,2021-10-07,2021-10-04 16:43:38,Y101709203,2021-10-04 16:43:38,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,2021-10-07,2021-10-06 08:10:50,16E0023488,2021-10-06 08:10:50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,2021-10-08,2021-10-06 12:33:16,18E0012931,2021-10-06 12:33:16,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [470]:
IncidentTicketdf_prep.columns

Index(['Completion Date_2', 'REPORTED_ON', 'Serial ID', 'Reported On',
       'Incident Category_1.a Ingredient Calibration',
       'Incident Category_1.b Ingredient Dispensing',
       'Incident Category_1.c Ingredient Dripping',
       'Incident Category_1.d Ingredient Other',
       'Incident Category_10 Abnormal smell',
       'Incident Category_11 Electrical power',
       'Incident Category_12 Water supply issue',
       'Incident Category_13 Connectivity (modem)',
       'Incident Category_14 Accessory problem(external pump..)',
       'Incident Category_15 Return with parts',
       'Incident Category_16 Operator mishandling(improper fill..)',
       'Incident Category_17 Miscellaneous', 'Incident Category_18 N/A',
       'Incident Category_2.a Hydraulic Calibration',
       'Incident Category_2.b Hydraulic Dispensing',
       'Incident Category_2.c Hydraulic Leaking',
       'Incident Category_2.d Hydraulic Heating',
       'Incident Category_2.e Hydraulic Cooling/Freezing',
       'Incident Category_2.f Hydraulic Filling',
       'Incident Category_2.g Hydraulic Other',
       'Incident Category_3.a Door Display/Touchscreen',
       'Incident Category_3.b Door Menu buttons',
       'Incident Category_3.c Door Detection',
       'Incident Category_3.d Door Key/Key switch',
       'Incident Category_3.e Door Other',
       'Incident Category_4.a Reconst. Area In-cup quality/Recipes',
       'Incident Category_4.b Reconstitution Area Mixing system',
       'Incident Category_4.c Reconstitution Area Other',
       'Incident Category_5.a Disp. Area Manifold/Distribution',
       'Incident Category_5.b Dispensing Area Drip Tray',
       'Incident Category_5.c Dispensing Area Other',
       'Incident Category_6 Electronics (PCBs)',
       'Incident Category_7 Wire/Harness',
       'Incident Category_8 Software/Firmware',
       'Incident Category_9 Abnormal noise',
       'Incident Category_Low throughput',
       'Incident Category_Requested by Customer',
       'Incident Category_Scheduled', 'SLA MET?_0.0', 'SLA MET?_1.0',
       'AuxTime_No', 'AuxTime_Yes'],
      dtype='object')

In [471]:
IncidentTicketdf_prep = IncidentTicketdf_prep.sort_values('Completion Date_2')

I will not use 'Reported On' because I aggreagate and I do not want to make a delta anymore

In [472]:
IncidentTicketdf_prep2 = (IncidentTicketdf_prep.sort_values('Completion Date_2')
    .groupby(["Serial ID"])
                      .agg({'Completion Date_2' : lambda s: s.values[-1], 
       'Incident Category_1.a Ingredient Calibration' : 'sum',
       'Incident Category_1.b Ingredient Dispensing' : 'sum',
       'Incident Category_1.c Ingredient Dripping' : 'sum',
       'Incident Category_1.d Ingredient Other' : 'sum',
       'Incident Category_10 Abnormal smell' : 'sum',
       'Incident Category_11 Electrical power' : 'sum',
       'Incident Category_12 Water supply issue' : 'sum',
       'Incident Category_13 Connectivity (modem)' : 'sum',
       'Incident Category_14 Accessory problem(external pump..)' : 'sum',
       'Incident Category_15 Return with parts' : 'sum',
       'Incident Category_16 Operator mishandling(improper fill..)' : 'sum',
       'Incident Category_17 Miscellaneous': 'sum',
                            'Incident Category_18 N/A' : 'sum',
       'Incident Category_2.a Hydraulic Calibration' : 'sum',
       'Incident Category_2.b Hydraulic Dispensing' : 'sum',
       'Incident Category_2.c Hydraulic Leaking' : 'sum',
       'Incident Category_2.d Hydraulic Heating': 'sum',
       'Incident Category_2.e Hydraulic Cooling/Freezing': 'sum',
       'Incident Category_2.f Hydraulic Filling': 'sum',
       'Incident Category_2.g Hydraulic Other': 'sum',
       'Incident Category_3.a Door Display/Touchscreen': 'sum',
       'Incident Category_3.b Door Menu buttons': 'sum',
       'Incident Category_3.c Door Detection': 'sum',
       'Incident Category_3.d Door Key/Key switch': 'sum',
       'Incident Category_3.e Door Other': 'sum',
       'Incident Category_4.a Reconst. Area In-cup quality/Recipes': 'sum',
       'Incident Category_4.b Reconstitution Area Mixing system': 'sum',
       'Incident Category_4.c Reconstitution Area Other': 'sum',
       'Incident Category_5.a Disp. Area Manifold/Distribution': 'sum',
       'Incident Category_5.b Dispensing Area Drip Tray': 'sum',
       'Incident Category_5.c Dispensing Area Other': 'sum',
       'Incident Category_6 Electronics (PCBs)': 'sum',
       'Incident Category_7 Wire/Harness': 'sum',
       'Incident Category_8 Software/Firmware': 'sum',
       'Incident Category_9 Abnormal noise': 'sum',
                            'SLA MET?_0.0': 'sum',
                            'SLA MET?_1.0': 'sum',
                            'AuxTime_No': 'sum', 
                            'AuxTime_Yes': 'sum'})
)

In [473]:
IncidentTicketdf_prep2['Last_InTick_diff_months'] = ChurnDate2 - IncidentTicketdf_prep2['Completion Date_2']

IncidentTicketdf_prep2['Last_InTick_diff_months'] = IncidentTicketdf_prep2['Last_InTick_diff_months']/np.timedelta64(1,'M')

In [474]:
IncidentTicketdf_prep2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75135 entries, 210 to ZA978
Data columns (total 41 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Completion Date_2                                           75135 non-null  datetime64[ns]
 1   Incident Category_1.a Ingredient Calibration                75135 non-null  uint8
 2   Incident Category_1.b Ingredient Dispensing                 75135 non-null  uint8
 3   Incident Category_1.c Ingredient Dripping                   75135 non-null  uint8
 4   Incident Category_1.d Ingredient Other                      75135 non-null  uint8
 5   Incident Category_10 Abnormal smell                         75135 non-null  uint8
 6   Incident Category_11 Electrical power                       75135 non-null  uint8
 7   Incident Category_12 Water supply issue                     75135 non-null  uint8
 8   Incident Category_13 Connectivity (modem)                   75135 non-null  uint8
 9   Incident Category_14 Accessory problem(external pump..)     75135 non-null  uint8
 10  Incident Category_15 Return with parts                      75135 non-null  uint8
 11  Incident Category_16 Operator mishandling(improper fill..)  75135 non-null  uint8
 12  Incident Category_17 Miscellaneous                          75135 non-null  uint8
 13  Incident Category_18 N/A                                    75135 non-null  uint8
 14  Incident Category_2.a Hydraulic Calibration                 75135 non-null  uint8
 15  Incident Category_2.b Hydraulic Dispensing                  75135 non-null  uint8
 16  Incident Category_2.c Hydraulic Leaking                     75135 non-null  uint8
 17  Incident Category_2.d Hydraulic Heating                     75135 non-null  uint8
 18  Incident Category_2.e Hydraulic Cooling/Freezing            75135 non-null  uint8
 19  Incident Category_2.f Hydraulic Filling                     75135 non-null  uint8
 20  Incident Category_2.g Hydraulic Other                       75135 non-null  uint8
 21  Incident Category_3.a Door Display/Touchscreen              75135 non-null  uint8
 22  Incident Category_3.b Door Menu buttons                     75135 non-null  uint8
 23  Incident Category_3.c Door Detection                        75135 non-null  uint8
 24  Incident Category_3.d Door Key/Key switch                   75135 non-null  uint8
 25  Incident Category_3.e Door Other                            75135 non-null  uint8
 26  Incident Category_4.a Reconst. Area In-cup quality/Recipes  75135 non-null  uint8
 27  Incident Category_4.b Reconstitution Area Mixing system     75135 non-null  uint8
 28  Incident Category_4.c Reconstitution Area Other             75135 non-null  uint8
 29  Incident Category_5.a Disp. Area Manifold/Distribution      75135 non-null  uint8
 30  Incident Category_5.b Dispensing Area Drip Tray             75135 non-null  uint8
 31  Incident Category_5.c Dispensing Area Other                 75135 non-null  uint8
 32  Incident Category_6 Electronics (PCBs)                      75135 non-null  uint8
 33  Incident Category_7 Wire/Harness                            75135 non-null  uint8
 34  Incident Category_8 Software/Firmware                       75135 non-null  uint8
 35  Incident Category_9 Abnormal noise                          75135 non-null  uint8
 36  SLA MET?_0.0                                                75135 non-null  uint8
 37  SLA MET?_1.0                                                75135 non-null  uint8
 38  AuxTime_No                                                  75135 non-null  uint8
 39  AuxTime_Yes                                                 75135 non-null  uint8
 40  Last_InTick_diff_months                                     75135 non-null  float64
dtypes: datetime64[ns](1), float64(1), uint8(39)
memory usage: 4.5+ MB

In [475]:
IncidentTicketdf_prep2 = IncidentTicketdf_prep2.reset_index()
IncidentTicketdf_prep2.head()

,Serial ID,Completion Date_2,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing,Incident Category_1.c Ingredient Dripping,Incident Category_1.d Ingredient Other,Incident Category_10 Abnormal smell,Incident Category_11 Electrical power,Incident Category_12 Water supply issue,Incident Category_13 Connectivity (modem),...,Incident Category_5.c Dispensing Area Other,Incident Category_6 Electronics (PCBs),Incident Category_7 Wire/Harness,Incident Category_8 Software/Firmware,Incident Category_9 Abnormal noise,SLA MET?_0.0,SLA MET?_1.0,AuxTime_No,AuxTime_Yes,Last_InTick_diff_months
0,210,2021-10-20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,32.329206
1,1003,2023-11-22,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,2,7.260929
2,1012,2023-09-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,9.955030
3,2100,2024-01-09,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,2,5.683895
4,9370,2024-06-17,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0.427113

#### Data with all
Let's see what we can get if we include Telemetry, sales and Tickets

In [476]:

BeverageMachine7_wTickets_df['Manufacturer Number'] = BeverageMachine7_wTickets_df['Manufacturer Number'].astype('str')
Concat_Telemetry['serial'] = Concat_Telemetry['serial'].astype('str')

In [477]:
BeverageMachine7_wTickets_wTelemetry_df = pd.merge(BeverageMachine7_wTickets_df, Concat_Telemetry, how='left', left_on = ['Manufacturer Number'], right_on = ['serial'])

BeverageMachine7_wTickets_wTelemetry_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 0 to 250178
Data columns (total 62 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        250179 non-null  object
 1   Sales Organisation                                               250179 non-null  object
 2   Machine Status Groupings                                         250179 non-null  object
 3   User Status                                                      250179 non-null  object
 4   TA Contract Installation Date                                    250179 non-null  int32
 5   Depreciation Start                                               250179 non-null  int32
 6   Manufacturer Number                                              250179 non-null  object
 7   Position                                                         250179 non-null  object
 8   TA Contract Start Date                                           250179 non-null  int32
 9   TA Contract End Date                                             250179 non-null  int32
 10  TA Usage Indicator                                               250179 non-null  object
 11  Account ID                                                       250179 non-null  object
 12  EC ID                                                            250179 non-null  object
 13  EC Name                                                          250179 non-null  object
 14  Account ABC Classification (Account ID)                          250179 non-null  object
 15  Industry (Account ID)                                            250179 non-null  object
 16  Industry Code 1 (Account ID)                                     250179 non-null  object
 17  Account ABC Classification (EC ID)                               250179 non-null  object
 18  Industry (EC ID)                                                 250179 non-null  object
 19  Industry Code 1 (EC ID)                                          250179 non-null  object
 20  Parent Installation Point ID                                     250179 non-null  object
 21  Registered Product Category (Registered Product ID)              250179 non-null  object
 22  Model                                                            250179 non-null  object
 23  Model Vendor                                                     250179 non-null  object
 24  Model Category                                                   250179 non-null  object
 25  Model Group                                                      250179 non-null  object
 26  Beverage Temperature                                             250179 non-null  object
 27  System Brands                                                    250179 non-null  object
 28  Ingredient Format                                                250179 non-null  object
 29  Machine Type                                                     250179 non-null  object
 30  Positionning                                                     250179 non-null  object
 31  Generation                                                       250179 non-null  object
 32  Blueprint Throughput                                             250179 non-null  object
 33  IP Ownership                                                     250179 non-null  object
 34  Calendar Date                                                    250179 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      250179 non-null  object
 36  City                                                             250179 non-null  object
 37  State                                                            250179 non-null  object
 38  Postal Code                                                      250179 non-null  object
 39  Churn                                                            250179 non-null  bool
 40  Service Category_Installation                                    250179 non-null  float64
 41  Service Category_Removal                                         250179 non-null  float64
 42  Service Category_Replacement                                     250179 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                250179 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       250179 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   250179 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      250179 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               250179 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  250179 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              250179 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              250179 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   250179 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            250179 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      250179 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  250179 non-null  float64
 55  serial                                                           19549 non-null   object
 56  quantity                                                         19549 non-null   float64
 57  one_month_avg                                                    19549 non-null   float64
 58  three_months_avg                                                 19549 non-null   float64
 59  six_months_avg                                                   19549 non-null   float64
 60  (lst_mth-6mth)/6mth                                              19549 non-null   float64
 61  3mth-6mth)/6mth                                                  19549 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(21), int32(4), object(35)
memory usage: 114.8+ MB

In [478]:
BeverageMachine7_wTickets_wTelemetry_df = pd.merge(BeverageMachine7_wTickets_df, Concat_Telemetry, how='left', left_on = ['Manufacturer Number'], right_on = ['serial'])
BeverageMachine7_wTickets_wTelemetry_df=BeverageMachine7_wTickets_wTelemetry_df.fillna(0)
BeverageMachine7_wTickets_wTelemetry_df["quantity"] = BeverageMachine7_wTickets_wTelemetry_df["quantity"].astype(int)
BeverageMachine7_wTickets_wTelemetry_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 0 to 250178
Data columns (total 62 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        250179 non-null  object
 1   Sales Organisation                                               250179 non-null  object
 2   Machine Status Groupings                                         250179 non-null  object
 3   User Status                                                      250179 non-null  object
 4   TA Contract Installation Date                                    250179 non-null  int32
 5   Depreciation Start                                               250179 non-null  int32
 6   Manufacturer Number                                              250179 non-null  object
 7   Position                                                         250179 non-null  object
 8   TA Contract Start Date                                           250179 non-null  int32
 9   TA Contract End Date                                             250179 non-null  int32
 10  TA Usage Indicator                                               250179 non-null  object
 11  Account ID                                                       250179 non-null  object
 12  EC ID                                                            250179 non-null  object
 13  EC Name                                                          250179 non-null  object
 14  Account ABC Classification (Account ID)                          250179 non-null  object
 15  Industry (Account ID)                                            250179 non-null  object
 16  Industry Code 1 (Account ID)                                     250179 non-null  object
 17  Account ABC Classification (EC ID)                               250179 non-null  object
 18  Industry (EC ID)                                                 250179 non-null  object
 19  Industry Code 1 (EC ID)                                          250179 non-null  object
 20  Parent Installation Point ID                                     250179 non-null  object
 21  Registered Product Category (Registered Product ID)              250179 non-null  object
 22  Model                                                            250179 non-null  object
 23  Model Vendor                                                     250179 non-null  object
 24  Model Category                                                   250179 non-null  object
 25  Model Group                                                      250179 non-null  object
 26  Beverage Temperature                                             250179 non-null  object
 27  System Brands                                                    250179 non-null  object
 28  Ingredient Format                                                250179 non-null  object
 29  Machine Type                                                     250179 non-null  object
 30  Positionning                                                     250179 non-null  object
 31  Generation                                                       250179 non-null  object
 32  Blueprint Throughput                                             250179 non-null  object
 33  IP Ownership                                                     250179 non-null  object
 34  Calendar Date                                                    250179 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      250179 non-null  object
 36  City                                                             250179 non-null  object
 37  State                                                            250179 non-null  object
 38  Postal Code                                                      250179 non-null  object
 39  Churn                                                            250179 non-null  bool
 40  Service Category_Installation                                    250179 non-null  float64
 41  Service Category_Removal                                         250179 non-null  float64
 42  Service Category_Replacement                                     250179 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                250179 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       250179 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   250179 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      250179 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               250179 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  250179 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              250179 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              250179 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   250179 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            250179 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      250179 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  250179 non-null  float64
 55  serial                                                           250179 non-null  object
 56  quantity                                                         250179 non-null  int32
 57  one_month_avg                                                    250179 non-null  float64
 58  three_months_avg                                                 250179 non-null  float64
 59  six_months_avg                                                   250179 non-null  float64
 60  (lst_mth-6mth)/6mth                                              250179 non-null  float64
 61  3mth-6mth)/6mth                                                  250179 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(20), int32(5), object(35)
memory usage: 113.8+ MB

In [479]:
A= Concat_Sales.drop_duplicates(subset= 'KeyManufNo_SalesOrg')
A.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91893 entries, 0 to 22420
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial                  91893 non-null  object
 1   quantity                91893 non-null  float64
 2   Sales_one_Month_avg     91893 non-null  float64
 3   Sales_three_months_avg  91893 non-null  float64
 4   Sales_six_months_avg    91893 non-null  float64
 5   KeyManufNo_SalesOrg     91893 non-null  object
 6   (lst_mth-6mth)/6mth     91893 non-null  float64
 7   3mth-6mth)/6mth         91893 non-null  float64
dtypes: float64(6), object(2)
memory usage: 6.3+ MB

In [480]:
Concat_Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91893 entries, 0 to 22420
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial                  91893 non-null  object
 1   quantity                91893 non-null  float64
 2   Sales_one_Month_avg     91893 non-null  float64
 3   Sales_three_months_avg  91893 non-null  float64
 4   Sales_six_months_avg    91893 non-null  float64
 5   KeyManufNo_SalesOrg     91893 non-null  object
 6   (lst_mth-6mth)/6mth     91893 non-null  float64
 7   3mth-6mth)/6mth         91893 non-null  float64
dtypes: float64(6), object(2)
memory usage: 6.3+ MB

In [481]:
BeverageMachine7_wTickets_wTelemetry_wSales_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_df, Concat_Sales, how='left', left_on = ['Key_ManufacturerID_SalesOrg'], right_on = ['KeyManufNo_SalesOrg'])
BeverageMachine7_wTickets_wTelemetry_wSales_df = BeverageMachine7_wTickets_wTelemetry_wSales_df.fillna(0)
BeverageMachine7_wTickets_wTelemetry_wSales_df["quantity_y"] = BeverageMachine7_wTickets_wTelemetry_wSales_df["quantity_y"].astype(int)
BeverageMachine7_wTickets_wTelemetry_wSales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 0 to 250178
Data columns (total 70 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        250179 non-null  object
 1   Sales Organisation                                               250179 non-null  object
 2   Machine Status Groupings                                         250179 non-null  object
 3   User Status                                                      250179 non-null  object
 4   TA Contract Installation Date                                    250179 non-null  int32
 5   Depreciation Start                                               250179 non-null  int32
 6   Manufacturer Number                                              250179 non-null  object
 7   Position                                                         250179 non-null  object
 8   TA Contract Start Date                                           250179 non-null  int32
 9   TA Contract End Date                                             250179 non-null  int32
 10  TA Usage Indicator                                               250179 non-null  object
 11  Account ID                                                       250179 non-null  object
 12  EC ID                                                            250179 non-null  object
 13  EC Name                                                          250179 non-null  object
 14  Account ABC Classification (Account ID)                          250179 non-null  object
 15  Industry (Account ID)                                            250179 non-null  object
 16  Industry Code 1 (Account ID)                                     250179 non-null  object
 17  Account ABC Classification (EC ID)                               250179 non-null  object
 18  Industry (EC ID)                                                 250179 non-null  object
 19  Industry Code 1 (EC ID)                                          250179 non-null  object
 20  Parent Installation Point ID                                     250179 non-null  object
 21  Registered Product Category (Registered Product ID)              250179 non-null  object
 22  Model                                                            250179 non-null  object
 23  Model Vendor                                                     250179 non-null  object
 24  Model Category                                                   250179 non-null  object
 25  Model Group                                                      250179 non-null  object
 26  Beverage Temperature                                             250179 non-null  object
 27  System Brands                                                    250179 non-null  object
 28  Ingredient Format                                                250179 non-null  object
 29  Machine Type                                                     250179 non-null  object
 30  Positionning                                                     250179 non-null  object
 31  Generation                                                       250179 non-null  object
 32  Blueprint Throughput                                             250179 non-null  object
 33  IP Ownership                                                     250179 non-null  object
 34  Calendar Date                                                    250179 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      250179 non-null  object
 36  City                                                             250179 non-null  object
 37  State                                                            250179 non-null  object
 38  Postal Code                                                      250179 non-null  object
 39  Churn                                                            250179 non-null  bool
 40  Service Category_Installation                                    250179 non-null  float64
 41  Service Category_Removal                                         250179 non-null  float64
 42  Service Category_Replacement                                     250179 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                250179 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       250179 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   250179 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      250179 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               250179 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  250179 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              250179 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              250179 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   250179 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            250179 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      250179 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  250179 non-null  float64
 55  serial                                                           250179 non-null  object
 56  quantity_x                                                       250179 non-null  int32
 57  one_month_avg                                                    250179 non-null  float64
 58  three_months_avg                                                 250179 non-null  float64
 59  six_months_avg                                                   250179 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            250179 non-null  float64
 61  3mth-6mth)/6mth_x                                                250179 non-null  float64
 62  Serial                                                           250179 non-null  object
 63  quantity_y                                                       250179 non-null  int32
 64  Sales_one_Month_avg                                              250179 non-null  float64
 65  Sales_three_months_avg                                           250179 non-null  float64
 66  Sales_six_months_avg                                             250179 non-null  float64
 67  KeyManufNo_SalesOrg                                              250179 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            250179 non-null  float64
 69  3mth-6mth)/6mth_y                                                250179 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(25), int32(6), object(37)
memory usage: 128.1+ MB

In [482]:
BeverageMachine7_wTickets_wTelemetry_wSales_df['EC ID'] = BeverageMachine7_wTickets_wTelemetry_wSales_df['EC ID'].astype('str')
Visitsdf_wVisits['Acc_ID'] = Visitsdf_wVisits['Acc_ID'].astype('str')

In [483]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_wSales_df, Visitsdf_wVisits, how='left', left_on = ['EC ID'], right_on = ['Acc_ID'])
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'] = pd.to_datetime(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'])
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'] = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'].fillna(dt.datetime(2000,1,1))
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df.fillna(0)

In [484]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 0 to 250178
Data columns (total 83 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        250179 non-null  object
 1   Sales Organisation                                               250179 non-null  object
 2   Machine Status Groupings                                         250179 non-null  object
 3   User Status                                                      250179 non-null  object
 4   TA Contract Installation Date                                    250179 non-null  int32
 5   Depreciation Start                                               250179 non-null  int32
 6   Manufacturer Number                                              250179 non-null  object
 7   Position                                                         250179 non-null  object
 8   TA Contract Start Date                                           250179 non-null  int32
 9   TA Contract End Date                                             250179 non-null  int32
 10  TA Usage Indicator                                               250179 non-null  object
 11  Account ID                                                       250179 non-null  object
 12  EC ID                                                            250179 non-null  object
 13  EC Name                                                          250179 non-null  object
 14  Account ABC Classification (Account ID)                          250179 non-null  object
 15  Industry (Account ID)                                            250179 non-null  object
 16  Industry Code 1 (Account ID)                                     250179 non-null  object
 17  Account ABC Classification (EC ID)                               250179 non-null  object
 18  Industry (EC ID)                                                 250179 non-null  object
 19  Industry Code 1 (EC ID)                                          250179 non-null  object
 20  Parent Installation Point ID                                     250179 non-null  object
 21  Registered Product Category (Registered Product ID)              250179 non-null  object
 22  Model                                                            250179 non-null  object
 23  Model Vendor                                                     250179 non-null  object
 24  Model Category                                                   250179 non-null  object
 25  Model Group                                                      250179 non-null  object
 26  Beverage Temperature                                             250179 non-null  object
 27  System Brands                                                    250179 non-null  object
 28  Ingredient Format                                                250179 non-null  object
 29  Machine Type                                                     250179 non-null  object
 30  Positionning                                                     250179 non-null  object
 31  Generation                                                       250179 non-null  object
 32  Blueprint Throughput                                             250179 non-null  object
 33  IP Ownership                                                     250179 non-null  object
 34  Calendar Date                                                    250179 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      250179 non-null  object
 36  City                                                             250179 non-null  object
 37  State                                                            250179 non-null  object
 38  Postal Code                                                      250179 non-null  object
 39  Churn                                                            250179 non-null  bool
 40  Service Category_Installation                                    250179 non-null  float64
 41  Service Category_Removal                                         250179 non-null  float64
 42  Service Category_Replacement                                     250179 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                250179 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       250179 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   250179 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      250179 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               250179 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  250179 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              250179 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              250179 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   250179 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            250179 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      250179 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  250179 non-null  float64
 55  serial                                                           250179 non-null  object
 56  quantity_x                                                       250179 non-null  int32
 57  one_month_avg                                                    250179 non-null  float64
 58  three_months_avg                                                 250179 non-null  float64
 59  six_months_avg                                                   250179 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            250179 non-null  float64
 61  3mth-6mth)/6mth_x                                                250179 non-null  float64
 62  Serial                                                           250179 non-null  object
 63  quantity_y                                                       250179 non-null  int32
 64  Sales_one_Month_avg                                              250179 non-null  float64
 65  Sales_three_months_avg                                           250179 non-null  float64
 66  Sales_six_months_avg                                             250179 non-null  float64
 67  KeyManufNo_SalesOrg                                              250179 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            250179 non-null  float64
 69  3mth-6mth)/6mth_y                                                250179 non-null  float64
 70  Acc_ID                                                           250179 non-null  object
 71  End Date in Local Time Zone                                      250179 non-null  datetime64[ns]
 72  Result_Incomplete Selling Call                                   250179 non-null  float64
 73  Result_Not assigned                                              250179 non-null  float64
 74  Result_Objective Met                                             250179 non-null  float64
 75  Result_Objective Partially Met                                   250179 non-null  float64
 76  Result_Requires Further Follow-up                                250179 non-null  float64
 77  Result_Unsuccessful Selling Call                                 250179 non-null  float64
 78  Activity Life Cycle Status_Canceled                              250179 non-null  float64
 79  Activity Life Cycle Status_In Process                            250179 non-null  float64
 80  Activity Life Cycle Status_Open                                  250179 non-null  float64
 81  Last_visit_diff_months                                           250179 non-null  float64
 82  #Visits completed                                                250179 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(36), int32(6), object(38)
memory usage: 152.9+ MB

In [485]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed
0,MYBMB23733,Malaysia,Deployed,Installed,0,42149,1501010020,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MYBMB16220,Malaysia,Deployed,Installed,0,40452,1008010077,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,MYBMB22032,Malaysia,Deployed,Installed,0,41744,1311040368,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MYBMB29360,Malaysia,Deployed,Installed,0,43293,1701030176,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MYBMB18489,Malaysia,Deployed,Installed,0,41000,20120402564,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [486]:
PhoneCallsdf_prep3 = PhoneCallsdf_prep3.reset_index()

In [487]:
PhoneCallsdf_prep3['Account Name'] = PhoneCallsdf_prep3['Account Name'].astype('str')

In [488]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df, PhoneCallsdf_prep3, how='left', left_on = ['EC ID'], right_on = ['Account Name'])
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 0 to 250178
Data columns (total 87 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        250179 non-null  object
 1   Sales Organisation                                               250179 non-null  object
 2   Machine Status Groupings                                         250179 non-null  object
 3   User Status                                                      250179 non-null  object
 4   TA Contract Installation Date                                    250179 non-null  int32
 5   Depreciation Start                                               250179 non-null  int32
 6   Manufacturer Number                                              250179 non-null  object
 7   Position                                                         250179 non-null  object
 8   TA Contract Start Date                                           250179 non-null  int32
 9   TA Contract End Date                                             250179 non-null  int32
 10  TA Usage Indicator                                               250179 non-null  object
 11  Account ID                                                       250179 non-null  object
 12  EC ID                                                            250179 non-null  object
 13  EC Name                                                          250179 non-null  object
 14  Account ABC Classification (Account ID)                          250179 non-null  object
 15  Industry (Account ID)                                            250179 non-null  object
 16  Industry Code 1 (Account ID)                                     250179 non-null  object
 17  Account ABC Classification (EC ID)                               250179 non-null  object
 18  Industry (EC ID)                                                 250179 non-null  object
 19  Industry Code 1 (EC ID)                                          250179 non-null  object
 20  Parent Installation Point ID                                     250179 non-null  object
 21  Registered Product Category (Registered Product ID)              250179 non-null  object
 22  Model                                                            250179 non-null  object
 23  Model Vendor                                                     250179 non-null  object
 24  Model Category                                                   250179 non-null  object
 25  Model Group                                                      250179 non-null  object
 26  Beverage Temperature                                             250179 non-null  object
 27  System Brands                                                    250179 non-null  object
 28  Ingredient Format                                                250179 non-null  object
 29  Machine Type                                                     250179 non-null  object
 30  Positionning                                                     250179 non-null  object
 31  Generation                                                       250179 non-null  object
 32  Blueprint Throughput                                             250179 non-null  object
 33  IP Ownership                                                     250179 non-null  object
 34  Calendar Date                                                    250179 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      250179 non-null  object
 36  City                                                             250179 non-null  object
 37  State                                                            250179 non-null  object
 38  Postal Code                                                      250179 non-null  object
 39  Churn                                                            250179 non-null  bool
 40  Service Category_Installation                                    250179 non-null  float64
 41  Service Category_Removal                                         250179 non-null  float64
 42  Service Category_Replacement                                     250179 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                250179 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       250179 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   250179 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      250179 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               250179 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  250179 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              250179 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              250179 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   250179 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            250179 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      250179 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  250179 non-null  float64
 55  serial                                                           250179 non-null  object
 56  quantity_x                                                       250179 non-null  int32
 57  one_month_avg                                                    250179 non-null  float64
 58  three_months_avg                                                 250179 non-null  float64
 59  six_months_avg                                                   250179 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            250179 non-null  float64
 61  3mth-6mth)/6mth_x                                                250179 non-null  float64
 62  Serial                                                           250179 non-null  object
 63  quantity_y                                                       250179 non-null  int32
 64  Sales_one_Month_avg                                              250179 non-null  float64
 65  Sales_three_months_avg                                           250179 non-null  float64
 66  Sales_six_months_avg                                             250179 non-null  float64
 67  KeyManufNo_SalesOrg                                              250179 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            250179 non-null  float64
 69  3mth-6mth)/6mth_y                                                250179 non-null  float64
 70  Acc_ID                                                           250179 non-null  object
 71  End Date in Local Time Zone_x                                    250179 non-null  datetime64[ns]
 72  Result_Incomplete Selling Call                                   250179 non-null  float64
 73  Result_Not assigned                                              250179 non-null  float64
 74  Result_Objective Met                                             250179 non-null  float64
 75  Result_Objective Partially Met                                   250179 non-null  float64
 76  Result_Requires Further Follow-up                                250179 non-null  float64
 77  Result_Unsuccessful Selling Call                                 250179 non-null  float64
 78  Activity Life Cycle Status_Canceled                              250179 non-null  float64
 79  Activity Life Cycle Status_In Process                            250179 non-null  float64
 80  Activity Life Cycle Status_Open                                  250179 non-null  float64
 81  Last_visit_diff_months                                           250179 non-null  float64
 82  #Visits completed                                                250179 non-null  float64
 83  Account Name                                                     0 non-null       object
 84  End Date in Local Time Zone_y                                    0 non-null       datetime64[ns]
 85  Last_call_diff_months                                            0 non-null       float64
 86  #Calls Completed                                                 0 non-null       float64
dtypes: bool(1), datetime64[ns](3), float64(38), int32(6), object(39)
memory usage: 160.6+ MB

In [489]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'] = pd.to_datetime(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'])

BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'] = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'].fillna(dt.datetime(2000,1,1))
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df.fillna(0)

In [490]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 0 to 250178
Data columns (total 87 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        250179 non-null  object
 1   Sales Organisation                                               250179 non-null  object
 2   Machine Status Groupings                                         250179 non-null  object
 3   User Status                                                      250179 non-null  object
 4   TA Contract Installation Date                                    250179 non-null  int32
 5   Depreciation Start                                               250179 non-null  int32
 6   Manufacturer Number                                              250179 non-null  object
 7   Position                                                         250179 non-null  object
 8   TA Contract Start Date                                           250179 non-null  int32
 9   TA Contract End Date                                             250179 non-null  int32
 10  TA Usage Indicator                                               250179 non-null  object
 11  Account ID                                                       250179 non-null  object
 12  EC ID                                                            250179 non-null  object
 13  EC Name                                                          250179 non-null  object
 14  Account ABC Classification (Account ID)                          250179 non-null  object
 15  Industry (Account ID)                                            250179 non-null  object
 16  Industry Code 1 (Account ID)                                     250179 non-null  object
 17  Account ABC Classification (EC ID)                               250179 non-null  object
 18  Industry (EC ID)                                                 250179 non-null  object
 19  Industry Code 1 (EC ID)                                          250179 non-null  object
 20  Parent Installation Point ID                                     250179 non-null  object
 21  Registered Product Category (Registered Product ID)              250179 non-null  object
 22  Model                                                            250179 non-null  object
 23  Model Vendor                                                     250179 non-null  object
 24  Model Category                                                   250179 non-null  object
 25  Model Group                                                      250179 non-null  object
 26  Beverage Temperature                                             250179 non-null  object
 27  System Brands                                                    250179 non-null  object
 28  Ingredient Format                                                250179 non-null  object
 29  Machine Type                                                     250179 non-null  object
 30  Positionning                                                     250179 non-null  object
 31  Generation                                                       250179 non-null  object
 32  Blueprint Throughput                                             250179 non-null  object
 33  IP Ownership                                                     250179 non-null  object
 34  Calendar Date                                                    250179 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      250179 non-null  object
 36  City                                                             250179 non-null  object
 37  State                                                            250179 non-null  object
 38  Postal Code                                                      250179 non-null  object
 39  Churn                                                            250179 non-null  bool
 40  Service Category_Installation                                    250179 non-null  float64
 41  Service Category_Removal                                         250179 non-null  float64
 42  Service Category_Replacement                                     250179 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                250179 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       250179 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   250179 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      250179 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               250179 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  250179 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              250179 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              250179 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   250179 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            250179 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      250179 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  250179 non-null  float64
 55  serial                                                           250179 non-null  object
 56  quantity_x                                                       250179 non-null  int32
 57  one_month_avg                                                    250179 non-null  float64
 58  three_months_avg                                                 250179 non-null  float64
 59  six_months_avg                                                   250179 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            250179 non-null  float64
 61  3mth-6mth)/6mth_x                                                250179 non-null  float64
 62  Serial                                                           250179 non-null  object
 63  quantity_y                                                       250179 non-null  int32
 64  Sales_one_Month_avg                                              250179 non-null  float64
 65  Sales_three_months_avg                                           250179 non-null  float64
 66  Sales_six_months_avg                                             250179 non-null  float64
 67  KeyManufNo_SalesOrg                                              250179 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            250179 non-null  float64
 69  3mth-6mth)/6mth_y                                                250179 non-null  float64
 70  Acc_ID                                                           250179 non-null  object
 71  End Date in Local Time Zone_x                                    250179 non-null  datetime64[ns]
 72  Result_Incomplete Selling Call                                   250179 non-null  float64
 73  Result_Not assigned                                              250179 non-null  float64
 74  Result_Objective Met                                             250179 non-null  float64
 75  Result_Objective Partially Met                                   250179 non-null  float64
 76  Result_Requires Further Follow-up                                250179 non-null  float64
 77  Result_Unsuccessful Selling Call                                 250179 non-null  float64
 78  Activity Life Cycle Status_Canceled                              250179 non-null  float64
 79  Activity Life Cycle Status_In Process                            250179 non-null  float64
 80  Activity Life Cycle Status_Open                                  250179 non-null  float64
 81  Last_visit_diff_months                                           250179 non-null  float64
 82  #Visits completed                                                250179 non-null  float64
 83  Account Name                                                     250179 non-null  int64
 84  End Date in Local Time Zone_y                                    250179 non-null  datetime64[ns]
 85  Last_call_diff_months                                            250179 non-null  float64
 86  #Calls Completed                                                 250179 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(38), int32(6), int64(1), object(38)
memory usage: 160.6+ MB

In [491]:
IncidentTicketdf_prep2['Serial ID'] = IncidentTicketdf_prep2['Serial ID'].astype('str')

In [492]:
IncidentTicketdf_prep2['Serial ID'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 75135 entries, 0 to 75134
Series name: Serial ID
Non-Null Count  Dtype
--------------  -----
75135 non-null  object
dtypes: object(1)
memory usage: 587.1+ KB

In [493]:
BeverageMachine_all_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df, IncidentTicketdf_prep2, how='left', left_on = ['Serial ID'], right_on = ['Serial ID'])
BeverageMachine_all_df['Completion Date_2'] = pd.to_datetime(BeverageMachine_all_df['Completion Date_2'])
BeverageMachine_all_df['Completion Date_2'] = BeverageMachine_all_df['Completion Date_2'].fillna(dt.datetime(2000,1,1))
BeverageMachine_all_df = BeverageMachine_all_df.fillna(0)

In [494]:
f=BeverageMachine_all_df.loc[BeverageMachine_all_df['Serial ID']=='7010054129']
f.iloc[:20,80:100]

,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed,Account Name,End Date in Local Time Zone_y,Last_call_diff_months,#Calls Completed,Completion Date_2,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing,Incident Category_1.c Ingredient Dripping,Incident Category_1.d Ingredient Other,Incident Category_10 Abnormal smell,Incident Category_11 Electrical power,Incident Category_12 Water supply issue,Incident Category_13 Connectivity (modem),Incident Category_14 Accessory problem(external pump..),Incident Category_15 Return with parts,Incident Category_16 Operator mishandling(improper fill..),Incident Category_17 Miscellaneous
53770,0.0,11.564919,2.0,0,2000-01-01,0.0,0.0,2022-01-25,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196419,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2022-01-25,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
237867,0.0,15.934619,1.0,0,2000-01-01,0.0,0.0,2022-01-25,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [495]:
MktActions_prep3 = MktActions_prep3.reset_index()
MktActions_prep3

,Serial ID,Actions_Churn risk reason unknown,Actions_Data corrected,Actions_Downgrade machine installed,Actions_Lack of data discipline,Actions_New contract,Actions_Other,Actions_Out of order,Actions_Phone Call completed,Actions_Plan for removal,...,Actions_Removed,Actions_Reviewed and no action Required,Actions_Reviewed and no actions required,Actions_Seasonal Machine,Actions_Telemetry installed,Actions_Upgrade machine installed,Actions_Visit completed,Actions_Visit/Call planned,Actions_removed,Actions_tagging update
0,24606,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1895151,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10238090,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10238091,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,10238092,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,T348033,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1225,T348040,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1226,T348082,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1227,T392705,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1228,T487736,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [496]:
MktActions_prep3['Serial ID'] = MktActions_prep3['Serial ID'].astype('str')

In [497]:

BeverageMachine_all_df2 = pd.merge(BeverageMachine_all_df, MktActions_prep3, how='left', left_on = ['Serial ID'], right_on = ['Serial ID'])
#BeverageMachine_all_df['Completion Date_2'] = pd.to_datetime(BeverageMachine_all_df['Completion Date_2'])
#BeverageMachine_all_df['Completion Date_2'] = BeverageMachine_all_df['Completion Date_2'].fillna(dt.datetime(2000,1,1))
BeverageMachine_all_df2 = BeverageMachine_all_df2.fillna(0)

BeverageMachine_all_df = BeverageMachine_all_df2

UKService_prep2 = UKService_prep2.reset_index()

BeverageMachine_all_df2 = pd.merge(BeverageMachine_all_df, UKService_prep2, how='left', left_on = ['Key_ManufacturerID_SalesOrg'], right_on = ['Key_ManufacturerID_SalesOrg'])
BeverageMachine_all_df2['Month'] = pd.to_datetime(BeverageMachine_all_df2['Month'])
BeverageMachine_all_df2['Month'] = BeverageMachine_all_df2['Month'].fillna(dt.datetime(2000,1,1))
BeverageMachine_all_df2 = BeverageMachine_all_df2.fillna(0)

In [498]:
BeverageMachine_all_df = BeverageMachine_all_df2
a = BeverageMachine_all_df.iloc[:,100:]
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 0 to 250178
Data columns (total 49 columns):
 #   Column                                                      Non-Null Count   Dtype
---  ------                                                      --------------   -----
 0   Incident Category_18 N/A                                    250179 non-null  float64
 1   Incident Category_2.a Hydraulic Calibration                 250179 non-null  float64
 2   Incident Category_2.b Hydraulic Dispensing                  250179 non-null  float64
 3   Incident Category_2.c Hydraulic Leaking                     250179 non-null  float64
 4   Incident Category_2.d Hydraulic Heating                     250179 non-null  float64
 5   Incident Category_2.e Hydraulic Cooling/Freezing            250179 non-null  float64
 6   Incident Category_2.f Hydraulic Filling                     250179 non-null  float64
 7   Incident Category_2.g Hydraulic Other                       250179 non-null  float64
 8   Incident Category_3.a Door Display/Touchscreen              250179 non-null  float64
 9   Incident Category_3.b Door Menu buttons                     250179 non-null  float64
 10  Incident Category_3.c Door Detection                        250179 non-null  float64
 11  Incident Category_3.d Door Key/Key switch                   250179 non-null  float64
 12  Incident Category_3.e Door Other                            250179 non-null  float64
 13  Incident Category_4.a Reconst. Area In-cup quality/Recipes  250179 non-null  float64
 14  Incident Category_4.b Reconstitution Area Mixing system     250179 non-null  float64
 15  Incident Category_4.c Reconstitution Area Other             250179 non-null  float64
 16  Incident Category_5.a Disp. Area Manifold/Distribution      250179 non-null  float64
 17  Incident Category_5.b Dispensing Area Drip Tray             250179 non-null  float64
 18  Incident Category_5.c Dispensing Area Other                 250179 non-null  float64
 19  Incident Category_6 Electronics (PCBs)                      250179 non-null  float64
 20  Incident Category_7 Wire/Harness                            250179 non-null  float64
 21  Incident Category_8 Software/Firmware                       250179 non-null  float64
 22  Incident Category_9 Abnormal noise                          250179 non-null  float64
 23  SLA MET?_0.0                                                250179 non-null  float64
 24  SLA MET?_1.0                                                250179 non-null  float64
 25  AuxTime_No                                                  250179 non-null  float64
 26  AuxTime_Yes                                                 250179 non-null  float64
 27  Last_InTick_diff_months                                     250179 non-null  float64
 28  Actions_Churn risk reason unknown                           250179 non-null  float64
 29  Actions_Data corrected                                      250179 non-null  float64
 30  Actions_Downgrade machine installed                         250179 non-null  float64
 31  Actions_Lack of data discipline                             250179 non-null  float64
 32  Actions_New contract                                        250179 non-null  float64
 33  Actions_Other                                               250179 non-null  float64
 34  Actions_Out of order                                        250179 non-null  float64
 35  Actions_Phone Call completed                                250179 non-null  float64
 36  Actions_Plan for removal                                    250179 non-null  float64
 37  Actions_Removal Plan                                        250179 non-null  float64
 38  Actions_Removal planned                                     250179 non-null  float64
 39  Actions_Removed                                             250179 non-null  float64
 40  Actions_Reviewed and no action Required                     250179 non-null  float64
 41  Actions_Reviewed and no actions required                    250179 non-null  float64
 42  Actions_Seasonal Machine                                    250179 non-null  float64
 43  Actions_Telemetry installed                                 250179 non-null  float64
 44  Actions_Upgrade machine installed                           250179 non-null  float64
 45  Actions_Visit completed                                     250179 non-null  float64
 46  Actions_Visit/Call planned                                  250179 non-null  float64
 47  Actions_removed                                             250179 non-null  float64
 48  Actions_tagging update                                      250179 non-null  float64
dtypes: float64(49)
memory usage: 95.4 MB

###TODO Remove when market have enough data

BeverageMachine_all_df2 = BeverageMachine_all_df.copy()

# Sales Organisation with more than one month of data
SO = ['Nestle Sweden',  'Nestlé Czech', 'Nestlé Denmark', 'Nestlé Finland', 'Nestlé Norway', 'Nestlé Slovak Republic']

#BeverageMachine_all_df3 =  pd.DataFrame([])

for i in SO:
    BeverageMachine_all_df2 = BeverageMachine_all_df2.loc[BeverageMachine_all_df2['Sales Organisation'] != i]
BeverageMachine_all_df2.head()
BeverageMachine_all_df = BeverageMachine_all_df2

# Specify the filename
filename = 'TelemetryColumnsList.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(TelemetryColumnsList, file)

#### Data summary

I now have four datasets :

"BeverageMachine7_df" 

    which is all the data of the beverage machines without ticket data

    This data will be our main data and it will be used to Train and test our models because we have data for all the machines

"BeverageMachine7_wTickets_df" 

    which is with the Ticket data and when there is no tickets for a machine we fill with 0
    
    As we only have around 2000 machines having tickets we will use it on the model that performed better with main data to see if it can bring better results with Telemetry data

"BeverageMachine7_wTicketsOnly_df" 

    which is only the data of the machines having Tickets
    
    Only useful for EDA

"BeverageMachine7_wTickets_wTelemetry_df"

    We will use it on the model that performed better with main data to see if it can bring better results than the Main data or the Main data with tickets. If it does not improve significantly the results we will not use it  because it takes a lot of time to get Telemetry data.
    Later, more machines will have Telemetry and a data lake will be created and it will br easier to get the data.

### Save the data<a class="anchor" id="save"></a>

I choose to save the data into a pickle file because it is a good way to transfer a pandas dataframe

##### BeverageMachine7_df

In [499]:
BeverageMachine_all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250179 entries, 0 to 250178
Columns: 149 entries, Serial ID to Actions_tagging update
dtypes: bool(1), datetime64[ns](4), float64(99), int32(6), int64(1), object(38)
memory usage: 278.9+ MB

In [500]:
BeverageMachine_all_df.iloc[0:10, 68:90]

,(lst_mth-6mth)/6mth_y,3mth-6mth)/6mth_y,Acc_ID,End Date in Local Time Zone_x,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,...,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed,Account Name,End Date in Local Time Zone_y,Last_call_diff_months,#Calls Completed,Completion Date_2,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing
0,-1.000000,-0.327099,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2024-05-31,0.0,2.0
1,0.507949,0.465355,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2023-05-05,0.0,3.0
2,-0.394938,-0.159033,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
3,-0.090199,-0.080162,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2023-06-15,2.0,0.0
4,0.432154,0.102835,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
5,0.211895,0.042990,4302201,2024-04-29,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,2.037003,1.0,0,2000-01-01,0.0,0.0,2023-11-30,0.0,0.0
6,-0.141934,-0.158286,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2023-01-12,0.0,0.0
7,0.655523,1.000000,2306406,2023-12-21,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,6.308138,2.0,0,2000-01-01,0.0,0.0,2021-08-26,0.0,0.0
8,0.316320,-0.122453,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2022-04-26,1.0,2.0
9,-1.000000,-0.196473,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2024-02-29,0.0,1.0

In [501]:
# Specify the filename
filename = 'BM_noTickets.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_df, file)

In [502]:
# Specify the filename
filename = 'BM_noTickets.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Load the pickle file
with open(file_path_with_filename, 'rb') as file:
    BM_noTickets = pickle.load(file)

Quick test to see if I am able to reopen the data in another Notebook

In [503]:
a=BeverageMachine_all_df.loc[BeverageMachine_all_df['EC ID']=='1056184']
a.iloc[0:10,:86]

Empty DataFrame
Columns: [Serial ID, Sales Organisation, Machine Status Groupings, User Status, TA Contract Installation Date, Depreciation Start, Manufacturer Number, Position, TA Contract Start Date, TA Contract End Date, TA Usage Indicator, Account ID, EC ID, EC Name, Account ABC Classification (Account ID), Industry (Account ID), Industry Code 1 (Account ID), Account ABC Classification (EC ID), Industry (EC ID), Industry Code 1 (EC ID), Parent Installation Point ID, Registered Product Category (Registered Product ID), Model, Model Vendor, Model Category, Model Group, Beverage Temperature, System Brands, Ingredient Format, Machine Type, Positionning, Generation, Blueprint Throughput, IP Ownership, Calendar Date, Key_ManufacturerID_SalesOrg, City, State, Postal Code, Churn, Service Category_Installation, Service Category_Removal, Service Category_Replacement, INCIDENT_CATEGORY_DESCRIPTION_Customer relocation, INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales, INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix, INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation, INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair, INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point, INCIDENT_CATEGORY_DESCRIPTION_Renew, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal, INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show, INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other, INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade, serial, quantity_x, one_month_avg, three_months_avg, six_months_avg, (lst_mth-6mth)/6mth_x, 3mth-6mth)/6mth_x, Serial, quantity_y, Sales_one_Month_avg, Sales_three_months_avg, Sales_six_months_avg, KeyManufNo_SalesOrg, (lst_mth-6mth)/6mth_y, 3mth-6mth)/6mth_y, Acc_ID, End Date in Local Time Zone_x, Result_Incomplete Selling Call, Result_Not assigned, Result_Objective Met, Result_Objective Partially Met, Result_Requires Further Follow-up, Result_Unsuccessful Selling Call, Activity Life Cycle Status_Canceled, Activity Life Cycle Status_In Process, Activity Life Cycle Status_Open, Last_visit_diff_months, #Visits completed, Account Name, End Date in Local Time Zone_y, Last_call_diff_months]
Index: []

[0 rows x 86 columns]

##### BeverageMachine7_wTickets_df

In [504]:
# Specify the filename
filename = 'BM_wTickets.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_wTickets_df, file)

##### BeverageMachine7_wTicketsOnly_df

In [505]:
# Specify the filename
filename = 'BM_wTicketsOnly.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_wTicketsOnly_df, file)

##### BeverageMachine7_wTickets_wTelemetry_df

In [506]:
# Specify the filename
filename = 'BeverageMachine7_wTickets_wTelemetry_df.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_wTickets_wTelemetry_df, file)

##### Other dataframe needed for the second preparation step later

In [507]:
# Specify the filename
filename = 'IncidentTicketdf.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(IncidentTicketdf_prep2, file)

In [508]:
# Specify the filename
filename = 'TelemetryAggregated_df.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(Telemetry_aggSales, file)

#### All data with placements, telemetry, visits, phone calls, Incidents tickets

In [509]:
# Specify the filename
filename = 'BeverageMachine_all_df2.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine_all_df, file)

In [511]:
BeverageMachine_all_df.to_csv(r'C:\Users\msalomo\predictions-BevData.csv', index = False, header=True)