# Capstone Project by Mirko Salomon 

# BEVERAGE MACHINE CHURN PREDICTION

* ## [1) The problem](#TheProblem)

    * #### Goal
    
* ## [2) The Data](#TheData)
    * ### [(a) Clear overview of your data](#DataOverview)
    
        ##### Beverage Machine data

        ##### Beverage Mapping data

        ##### Beverage Classification data
    
        ##### Placement Tickets data

        ##### Telemetry data

    * ### [(b) Plan to manage and process the data](#ManageData)
    
        ##### Beverage Machine data features and the Beverage Classification data features

        ##### Placement Tickets data features
        
        ##### Telemetry data features

        ##### Missing data
        
        ##### Preparation of the data in order to execute some EDA

* ## [3) Preparation of the data](#prep)         
    * ### [(a) Details of preparation](#det)
    
        #### Beverage Machine data preparation

        #### Placement Tickets data preparation

        #### Telemetry data preparation

        #### Data summary
        
    * ### [(b) Save the data](#save)

## 1) The problem <a class="anchor" id="TheProblem"></a>

The main business is a full service for beverage machine including :

    beverage machines placed at a customer’s place (rented or loaned), 
    
    the beverage ingredients (coffee beans, soluble coffee, juice, etc.) delivered to the customers 
    
    and the management of any issue and repair.

A little bit like the printers in companies where a printing machine is placed and the ink and the issues are also managed by the same company.

We have high churn rate of the beverage machine rented/loaned in our business and the goal is to reduce the churn rate by predicting which customer is more likely to churn and try to retain these customers.

The goal is to use Machine Learning in order to predict which machine is at risk of churn by calculating a churn likelihood.

The 'churned' machines are the machines that are definitively removed from their installation point thus resulting in a lower number of machines deployed dispensing beverage cups.

A churned machine generates a one-time cost for removal and replacement and a variable cost for depreciation and storage whilst a new location is found.

The Installation Point is referring to a customer's point where the machine is installed. A customer can have one or several Installation Point. A machine can be replaced by a new Machine on the same Installation Point. The Idea is to look when we lose an Installation Point, meaning that a machine distributing beverage cups has churned.

A Machine can be replaced on an Installation Point and it means we have kept the customer, so that is why we focus on the Installation Point rather than the Machine's Serial ID.

Two proposals could be used:

    Proposal 1 : We keep all the Installation Point data available and we do not aggregate the monthly data of the machines
    
    Proposal 2 : We aggregate the data of the same Installation Point over several month.
    
Example Proposal 1:

    InstPoint     Month of snapshot     ID       Churn      Age in Month      
    Inst.   1     Jan                   1        No         20
    Inst.   2     Jan                   2        No         48
    Inst.   3     Jan                   3        No         69
    Inst.   4     Jan                   4        Yes        45
    
    Inst.   1     Feb                   5        No         21
    Inst.   2     Feb                   6        No         49
    Inst.   3     Feb                   7        Yes        70
    Inst.   5     Feb                   8        No         25
    
    Inst.   1     Mar                   9        No         22
    Inst.   2     Mar                   10       No         50
    Inst.   5     Mar                   11       No         26
    Inst.   6     Mar                   12       No         30
    Inst.   7     Mar                   13       No         42
    Inst.   8     Mar                   14       No         7
    
    
Example Proposal 2:

    Inst.   #     Latest month snap     ID       Churn      Age in Month       data available since (month)     
    Inst.   1     Mar                   1        No         22                 3
    Inst.   2     Mar                   2        No         50                 3
    Inst.   3     Feb                   3        Yes        70                 1
    Inst.   4     Jan                   4        Yes        45                 2
    Inst.   5     Mar                   5        No         26                 2
    Inst.   6     Mar                   6        No         30                 1
    Inst.   7     Mar                   7        No         42                 1
    Inst.   8     Mar                   8        No         7                  1

I am currently missing all the Installation Point before January who have churned, therefore, the data is only having the current Park of Installation Point, only having the survivors, so I need to be careful of the Survivorship bias.

In order to make a Time Series problem it would be better to have more data.

I can have data from one Sales Organisation available in January and for another Sales Organisation in March.

The idea behind the first proposal was to predict a monthly churn rate, the monthly churn rate is the number of churn over the total. However with 10 month of data it is not the best solution.

With the second solution I will predict based on features if the machine has churned or not. The advantage of the second solution is that we can work without the time dimension and focus only on the features to make a prediction if the machine has churned or not.

### a) Goal <a class="anchor" id="Goal"></a>

By giving the customer's installation point with the highest churn likelihood to the managers, they can take action in order to retain more customer's installation point.

This will help to retain more customer's installation points and increase the company's deployed beverage machine park.

Also, less churn implies higher efficiency per machine (less time in the deposit) and lower cost for installation removal.

### TO DO LIST
Add Sales Org ID to vendon data and to Incident tickets and with a mapping create a key Serial-SalesOrg to link to the main data
Add acquisition cost and book value from ERP?

## 2) The data <a class="anchor" id="TheData"></a>

### (a) Clear overview of your data  <a class="anchor" id="DataOverview"></a>

pip install matplotlib

In [71]:
import pandas as pd
import os
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

import datetime as dt
from datetime import datetime

import pickle
#Install brokenaxes
#!pip install brokenaxes

from config import (
    BeverageMachine22_df,
    BeverageMachine23_df,
    BeverageMachine24_df,
    BevMap_df,
    BeverageClassification_df,
    Placement_df,
    np_churn_consumption2,
    np_churn_consumption,
    Visitsdf,
    PhoneCallsdf,
    IncidentTicketdf,
    PakistanSales,
    MalaysiaSales,
    RussiaSalesData,
    SouthAfricaSales,
    SingaporeSales,
    MktActions,
    IndiaSales
)

# Specify the file path
file_path_output = r'C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Notebook output'

# Date when the data was extracted
ChurnDate2=datetime(2023,7,31)

# The range from when I want to have the details about Telemetry data
TelemetryDateRangeStart = '2020-01-01'

In [72]:
# Date when the data was extracted
import calendar

#Algorithm that gives the last day of the past month as Churn Date
CurrentDate = datetime.today()

shift_year = 0
shift_month = 1

if (CurrentDate.month == 1):
    shift_year = 1
    shift_month = -11

new_date = calendar.monthrange(CurrentDate.year - shift_year,CurrentDate.month - shift_month)
ChurnDate2 = datetime(CurrentDate.year - shift_year,CurrentDate.month - shift_month,new_date[1])

print(ChurnDate2)

2024-08-31 00:00:00

In [73]:
####Whe is the last time we had telemetry data
# Should be the same as Churn Date2

#TelemetryDate = ChurnDate2
#TelemetryDate = datetime(2020,8,31)

#PakistanLastUpdate = datetime(2021,5,31)
#PakistanDateRangeStart = datetime(2020,7,31)

#VendonDateRangeStart = TelemetryDate
#VendonLastUpdate = datetime(2021,9,30)

The data has been anonymized

#### Below is a list of my datasets:

#### 1.	Beverage Machine data
    - The Beverage machine data is maintained by the Service manager of each Sales Organisation (usually a Sales Organisation corresponds to a country) and I can create a report to extract the data in excel from a database maintained by an external provider.
    - The database only keeps the latest state of the machine, therefore, I take a monthly snapshot of the data to capture the changes. 
    - This data provides details about the Beverage Machines park situation.
    - More and more Sales Organisations are going to be managed by this system, so the number of machines managed is increasing.

#### 2.	Beverage Mapping data
    - Beverage Mapping data is maintained in an Excel file by a colleague, I ask him to upload this mapping whenever I find new machines in the consolidated Beverage Machine data.
    - The goal of the file is to link the Beverage machine data to the Beverage Classification data.

#### 3.	Beverage Classification data
    - Beverage Classification data is maintained in a SharePoint file by a colleague.
    - This file is to get more technical details and features of the Beverage Machines.
    
#### 4.	Placement Tickets data
    - The Placement Tickets data is maintained by the Service manager of each Sales org and I can create a report to extract the data in excel from a database maintained by an external provider.
    - This data provides details of the placements and some incidents tickets of the Beverage Machines.
    - Sometimes the tickets are not done by the Service manager and some market does not fill this data inside the database, so only a minority of machines have this data.

#### 5.	Telemetry data
    - A new project has been launched not very long ago and some machine are equipped with telemetry data.
    - This data is stored by the telemetry provider and I asked an external colleague managing the relationship with the telemetry provider to share with me the data he could get from his requests.
    - Very few machines are equipped with telemetry data.
    - The number of machines connected with Telemetry is going to increase in the future.
    - This is not the definitive data, I have asked my colleague, but he could not provide me the final data this month, a data lake is being built in order to access the data more easily in the future


#### 6.	Visits data

#### 7. Phone Calls data

#### 8. Repair tickets data

### Beverage Machine data
Below you can find an extract of the Beverage Machine data which contains the details of the Beverage Machines

No need to use 2021 data so I turned it to Markdown

BeverageMachine_df = pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload.csv")
BeverageMachine_df.head()

#### Additionnal beverage data

In [74]:
###From 2022 onwards
#BeverageMachine22_df = pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload22.csv")

BeverageMachine22_df = pd.read_csv(BeverageMachine22_df)
BeverageMachine22_df.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\2688253730.py:4: DtypeWarning: Columns (2,8,9,11,19,20,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  BeverageMachine22_df = pd.read_csv(BeverageMachine22_df)

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry (Account ID),Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date
0,0,Kuwait General Operational Manager,43985,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,0,184658239,...,0801 Nestle Companies,080107 Nestle Middle East,08 Export,0801 Nestle Companies,080107 Nestle Middle East,980519,Trade Asset w/ Fixed Asset,KW10,90068903,2022-01-31
1,1,Kuwait General Operational Manager,43985,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Idle,To be Assigned,0,184658259,...,0102 Hypermarket,010299 Not classified,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,KW10,90068903,2022-01-31
2,2,Kuwait General Operational Manager,43985,NESCAFE ALEGRIA FTP30 v1.0 BM,100023190,ALEGRIA,Deployed,Installed,0,195061606,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1015364,Trade Asset w/ Fixed Asset,KW10,90073039,2022-01-31
3,3,Kuwait General Operational Manager,43985,NESCAFE ALEGRIA FTP30 v1.0 BM,100023190,ALEGRIA,Deployed,Installed,44013,195061605,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,Not assigned,666056,Trade Asset w/ Fixed Asset,KW10,90073039,2022-01-31
4,4,Kuwait General Operational Manager,43985,EZ Care Mini-Duo BM,100023377,OTHERS-R/L/N,Deployed,Installed,39295,T070572,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0601 Full Service Rest's,Not assigned,667092,Trade Asset w/ Fixed Asset,KW10,90045690,2022-01-31

In [75]:
BeverageMachine22_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3425600 entries, 0 to 3425599
Data columns (total 37 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
dtypes: int64(3), object(34)
memory usage: 967.0+ MB

Not needed anymore
### 2020 data
Bev_add2 = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload23.csv")
Bev_add2.head()

In [76]:
##2023 data

#BeverageMachine23_df =  pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload23.csv")
BeverageMachine23_df =  pd.read_csv(BeverageMachine23_df)
BeverageMachine23_df.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\1355821232.py:4: DtypeWarning: Columns (2,8,9,11,14,16,17,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  BeverageMachine23_df =  pd.read_csv(BeverageMachine23_df)

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry (Account ID),Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date
0,0,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42430,16E0009895,...,1101 Exclusive,110101 Distribution Center,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
1,1,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42522,16E0014757,...,0618 Distributors OOH,061802 Non Exclusive,06 Out of Home,0203 Petrol Station,020399 Not classified,1046515,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
2,2,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42614,16E0021271,...,0618 Distributors OOH,061802 Non Exclusive,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
3,3,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42705,16E0021245,...,1101 Exclusive,110101 Distribution Center,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31
4,4,NP Bosnia & Herzegovina,44447,NESCAFE ALEGRIA A630 H3A2W HW BP BM,90045171,ALEGRIA,Idle,To be Assigned,42736,16E0021249,...,1101 Exclusive,110101 Distribution Center,Not assigned,Not assigned,Not assigned,#,Trade Asset w/ Fixed Asset,BA10,90045171,2023-01-31

In [77]:
##2024 data
#BeverageMachine24_df =  pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\C4CTAUpload24.csv")
BeverageMachine24_df =  pd.read_csv(BeverageMachine24_df)
BeverageMachine24_df.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\319131405.py:3: DtypeWarning: Columns (2,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  BeverageMachine24_df =  pd.read_csv(BeverageMachine24_df)

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry (Account ID),Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date
0,0,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544849,...,0614 Convenience OOH,061406 PMO:Petrol Stations,06 Out of Home,0614 Convenience OOH,061406 PMO:Petrol Stations,1498958,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
1,1,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544851,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-8930,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
2,2,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544855,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9059,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
3,3,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43282.0,182026936,...,0605 Business/Industry,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9146,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31
4,4,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43313.0,182026920,...,0605 Business/Industry,060503 Remote Site Company,06 Out of Home,0605 Business/Industry,060503 Remote Site Company,IP-9006,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31

In [78]:
BeverageMachine_df = pd.concat([BeverageMachine24_df, BeverageMachine22_df], ignore_index=True) 
BeverageMachine_df = pd.concat([BeverageMachine_df, BeverageMachine23_df], ignore_index=True) 

#BeverageMachine_df = BeverageMachine24_df.append(BeverageMachine22_df)
#BeverageMachine_df = BeverageMachine_df.append(BeverageMachine23_df)
BeverageMachine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9271443 entries, 0 to 9271442
Data columns (total 37 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
dtypes: int64(3), object(34)
memory usage: 2.6+ GB

Manufacturer Serial number can be the same for two different machine in different countries let's create a key Key_ManufacturerID_SalesOrg

Key_ManufacturerID_SalesOrg will be used for merging local sales data from market with the main data

import pandas as pd

# Create a new column 'Key_ManufacturerID_SalesOrg' with initial values from 'Manufacturer Number' and 'Sales Organisation'
BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Manufacturer Number'].astype(str) + BeverageMachine_df['Sales Organisation']



# Conditionally update 'Key_ManufacturerID_SalesOrg' column if it is a specific Sales Organisation
specific_market = 'Nestlé Russia'  # Replace with the name of your specific market
# for Russia use Account ID instead of Manufacturer Number
BeverageMachine_df.loc[BeverageMachine_df['Sales Organisation'] == specific_market, 'Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Account ID'].astype(str) + BeverageMachine_df['Sales Organisation']

In [79]:
# Create a new column 'Key_ManufacturerID_SalesOrg' with initial values from 'Manufacturer Number' and 'Sales Organisation'
BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Manufacturer Number'].astype(str) + BeverageMachine_df['Sales Organisation']

#Account ID should be of type "String"
BeverageMachine_df['Account ID'] = BeverageMachine_df['Account ID'].astype(str)
BeverageMachine_df['Serial ID'] = BeverageMachine_df['Serial ID'].astype(str)
BeverageMachine_df['EC ID'] = BeverageMachine_df['EC ID'].astype(str)

# Conditionally update 'Key_ManufacturerID_SalesOrg' column if it is a specific market
specific_market = 'Nestle South Africa'

specific_market2 = ['Nestlé India', 'Pakistan'] 


BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df.apply(
    lambda row: str(row['Serial ID']) + row['Sales Organisation'] if row['Sales Organisation'] in specific_market2 else (
        row['Account ID'] + row['Sales Organisation'] if row['Sales Organisation'] == specific_market else row['Key_ManufacturerID_SalesOrg']
    ), axis=1
)

# Update 'Key_ManufacturerID_SalesOrg' column based on specific markets
BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df.apply(
    lambda row: row['Account ID'] + row['Sales Organisation'] if row['Sales Organisation'] == specific_market else (
        str(row['Serial ID']) + row['Sales Organisation'] if row['Sales Organisation'] == specific_market2 else row['Key_ManufacturerID_SalesOrg']
    ), axis=1
)

BeverageMachine_df['Key_ManufacturerID_SalesOrg'] = BeverageMachine_df['Manufacturer Number'].astype(str) +  BeverageMachine_df['Sales Organisation']

In [80]:
a= BeverageMachine_df.loc[BeverageMachine_df['EC ID']=='3865882']
print(a[['Serial ID', 'EC ID']])

          Serial ID    EC ID
3720531     6440259  3865882
3985313     6440259  3865882
4267913     6440259  3865882
4609020     6440259  3865882
7058760  14E0010489  3865882
7251397  14E0010489  3865882
7542884  14E0010489  3865882
7979139  14E0010489  3865882

Serial Id should be a string had issue with mix type for same serial ID

In [81]:
BeverageMachine_df['Serial ID'] = BeverageMachine_df['Serial ID'].astype('str')

BeverageMachine_df['Parent Installation Point ID'] = BeverageMachine_df['Parent Installation Point ID'].astype('str')

In [82]:
BeverageMachine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9271443 entries, 0 to 9271442
Data columns (total 38 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
 37  Key_ManufacturerID_SalesOrg                          object
dtypes: int64(3), object(35)
memory usage: 2.6+ GB

In [83]:
BeverageMachine_df = BeverageMachine_df.query("`Product [Machine Model]` != 'Vendon Telemetry Device – vBox BM'")

In [84]:
BeverageMachine_df['Sales Organisation'].unique()

array(['Nestlé UAE', 'NP Bosnia & Herzegovina', 'Néstlé Bahrain',
       'NESTLE PROD SERV - CN19', 'SHL NESTLE PROD SERV',
       'Nestlé Denmark', 'Nestlé Finland', 'Nestle Hong Kong',
       'Indonesia', 'JP Japan Sales',
       'Kuwait General Operational Manager', 'NP North Macedonia',
       'Malaysia', 'Nestle New Zealand', 'Nestlé PH', 'Nestlé Qatar',
       'Nestlé Russia', 'Nestlé Slovak Republic', 'Nestle Turkiye Gida',
       'Nestle South Africa', 'Singapore', 'Nestle Australia Ltd',
       'NP-Bulgaria', 'NESTLE PROD SERV - CN17',
       'NESTLE PROD SERV - CN20', 'Nestlé Czech', 'Nestle UK',
       'NP Croatia, Slovenia', 'Nestlé India', 'Néstlé Jordania',
       'Nestle Kenya Ltd', 'Néstlé Lebanon', 'Nestle Prd Mauritius Ltd',
       'NP-Netherlands', 'Nestlé Norway',
       'Oman - Business Manager UAE & Oman', 'Pakistan',
       'NP Serbia, Kosovo, Montenegro', 'Néstlé Saudi Arabia',
       'Nestle Sweden', 'Thailand', 'Nestlé Taiwan', 'NP-Belgilux',
       'NP-France', 'NP Croatia, Slovenia-HR11', 'Nestlé Italy IT35 OOH',
       'Nestle Ireland', 'Nestle Romania S.R.L', 'Nestle Poland',
       'Baltics Sales Organization', nan, 'Poland Sales Organization',
       'Nestle Jordan', 'Nestle Oman', 'Nestle Kuwait', 'Nestle Morocco',
       'Nestle Egypt'], dtype=object)

Removed some markets from analysis

In [85]:
BeverageMachine_df2 = BeverageMachine_df.copy()
BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NESTLE PROD SERV - CN17']
BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NESTLE PROD SERV - CN19']
BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NESTLE PROD SERV - CN20']
#BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='SHL NESTLE PROD SERV']
#BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='Nestlé Taiwan']
#BeverageMachine_df2=BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']!='NP-Netherlands']


#BeverageMachine_df2 = BeverageMachine_df2.drop(BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']=='Nestlé India'].index, inplace=True)
#BeverageMachine_df2 = BeverageMachine_df2.drop(BeverageMachine_df2.loc[BeverageMachine_df2['Sales Organisation']=='NESTLE PROD SERV - CN17'].index, inplace=True)
BeverageMachine_df2.head()

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date,Key_ManufacturerID_SalesOrg
0,0,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544849,...,061406 PMO:Petrol Stations,06 Out of Home,0614 Convenience OOH,061406 PMO:Petrol Stations,1498958,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20174544849Nestlé UAE
1,1,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544851,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-8930,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20174544851Nestlé UAE
2,2,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43191.0,174544855,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9059,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20174544855Nestlé UAE
3,3,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43282.0,182026936,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,IP-9146,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20182026936Nestlé UAE
4,4,Nestlé UAE,43992,NESCAFE MILANO MTS60E H4E1R2W HW Tki BM,90068903,MILANO,Deployed,Installed,43313.0,182026920,...,060503 Remote Site Company,06 Out of Home,0605 Business/Industry,060503 Remote Site Company,IP-9006,Trade Asset w/ Fixed Asset,AE12,90068903,2024-01-31,20182026920Nestlé UAE

In [86]:
BeverageMachine_df2['Sales Organisation'].unique()

array(['Nestlé UAE', 'NP Bosnia & Herzegovina', 'Néstlé Bahrain',
       'SHL NESTLE PROD SERV', 'Nestlé Denmark', 'Nestlé Finland',
       'Nestle Hong Kong', 'Indonesia', 'JP Japan Sales',
       'Kuwait General Operational Manager', 'NP North Macedonia',
       'Malaysia', 'Nestle New Zealand', 'Nestlé PH', 'Nestlé Qatar',
       'Nestlé Russia', 'Nestlé Slovak Republic', 'Nestle Turkiye Gida',
       'Nestle South Africa', 'Singapore', 'Nestle Australia Ltd',
       'NP-Bulgaria', 'Nestlé Czech', 'Nestle UK', 'NP Croatia, Slovenia',
       'Nestlé India', 'Néstlé Jordania', 'Nestle Kenya Ltd',
       'Néstlé Lebanon', 'Nestle Prd Mauritius Ltd', 'NP-Netherlands',
       'Nestlé Norway', 'Oman - Business Manager UAE & Oman', 'Pakistan',
       'NP Serbia, Kosovo, Montenegro', 'Néstlé Saudi Arabia',
       'Nestle Sweden', 'Thailand', 'Nestlé Taiwan', 'NP-Belgilux',
       'NP-France', 'NP Croatia, Slovenia-HR11', 'Nestlé Italy IT35 OOH',
       'Nestle Ireland', 'Nestle Romania S.R.L', 'Nestle Poland',
       'Baltics Sales Organization', nan, 'Poland Sales Organization',
       'Nestle Jordan', 'Nestle Oman', 'Nestle Kuwait', 'Nestle Morocco',
       'Nestle Egypt'], dtype=object)

In [87]:
BeverageMachine_df = BeverageMachine_df2

In [88]:
BeverageMachine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7900326 entries, 0 to 9271442
Data columns (total 38 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        int64
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        object
 37  Key_ManufacturerID_SalesOrg                          object
dtypes: int64(3), object(35)
memory usage: 2.3+ GB

### Beverage Mapping data

In [89]:
# (A) Load the Beverage Mapping data
#BevMap_df = pd.read_csv(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\SBU-11 NESTLE PRO. Translation.csv")
BevMap_df = pd.read_csv(BevMap_df)

BevMap_df['ID Model Code']=BevMap_df['ID Model Code'].astype(str)
BevMap_df.head()

,Brand Name,Description,ID Model Code,Source,Model,Revised,Modified,Modified By
0,Accolade,Accolade 12oz,ACC-FPD-12z,BMB,N&W Astro Accolade,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
1,Accolade,Accolade 9oz,ACC-FPD- 9z,BMB,N&W Astro Accolade,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
2,ALEGRIA,Chest Freezer NP PK BM,100069870,C4C,Accessories,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
3,ALEGRIA,Chiller SAX 250 NP BM PK,100069872,C4C,Others,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"
4,ALEGRIA,Chiller SAX 400 NP BM PK,100069869,C4C,Others,Yes,06/14/2023 10:07 AM,"Baeza,Jordi,CH-ORBE"

In [90]:
BevMap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand Name     2580 non-null   object
 1   Description    2580 non-null   object
 2   ID Model Code  2580 non-null   object
 3   Source         2580 non-null   object
 4   Model          2580 non-null   object
 5   Revised        2580 non-null   object
 6   Modified       2580 non-null   object
 7   Modified By    2580 non-null   object
dtypes: object(8)
memory usage: 161.4+ KB

### Beverage Classification data

In [91]:
# (A) Load the Beverage Classification data
BeverageClassification_df = pd.read_csv(BeverageClassification_df)

BeverageClassification_df.head()

,Model,Model Vendor,Model Category,Global Projects,System Brands,Solution Brands,Model Group,Generation,Product,Ingredient Format,...,PSL,TAA & TAR Ownership,TAA & TAR,SC & Planning,Production,IM,Sustainability LCA Ownership,Sustainability LCA,Vendon Compatible,Technical Capacity
0,4Swiss Roma A10 PRO,Others,Mainstream B2C,%23-N/A,Branded others,Branded Others,Other,Legacy,Pure R&G,Pure R&G,...,Validated,Market,Not Done,Market,Discontinued,Market,Market,Not Done,NaN,20
1,Accessories,Generic,Other,%23-N/A,Branded others,Non-Branded,Other,Legacy,%23-Unknown,Other,...,Validated,Market,Not Done,Market,Discontinued,Market,Market,Not Done,NaN,0
2,Alegria V-Café 140,Crem,Hot Liquid,Alegria,Nescafé Alegria,Nescafé Alegria,NA Legacy,Gen. 1,Hot Liquid,Liquid,...,Mandatory,Region,Not Done,Region,Active,Region,Region,Not Done,NaN,0
3,Alegria V-Café 2120,Crem,Hot Liquid,Alegria,Nescafé Alegria,Nescafé Alegria,NA Legacy,Gen. 1,Hot Liquid,Liquid,...,Mandatory,Region,Not Done,Region,Active,Region,Region,Not Done,NaN,0
4,Alegria V-Café 4500,NP Beverages,Hot Liquid,Alegria,Nescafé Alegria,Nescafé Alegria,NA Legacy,Gen. 1,Hot Liquid,Liquid,...,Validated,Market,Not Done,Market,Discontinued,Market,Market,Not Done,NaN,0

In [92]:
BeverageClassification_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Model                         590 non-null    object
 1   Model Vendor                  591 non-null    object
 2   Model Category                591 non-null    object
 3   Global Projects               591 non-null    object
 4   System Brands                 591 non-null    object
 5   Solution Brands               591 non-null    object
 6   Model Group                   591 non-null    object
 7   Generation                    591 non-null    object
 8   Product                       591 non-null    object
 9   Ingredient Format             591 non-null    object
 10  Model Category 2              591 non-null    object
 11  Machine Type                  591 non-null    object
 12  Beverage Temperature          591 non-null    object
 13  Positionning                  591 non-null    object
 14  Blueprint Throughput          591 non-null    object
 15  G/R/M PML                     591 non-null    object
 16  IP Ownership                  591 non-null    object
 17  Price List                    591 non-null    object
 18  PSL                           591 non-null    object
 19  TAA & TAR Ownership           591 non-null    object
 20  TAA & TAR                     591 non-null    object
 21  SC & Planning                 591 non-null    object
 22  Production                    591 non-null    object
 23  IM                            591 non-null    object
 24  Sustainability LCA Ownership  591 non-null    object
 25  Sustainability LCA            591 non-null    object
 26  Vendon Compatible             275 non-null    object
 27  Technical Capacity            591 non-null    int64
dtypes: int64(1), object(27)
memory usage: 129.4+ KB

### Placement Tickets data

In [93]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\miniconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\miniconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [94]:
# Load the Placement Tickets data
#Placement_df = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Net Placements.xlsx")
#Placement_df.tail()

In [95]:
#Placement_df.info()

In [96]:
# Read the Excel file into a pandas DataFrame and filter columns
file_path = Placement_df
selected_columns = ['Serial ID', 'Service Category', 'INCIDENT_CATEGORY_DESCRIPTION']
Placement_df = pd.read_excel(file_path, usecols=selected_columns)
# Perform operations on the selected DataFrame as needed
print(Placement_df)

       Service Category INCIDENT_CATEGORY_DESCRIPTION   Serial ID
0               Removal                Low throughput    10051895
1               Removal                Low throughput    10051893
2               Removal                Low throughput    10051898
3               Removal                Low throughput    10042987
4               Removal                Low throughput    10042576
...                 ...                           ...         ...
344514          Removal               End of contract    11000603
344515          Removal               End of contract  21O0011362
344516          Removal               End of contract    14000062
344517          Removal               End of contract    13000015
344518          Removal               End of contract  19O0019632

[344519 rows x 3 columns]

### Telemetry data

Get data from URL for Telemetry Data Lake

In [97]:
url = "https://queryenginelandingprod.blob.core.windows.net/shared/np/churn/np_churn_historical_consumption_by_product_group.csv?sp=r&st=2023-04-10T06:40:59Z&se=2050-04-10T14:40:59Z&spr=https&sv=2021-12-02&sr=b&sig=d%2Fn5C%2FWWksWDI%2FiiZEqwz5mOaw2jAqkW9DHUOSz6R7Q%3D"
np_churn_consumption2 =pd.read_csv(url)
np_churn_consumption2

,date,serial,sap_serial,quantity,salesorg,machine_id,product_group
0,2021-09-30,NaN,994282,3262,Turkey,3109,AMERICANO
1,2021-09-30,20200606331,NaN,391,Bulgaria,2684,ESPRESSO
2,2021-09-30,20200303637,NaN,85,Bulgaria,219,ESPRESSO
3,2021-09-30,NaN,994218,284,Turkey,6725,CAFE LATTE
4,2021-09-30,20212213887,21E0002550,667,UKI,31266,CAFE LATTE
...,...,...,...,...,...,...,...
4080285,2024-08-31,63456,3456354,1,Guatemala,8977184,AMERICANO
4080286,2024-08-31,20101206612,NaN,1,ESAR,5207,FLAVOURED CAPPUCCINO
4080287,2024-08-31,2013 39 37286,2119,1,Dominican Republic,2844538,Unknown
4080288,2024-07-31,20192735331,19E0011139,1,Italy,2973106,RISTRETTO
4080289,2024-08-31,20193140203,19E0014060,1,UKI,2949,HOT MILK

In [98]:
#url= "https://queryenginelandingstag.blob.core.windows.net/shared/np/churn/np_churn_historical_consumption.csv?sp=r&st=2022-09-02T07:17:17Z&se=2050-09-02T15:17:17Z&spr=https&sv=2021-06-08&sr=b&sig=hiIpKctZ%2BlxXwR9E%2BVReK1TnsQqZrcayCYu%2BZaCynlw%3D"
url = "https://queryenginelandingprod.blob.core.windows.net/shared/np/churn/np_churn_historical_consumption.csv?sp=r&st=2022-11-29T12:22:43Z&se=2050-11-29T20:22:43Z&spr=https&sv=2021-06-08&sr=b&sig=JZE599UA3foRsJ6ZbOHW6M0nWexxLc3JCB49gJ%2B2faU%3D"
np_churn_consumption =pd.read_csv(url)
np_churn_consumption

,date,serial,sap_serial,quantity,salesorg,machine_id
0,2021-09-30,NaN,994041,1809,Turkey,2529
1,2021-09-30,20195061630,NaN,352,ESAR,901
2,2021-09-30,20200303637,NaN,313,Bulgaria,219
3,2021-09-30,NaN,994218,1335,Turkey,6725
4,2021-09-30,20212213887,21E0002550,1931,UKI,31266
...,...,...,...,...,...,...
562137,2024-08-31,20231518410,NaN,1,MENA,8988491
562138,2024-08-31,PX20233035163,46501,1,Mexico,1099932
562139,2024-08-31,20162726329,NaN,1,Russia,1169865
562140,2024-08-31,10288261,23A0039586,1,USA,755778
562141,2024-08-31,20194355731,NaN,1,Czech Republic,326202

In [99]:
np_churn_consumption = np_churn_consumption.rename(columns={"date": "Month", "salesorg": "SalesOrg"}).reset_index()
np_churn_consumption.head()

   index       Month       serial  sap_serial  quantity  SalesOrg  machine_id
0      0  2021-09-30          NaN      994041      1809    Turkey        2529
1      1  2021-09-30  20195061630         NaN       352      ESAR         901
2      2  2021-09-30  20200303637         NaN       313  Bulgaria         219
3      3  2021-09-30          NaN      994218      1335    Turkey        6725
4      4  2021-09-30  20212213887  21E0002550      1931       UKI       31266

In [100]:
np_churn_consumption=np_churn_consumption.drop(columns=['sap_serial','index', 'machine_id'])
np_churn_consumption.head()

        Month       serial  quantity  SalesOrg
0  2021-09-30          NaN      1809    Turkey
1  2021-09-30  20195061630       352      ESAR
2  2021-09-30  20200303637       313  Bulgaria
3  2021-09-30          NaN      1335    Turkey
4  2021-09-30  20212213887      1931       UKI

In [101]:
Telemetry_df = np_churn_consumption

# Load the Telemetry data
Telemetry_df = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Telemetry2021.xlsx")
Telemetry_df.tail()

In [102]:
Telemetry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562142 entries, 0 to 562141
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Month     562142 non-null  object
 1   serial    549134 non-null  object
 2   quantity  562142 non-null  int64
 3   SalesOrg  562135 non-null  object
dtypes: int64(1), object(3)
memory usage: 17.2+ MB

# Load the Telemetry data
Telemetry_add = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Telemetry2022.xlsx")
Telemetry_add.tail()

Telemetry_df = Telemetry_df.append(Telemetry_add)
Telemetry_df.info()

Telemetry_df.tail()

I will only keep the telemetry data in the date range, so it is only the telemtry data starting after "TelemetryDateRangeStart"

#Telemetry_df1 = Telemetry_df.loc[Telemetry_df['Month']>=TelemetryDateRangeStart]

I will aggregate the number of Cup Sales for each Machine by the feature called 'serial' which corresponds to the feature 'Manufacturer Number' in the Beverage Machine data

In [103]:
Telemetry_aggSales = Telemetry_df['quantity'].groupby(Telemetry_df['serial'], axis=0).sum()
Telemetry_aggSales_df = Telemetry_aggSales.to_frame().reset_index()
Telemetry_aggSales_df

                    serial  quantity
0           \t 20221813844      8323
1             '20202016602     60113
2            'Y20231619331     16851
3                      ***       581
4                        .    296653
...                    ...       ...
36362  Х580BGS230203370088     25003
36363  Х580BGS230203370094       862
36364  Х580BGS230203370097      5397
36365  Х580BGS230203370098      8106
36366  Х580BGS230203370105     20211

[36367 rows x 2 columns]

In [104]:
Telemetry_df1 = Telemetry_df.groupby(['Month', 'serial']).sum()
# df.groupby(['col5', 'col2']).size()
#['quantity']
Telemetry_df1 = Telemetry_df1.reset_index()

Telemetry_df1

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\1522141084.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Telemetry_df1 = Telemetry_df.groupby(['Month', 'serial']).sum()

             Month               serial  quantity
0       2021-09-30         '20202016602      1301
1       2021-09-30            000103535      1500
2       2021-09-30            000103550      1211
3       2021-09-30             00094264       157
4       2021-09-30             00094442      1316
...            ...                  ...       ...
535988  2024-08-31  Х580BGS230203370088      2944
535989  2024-08-31  Х580BGS230203370094       324
535990  2024-08-31  Х580BGS230203370097       598
535991  2024-08-31  Х580BGS230203370098      1256
535992  2024-08-31  Х580BGS230203370105      3160

[535993 rows x 3 columns]

from dateutil.relativedelta import relativedelta

one_month = TelemetryDate + relativedelta(months=-1)
three_months = TelemetryDate + relativedelta(months=-3)
six_months = TelemetryDate + relativedelta(months=-6)

Telemetry_df_one_month = Telemetry_df1.loc[Telemetry_df1['Month']>one_month]
Telemetry_df_three_months = Telemetry_df1.loc[Telemetry_df1['Month']>three_months]
Telemetry_df_six_months = Telemetry_df1.loc[Telemetry_df1['Month']>six_months]

TODO
why "Telemetry_aggSales_one_month_avg = Telemetry_df_one_month['quantity'].groupby(Telemetry_df_one_month['serial'], axis=0).count()"

not this?
Telemetry_aggSales_one_month_avg = Telemetry_df_one_month['quantity'].groupby(Telemetry_df_one_month['serial'], axis=0).sum()

In [105]:
Telemetry_df_one_month = Telemetry_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(1).sum()})

Telemetry_df_three_months = Telemetry_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

Telemetry_df_six_months = Telemetry_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

Telemetry_df_one_month = Telemetry_df_one_month.rename(columns={"quantity": "one_month_avg"}).reset_index()

Telemetry_df_three_months = Telemetry_df_three_months.rename(columns={"quantity": "three_months_avg"}).reset_index()

Telemetry_df_six_months = Telemetry_df_six_months.rename(columns={"quantity": "six_months_avg"}).reset_index()

Telemetry_aggSales_one_month_avg = Telemetry_df_one_month['quantity'].groupby(Telemetry_df_one_month['serial'], axis=0).count()
Telemetry_aggSales_one_month_avg = Telemetry_aggSales_one_month_avg.to_frame().reset_index()
Telemetry_aggSales_one_month_avg = Telemetry_aggSales_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

Telemetry_aggSales_three_months_avg = Telemetry_df_three_months['quantity'].groupby(Telemetry_df_three_months['serial'], axis=0).count()
Telemetry_aggSales_three_months_avg = Telemetry_aggSales_three_months_avg.to_frame().reset_index()
Telemetry_aggSales_three_months_avg = Telemetry_aggSales_three_months_avg.rename(columns={"quantity": "three_months_avg"})

Telemetry_aggSales_six_months_avg = Telemetry_df_six_months['quantity'].groupby(Telemetry_df_six_months['serial'], axis=0).count()
Telemetry_aggSales_six_months_avg = Telemetry_aggSales_six_months_avg.to_frame().reset_index()
Telemetry_aggSales_six_months_avg = Telemetry_aggSales_six_months_avg.rename(columns={"quantity": "six_months_avg"})

Telemetry_aggSales_three_months_avg

Telemetry_aggSales_three_months_avg['three_months_avg'] = Telemetry_aggSales_three_months_avg['three_months_avg'].apply(lambda x: x/3)

Telemetry_aggSales_six_months_avg['six_months_avg'] = Telemetry_aggSales_six_months_avg['six_months_avg'].apply(lambda x: x/6)

Telemetry_aggSales_three_months_avg

I used 'left' instead of 'inner' because I want all the machines that had data

In [106]:
Telemetry_aggSales_df

                    serial  quantity
0           \t 20221813844      8323
1             '20202016602     60113
2            'Y20231619331     16851
3                      ***       581
4                        .    296653
...                    ...       ...
36362  Х580BGS230203370088     25003
36363  Х580BGS230203370094       862
36364  Х580BGS230203370097      5397
36365  Х580BGS230203370098      8106
36366  Х580BGS230203370105     20211

[36367 rows x 2 columns]

In [107]:
Telemetry_df_one_month

                    serial  one_month_avg
0           \t 20221813844           2655
1             '20202016602           1401
2            'Y20231619331           2202
3                      ***            266
4                        .          37976
...                    ...            ...
36362  Х580BGS230203370088           2944
36363  Х580BGS230203370094            324
36364  Х580BGS230203370097            598
36365  Х580BGS230203370098           1256
36366  Х580BGS230203370105           3160

[36367 rows x 2 columns]

In [108]:
Telemetry_aggSales_df1 = pd.merge(Telemetry_aggSales_df, Telemetry_df_one_month, how='left', left_on = ['serial'], right_on = ['serial'])
Telemetry_aggSales_df1.head()

           serial  quantity  one_month_avg
0  \t 20221813844      8323           2655
1    '20202016602     60113           1401
2   'Y20231619331     16851           2202
3             ***       581            266
4               .    296653          37976

In [109]:
Telemetry_aggSales_df2 = pd.merge(Telemetry_aggSales_df1, Telemetry_df_three_months, how='left', left_on = ['serial'], right_on = ['serial'])
Telemetry_aggSales_df3 = pd.merge(Telemetry_aggSales_df2, Telemetry_df_six_months, how='left', left_on = ['serial'], right_on = ['serial'])
Telemetry_aggSales_df3 = Telemetry_aggSales_df3.fillna(0)
Telemetry_aggSales_df3

,serial,quantity,one_month_avg,three_months_avg,six_months_avg
0,\t 20221813844,8323,2655,2390.333333,1387.166667
1,'20202016602,60113,1401,2447.000000,2536.166667
2,'Y20231619331,16851,2202,2192.333333,1867.833333
3,***,581,266,193.666667,96.833333
4,.,296653,37976,29255.666667,22914.166667
...,...,...,...,...,...
36362,Х580BGS230203370088,25003,2944,2738.666667,2577.833333
36363,Х580BGS230203370094,862,324,274.000000,143.666667
36364,Х580BGS230203370097,5397,598,447.666667,566.833333
36365,Х580BGS230203370098,8106,1256,1153.666667,1084.666667
36366,Х580BGS230203370105,20211,3160,2867.333333,2507.166667

In [110]:
Telemetry_aggSales_df3['serial'] = Telemetry_aggSales_df3['serial'].astype(str)

In [111]:
Telemetry_aggSales_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36367 entries, 0 to 36366
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   serial            36367 non-null  object
 1   quantity          36367 non-null  int64
 2   one_month_avg     36367 non-null  int64
 3   three_months_avg  36367 non-null  float64
 4   six_months_avg    36367 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.7+ MB

### 6. Visits data

In [112]:
# Load the Visits data
Visitsdf = pd.read_excel(Visitsdf)
Visitsdf.head()

,Month,Year,Period,Counter_visits_completed,Cummulative,Cummulative_Final,Cummulative Graph,Occurence Balancing,Activity Owner,Activity Owner ID,...,Activity Life Cycle Status id,Activity Life Cycle Status,Counter_visits,Visit Description,Visit,Account ID.Account ID Level 01,Account ID.Account ID Level 01.Key,Result,Visit Type,Index
0,6,2023,2023 - 06,1,120 635,22 440,5,RU3A1206352023 - 06,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,"Visit Перекресток - Мира, 1Б",2402798,"Перекресток - Мира, 1Б",4674705,NaN,Service Visit,86
1,11,2023,2023 - 11,1,239 379,26 318,9,RU3A2393792023 - 11,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,"Visit Перекресток - Мира, 1Б",2664626,"Перекресток - Мира, 1Б",4674705,NaN,Service Visit,87
2,3,2023,2023 - 03,1,54 046,20 822,3,RU3A540462023 - 03,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,"Visit Перекресток - Мира, 1Б",2259725,"Перекресток - Мира, 1Б",4674705,NaN,Service Visit,93
3,7,2023,2023 - 07,1,141 441,20 806,7,RU3A1414412023 - 07,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,Visit Ласточкино гнездо Юмагузино,2447014,Ласточкино гнездо Юмагузино,6270995,NaN,Service Visit,196
4,4,2023,2023 - 04,1,75 173,21 127,4,RU3A751732023 - 04,ESR NP_Башкортостан4_esr,1621.0,...,3,Completed,1,Visit Мама дома - Артема 78,2284020,Мама дома - Артема 78,2771251,NaN,Service Visit,430

### 7. Phone Calls data

In [113]:
# Load the Visits data
PhoneCallsdf = pd.read_excel(PhoneCallsdf, dtype={'Account Name': str})
PhoneCallsdf.head()

,Activity Name,Account Name,Activity Owner,Activity Life Cycle Status,Phone Call ID,Objective (Phone Call),Sales Organization,End Date in Local Time Zone,Start Date in Local Time Zone,PeriodEnd,ee
0,2023-03-22- Camp boss Call 1,7323291,Jadala Aishwarya,Completed,1076285,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
1,2023-03-22- Cafe Call 1,7318561,Jadala Aishwarya,Completed,1075595,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
2,2023-03-21- Hhggghhh Call 1,7317837,Jadala Aishwarya,Completed,1075459,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
3,2023-03-21- Shop Call 2,7316580,Jadala Aishwarya,Completed,1076022,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
4,2023-03-22- Sahil Call 1,7318463,Jadala Aishwarya,Completed,1075536,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0

### 8. Incident Tickets data

In [114]:
IncidentTicketdf = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Incident tickets.xlsx")
IncidentTicketdf.head()

,Index,SLAMet,YearMonth,Period,NextDateAux,NextDateAux2,AuxTime,TimeFrom,Next CreatedDatevar,TimeTo,...,SUB_TICKET_SALES_ORGANIZATION_ID,SUB_TICKET_SALES_ORGANIZATION_DESCRIPTION,ITEM_TARGET_INSTALLATION_POINT,WORK_PROGRESS,DATE_OF_LAST_MOVEMENT,COMPLETION_DUE_DATE,SERVICE_CATEGORY,SERVICE_CATEGORY_DESCRIPTION,SALESORG,COUNTER
0,2180-08-27 00:00:00,0,202110.0,2021 - 10,-738067.0,"vendredi, 18 mai 1979",Yes,20,2021-10-25,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"mardi, 5 octobre 2021",CA_5,Repair,BG10,1
1,2182-04-12 00:00:00,0,202110.0,2021 - 10,-738068.0,"jeudi, 17 mai 1979",Yes,435,2022-12-15,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"mercredi, 6 octobre 2021",CA_5,Repair,BG10,1
2,2182-08-23 00:00:00,0,202110.0,2021 - 10,-738068.0,"jeudi, 17 mai 1979",Yes,26,2021-11-01,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"mercredi, 6 octobre 2021",CA_5,Repair,BG10,1
3,2183-05-25 00:00:00,0,202110.0,2021 - 10,-738069.0,"mercredi, 16 mai 1979",Yes,344,2022-09-16,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"vendredi, 8 octobre 2021",CA_5,Repair,BG10,1
4,2184-05-03 00:00:00,0,202110.0,2021 - 10,-738070.0,"mardi, 15 mai 1979",Yes,893,2024-03-19,9999,...,BG10,Nestle Bulgaria A.D.,NaN,6,NaT,"samedi, 9 octobre 2021",CA_5,Repair,BG10,1

### 9. Market specific data

UK stopped providing their service data

# Load the Visits data
#PhoneCallsdf = pd.read_excel(os.path.join('C:', 'Users', 'msalomo', 'Churn Project', 'Data', 'Completed Phone Calls.xlsx'))

UKService = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\UK Service data 202103.xlsx")

UKService['Key_ManufacturerID_SalesOrg'] = UKService['Serial N'].astype(str) + "Nestle UK"

UKService.head()

def preprocess_UKService(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Fault Codes', 'FTF']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

UKService_prep = preprocess_UKService(UKService)
UKService_prep.head()

Quick check on a serial with 7 entries

UKService_prepX=UKService_prep.loc[UKService_prep['Serial N'] =='0010237915']

UKService_prepX

UKService_prep.columns

UKService_prep2 = (UKService_prep.sort_values('Month')
    .groupby(["Key_ManufacturerID_SalesOrg"])
                      .agg({'Month': lambda s: s.values[-1], 
                            'Serial N': lambda s: s.values[-1], 
                            'Minutes': 'mean', 
                            'Fault Codes_Blocked ingredients' : 'sum', 
                            'Fault Codes_Boiler fault' : 'sum',
                            'Fault Codes_Booked' : 'sum', 
                            'Fault Codes_Brewer issue' : 'sum',
                            'Fault Codes_Canister' : 'sum', 
                            'Fault Codes_Card reader install' : 'sum',
                            'Fault Codes_Card reader removal' : 'sum',
                            'Fault Codes_Change drink size' : 'sum',
                            'Fault Codes_Cleaning / Hygiene kit ' : 'sum',
                            'Fault Codes_Coinmech' : 'sum',
                            'Fault Codes_Decomission' : 'sum', 
                            'Fault Codes_Delivery' : 'sum',
                            'Fault Codes_Display issue' : 'sum', 
                            'Fault Codes_Door' : 'sum',
                            'Fault Codes_Drink Strength/ taste' : 'sum', 
                            'Fault Codes_Faulty door' : 'sum',
                            'Fault Codes_Filters ' : 'sum', 
                            'Fault Codes_Fridge fault' : 'sum', 
                            'Fault Codes_Leak' : 'sum',
                            'Fault Codes_Machine empty no ingredients' : 'sum', 
                            'Fault Codes_Measures' : 'sum',
                            'Fault Codes_Motor' : 'sum', 
                            'Fault Codes_No Fault Found' : 'sum',
                            'Fault Codes_No power Socket' : 'sum', 
                            'Fault Codes_Not dispensing drinks' : 'sum',
                            'Fault Codes_Not heating' : 'sum', 
                            'Fault Codes_Other' : 'sum',
                            'Fault Codes_Other (derial number check etc)' : 'sum', 
                            'Fault Codes_PPM' : 'sum',
                            'Fault Codes_Power / CPU Machine' : 'sum', 
                            'Fault Codes_Price increase' : 'sum',
                            'Fault Codes_Pump / Valve  internal' : 'sum',
                            'Fault Codes_Pump / Water External' : 'sum', 
                            'Fault Codes_Telemetry' : 'sum',
                            'Fault Codes_Training' : 'sum', 
                            'Fault Codes_consumable' : 'sum',
                            'Fault Codes_machine Install' : 'sum', 
                            'Fault Codes_workshop' : 'sum', 
                            'FTF_1' : 'sum', 
                            'FTF_2' : 'sum',
                            'FTF_3' : 'sum', 
                            'FTF_4' : 'sum'                  
    })
)

UKService_prep2

### 10. LOCAL DATA

Sales & Telemetron & Vendon 2021 Sales

PakistanSales both Serial no and manuf no are the same
RussiaSalesData uses Manuf no

Vendon data uses manuf no

In [115]:
PakistanSales = pd.read_excel(PakistanSales)
MalaysiaSales = pd.read_excel(MalaysiaSales)

# Drop the 'Serial' column
MalaysiaSales.drop('Serial', axis=1, inplace=True)
# Rename the 'Serial Manufacturer' column to 'Serial'
MalaysiaSales.rename(columns={'Serial Manufacturer': 'Serial'}, inplace=True)

In [116]:
PakistanSales.head()

       Serial    quantity      Month
0  20O0014321   2512.8206 2021-01-01
1  7010054243   8488.0412 2021-01-01
2  7010055066  91133.6902 2021-01-01
3  7010045635  91133.6902 2021-01-01
4  7010058209  91133.6902 2021-01-01

In [117]:
PakistanSales['Serial'] = PakistanSales['Serial'].astype(str)
MalaysiaSales['Serial'] = MalaysiaSales['Serial'].astype(str)

In [118]:
RussiaSalesData = pd.read_excel(RussiaSalesData)

IndiaSalesData = pd.read_excel(IndiaSales)

In [119]:
# Keep only the desired columns
desired_columns = ["Serial ID", "Total NNS", "Sales Month"]
IndiaSalesData = IndiaSalesData[desired_columns]
IndiaSalesData.tail()

         Serial ID     Total NNS Sales Month
171114  24O0026192  60696.833333  2024-08-31
171115    10032307   5750.133333  2024-08-31
171116    10047540   5750.133333  2024-08-31
171117  23O0013367  13291.520000  2024-08-31
171118  24O0037374  27180.000000  2024-08-31

In [120]:
RussiaSalesData.tail()

             Date Machine Manufacturer Serial Number  ПРОДАЖИ (NPS)
956076 2024-08-31                        20180404751       -5673.72
956077 2024-08-31                        20180404900       -5673.72
956078 2024-08-31                        20110806839       -5702.69
956079 2024-08-31                        20161919370       -5702.69
956080 2024-08-31                        20204732660      -11347.44

In [121]:
RussiaSalesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956081 entries, 0 to 956080
Data columns (total 3 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Date                                956081 non-null  datetime64[ns]
 1   Machine Manufacturer Serial Number  956075 non-null  object
 2   ПРОДАЖИ (NPS)                       956032 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 21.9+ MB

In [122]:
SouthAfricaSales = pd.read_excel(SouthAfricaSales)

In [123]:
SouthAfricaSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4961 entries, 0 to 4960
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AccountID  4961 non-null   int64
 1   quantity   4961 non-null   float64
 2   Month      4961 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 116.4 KB

In [124]:
SingaporeSales = pd.read_excel(SingaporeSales)

In [125]:
SingaporeSales['Month'] = pd.to_datetime(SingaporeSales['Month'])
SingaporeSales['Serial ID'] = SingaporeSales['Serial ID'].astype(str)
IndiaSalesData['Serial ID'] = IndiaSalesData['Serial ID'].astype(str)

IndiaSalesData['Month'] = pd.to_datetime(IndiaSalesData['Sales Month'])
                                         
# Drop the "Sales Month" column
IndiaSalesData.drop('Sales Month', axis=1, inplace=True)

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\3430434649.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  SingaporeSales['Month'] = pd.to_datetime(SingaporeSales['Month'])

In [126]:
SingaporeSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114172 entries, 0 to 114171
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Serial ID            114172 non-null  object
 1   Month                114172 non-null  datetime64[ns]
 2   Sales                108520 non-null  float64
 3   Ship to              114172 non-null  object
 4   Account ID           114171 non-null  float64
 5   Manufacturer Number  114172 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 5.2+ MB

pip install pandasql

In [127]:
# create data frame
df1 = SingaporeSales
 
print("Original DataFrame")
 
# print original data frame
display(df1)
 
# create a dictionary
# key = old name
# value = new name
dict = {'Serial ID': 'Serial_ID',
        'Month' : 'Month',
        'Sales' : 'Sales',
        'Ship to': 'Ship_to',
       'Account ID' : 'Account_ID',
       'Manufacturer Number' : 'Manufacturer_Number'}
 
print("\nAfter rename")
# call rename () method
df1.rename(columns=dict,
          inplace=True)
 
# print Data frame after rename columns
display(df1)

Original DataFrame

,Serial ID,Month,Sales,Ship to,Account ID,Manufacturer Number
0,SGBMB03059,2023-01-31,0.00,30885489704,3981172.0,20092213179
1,SGBMB04056,2023-01-31,NaN,27835PA00101,3981872.0,20092414016
2,SGBMB03049,2023-01-31,0.00,30885489184,3981521.0,20092414029
3,SGBMB03772,2023-01-31,2412.35,27835KEP008A01,3982306.0,20094625024
4,SGBMB03804,2023-01-31,0.00,30885489344,3981360.0,20094625056
...,...,...,...,...,...,...
114167,24O0035495,2024-08-31,281.04,280315140124,9274430.0,20242120264
114168,24O0035496,2024-08-31,587.76,280317142100,8874656.0,20242120265
114169,24O0035497,2024-08-31,462.42,280317140103,9354565.0,20242120266
114170,24O0035499,2024-08-31,247.95,280311191721,9431420.0,20242120268
114171,24O0035503,2024-08-31,0.00,7534867231846,9418047.0,20242120272

After rename

,Serial_ID,Month,Sales,Ship_to,Account_ID,Manufacturer_Number
0,SGBMB03059,2023-01-31,0.00,30885489704,3981172.0,20092213179
1,SGBMB04056,2023-01-31,NaN,27835PA00101,3981872.0,20092414016
2,SGBMB03049,2023-01-31,0.00,30885489184,3981521.0,20092414029
3,SGBMB03772,2023-01-31,2412.35,27835KEP008A01,3982306.0,20094625024
4,SGBMB03804,2023-01-31,0.00,30885489344,3981360.0,20094625056
...,...,...,...,...,...,...
114167,24O0035495,2024-08-31,281.04,280315140124,9274430.0,20242120264
114168,24O0035496,2024-08-31,587.76,280317142100,8874656.0,20242120265
114169,24O0035497,2024-08-31,462.42,280317140103,9354565.0,20242120266
114170,24O0035499,2024-08-31,247.95,280311191721,9431420.0,20242120268
114171,24O0035503,2024-08-31,0.00,7534867231846,9418047.0,20242120272

In [128]:
import pandas as pd
import sqlite3

# create a sample DataFrame
df = df1

# create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# write the DataFrame to the database
df.to_sql('my_table', con=conn)

# define the SQL query
query = '''
SELECT Month, Sales AS quantity, Ship_to, Manufacturer_Number,
       COUNT(Manufacturer_Number) OVER (PARTITION BY Month, Ship_to) AS Manufacturer_Count,
       (Sales / COUNT(Manufacturer_Number) OVER (PARTITION BY Month, Ship_to)) AS Sales_perMachine
FROM my_table
'''

# run the query using pandas
result = pd.read_sql_query(query, conn)

# print the result
print(result)

                      Month  quantity         Ship_to Manufacturer_Number  \
0       2023-01-31 00:00:00       0.0      2215122122         20103018840
1       2023-01-31 00:00:00       0.0      2215122122         20103018859
2       2023-01-31 00:00:00       0.0      2215122122         20102917864
3       2023-01-31 00:00:00       0.0      2215122122         20102917875
4       2023-01-31 00:00:00       0.0      2215122122         20103923848
...                     ...       ...             ...                 ...
114167  2024-08-31 00:00:00       0.0  69338116933811         20141213801
114168  2024-08-31 00:00:00       0.0  69338116933811         20141213823
114169  2024-08-31 00:00:00     874.0  69768386976838         20224845590
114170  2024-08-31 00:00:00       0.0   7534867231846         20223933588
114171  2024-08-31 00:00:00       0.0   7534867231846         20242120272

        Manufacturer_Count  Sales_perMachine
0                      204               0.0
1                      204               0.0
2                      204               0.0
3                      204               0.0
4                      204               0.0
...                    ...               ...
114167                  20               0.0
114168                  20               0.0
114169                   1             874.0
114170                   2               0.0
114171                   2               0.0

[114172 rows x 6 columns]

In [129]:
SingaporeSales = result
SingaporeSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114172 entries, 0 to 114171
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Month                114172 non-null  object
 1   quantity             108520 non-null  float64
 2   Ship_to              114172 non-null  object
 3   Manufacturer_Number  114172 non-null  object
 4   Manufacturer_Count   114172 non-null  int64
 5   Sales_perMachine     108520 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.2+ MB

In [130]:
SingaporeSales.rename(columns={'Manufacturer_Number': 'Manufacturer Number'}, inplace=True)
SingaporeSales.rename(columns={'quantity': 'quantityold'}, inplace=True)
SingaporeSales.rename(columns={'Sales_perMachine': 'quantity'}, inplace=True)

In [131]:
IndiaSalesData.rename(columns={'Total NNS': 'quantity'}, inplace=True)

In [132]:
RussiaSalesData.rename(columns={'Machine Manufacturer Serial Number': 'Serial', 'ПРОДАЖИ (NPS)': 'quantity'}, inplace=True)
RussiaSalesData

             Date       Serial  quantity
0      2021-01-31         4228      0.00
1      2021-01-31         5419      0.00
2      2021-01-31         5477      0.00
3      2021-01-31       420090      0.00
4      2021-01-31       420283      0.00
...           ...          ...       ...
956076 2024-08-31  20180404751  -5673.72
956077 2024-08-31  20180404900  -5673.72
956078 2024-08-31  20110806839  -5702.69
956079 2024-08-31  20161919370  -5702.69
956080 2024-08-31  20204732660 -11347.44

[956081 rows x 3 columns]

In [133]:
RussiaSalesData['quantity'] = RussiaSalesData['quantity'].astype(float)
RussiaSalesData['Serial'] = RussiaSalesData['Serial'].astype(str)

In [134]:
RussiaSalesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956081 entries, 0 to 956080
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Date      956081 non-null  datetime64[ns]
 1   Serial    956081 non-null  object
 2   quantity  956032 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 21.9+ MB

TelemetronData = pd.read_excel(r"C:\Users\msalomo\OneDrive - NESTLE\Certificate Machine Learning and Data\Churn Project\Data\Telemetron Data.xlsx")

TelemetronData.rename(columns={'Machine serial': 'serial', 'Total': 'quantity'}, inplace=True)

In [135]:
PakistanSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258187 entries, 0 to 258186
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Serial    258187 non-null  object
 1   quantity  258187 non-null  float64
 2   Month     258187 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.9+ MB

VendonData = pd.read_excel(r"C:\Users\msalomo\Churn Project\Data\Telemetry2021.xlsx")

VendonData.head()

In [136]:
Pakistan_aggSales = PakistanSales['quantity'].groupby(PakistanSales['Serial'], axis=0).sum()
Pakistan_aggSales = Pakistan_aggSales.reset_index()

# Perform the aggregation on 'quantity' grouped by 'Serial'
Malaysia_aggSales = MalaysiaSales['quantity'].groupby(MalaysiaSales['Serial']).sum().reset_index()

India_aggSales = IndiaSalesData['quantity'].groupby(IndiaSalesData['Serial ID']).sum().reset_index()

# Print
print(India_aggSales)

      Serial ID       quantity
0      10010737   93785.068531
1      10010738   62524.483809
2      10010770       0.000000
3      10010772       0.000000
4      10010776   32668.112649
...         ...            ...
22965  CWIP1220   99417.734749
22966  CWIP1221       0.000000
22967  CWIP1222       0.000000
22968  CWIP1223    2033.983051
22969  CWIP1224  197909.449122

[22970 rows x 2 columns]

Telemetron_agg = TelemetronData['quantity'].groupby(TelemetronData['serial'], axis=0).sum()
Telemetron_agg = Telemetron_agg.reset_index()
Telemetron_agg

In [137]:
RussiaSalesData_agg = RussiaSalesData['quantity'].groupby(RussiaSalesData['Serial'], axis=0).sum()
RussiaSalesData_agg = RussiaSalesData_agg.reset_index()
RussiaSalesData_agg

               Serial      quantity
0                   #  1.233289e+07
1       00001428-0011  0.000000e+00
2       00001429-0001  5.178557e+04
3       00001429-0004  0.000000e+00
4      00001429-0006   0.000000e+00
...               ...           ...
48070          ХК0114  0.000000e+00
48071          ХК0115  0.000000e+00
48072          ХК0116  0.000000e+00
48073          ХК0120  0.000000e+00
48074          ХК0124  0.000000e+00

[48075 rows x 2 columns]

In [138]:
SouthAfrica_aggSales = SouthAfricaSales['quantity'].groupby(SouthAfricaSales['AccountID'], axis=0).sum()
SouthAfrica_aggSales = SouthAfrica_aggSales.reset_index()
SouthAfrica_aggSales

     AccountID   quantity
0       365014       1.14
1       365018   -2039.20
2       366680    1068.01
3       366935   13691.11
4       367418  176031.15
..         ...        ...
611    7238638   10041.76
612    7246841    7254.61
613    7247586   35046.99
614    7253414   89623.90
615    7254659    7254.61

[616 rows x 2 columns]

In [139]:
Singapore_aggSales = SingaporeSales['quantity'].groupby(SingaporeSales['Manufacturer Number'], axis=0).sum()
Singapore_aggSales = Singapore_aggSales.reset_index()
Singapore_aggSales

     Manufacturer Number      quantity
0     141982300000383201   4398.050000
1     141982300001083201   4439.215000
2     141982300003083201  15778.857298
3     141982300003283201   3764.300000
4     141992300000483201   3255.640000
...                  ...           ...
6498            ZEBA0072  26498.424001
6499            ZEBA0073  14501.205567
6500            ZEBA0074  18978.851842
6501            ZEBA0075  20821.756975
6502            ZEBA0076  17469.057799

[6503 rows x 2 columns]

#Vendon_agg = VendonData['quantity'].groupby(VendonData['serial'], axis=0).sum()

Vendon_agg = (VendonData.sort_values('Month')
    .groupby(["serial"])
                      .agg({'SalesOrg' : lambda s: s.values[-1],
                            'quantity' : 'sum'}))

Vendon_agg = Vendon_agg.reset_index()
Vendon_agg

PakistanSales = PakistanSales.loc[PakistanSales['Month']>=PakistanDateRangeStart]

VendonData = VendonData.loc[VendonData['Month']>=VendonDateRangeStart]

I will aggregate the number of Cup Sales for each Machine by the feature called 'serial' which corresponds to the feature 'Manufacturer Number' in the Beverage Machine data

In [140]:

PakistanSales_df1 = PakistanSales.groupby(['Month', 'Serial']).sum()
PakistanSales_df1 = PakistanSales_df1.reset_index()


PakistanSales_one_month = PakistanSales_df1.sort_values('Month').groupby('Serial').agg({'quantity' : lambda x: x.tail(1).sum()})

PakistanSales_three_months = PakistanSales_df1.sort_values('Month').groupby('Serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

PakistanSales_six_months = PakistanSales_df1.sort_values('Month').groupby('Serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

# Group by 'Month' and 'Serial' and calculate the sum
MalaysiaSales_df1 = MalaysiaSales.groupby(['Month', 'Serial']).sum().reset_index()
# Calculate the sum of 'quantity' for the latest month for each 'Serial'
MalaysiaSales_one_month = MalaysiaSales_df1.sort_values('Month').groupby('Serial').agg({'quantity': lambda x: x.tail(1).sum()})
# Calculate the average of 'quantity' for the last three months for each 'Serial'
MalaysiaSales_three_months = MalaysiaSales_df1.sort_values('Month').groupby('Serial').agg({'quantity': lambda x: x.tail(3).sum() / 3})
# Calculate the average of 'quantity' for the last six months for each 'Serial'
MalaysiaSales_six_months = MalaysiaSales_df1.sort_values('Month').groupby('Serial').agg({'quantity': lambda x: x.tail(6).sum() / 6})

# Group by 'Month' and 'Serial ID' and calculate the sum
IndiaSales_df1 = IndiaSalesData.groupby(['Month', 'Serial ID']).sum().reset_index()

# Calculate the sum of 'quantity' for the latest month for each 'Serial ID'
IndiaSales_one_month = IndiaSales_df1.sort_values('Month').groupby('Serial ID').agg({'quantity': lambda x: x.tail(1).sum()})

# Calculate the average of 'quantity' for the last three months for each 'Serial ID'
IndiaSales_three_months = IndiaSales_df1.sort_values('Month').groupby('Serial ID').agg({'quantity': lambda x: x.tail(3).sum() / 3})

# Calculate the average of 'quantity' for the last six months for each 'Serial ID'
IndiaSales_six_months = IndiaSales_df1.sort_values('Month').groupby('Serial ID').agg({'quantity': lambda x: x.tail(6).sum() / 6})

# Print the resulting DataFrames
print(IndiaSales_one_month)

              quantity
Serial ID
10010737      0.000000
10010738      0.000000
10010770      0.000000
10010772      0.000000
10010776   6691.911466
...                ...
CWIP1220   8126.162577
CWIP1221      0.000000
CWIP1222      0.000000
CWIP1223    338.983051
CWIP1224   9155.295845

[22970 rows x 1 columns]

In [141]:
PakistanSales_one_month = PakistanSales_one_month.reset_index()
PakistanSales_three_months = PakistanSales_three_months.reset_index()
PakistanSales_six_months = PakistanSales_six_months.reset_index()

# Reset the index for 'MalaysiaSales_one_month'
MalaysiaSales_one_month = MalaysiaSales_one_month.reset_index()
# Reset the index for 'MalaysiaSales_three_months'
MalaysiaSales_three_months = MalaysiaSales_three_months.reset_index()
# Reset the index for 'MalaysiaSales_six_months'
MalaysiaSales_six_months = MalaysiaSales_six_months.reset_index()

# Reset the index for 'IndiaSales_one_month'
IndiaSales_one_month = IndiaSales_one_month.reset_index()

# Reset the index for 'IndiaSales_three_months'
IndiaSales_three_months = IndiaSales_three_months.reset_index()

# Reset the index for 'IndiaSales_six_months'
IndiaSales_six_months = IndiaSales_six_months.reset_index()

# Print the 'IndiaSales_three_months' DataFrame
print(IndiaSales_three_months)

      Serial ID     quantity
0      10010737     0.000000
1      10010738     0.000000
2      10010770     0.000000
3      10010772     0.000000
4      10010776  5889.914036
...         ...          ...
22965  CWIP1220  7731.552530
22966  CWIP1221     0.000000
22967  CWIP1222     0.000000
22968  CWIP1223   225.994350
22969  CWIP1224  7981.431948

[22970 rows x 2 columns]

from dateutil.relativedelta import relativedelta

one_month_pak = PakistanLastUpdate + relativedelta(months=-1)
three_months_pak = PakistanLastUpdate + relativedelta(months=-3)
six_months_pak = PakistanLastUpdate + relativedelta(months=-6)

PakistanSales_one_month = PakistanSales.loc[PakistanSales['Month']>one_month_pak]
PakistanSales_three_months = PakistanSales.loc[PakistanSales['Month']>three_months_pak]
PakistanSales_six_months = PakistanSales.loc[PakistanSales['Month']>six_months_pak]

VendonData_one_month = VendonData.loc[VendonData['Month']>one_month_pak]
VendonData_three_months = VendonData.loc[VendonData['Month']>three_months_pak]
VendonData_six_months = VendonData.loc[VendonData['Month']>six_months_pak]

PakistanSales_one_month.loc[PakistanSales_one_month['serial'] != '70010058920']

PakistanSales_one_month_avg = PakistanSales_one_month['quantity'].groupby(PakistanSales_one_month['serial'], axis=0).sum()

PakistanSales_one_month_avg = PakistanSales_one_month_avg.to_frame().reset_index()
PakistanSales_one_month_avg = PakistanSales_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

In [142]:
#PakistanSales_one_month_avg = PakistanSales_one_month['quantity'].groupby(PakistanSales_one_month['serial'], axis=0).sum()
#PakistanSales_one_month_avg = PakistanSales_one_month_avg.to_frame().reset_index()
PakistanSales_one_month_avg = PakistanSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

#PakistanSales_three_months_avg = PakistanSales_three_months['quantity'].groupby(PakistanSales_three_months['serial'], axis=0).sum()
#PakistanSales_three_months_avg = PakistanSales_three_months_avg.to_frame().reset_index()
PakistanSales_three_months_avg = PakistanSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

#PakistanSales_six_months_avg = PakistanSales_six_months['quantity'].groupby(PakistanSales_six_months['serial'], axis=0).sum()
#PakistanSales_six_months_avg = PakistanSales_six_months_avg.to_frame().reset_index()
PakistanSales_six_months_avg = PakistanSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

PakistanSales_three_months_avg

# Rename the column in 'MalaysiaSales_one_month'
MalaysiaSales_one_month_avg = MalaysiaSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})
# Rename the column in 'MalaysiaSales_three_months'
MalaysiaSales_three_months_avg = MalaysiaSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})
# Rename the column in 'MalaysiaSales_six_months'
MalaysiaSales_six_months_avg = MalaysiaSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

# Rename the column in 'IndiaSales_one_month'
IndiaSales_one_month_avg = IndiaSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

# Rename the column in 'IndiaSales_three_months'
IndiaSales_three_months_avg = IndiaSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

# Rename the column in 'IndiaSales_six_months'
IndiaSales_six_months_avg = IndiaSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

# Print the 'IndiaSales_three_months_avg' DataFrame
print(IndiaSales_three_months_avg)

      Serial ID  Sales_three_months_avg
0      10010737                0.000000
1      10010738                0.000000
2      10010770                0.000000
3      10010772                0.000000
4      10010776             5889.914036
...         ...                     ...
22965  CWIP1220             7731.552530
22966  CWIP1221                0.000000
22967  CWIP1222                0.000000
22968  CWIP1223              225.994350
22969  CWIP1224             7981.431948

[22970 rows x 2 columns]

In [143]:
SouthAfricaSales_df1 = SouthAfricaSales.groupby(['Month', 'AccountID']).sum()
SouthAfricaSales_df1 = SouthAfricaSales.reset_index()


SouthAfricaSales_one_month = SouthAfricaSales_df1.sort_values('Month').groupby('AccountID').agg({'quantity' : lambda x: x.tail(1).sum()})

SouthAfricaSales_three_months = SouthAfricaSales_df1.sort_values('Month').groupby('AccountID').agg({'quantity' : lambda x: x.tail(3).sum()/3})

SouthAfricaSales_six_months = SouthAfricaSales_df1.sort_values('Month').groupby('AccountID').agg({'quantity' : lambda x: x.tail(6).sum()/6})


SouthAfricaSales_one_month = SouthAfricaSales_one_month.reset_index()
SouthAfricaSales_three_months = SouthAfricaSales_three_months.reset_index()
SouthAfricaSales_six_months = SouthAfricaSales_six_months.reset_index()
SouthAfricaSales_three_months


SouthAfricaSales_one_month_avg = SouthAfricaSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})


SouthAfricaSales_three_months_avg = SouthAfricaSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})


SouthAfricaSales_six_months_avg = SouthAfricaSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

SouthAfricaSales_three_months_avg

     AccountID  Sales_three_months_avg
0       365014                0.170000
1       365018             -693.263333
2       366680              356.003333
3       366935             4563.703333
4       367418            10564.290000
..         ...                     ...
611    7238638             3347.253333
612    7246841             2418.203333
613    7247586             5013.953333
614    7253414            29874.633333
615    7254659             2418.203333

[616 rows x 2 columns]

In [144]:
SingaporeSales_df1 = SingaporeSales.groupby(['Month', 'Manufacturer Number']).sum()
SingaporeSales_df1 = SingaporeSales.reset_index()


SingaporeSales_one_month = SingaporeSales_df1.sort_values('Month').groupby('Manufacturer Number').agg({'quantity' : lambda x: x.tail(1).sum()})

SingaporeSales_three_months = SingaporeSales_df1.sort_values('Month').groupby('Manufacturer Number').agg({'quantity' : lambda x: x.tail(3).sum()/3})

SingaporeSales_six_months = SingaporeSales_df1.sort_values('Month').groupby('Manufacturer Number').agg({'quantity' : lambda x: x.tail(6).sum()/6})


SingaporeSales_one_month = SingaporeSales_one_month.reset_index()
SingaporeSales_three_months = SingaporeSales_three_months.reset_index()
SingaporeSales_six_months = SingaporeSales_six_months.reset_index()
SingaporeSales_three_months


SingaporeSales_one_month_avg = SingaporeSales_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

SingaporeSales_three_months_avg = SingaporeSales_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

SingaporeSales_six_months_avg = SingaporeSales_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\3947899767.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  SingaporeSales_df1 = SingaporeSales.groupby(['Month', 'Manufacturer Number']).sum()

TelemetronData_df1 = TelemetronData.groupby(['Month', 'serial']).sum()
TelemetronData_df1 = TelemetronData_df1.reset_index()

TelemetronData_one_month = TelemetronData_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(1).sum()})

TelemetronData_three_months = TelemetronData_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

TelemetronData_six_months = TelemetronData_df1.sort_values('Month').groupby('serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

TelemetronData_one_month = TelemetronData_one_month.reset_index()
TelemetronData_three_months = TelemetronData_three_months.reset_index()
TelemetronData_six_months = TelemetronData_six_months.reset_index()
TelemetronData_three_months

#TelemetronData_one_month_avg = TelemetronData_one_month['quantity'].groupby(TelemetronData_one_month['serial'], axis=0).sum()
#TelemetronData_one_month_avg = TelemetronData_one_month_avg.to_frame().reset_index()
TelemetronData_one_month_avg = TelemetronData_one_month.rename(columns={"quantity": "one_month_avg"})

#TelemetronData_three_months_avg = TelemetronData_three_months['quantity'].groupby(TelemetronData_three_months['serial'], axis=0).sum()
#TelemetronData_three_months_avg = TelemetronData_three_months_avg.to_frame().reset_index()
TelemetronData_three_months_avg = TelemetronData_three_months.rename(columns={"quantity": "three_months_avg"})

#TelemetronData_six_months_avg = TelemetronData_six_months['quantity'].groupby(TelemetronData_six_months['serial'], axis=0).sum()
#TelemetronData_six_months_avg = TelemetronData_six_months_avg.to_frame().reset_index()
TelemetronData_six_months_avg = TelemetronData_six_months.rename(columns={"quantity": "six_months_avg"})

TelemetronData_three_months_avg

In [145]:
RussiaSalesData_df1 = RussiaSalesData.groupby(['Date', 'Serial']).sum()
RussiaSalesData_df1 = RussiaSalesData_df1.reset_index()

RussiaSalesData_one_month = RussiaSalesData_df1.sort_values('Date').groupby('Serial').agg({'quantity' : lambda x: x.tail(1).sum()})

RussiaSalesData_three_months = RussiaSalesData_df1.sort_values('Date').groupby('Serial').agg({'quantity' : lambda x: x.tail(3).sum()/3})

RussiaSalesData_six_months = RussiaSalesData_df1.sort_values('Date').groupby('Serial').agg({'quantity' : lambda x: x.tail(6).sum()/6})

RussiaSalesData_one_month = RussiaSalesData_one_month.reset_index()
RussiaSalesData_three_months = RussiaSalesData_three_months.reset_index()
RussiaSalesData_six_months = RussiaSalesData_six_months.reset_index()

RussiaSalesData_one_month_avg = RussiaSalesData_one_month.rename(columns={"quantity": "Sales_one_Month_avg"})

RussiaSalesData_three_months_avg = RussiaSalesData_three_months.rename(columns={"quantity": "Sales_three_months_avg"})

RussiaSalesData_six_months_avg = RussiaSalesData_six_months.rename(columns={"quantity": "Sales_six_months_avg"})

TelemetronData_one_month_avg = TelemetronData_one_month['quantity'].groupby(TelemetronData_one_month['serial'], axis=0).sum()
TelemetronData_one_month_avg = TelemetronData_one_month_avg.to_frame().reset_index()
TelemetronData_one_month_avg = TelemetronData_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

TelemetronData_three_months_avg = TelemetronData_three_months['quantity'].groupby(TelemetronData_three_months['serial'], axis=0).sum()
TelemetronData_three_months_avg = TelemetronData_three_months_avg.to_frame().reset_index()
TelemetronData_three_months_avg = TelemetronData_three_months_avg.rename(columns={"quantity": "three_months_avg"})

TelemetronData_six_months_avg = TelemetronData_six_months['quantity'].groupby(TelemetronData_six_months['serial'], axis=0).sum()
TelemetronData_six_months_avg = TelemetronData_six_months_avg.to_frame().reset_index()
TelemetronData_six_months_avg = TelemetronData_six_months_avg.rename(columns={"quantity": "six_months_avg"})

TelemetronData_three_months_avg

VendonData_one_month_avg = VendonData_one_month['quantity'].groupby(VendonData_one_month['serial'], axis=0).sum()
VendonData_one_month_avg = VendonData_one_month_avg.to_frame().reset_index()
VendonData_one_month_avg = VendonData_one_month_avg.rename(columns={"quantity": "one_Month_avg"})

VendonData_three_months_avg = VendonData_three_months['quantity'].groupby(VendonData_three_months['serial'], axis=0).sum()
VendonData_three_months_avg = VendonData_three_months_avg.to_frame().reset_index()
VendonData_three_months_avg = VendonData_three_months_avg.rename(columns={"quantity": "three_months_avg"})

VendonData_six_months_avg = VendonData_six_months['quantity'].groupby(VendonData_six_months['serial'], axis=0).sum()
VendonData_six_months_avg = VendonData_six_months_avg.to_frame().reset_index()
VendonData_six_months_avg = VendonData_six_months_avg.rename(columns={"quantity": "six_months_avg"})

VendonData_three_months_avg

#already done with change of code
PakistanSales_three_months_avg['three_months_avg'] = PakistanSales_three_months_avg['Sales_three_months_avg'].apply(lambda x: x/3)

PakistanSales_six_months_avg['six_months_avg'] = PakistanSales_six_months_avg['Sales_six_months_avg'].apply(lambda x: x/6)

In [146]:
PakistanSales_df = pd.merge(Pakistan_aggSales, PakistanSales_one_month_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])


# Merge the DataFrames based on the 'Serial' column
PakistanSales_df = pd.merge(Pakistan_aggSales, PakistanSales_one_month_avg, how='left', left_on='Serial', right_on='Serial')
# Print the head of the merged DataFrame
print(PakistanSales_df.head())

        Serial     quantity  Sales_one_Month_avg
0  10010063319   60245.1569             15412.08
1   2000014136  689624.6980             58078.43
2   2000014290   42356.1536              5000.00
3   2000014292  104124.6992             17440.00
4   2000014293  415646.1472             38800.00

In [147]:
PakistanSales_df2 = pd.merge(PakistanSales_df, PakistanSales_three_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
PakistanSales_df3 = pd.merge(PakistanSales_df2, PakistanSales_six_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
PakistanSales_df3 = PakistanSales_df3.fillna(0)

# Merge the DataFrames based on the 'Serial' column
MalaysiaSales_df1 = pd.merge(Malaysia_aggSales, MalaysiaSales_one_month_avg, how='left', left_on='Serial', right_on='Serial')
MalaysiaSales_df2 = pd.merge(MalaysiaSales_df1, MalaysiaSales_three_months_avg, how='left', left_on='Serial', right_on='Serial')
MalaysiaSales_df3 = pd.merge(MalaysiaSales_df2, MalaysiaSales_six_months_avg, how='left', left_on='Serial', right_on='Serial')
# Fill any missing values with 0
MalaysiaSales_df3 = MalaysiaSales_df3.fillna(0)


# Merge the DataFrames based on the 'Serial ID' column
IndiaSales_df1 = pd.merge(India_aggSales, IndiaSales_one_month_avg, how='left', left_on='Serial ID', right_on='Serial ID')
IndiaSales_df2 = pd.merge(IndiaSales_df1, IndiaSales_three_months_avg, how='left', left_on='Serial ID', right_on='Serial ID')
IndiaSales_df3 = pd.merge(IndiaSales_df2, IndiaSales_six_months_avg, how='left', left_on='Serial ID', right_on='Serial ID')

# Fill any missing values with 0
IndiaSales_df3 = IndiaSales_df3.fillna(0)

# Print the head of the merged DataFrame
print(IndiaSales_df3.head(30))

   Serial ID       quantity  Sales_one_Month_avg  Sales_three_months_avg  \
0   10010737   93785.068531             0.000000                0.000000
1   10010738   62524.483809             0.000000                0.000000
2   10010770       0.000000             0.000000                0.000000
3   10010772       0.000000             0.000000                0.000000
4   10010776   32668.112649          6691.911466             5889.914036
5   10010778       0.000000             0.000000                0.000000
6   10010799   27395.899141          4764.527117             1985.175706
7   10010800   27395.899141          4764.527117             1985.175706
8   10011102       0.000000             0.000000                0.000000
9   10011124   14085.322156          2173.458565             1204.486188
10  10011126  121227.640784         46091.904791            17244.827891
11  10011135       0.000000             0.000000                0.000000
12  10011145   23952.491128             0.000000                0.000000
13  10011170       0.000000             0.000000                0.000000
14  10011171    3147.331849             0.000000                9.315523
15  10011172   10668.702625           599.135206             1048.585674
16  10011173       0.000000             0.000000                0.000000
17  10011183   33858.643604          4623.298747             4997.386646
18  10011185  135903.400906         23778.299578            14856.766526
19  10011363    4599.104020             0.000000               83.000000
20  10011364    2423.948072             0.000000                0.000000
21  10011367   15518.245579          3067.253564             1590.334292
22  10011369       0.000000             0.000000                0.000000
23  10011379       0.000000             0.000000                0.000000
24  10011384       0.000000             0.000000                0.000000
25  10011389       0.000000             0.000000                0.000000
26  10012396   21333.483755          8446.850333             2815.616778
27  10012397       0.000000             0.000000                0.000000
28  10012641       0.000000             0.000000                0.000000
29  10012660       0.000000             0.000000                0.000000

    Sales_six_months_avg
0               0.000000
1            6734.217391
2               0.000000
3               0.000000
4            4255.111762
5               0.000000
6            3374.851411
7            3374.851411
8               0.000000
9            1271.489867
10          13714.187862
11              0.000000
12              0.000000
13              0.000000
14            153.649669
15           1256.614524
16              0.000000
17           4466.354130
18          17088.093587
19            631.393226
20            290.697427
21           2177.034255
22              0.000000
23              0.000000
24              0.000000
25              0.000000
26           2328.564472
27              0.000000
28              0.000000
29              0.000000

In [148]:
IndiaSales_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22970 entries, 0 to 22969
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial ID               22970 non-null  object
 1   quantity                22970 non-null  float64
 2   Sales_one_Month_avg     22970 non-null  float64
 3   Sales_three_months_avg  22970 non-null  float64
 4   Sales_six_months_avg    22970 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.1+ MB

#TelemetronData_three_months_avg['three_months_avg'] = TelemetronData_three_months_avg['three_months_avg'].apply(lambda x: x/3)

#TelemetronData_six_months_avg['six_months_avg'] = TelemetronData_six_months_avg['six_months_avg'].apply(lambda x: x/6)

TelemetronData_df = pd.merge(Telemetron_agg, TelemetronData_one_month_avg, how='left', left_on = ['serial'], right_on = ['serial'])
TelemetronData_df.head()

TelemetronData_df2 = pd.merge(TelemetronData_df, TelemetronData_three_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
TelemetronData_df3 = pd.merge(TelemetronData_df2, TelemetronData_six_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
TelemetronData_df3 = TelemetronData_df3.fillna(0)

In [149]:
RussiaSalesData_df = pd.merge(RussiaSalesData_agg, RussiaSalesData_one_month_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
RussiaSalesData_df.head()

RussiaSalesData_df2 = pd.merge(RussiaSalesData_df, RussiaSalesData_three_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
RussiaSalesData_df3 = pd.merge(RussiaSalesData_df2, RussiaSalesData_six_months_avg, how='left', left_on = ['Serial'], right_on = ['Serial'])
RussiaSalesData_df3 = RussiaSalesData_df3.fillna(0)

VendonData_three_months_avg['three_months_avg'] = VendonData_three_months_avg['three_months_avg'].apply(lambda x: x/3)

VendonData_six_months_avg['six_months_avg'] = VendonData_six_months_avg['six_months_avg'].apply(lambda x: x/6)

VendonData_df = pd.merge(Vendon_agg, VendonData_one_month_avg, how='left', left_on = ['serial'], right_on = ['serial'])

VendonData_df2 = pd.merge(VendonData_df, VendonData_three_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
VendonData_df3 = pd.merge(VendonData_df2, VendonData_six_months_avg, how='left', left_on = ['serial'], right_on = ['serial'])
VendonData_df3 = VendonData_df3.fillna(0)
VendonData_df3

Add Key manuf no and Sales org

In [150]:
SouthAfricaSales_df = pd.merge(SouthAfrica_aggSales, SouthAfricaSales_one_month_avg, how='left', left_on = ['AccountID'], right_on = ['AccountID'])
SouthAfricaSales_df.head()

SouthAfricaSales_df2 = pd.merge(SouthAfricaSales_df, SouthAfricaSales_three_months_avg, how='left', left_on = ['AccountID'], right_on = ['AccountID'])
SouthAfricaSales_df3 = pd.merge(SouthAfricaSales_df2, SouthAfricaSales_six_months_avg, how='left', left_on = ['AccountID'], right_on = ['AccountID'])
SouthAfricaSales_df3 = SouthAfricaSales_df3.fillna(0)
SouthAfricaSales_df3.head()

,AccountID,quantity,Sales_one_Month_avg,Sales_three_months_avg,Sales_six_months_avg
0,365014,1.14,0.12,0.170000,0.098333
1,365018,-2039.20,0.06,-693.263333,-339.953333
2,366680,1068.01,1068.01,356.003333,178.001667
3,366935,13691.11,8376.59,4563.703333,2281.851667
4,367418,176031.15,11897.82,10564.290000,11191.188333

In [151]:
SingaporeSales_df = pd.merge(Singapore_aggSales, SingaporeSales_one_month_avg, how='left', left_on = ['Manufacturer Number'], right_on = ['Manufacturer Number'])
SingaporeSales_df2 = pd.merge(SingaporeSales_df, SingaporeSales_three_months_avg, how='left', left_on = ['Manufacturer Number'], right_on = ['Manufacturer Number'])
SingaporeSales_df3 = pd.merge(SingaporeSales_df2, SingaporeSales_six_months_avg, how='left', left_on = ['Manufacturer Number'], right_on = ['Manufacturer Number'])
SingaporeSales_df3 = SingaporeSales_df3.fillna(0)
SingaporeSales_df3.head(30)

,Manufacturer Number,quantity,Sales_one_Month_avg,Sales_three_months_avg,Sales_six_months_avg
0,141982300000383201,4398.050000,125.500000,172.343333,188.558333
1,141982300001083201,4439.215000,227.010000,240.655000,234.047500
2,141982300003083201,15778.857298,1583.050000,1035.540000,813.635793
3,141982300003283201,3764.300000,0.000000,94.040000,92.646667
4,141992300000483201,3255.640000,350.640000,228.186667,155.833333
5,141992300000783201,29516.789180,1579.395455,1685.100707,1615.230808
6,141992300000983201,2067.700000,43.830000,124.256667,88.978333
7,141992300001583201,7633.260000,540.440000,329.680000,281.856667
8,141992300001683201,780.710000,95.075000,72.158333,82.632500
9,141992300003283201,3981.880000,0.000000,258.800000,185.053333
10,141992300003883201,6202.734058,249.100290,253.219614,364.404010
11,142022300000183201,4173.280000,105.020000,179.720000,171.263333
12,142092300000183201,7121.845000,417.020000,397.156667,342.308333
13,142092300000383201,653.985000,112.495000,99.438333,86.737500
14,142092300000883201,4295.935605,249.100290,253.219614,256.005405
15,142092300001383201,11706.494191,497.253750,539.112083,521.395490
16,142552300004583201,26740.540000,1460.480000,1273.900000,1103.113333
17,142552300004983201,15602.850754,1101.645187,782.752655,662.190373
18,142552300005083201,13933.460000,540.440000,593.306667,616.070000
19,142552300005183201,14043.380000,1051.920000,1035.200000,1046.306667
20,142552300005283201,8503.920000,745.680000,493.546667,363.693333
21,142552300005383201,2487.608396,930.882815,829.202799,414.601399
22,142552300005483201,10897.042538,847.215362,820.240114,914.257163
23,142552300005583201,17729.138911,743.698911,2149.386304,1976.229818
24,142552300005783201,10332.500000,613.620000,633.783333,553.418333
25,142562300000983201,1940.780000,277.790000,371.026667,323.463333
26,142582300000283201,3777.958170,249.100290,253.219614,353.602850
27,142582300000383201,5484.303647,1753.200000,1385.840000,716.465641
28,142582300000883201,1947.316250,0.000000,99.647500,113.831667
29,142582300001083201,7444.525000,378.355000,427.030000,426.818333

In [152]:
PakistanSales_df3['KeyManufNo_SalesOrg'] = PakistanSales_df3['Serial'].astype(str) + 'Pakistan' 

# Create the new column by combining 'Serial' with 'Malaysia'
MalaysiaSales_df3['KeyManufNo_SalesOrg'] = MalaysiaSales_df3['Serial'].astype(str) + 'Malaysia'

# Create the new column by combining 'Serial ID' with 'India'
IndiaSales_df3['KeyManufNo_SalesOrg'] = IndiaSales_df3['Serial ID'].astype(str) + 'Nestlé India'

Not used yet in Vendon to differentiate markets

TelemetronData_df3['KeyManufNo_SalesOrg'] = TelemetronData_df3['serial'].astype(str) + 'Nestlé Russia'

In [153]:
RussiaSalesData_df3['KeyManufNo_SalesOrg'] = RussiaSalesData_df3['Serial'].astype(str) + 'Nestlé Russia'

In [154]:
SouthAfricaSales_df3['KeyManufNo_SalesOrg'] = SouthAfricaSales_df3['AccountID'].astype(str) + 'Nestle South Africa'

Rename the accountID column from South Africa as we already did the work to get the accountID

In [155]:
SouthAfricaSales_df4 = SouthAfricaSales_df3.rename(columns = {'AccountID':'Serial'})

In [156]:
SingaporeSales_df3['KeyManufNo_SalesOrg'] = SingaporeSales_df3['Manufacturer Number'].astype(str) + 'Singapore'

In [157]:
SingaporeSales_df4 = SingaporeSales_df3.rename(columns = {'Manufacturer Number':'Serial'})

IndiaSales_df4 = IndiaSales_df3.rename(columns = {'Serial ID':'Serial'})

In [158]:
IndiaSales_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22970 entries, 0 to 22969
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial                  22970 non-null  object
 1   quantity                22970 non-null  float64
 2   Sales_one_Month_avg     22970 non-null  float64
 3   Sales_three_months_avg  22970 non-null  float64
 4   Sales_six_months_avg    22970 non-null  float64
 5   KeyManufNo_SalesOrg     22970 non-null  object
dtypes: float64(4), object(2)
memory usage: 1.2+ MB

VendonData_df3['KeyManufNo_SalesOrg'] = VendonData_df3['serial'].astype(str) + VendonData_df3['SalesOrg'].astype(str)

VendonData_df3=VendonData_df3.drop(columns=['SalesOrg'])
VendonData_df3.head()

In [159]:
Concat_Sales = pd.concat([RussiaSalesData_df3, PakistanSales_df3, SouthAfricaSales_df4, SingaporeSales_df4, MalaysiaSales_df3, IndiaSales_df4])
Concat_Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110292 entries, 0 to 22969
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Serial                  110292 non-null  object
 1   quantity                110292 non-null  float64
 2   Sales_one_Month_avg     110292 non-null  float64
 3   Sales_three_months_avg  110292 non-null  float64
 4   Sales_six_months_avg    110292 non-null  float64
 5   KeyManufNo_SalesOrg     110292 non-null  object
dtypes: float64(4), object(2)
memory usage: 5.9+ MB

In [160]:
Concat_Sales['(lst_mth-6mth)/6mth'] = Concat_Sales.apply(lambda x: 0 if x['Sales_six_months_avg'] <= 0 else (x['Sales_one_Month_avg']-x['Sales_six_months_avg'])/x['Sales_six_months_avg'], axis=1)

Concat_Sales['3mth-6mth)/6mth'] = Concat_Sales.apply(lambda x: 0 if x['Sales_six_months_avg'] <= 0 else (x['Sales_three_months_avg']-x['Sales_six_months_avg'])/x['Sales_six_months_avg'], axis=1)

In [161]:
Concat_Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110292 entries, 0 to 22969
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Serial                  110292 non-null  object
 1   quantity                110292 non-null  float64
 2   Sales_one_Month_avg     110292 non-null  float64
 3   Sales_three_months_avg  110292 non-null  float64
 4   Sales_six_months_avg    110292 non-null  float64
 5   KeyManufNo_SalesOrg     110292 non-null  object
 6   (lst_mth-6mth)/6mth     110292 non-null  float64
 7   3mth-6mth)/6mth         110292 non-null  float64
dtypes: float64(6), object(2)
memory usage: 7.6+ MB

In [162]:
Concat_Sales.tail(5)

,Serial,quantity,Sales_one_Month_avg,Sales_three_months_avg,Sales_six_months_avg,KeyManufNo_SalesOrg,(lst_mth-6mth)/6mth,3mth-6mth)/6mth
22965,CWIP1220,99417.734749,8126.162577,7731.552530,7452.991230,CWIP1220Nestlé India,0.090322,0.037376
22966,CWIP1221,0.000000,0.000000,0.000000,0.000000,CWIP1221Nestlé India,0.000000,0.000000
22967,CWIP1222,0.000000,0.000000,0.000000,0.000000,CWIP1222Nestlé India,0.000000,0.000000
22968,CWIP1223,2033.983051,338.983051,225.994350,282.497175,CWIP1223Nestlé India,0.199952,-0.200012
22969,CWIP1224,197909.449122,9155.295845,7981.431948,20471.459514,CWIP1224Nestlé India,-0.552778,-0.610119

Need to change the type otherwise cannot merge correctly with manuf number

TelemetronData_df3['serial'] = TelemetronData_df3['serial'].astype(str)

BeverageMachine7_wTickets_df['Manufacturer Number'] = BeverageMachine7_wTickets_df['Manufacturer Number'].astype(str)

w=aaaf.loc[aaaf['Manufacturer Number']=='20172526377']
w

In [163]:
#Concat_Telemetry = pd.concat([TelemetronData_df3, Telemetry_aggSales_df3])
Concat_Telemetry = Telemetry_aggSales_df3
Concat_Telemetry.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36367 entries, 0 to 36366
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   serial            36367 non-null  object
 1   quantity          36367 non-null  int64
 2   one_month_avg     36367 non-null  int64
 3   three_months_avg  36367 non-null  float64
 4   six_months_avg    36367 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.7+ MB

In [164]:
Concat_Telemetry['(lst_mth-6mth)/6mth'] = Concat_Telemetry.apply(lambda x: 0 if x['six_months_avg'] <= 0 else (x['one_month_avg']-x['six_months_avg'])/x['six_months_avg'], axis=1)

Concat_Telemetry['3mth-6mth)/6mth'] = Concat_Telemetry.apply(lambda x: 0 if x['six_months_avg'] <= 0 else (x['three_months_avg']-x['six_months_avg'])/x['six_months_avg'], axis=1)

## 10. Market Actions data

In [165]:
##Market Actions listed
MktActions = pd.read_excel(MktActions)
MktActions.head()

,Month,Serial ID,Sales Organisation,Parent Installation Point ID,Actions,Comments,CA Comments
0,2021-11-30,34F6401007,Nestle UK,7326,Other,CA Feedback Required,NaN
1,2021-11-30,16E0031901,Nestle UK,11955,Removal planned,NaN,NaN
2,2021-11-30,17E0020640,Nestle UK,8151,Removal planned,NaN,NaN
3,2021-11-30,10238090,Nestle UK,IP-11722,Removal planned,NaN,NaN
4,2021-11-30,101810133,Nestle UK,4915,Other,CA Feedback Required,NaN

In [166]:
MktActions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1635 entries, 0 to 1634
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1635 non-null   datetime64[ns]
 1   Serial ID                     1635 non-null   object
 2   Sales Organisation            1635 non-null   object
 3   Parent Installation Point ID  1635 non-null   object
 4   Actions                       1634 non-null   object
 5   Comments                      1121 non-null   object
 6   CA Comments                   29 non-null     object
dtypes: datetime64[ns](1), object(6)
memory usage: 89.5+ KB

In [167]:
#add key serial + sales org?
#One hot encoding
def preprocess_MktActions(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Actions']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

MktActions_prep = preprocess_MktActions(MktActions)
MktActions_prep.head()

,Month,Serial ID,Sales Organisation,Parent Installation Point ID,Comments,CA Comments,Actions_Churn risk reason unknown,Actions_Data corrected,Actions_Downgrade machine installed,Actions_Lack of data discipline,...,Actions_Removed,Actions_Reviewed and no action Required,Actions_Reviewed and no actions required,Actions_Seasonal Machine,Actions_Telemetry installed,Actions_Upgrade machine installed,Actions_Visit completed,Actions_Visit/Call planned,Actions_removed,Actions_tagging update
0,2021-11-30,34F6401007,Nestle UK,7326,CA Feedback Required,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-11-30,16E0031901,Nestle UK,11955,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-11-30,17E0020640,Nestle UK,8151,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-11-30,10238090,Nestle UK,IP-11722,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-11-30,101810133,Nestle UK,4915,CA Feedback Required,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [168]:
MktActions_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1635 entries, 0 to 1634
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Month                                     1635 non-null   datetime64[ns]
 1   Serial ID                                 1635 non-null   object
 2   Sales Organisation                        1635 non-null   object
 3   Parent Installation Point ID              1635 non-null   object
 4   Comments                                  1121 non-null   object
 5   CA Comments                               29 non-null     object
 6   Actions_Churn risk reason unknown         1635 non-null   uint8
 7   Actions_Data corrected                    1635 non-null   uint8
 8   Actions_Downgrade machine installed       1635 non-null   uint8
 9   Actions_Lack of data discipline           1635 non-null   uint8
 10  Actions_New contract                      1635 non-null   uint8
 11  Actions_Other                             1635 non-null   uint8
 12  Actions_Out of order                      1635 non-null   uint8
 13  Actions_Phone Call completed              1635 non-null   uint8
 14  Actions_Plan for removal                  1635 non-null   uint8
 15  Actions_Removal Plan                      1635 non-null   uint8
 16  Actions_Removal planned                   1635 non-null   uint8
 17  Actions_Removed                           1635 non-null   uint8
 18  Actions_Reviewed and no action Required   1635 non-null   uint8
 19  Actions_Reviewed and no actions required  1635 non-null   uint8
 20  Actions_Seasonal Machine                  1635 non-null   uint8
 21  Actions_Telemetry installed               1635 non-null   uint8
 22  Actions_Upgrade machine installed         1635 non-null   uint8
 23  Actions_Visit completed                   1635 non-null   uint8
 24  Actions_Visit/Call planned                1635 non-null   uint8
 25  Actions_removed                           1635 non-null   uint8
 26  Actions_tagging update                    1635 non-null   uint8
dtypes: datetime64[ns](1), object(5), uint8(21)
memory usage: 110.3+ KB

In [169]:
MktActions_prep2=MktActions_prep.drop(columns=['Sales Organisation','Parent Installation Point ID', 'Month'])
MktActions_prep3 = MktActions_prep2.groupby(['Serial ID']).sum()
MktActions_prep3.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\521999914.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  MktActions_prep3 = MktActions_prep2.groupby(['Serial ID']).sum()

,Actions_Churn risk reason unknown,Actions_Data corrected,Actions_Downgrade machine installed,Actions_Lack of data discipline,Actions_New contract,Actions_Other,Actions_Out of order,Actions_Phone Call completed,Actions_Plan for removal,Actions_Removal Plan,...,Actions_Removed,Actions_Reviewed and no action Required,Actions_Reviewed and no actions required,Actions_Seasonal Machine,Actions_Telemetry installed,Actions_Upgrade machine installed,Actions_Visit completed,Actions_Visit/Call planned,Actions_removed,Actions_tagging update
Serial ID,,,,,,,,,,,,,,,,,,,,,
24606,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1895151,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10238090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10238091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10238092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [170]:
MktActions_prep3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1388 entries, 24606 to T487736
Data columns (total 21 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Actions_Churn risk reason unknown         1388 non-null   uint8
 1   Actions_Data corrected                    1388 non-null   uint8
 2   Actions_Downgrade machine installed       1388 non-null   uint8
 3   Actions_Lack of data discipline           1388 non-null   uint8
 4   Actions_New contract                      1388 non-null   uint8
 5   Actions_Other                             1388 non-null   uint8
 6   Actions_Out of order                      1388 non-null   uint8
 7   Actions_Phone Call completed              1388 non-null   uint8
 8   Actions_Plan for removal                  1388 non-null   uint8
 9   Actions_Removal Plan                      1388 non-null   uint8
 10  Actions_Removal planned                   1388 non-null   uint8
 11  Actions_Removed                           1388 non-null   uint8
 12  Actions_Reviewed and no action Required   1388 non-null   uint8
 13  Actions_Reviewed and no actions required  1388 non-null   uint8
 14  Actions_Seasonal Machine                  1388 non-null   uint8
 15  Actions_Telemetry installed               1388 non-null   uint8
 16  Actions_Upgrade machine installed         1388 non-null   uint8
 17  Actions_Visit completed                   1388 non-null   uint8
 18  Actions_Visit/Call planned                1388 non-null   uint8
 19  Actions_removed                           1388 non-null   uint8
 20  Actions_tagging update                    1388 non-null   uint8
dtypes: uint8(21)
memory usage: 39.3+ KB

### (b) Plan to manage and process the data <a class="anchor" id="ManageData"></a>

I will extract the data into excel or csv format and upload it to python.

I can merge the data of the different files together

The data is checked monthly and has been created to be linked together

Columns useful to link the datasets together :

    'Product ID [Machine Model ID]'

    'Manufacturer Number'

    'BMB/C4C Model code'

    'M1'
    
    'Manufacture Serial Number'
    
    'Serial ID'

I need to find a way to have one line per machine per month for telemetry data and Placement Tickets

The main idea behind the use of telemetry data here is to check if we can see for example a relation between churn and a the number of cup sales.

I will not use all the features. Below are the features I am planning to use for the two biggest dataset :

19 columns from Beverage Machine data :

['Serial ID', 'Sales Organisation', 'Machine Status Groupings', 'User Status', 'TA Contract Installation Date', 'Depreciation Start',
'Position', 'TA Contract Start Date', 'TA Contract End Date', 'TA Usage Indicator',
'Account ABC Classification (Account ID)', 'Industry (Account ID)', 'Industry Code 1 (Account ID)',  'Account ABC Classification (EC ID)', 'Industry (EC ID)',
'Industry Code 1 (EC ID)', 'Parent Installation Point ID', 'Registered Product Category (Registered Product ID)', 'Calendar Date']

14 columns coming from the Beverage Classification data :

['Model', 'Model Vendor', 'Model Category', 'Model Group', 'Beverage Temperature',
'System Brands', 'Ingredient Format', 'Machine Type', 'Positionning', 'Generation',
'Blueprint Throughput', 'IP Ownership', 'Trading Partner', 'G/R/M TB']

### Beverage Machine data features and the Beverage Classification data features

##### Serial ID                                              
	Unique per machine and allows to link to the Tickets placements

##### Sales Organisation                                     
	Usually a Sales Organisation corresponds to a Country

##### Product ID [Machine Model ID]                          
	Code that allows us to link it to the intermediary mapping table which contains all the details for each machine

##### Machine Status Groupings                               
	Status of the Machine shows if a machine is :
		Deployed
		Idle
		Other

##### User Status                                            
	More detailed than status groupings

##### Depreciation Start                                     
	Date when the machine started to display cup

##### Manufacturer Number                                    
	Code that allows us to link to the telemetry data


##### Position                                               
	Can tell if a machine is a:
		RENT,
		Sale,
		Loan,
		Demo,
		etc.,
##### TA Contract Installation Date
    Date when the machine was installed, different than depreciation start because a machine can be installed but could have already dispensed cups in another Installation Point

##### TA Contract Start Date                                 
	Date when the contract started
    
##### TA Contract End Date                                  
	Date when the contract ended
    
##### TA Usage Indicator                                     
	Can have several usage:
		5 Monthly Rental
		Not assigned
		Trial / Evaluation
		7 Annual / Periodic

##### Account ABC Classification (Account ID)                
	Can help to identify in which Channel is the Account
    
##### Industry (Account ID)                                  
	Can help to identify in which Channel is the Account
    
##### Industry Code 1 (Account ID)                           
	Can help to identify in which Channel is the Account

##### Account ABC Classification (EC ID)                     
	Can help to identify in which Channel is the End Customer
    
##### Industry (EC ID)                                       
	Can help to identify in which Channel is the End Customer
    
##### Industry Code 1 (EC ID)                                
	Can help to identify in which Channel is the End Customer

##### Parent Installation Point ID                           
	Help to identify if a machine is still deployed in the same location by the same customer, it is the Installation Point ID we were talking before.

##### Registered Product Category (Registered Product ID)    
	Details of the category within our group

##### Calendar Date                                          
	Date when we extracted the data of the machine
    
##### BMB/C4C Model code                                     
	Code that allows to link the intermediary mapping table to the beverage machine data

##### M1                                                     
	Name of the harmonized model and used to link the intermediary mapping to the mapping file with unique model
    
##### Model                                                  
	Name of the harmonized model and used to link the intermediary mapping to the mapping file with unique model

##### Model Vendor                                           
	Name of the vendor of the coffee machine

##### Model Category                                         
	Category of the model
		
##### Model Group                                            
	Group of the model

##### Beverage Temperature                                   
	Temperature of the beverage

##### System Brands                                         
	Brand internal classification

##### Ingredient Format                                     
	Format of the ingredient

##### Machine Type                                           
	Type of Machine

##### Positionning                                           
	Positionning of the machine

##### Generation                                             
	Generation of the machine

##### Blueprint Throughput                                   
    Type of throughput

##### IP Ownership                                           
    Ownership type

##### Trading Partner                                        
	Type of Trading Partner

##### G/R/M TB                                               
	How it is managed by the market 

Useless data not really explaining the model :

##### not used columns : 32

User Status Last Changed On                            
Product [Machine Model]                                
	Name of the machine Model 
Range Brand                                           
	Brand of the model
    
EC ID                                                  
    We can identify the end customer with this number, some can have more than one machine
    
	Can be transformed into #Machine for this customer

Equipment Number                                       
Asset Number                                           
TA Contract Number                                   
Account ID                                          
Ship To ID                                     
EC Name                                           
Sales Org ID (Installation Point)                  
Model Harmonized                                    	
Comments                                          
Source                                              
Global Projects                                    
	Machine that are part of a project :
		Roastelier
		Alegria
		Nitro
		Milano
		EZCare
		Express
		CoolPro
Toolbox                                               
Non-Toolbox Reason                 
Product                                       
Type.                              
Machines Models (Harmonized)                     
Solution Brands                 
Toolbox 2019                                       
Toolbox 2018                                     
Toolbox 2017                                        
Trade Assets                                      
Active for Procurement (2017)                       
Idle Available Stock Type                          
Modified                                          
Modified By                                     
Created                                            
Item Type                                       
Path

### Placement Tickets data features

##### Service Category
    Tell if the machine was :
        Installed
        Removed
        Replaced

##### Completion Date
    Date when the Ticket was done, we will aggregate on the number of tickets and we will use it to get the day of last visit.

##### Incident Category
    Reason of the Ticket, details about the incident or ticket

##### Serial ID
    In order to link to the Beverage Machine data

### Telemetry data features

##### quantity 
    Sales quantity

##### serial 	
    ID that allows us to map a to the manufacturer number of the beverage machines

##### columns not used :

Month

    Month of the sales

stockId

    Each machines has a button linked to an ID and by mapping this ID to the related product when can know which type of cup was sold, yet the machines is not working for every machines, so the columns product might be wrong

Column1 	

    unknown Id

Averages 	

    unknown average

inactive 	

    unknown column

machine_id2 

    unknown Id

Product

    type of cup sold (mapping is not ready for every machines yet)

We will use only the sales quantity and the serial to link to the Beverage Machine data. The other columns are either not useful or not satisfying minimum requirements on accuracy of data (bad data)

### Missing data

In [171]:
# TA Contract Installation Date
BevMachMissingInstDate = BeverageMachine_df.loc[BeverageMachine_df['TA Contract Installation Date']=='#']['TA Contract Installation Date'].count()
TotBevMach = BeverageMachine_df['Serial ID'].count()

# TA Contract Start Date
BevMachMissingStartDate = BeverageMachine_df.loc[BeverageMachine_df['TA Contract Start Date']=='#']['TA Contract Start Date'].count()

# TA Contract End Date 
BevMachMissingEndDate = BeverageMachine_df.loc[BeverageMachine_df['TA Contract End Date']=='#']['TA Contract End Date'].count()

# Depreciation Start
BevMachMissingDepStartDate = BeverageMachine_df.loc[BeverageMachine_df['Depreciation Start']=='#']['Depreciation Start'].count()


print('Beverage machines missing Installation Date : ', BevMachMissingInstDate, ', which corresponds to ', 100*round(BevMachMissingInstDate/TotBevMach,2), '%')
print('Beverage machines missing Start Date : ', BevMachMissingStartDate, ', which corresponds to ', 100*round(BevMachMissingStartDate/TotBevMach,2), '%')
print('Beverage machines missing End Date : ', BevMachMissingEndDate, ', which corresponds to ', 100*round(BevMachMissingEndDate/TotBevMach,2), '%')
print('Beverage machines missing Depreciation Start Date : ', BevMachMissingDepStartDate, ', which corresponds to ', 100*round(BevMachMissingDepStartDate/TotBevMach,2), '%')

Beverage machines missing Installation Date :  5426386 , which corresponds to  69.0 %
Beverage machines missing Start Date :  5426386 , which corresponds to  69.0 %
Beverage machines missing End Date :  5426378 , which corresponds to  69.0 %
Beverage machines missing Depreciation Start Date :  4 , which corresponds to  0.0 %

##### Telemetry data
Even if the number of beverage machines equiped with telemetry data is increasing the data available is still low and should be seen as a complement.

In August 2020 only around 200 beverage machines have telemetry data and are already in the new system from which we got Beverage Machine data and we have around 60'000 beverage machines.


##### Placement Tickets data

27'318 beverage machines does not provide any Placement tickets


##### Date features missing

We see that sometimes the date is not filled for Installation Date, Start Date and End Date

#### Visits data
A visit is linked to an account and a machine "Account ID" can be linked to a visit "Account ID.Account ID Level 01.Key" maybe a key with the Sales Org in case it is unique only by market

#### Phone Calls data
A phone Call is linked to an account. Link "Account Name" from phone call with "Account ID" of the machine.

## Preparation of the data<a class="anchor" id="prep"></a>

### a) Details of preparation<a class="anchor" id="det"></a>

#### Beverage Machine data preparation

The goal is to get the actual maximal date of each Serial ID

If a machine has a maximal date that is lower than (or not equal to) the latest snapshot date, then the machine has churned.

We will look at the max date per installation point because when we lose an installation point we lose the customer. 

A machine can be realocated to another customer.

Keep only the latest month of data

In [172]:
BeverageMachine_df['Calendar Date'] = pd.to_datetime(BeverageMachine_df['Calendar Date'], errors =  'coerce')

In [173]:
BeverageMachine_df.tail()

,Unnamed: 0,Sales Organisation,User Status Last Changed On,Product [Machine Model],Product ID [Machine Model ID],Range Brand,Machine Status Groupings,User Status,Depreciation Start,Serial ID,...,Industry Code 1 (Account ID),Account ABC Classification (EC ID),Industry (EC ID),Industry Code 1 (EC ID),Parent Installation Point ID,Registered Product Category (Registered Product ID),Sales Org ID (Installation Point),SAP Material Line Code [Machine Model ID],Calendar Date,Key_ManufacturerID_SalesOrg
9271438,3201311,Nestle South Africa,44460,NESCAFE MILANO 8/60 H6 AR,100118541,MILANO,Deployed,Installed,40626,ZA4188,...,060502 Factory,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1079926,Trade Asset w/ Fixed Asset,ZA10,90083851,2023-12-31,3897301Nestle South Africa
9271439,3201312,Nestle South Africa,44460,NESCAFE MILANO 8/60 H6 AR,100118541,MILANO,Deployed,Installed,40695,ZA5014,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1080068,Trade Asset w/ Fixed Asset,ZA10,90083851,2023-12-31,3896790Nestle South Africa
9271440,3201313,Nestle South Africa,44460,NESCAFE MILANO 8/60 H6 AR,100118541,MILANO,Deployed,Installed,41334,ZA4631,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1080064,Trade Asset w/ Fixed Asset,ZA10,90083851,2023-12-31,3896790Nestle South Africa
9271441,3201314,Nestle South Africa,44460,NESCAFE ALEGRIA Base Cabinet,100118550,ALEGRIA,Deployed,Installed,42005,ZA14050,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1080336,Trade Asset Accessory,ZA10,90083852,2023-12-31,3896790Nestle South Africa
9271442,3201315,Nestle South Africa,44460,NESCAFE ALEGRIA Base Cabinet,100118550,ALEGRIA,Deployed,Installed,42370,ZA14115,...,060501 Office Leasing Ctr,06 Out of Home,0605 Business/Industry,060501 Office Leasing Ctr,1079951,Trade Asset Accessory,ZA10,90083852,2023-12-31,3896944Nestle South Africa

BeverageMachine_df1 = BeverageMachine_df.copy()
BeverageMachine_df1 = BeverageMachine_df1.groupby(['Parent Installation Point ID'])

In [174]:
BeverageMachine_df1 = BeverageMachine_df.copy()
BeverageMachine_df1['Product ID [Machine Model ID]'] = BeverageMachine_df1['Product ID [Machine Model ID]'].astype(str)
#BeverageMachine_df2 = BeverageMachine_df1.groupby(['Parent Installation Point ID']).agg({'Calendar Date' : [np.min, np.max]})

#BeverageMachine_df1['Calendar Date2'] = BeverageMachine_df1['Calendar Date']

#BeverageMachine_df2 = BeverageMachine_df1.groupby(['Parent Installation Point ID']).agg({'Calendar Date' : 'min', 'Calendar Date2' : 'max'})

In [175]:
BeverageMachine_df2 = pd.merge(BeverageMachine_df1, BevMap_df, how='left', left_on = ['Product ID [Machine Model ID]'], right_on = ['ID Model Code'])
BeverageClassification1_df = BeverageClassification_df.drop_duplicates(['Model'])
BeverageMachine_df3 = pd.merge(BeverageMachine_df2, BeverageClassification1_df, how='left', left_on = ['Model'], right_on = ['Model'])

In [176]:
BeverageMachine_df3 = BeverageMachine_df3.query("`Model` != 'Accessories'")

In [177]:
BeverageMachine_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6899267 entries, 0 to 7900323
Data columns (total 73 columns):
 #   Column                                               Dtype
---  ------                                               -----
 0   Unnamed: 0                                           int64
 1   Sales Organisation                                   object
 2   User Status Last Changed On                          object
 3   Product [Machine Model]                              object
 4   Product ID [Machine Model ID]                        object
 5   Range Brand                                          object
 6   Machine Status Groupings                             object
 7   User Status                                          object
 8   Depreciation Start                                   object
 9   Serial ID                                            object
 10  Manufacturer Number                                  object
 11  Equipment Number                                     object
 12  Asset Number                                         object
 13  Position                                             object
 14  TA Contract Number                                   object
 15  TA Contract Installation Date                        object
 16  TA Contract Start Date                               object
 17  TA Contract End Date                                 object
 18  TA Usage Indicator                                   object
 19  Account ID                                           object
 20  Ship To ID                                           object
 21  EC ID                                                object
 22  EC Name                                              object
 23  City                                                 object
 24  State                                                object
 25  Postal Code                                          object
 26  Account ABC Classification (Account ID)              object
 27  Industry (Account ID)                                object
 28  Industry Code 1 (Account ID)                         object
 29  Account ABC Classification (EC ID)                   object
 30  Industry (EC ID)                                     object
 31  Industry Code 1 (EC ID)                              object
 32  Parent Installation Point ID                         object
 33  Registered Product Category (Registered Product ID)  object
 34  Sales Org ID (Installation Point)                    object
 35  SAP Material Line Code [Machine Model ID]            int64
 36  Calendar Date                                        datetime64[ns]
 37  Key_ManufacturerID_SalesOrg                          object
 38  Brand Name                                           object
 39  Description                                          object
 40  ID Model Code                                        object
 41  Source                                               object
 42  Model                                                object
 43  Revised                                              object
 44  Modified                                             object
 45  Modified By                                          object
 46  Model Vendor                                         object
 47  Model Category                                       object
 48  Global Projects                                      object
 49  System Brands                                        object
 50  Solution Brands                                      object
 51  Model Group                                          object
 52  Generation                                           object
 53  Product                                              object
 54  Ingredient Format                                    object
 55  Model Category 2                                     object
 56  Machine Type                                         object
 57  Beverage Temperature                                 object
 58  Positionning                                         object
 59  Blueprint Throughput                                 object
 60  G/R/M PML                                            object
 61  IP Ownership                                         object
 62  Price List                                           object
 63  PSL                                                  object
 64  TAA & TAR Ownership                                  object
 65  TAA & TAR                                            object
 66  SC & Planning                                        object
 67  Production                                           object
 68  IM                                                   object
 69  Sustainability LCA Ownership                         object
 70  Sustainability LCA                                   object
 71  Vendon Compatible                                    object
 72  Technical Capacity                                   int64
dtypes: datetime64[ns](1), int64(3), object(69)
memory usage: 3.8+ GB

In [178]:
# Get the distinct values for the column "TA Usage Indicator"
distinct_values = BeverageMachine_df3["TA Usage Indicator"].unique()

# Print the distinct values
print(distinct_values)

# Get the distinct values for the column "Position"
distinct_values2 = BeverageMachine_df3["Position"].unique()

# Print the distinct values
print(distinct_values2)

['Not assigned' '5 Monthly Rental' '1 Sale' 'Trial / Evaluation'
 '7 Annual / Periodic' nan 'Monthly Rental' 'Yearly Rental' 'Trial'
 'Weekly Rental']
['LOAN' '#' 'SCRP' 'EVAL' 'RENT' 'DEMO' 'SALE' '21H0' '22O0' '23O0' 'SOLD'
 'FOL' '1000' 'EXPE' '11' '1' nan '1010' 'TEST' 'LOA' '0' 'CUST' 'F030'
 'R010' 'R030' 'R020' 'R130' 'R050' 'R090' 'R080' 'R100' 'R070' 'R120'
 'R110' 'R040' 'R140' 'R150' 'F020' 'F010' 'F100' 'F050' 'F110' 'F070'
 'F660' 'F690' 'R720' 'F700' 'F710' 'F090' 'R060' 'R770']

In [179]:
# List of allowed values
allowed_values = ["DEMO", "EVAL", "FOL", "LOAN", "RENT", "SALE", "SCRP", "SOLD", "TEST"]

# Replace values not in the allowed list with "#"
BeverageMachine_df3.loc[~BeverageMachine_df3["Position"].isin(allowed_values), "Position"] = "#"

# Print the updated DataFrame for the "TA Usage Indicator" column
print(BeverageMachine_df3["Position"].unique())

# Replace "0" and NaN with "Not assigned" in the column "TA Usage Indicator"
BeverageMachine_df3["TA Usage Indicator"].replace({"0": "Not assigned", np.nan: "Not assigned"}, inplace=True)

# Print the updated DataFrame for the "TA Usage Indicator" column
print(BeverageMachine_df3["TA Usage Indicator"].unique())

['LOAN' '#' 'SCRP' 'EVAL' 'RENT' 'DEMO' 'SALE' 'SOLD' 'FOL' 'TEST']
['Not assigned' '5 Monthly Rental' '1 Sale' 'Trial / Evaluation'
 '7 Annual / Periodic' 'Monthly Rental' 'Yearly Rental' 'Trial'
 'Weekly Rental']

Another way to get min and max date e.g. "I wanted to create a new data frame where I can get min value in the column Numb if my string in the column Word is ab and max value if my string is bc for each Date. " :

s=df.groupby(['Date','Word']).Numb.agg(['min','max'])

s['number']=np.where(s.index.get_level_values(1)=='ab',s.min(1),s.max(1))

df11 =BeverageMachine_df.copy()
df22 = df11.reset_index()
df22.loc[df22.groupby('Parent Installation Point ID')['Calendar Date'].idxmin()]
df22.info()

In [180]:
# Sort the dataFrame by 'Calendar Date' and then remove duplicates :
BM_Maxdate_IPID2 = BeverageMachine_df3.sort_values('Calendar Date', ascending=False).drop_duplicates(['Parent Installation Point ID'])
BM_Maxdate_IPID2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274506 entries, 1987931 to 2373712
Data columns (total 73 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Unnamed: 0                                           274506 non-null  int64
 1   Sales Organisation                                   274483 non-null  object
 2   User Status Last Changed On                          273515 non-null  object
 3   Product [Machine Model]                              274506 non-null  object
 4   Product ID [Machine Model ID]                        274506 non-null  object
 5   Range Brand                                          274506 non-null  object
 6   Machine Status Groupings                             274504 non-null  object
 7   User Status                                          274506 non-null  object
 8   Depreciation Start                                   260571 non-null  object
 9   Serial ID                                            274506 non-null  object
 10  Manufacturer Number                                  263552 non-null  object
 11  Equipment Number                                     274481 non-null  object
 12  Asset Number                                         271745 non-null  object
 13  Position                                             274506 non-null  object
 14  TA Contract Number                                   141567 non-null  object
 15  TA Contract Installation Date                        140265 non-null  object
 16  TA Contract Start Date                               141034 non-null  object
 17  TA Contract End Date                                 137739 non-null  object
 18  TA Usage Indicator                                   274506 non-null  object
 19  Account ID                                           274506 non-null  object
 20  Ship To ID                                           274417 non-null  object
 21  EC ID                                                274506 non-null  object
 22  EC Name                                              273523 non-null  object
 23  City                                                 229821 non-null  object
 24  State                                                188073 non-null  object
 25  Postal Code                                          236431 non-null  object
 26  Account ABC Classification (Account ID)              273745 non-null  object
 27  Industry (Account ID)                                243238 non-null  object
 28  Industry Code 1 (Account ID)                         273730 non-null  object
 29  Account ABC Classification (EC ID)                   274403 non-null  object
 30  Industry (EC ID)                                     274149 non-null  object
 31  Industry Code 1 (EC ID)                              274395 non-null  object
 32  Parent Installation Point ID                         274506 non-null  object
 33  Registered Product Category (Registered Product ID)  274506 non-null  object
 34  Sales Org ID (Installation Point)                    274483 non-null  object
 35  SAP Material Line Code [Machine Model ID]            274506 non-null  int64
 36  Calendar Date                                        274506 non-null  datetime64[ns]
 37  Key_ManufacturerID_SalesOrg                          274483 non-null  object
 38  Brand Name                                           274504 non-null  object
 39  Description                                          274504 non-null  object
 40  ID Model Code                                        274504 non-null  object
 41  Source                                               274504 non-null  object
 42  Model                                                274504 non-null  object
 43  Revised                                              274504 non-null  object
 44  Modified                                             274504 non-null  object
 45  Modified By                                          274504 non-null  object
 46  Model Vendor                                         274506 non-null  object
 47  Model Category                                       274506 non-null  object
 48  Global Projects                                      274506 non-null  object
 49  System Brands                                        274506 non-null  object
 50  Solution Brands                                      274506 non-null  object
 51  Model Group                                          274506 non-null  object
 52  Generation                                           274506 non-null  object
 53  Product                                              274506 non-null  object
 54  Ingredient Format                                    274506 non-null  object
 55  Model Category 2                                     274506 non-null  object
 56  Machine Type                                         274506 non-null  object
 57  Beverage Temperature                                 274506 non-null  object
 58  Positionning                                         274506 non-null  object
 59  Blueprint Throughput                                 274506 non-null  object
 60  G/R/M PML                                            274506 non-null  object
 61  IP Ownership                                         274506 non-null  object
 62  Price List                                           274506 non-null  object
 63  PSL                                                  274506 non-null  object
 64  TAA & TAR Ownership                                  274506 non-null  object
 65  TAA & TAR                                            274506 non-null  object
 66  SC & Planning                                        274506 non-null  object
 67  Production                                           274506 non-null  object
 68  IM                                                   274506 non-null  object
 69  Sustainability LCA Ownership                         274506 non-null  object
 70  Sustainability LCA                                   274506 non-null  object
 71  Vendon Compatible                                    197977 non-null  object
 72  Technical Capacity                                   274506 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(69)
memory usage: 155.0+ MB

The columns allowing to link datasets should have the same format otherwise it might not work properly if one has a string format and the other a numerical format

In [181]:
BeverageMachine1_df = BM_Maxdate_IPID2
BeverageMachine1_df['Product ID [Machine Model ID]']=BeverageMachine1_df['Product ID [Machine Model ID]'].astype(str)

In [182]:
count = BeverageMachine1_df[BeverageMachine1_df['Sales Organisation'] == 'Nestlé Russia'].shape[0]
print("Number of rows with 'Sales Organisation' as 'Nestlé Russia':", count)

count = BeverageMachine1_df[(BeverageMachine1_df['Sales Organisation'] == 'Nestlé Russia') & (BeverageMachine1_df['Machine Status Groupings'] == 'Deployed')].shape[0]
print("Number of rows with 'Sales Organisation' as 'Nestlé Russia' and 'Machine Status Groupings' as 'Deployed':", count)

Number of rows with 'Sales Organisation' as 'Nestlé Russia': 26794
Number of rows with 'Sales Organisation' as 'Nestlé Russia' and 'Machine Status Groupings' as 'Deployed': 10935

In [183]:
deployed_count = BeverageMachine1_df[BeverageMachine1_df['Machine Status Groupings'] == 'DEPLOYED'].shape[0]
print("Number of machines with status 'DEPLOYED':", deployed_count)

Number of machines with status 'DEPLOYED': 170361

In [184]:
#TODELETE
#Snowflake values are different and in Upper case, it creates a problem when I filter out machines that are not "Deployed"
BeverageMachine1_df['Machine Status Groupings'] = BeverageMachine1_df['Machine Status Groupings'].replace({'DEPLOYED': 'Deployed', 'IDLE': 'Idle', 'OTHER': 'Other'})

#Snowflake has a different Upper letters value and for one month of data the algorithm can know if the data comes from Snowflake and adapt the algorithm to know these machines have not churned, to be deleted once all the data comes from Snowflake
BeverageMachine1_df['User Status'] = BeverageMachine1_df['User Status'].replace({'IN PREPARATION': 'In Preparation', 'TO BE ASSIGNED': 'To be Assigned', 'TO BE DESTROYED': 'To be Destroyed', 'IN REPAIR': 'In Repair', 'INSTALLED': 'Installed', 'UNDER INSTALLATION': 'Under Installation', 'MISSING': 'Missing', 'STATUS TO BE CORRECTED IN ERP': 'Status to be corrected in ERP', 'TO BE REMOVED': 'To be Removed'})
BeverageMachine1_df['TA Usage Indicator'] = BeverageMachine1_df['TA Usage Indicator'].replace({'Monthly Rental': '5 Monthly Rental', '': 'Not assigned'})

In [185]:
BeverageMachine1_df = BeverageMachine1_df.loc[BeverageMachine1_df['Machine Status Groupings']=="Deployed"]

Merge the Beverage Machine data with the Beverage Mapping in order to get the related "Harmonized Model" of the "Beverage Machine Classification data" and later merge together the "Beverage Machine data" with the "Beverage Classification data"

We should do a cleaning step in order to keep only the machine having the 'Parent Installation Point ID' filled and remove duplicates, but not for 'Serial ID'

In [186]:
BeverageMachine4_df = BeverageMachine1_df.loc[BeverageMachine1_df['Parent Installation Point ID']!="#"].drop_duplicates(['Parent Installation Point ID'])

In [187]:
BeverageMachine4_df = BeverageMachine4_df.loc[BeverageMachine4_df['Serial ID']!="#"]

In [188]:
BeverageMachine4_df.columns

Index(['Unnamed: 0', 'Sales Organisation', 'User Status Last Changed On',
       'Product [Machine Model]', 'Product ID [Machine Model ID]',
       'Range Brand', 'Machine Status Groupings', 'User Status',
       'Depreciation Start', 'Serial ID', 'Manufacturer Number',
       'Equipment Number', 'Asset Number', 'Position', 'TA Contract Number',
       'TA Contract Installation Date', 'TA Contract Start Date',
       'TA Contract End Date', 'TA Usage Indicator', 'Account ID',
       'Ship To ID', 'EC ID', 'EC Name', 'City', 'State', 'Postal Code',
       'Account ABC Classification (Account ID)', 'Industry (Account ID)',
       'Industry Code 1 (Account ID)', 'Account ABC Classification (EC ID)',
       'Industry (EC ID)', 'Industry Code 1 (EC ID)',
       'Parent Installation Point ID',
       'Registered Product Category (Registered Product ID)',
       'Sales Org ID (Installation Point)',
       'SAP Material Line Code [Machine Model ID]', 'Calendar Date',
       'Key_ManufacturerID_SalesOrg', 'Brand Name', 'Description',
       'ID Model Code', 'Source', 'Model', 'Revised', 'Modified',
       'Modified By', 'Model Vendor', 'Model Category', 'Global Projects',
       'System Brands', 'Solution Brands', 'Model Group', 'Generation',
       'Product', 'Ingredient Format', 'Model Category 2', 'Machine Type',
       'Beverage Temperature', 'Positionning', 'Blueprint Throughput',
       'G/R/M PML', 'IP Ownership', 'Price List', 'PSL', 'TAA & TAR Ownership',
       'TAA & TAR', 'SC & Planning', 'Production', 'IM',
       'Sustainability LCA Ownership', 'Sustainability LCA',
       'Vendon Compatible', 'Technical Capacity'],
      dtype='object')

In [189]:
                   
                    
BeverageMachine5_df = BeverageMachine4_df[['Serial ID', 'Sales Organisation', 'Machine Status Groupings', 'User Status', 
                    'TA Contract Installation Date', 'Depreciation Start', 'Manufacturer Number', 'Position', 
                    'TA Contract Start Date', 'TA Contract End Date', 'TA Usage Indicator',
                    'Account ID',
                    'EC ID', 'EC Name', 'Account ABC Classification (Account ID)', 'Industry (Account ID)', 
                    'Industry Code 1 (Account ID)', 'Account ABC Classification (EC ID)', 
                    'Industry (EC ID)', 'Industry Code 1 (EC ID)', 'Parent Installation Point ID', 
                    'Registered Product Category (Registered Product ID)', 
                    'Model', 'Model Vendor', 'Model Category', 'Model Group', 
                    'Beverage Temperature', 'System Brands', 'Ingredient Format', 
                    'Machine Type', 'Positionning', 'Generation', 'Blueprint Throughput', 
                    'IP Ownership', 'Calendar Date', 'Key_ManufacturerID_SalesOrg', 'City', 'State', 'Postal Code']]
BeverageMachine5_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Machine Type,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code
2057984,21O0014796,Thailand,Deployed,Installed,NaN,44713.0,20211410508,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Low,Proprietary,2024-08-31,20211410508Thailand,NaN,Bangkok,10500
2057982,TH10215188,Thailand,Deployed,Installed,NaN,43616.0,T404732,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T404732Thailand,NaN,Saraburi,18140
2057981,22O0026467,Thailand,Deployed,Installed,NaN,45231.0,310162210,#,NaN,NaN,...,Table Tops,Premium,Legacy,High,Non-Proprietary,2024-08-31,310162210Thailand,NaN,Bangkok,10160
2057980,TH10234252,Thailand,Deployed,Installed,NaN,44621.0,T504191,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T504191Thailand,NaN,Phuket,83000
2057979,TH10227779,Thailand,Deployed,Installed,NaN,43951.0,T473814,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T473814Thailand,NaN,Bangkok,10000

If 'Calendar Date' is smaller than the 'ChurnDate2' it means that it has not churned

In [190]:
BeverageMachine5_df['Calendar Date'] = pd.to_datetime(BeverageMachine5_df['Calendar Date'])
BeverageMachine5_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 2057984 to 2373712
Data columns (total 39 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Serial ID                                            259141 non-null  object
 1   Sales Organisation                                   259141 non-null  object
 2   Machine Status Groupings                             259141 non-null  object
 3   User Status                                          259141 non-null  object
 4   TA Contract Installation Date                        131525 non-null  object
 5   Depreciation Start                                   245462 non-null  object
 6   Manufacturer Number                                  248522 non-null  object
 7   Position                                             259141 non-null  object
 8   TA Contract Start Date                               132287 non-null  object
 9   TA Contract End Date                                 129077 non-null  object
 10  TA Usage Indicator                                   259141 non-null  object
 11  Account ID                                           259141 non-null  object
 12  EC ID                                                259141 non-null  object
 13  EC Name                                              258805 non-null  object
 14  Account ABC Classification (Account ID)              258383 non-null  object
 15  Industry (Account ID)                                228923 non-null  object
 16  Industry Code 1 (Account ID)                         258368 non-null  object
 17  Account ABC Classification (EC ID)                   259091 non-null  object
 18  Industry (EC ID)                                     258842 non-null  object
 19  Industry Code 1 (EC ID)                              259084 non-null  object
 20  Parent Installation Point ID                         259141 non-null  object
 21  Registered Product Category (Registered Product ID)  259141 non-null  object
 22  Model                                                259139 non-null  object
 23  Model Vendor                                         259141 non-null  object
 24  Model Category                                       259141 non-null  object
 25  Model Group                                          259141 non-null  object
 26  Beverage Temperature                                 259141 non-null  object
 27  System Brands                                        259141 non-null  object
 28  Ingredient Format                                    259141 non-null  object
 29  Machine Type                                         259141 non-null  object
 30  Positionning                                         259141 non-null  object
 31  Generation                                           259141 non-null  object
 32  Blueprint Throughput                                 259141 non-null  object
 33  IP Ownership                                         259141 non-null  object
 34  Calendar Date                                        259141 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          259141 non-null  object
 36  City                                                 218449 non-null  object
 37  State                                                180833 non-null  object
 38  Postal Code                                          226285 non-null  object
dtypes: datetime64[ns](1), object(38)
memory usage: 79.1+ MB

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\1291754367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BeverageMachine5_df['Calendar Date'] = pd.to_datetime(BeverageMachine5_df['Calendar Date'])

In [191]:
np.where(BeverageMachine5_df['Calendar Date']< ChurnDate2, True, False)
BeverageMachine5_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Machine Type,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code
2057984,21O0014796,Thailand,Deployed,Installed,NaN,44713.0,20211410508,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Low,Proprietary,2024-08-31,20211410508Thailand,NaN,Bangkok,10500
2057982,TH10215188,Thailand,Deployed,Installed,NaN,43616.0,T404732,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T404732Thailand,NaN,Saraburi,18140
2057981,22O0026467,Thailand,Deployed,Installed,NaN,45231.0,310162210,#,NaN,NaN,...,Table Tops,Premium,Legacy,High,Non-Proprietary,2024-08-31,310162210Thailand,NaN,Bangkok,10160
2057980,TH10234252,Thailand,Deployed,Installed,NaN,44621.0,T504191,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T504191Thailand,NaN,Phuket,83000
2057979,TH10227779,Thailand,Deployed,Installed,NaN,43951.0,T473814,#,NaN,NaN,...,Table Tops,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T473814Thailand,NaN,Bangkok,10000

In [192]:
columnwithfalse = False
BeverageMachine6_df=BeverageMachine5_df.copy()
BeverageMachine6_df['Churn'] = columnwithfalse
BeverageMachine6_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code,Churn
2057984,21O0014796,Thailand,Deployed,Installed,NaN,44713.0,20211410508,#,NaN,NaN,...,Mainstream,Gen. 2,Low,Proprietary,2024-08-31,20211410508Thailand,NaN,Bangkok,10500,False
2057982,TH10215188,Thailand,Deployed,Installed,NaN,43616.0,T404732,#,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T404732Thailand,NaN,Saraburi,18140,False
2057981,22O0026467,Thailand,Deployed,Installed,NaN,45231.0,310162210,#,NaN,NaN,...,Premium,Legacy,High,Non-Proprietary,2024-08-31,310162210Thailand,NaN,Bangkok,10160,False
2057980,TH10234252,Thailand,Deployed,Installed,NaN,44621.0,T504191,#,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T504191Thailand,NaN,Phuket,83000,False
2057979,TH10227779,Thailand,Deployed,Installed,NaN,43951.0,T473814,#,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T473814Thailand,NaN,Bangkok,10000,False

In [193]:
#BeverageMachine6_df['Churn'] = np.where((BeverageMachine5_df['Calendar Date_x']<BeverageMachine5_df['Calendar Date_y'])|
#                                (BeverageMachine5_df['Calendar Date_x'] == ChurnDate), False, True)

BeverageMachine6_df['Churn'] = np.where(BeverageMachine5_df['Calendar Date'] < ChurnDate2, True, False)
BeverageMachine6_df.loc[BeverageMachine6_df['Churn']==True].head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code,Churn
1769243,TH10211090,Thailand,Deployed,Installed,NaN,43100.0,T377568,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Proprietary,2024-07-31,T377568Thailand,NaN,Samut Prakan,10000,True
1769238,TH10219673,Thailand,Deployed,Installed,NaN,43585.0,T414752,#,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-07-31,T414752Thailand,NaN,Samut Prakan,10000,True
1769436,TH10211086,Thailand,Deployed,Installed,NaN,43100.0,T377564,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Proprietary,2024-07-31,T377564Thailand,NaN,Nakhon Ratchasima,30000,True
1769417,TH10211260,Thailand,Deployed,Installed,NaN,43190.0,T378410,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Proprietary,2024-07-31,T378410Thailand,NaN,Songkhla,NaN,True
1769059,TH10211163,Thailand,Deployed,Installed,NaN,43616.0,T377441,#,NaN,NaN,...,Mainstream,Gen. 1,Medium,Proprietary,2024-07-31,T377441Thailand,NaN,Nonthaburi,NaN,True

In [194]:
BeverageMachine6_df.loc[BeverageMachine6_df['Churn']==False].head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Positionning,Generation,Blueprint Throughput,IP Ownership,Calendar Date,Key_ManufacturerID_SalesOrg,City,State,Postal Code,Churn
2057984,21O0014796,Thailand,Deployed,Installed,NaN,44713.0,20211410508,#,NaN,NaN,...,Mainstream,Gen. 2,Low,Proprietary,2024-08-31,20211410508Thailand,NaN,Bangkok,10500,False
2057982,TH10215188,Thailand,Deployed,Installed,NaN,43616.0,T404732,#,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T404732Thailand,NaN,Saraburi,18140,False
2057981,22O0026467,Thailand,Deployed,Installed,NaN,45231.0,310162210,#,NaN,NaN,...,Premium,Legacy,High,Non-Proprietary,2024-08-31,310162210Thailand,NaN,Bangkok,10160,False
2057980,TH10234252,Thailand,Deployed,Installed,NaN,44621.0,T504191,#,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T504191Thailand,NaN,Phuket,83000,False
2057979,TH10227779,Thailand,Deployed,Installed,NaN,43951.0,T473814,#,NaN,NaN,...,Mainstream,Gen. 2,Medium,Exclusive,2024-08-31,T473814Thailand,NaN,Bangkok,10000,False

Check the data and modify it if it is not the correct type

In [195]:
e = BeverageMachine6_df.loc[BeverageMachine6_df['Serial ID']==7010054129]
e.iloc[:20,9:40]

Empty DataFrame
Columns: [TA Contract End Date, TA Usage Indicator, Account ID, EC ID, EC Name, Account ABC Classification (Account ID), Industry (Account ID), Industry Code 1 (Account ID), Account ABC Classification (EC ID), Industry (EC ID), Industry Code 1 (EC ID), Parent Installation Point ID, Registered Product Category (Registered Product ID), Model, Model Vendor, Model Category, Model Group, Beverage Temperature, System Brands, Ingredient Format, Machine Type, Positionning, Generation, Blueprint Throughput, IP Ownership, Calendar Date, Key_ManufacturerID_SalesOrg, City, State, Postal Code, Churn]
Index: []

[0 rows x 31 columns]

In [196]:
BeverageMachine6_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 2057984 to 2373712
Data columns (total 40 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Serial ID                                            259141 non-null  object
 1   Sales Organisation                                   259141 non-null  object
 2   Machine Status Groupings                             259141 non-null  object
 3   User Status                                          259141 non-null  object
 4   TA Contract Installation Date                        131525 non-null  object
 5   Depreciation Start                                   245462 non-null  object
 6   Manufacturer Number                                  248522 non-null  object
 7   Position                                             259141 non-null  object
 8   TA Contract Start Date                               132287 non-null  object
 9   TA Contract End Date                                 129077 non-null  object
 10  TA Usage Indicator                                   259141 non-null  object
 11  Account ID                                           259141 non-null  object
 12  EC ID                                                259141 non-null  object
 13  EC Name                                              258805 non-null  object
 14  Account ABC Classification (Account ID)              258383 non-null  object
 15  Industry (Account ID)                                228923 non-null  object
 16  Industry Code 1 (Account ID)                         258368 non-null  object
 17  Account ABC Classification (EC ID)                   259091 non-null  object
 18  Industry (EC ID)                                     258842 non-null  object
 19  Industry Code 1 (EC ID)                              259084 non-null  object
 20  Parent Installation Point ID                         259141 non-null  object
 21  Registered Product Category (Registered Product ID)  259141 non-null  object
 22  Model                                                259139 non-null  object
 23  Model Vendor                                         259141 non-null  object
 24  Model Category                                       259141 non-null  object
 25  Model Group                                          259141 non-null  object
 26  Beverage Temperature                                 259141 non-null  object
 27  System Brands                                        259141 non-null  object
 28  Ingredient Format                                    259141 non-null  object
 29  Machine Type                                         259141 non-null  object
 30  Positionning                                         259141 non-null  object
 31  Generation                                           259141 non-null  object
 32  Blueprint Throughput                                 259141 non-null  object
 33  IP Ownership                                         259141 non-null  object
 34  Calendar Date                                        259141 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          259141 non-null  object
 36  City                                                 218449 non-null  object
 37  State                                                180833 non-null  object
 38  Postal Code                                          226285 non-null  object
 39  Churn                                                259141 non-null  bool
dtypes: bool(1), datetime64[ns](1), object(38)
memory usage: 79.3+ MB

I want some date features to be integer instead of non-null object

In [197]:
# Date features
Date_Features = ['TA Contract Installation Date', 'Depreciation Start',  'TA Contract Start Date', 
                 'TA Contract End Date']

BeverageMachine7_df= BeverageMachine6_df.copy()

for x in Date_Features:
    BeverageMachine7_df[x] = pd.to_numeric(BeverageMachine7_df[x], errors='coerce').fillna(0).astype(int)

In [198]:
BeverageMachine7_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 2057984 to 2373712
Data columns (total 40 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Serial ID                                            259141 non-null  object
 1   Sales Organisation                                   259141 non-null  object
 2   Machine Status Groupings                             259141 non-null  object
 3   User Status                                          259141 non-null  object
 4   TA Contract Installation Date                        259141 non-null  int32
 5   Depreciation Start                                   259141 non-null  int32
 6   Manufacturer Number                                  248522 non-null  object
 7   Position                                             259141 non-null  object
 8   TA Contract Start Date                               259141 non-null  int32
 9   TA Contract End Date                                 259141 non-null  int32
 10  TA Usage Indicator                                   259141 non-null  object
 11  Account ID                                           259141 non-null  object
 12  EC ID                                                259141 non-null  object
 13  EC Name                                              258805 non-null  object
 14  Account ABC Classification (Account ID)              258383 non-null  object
 15  Industry (Account ID)                                228923 non-null  object
 16  Industry Code 1 (Account ID)                         258368 non-null  object
 17  Account ABC Classification (EC ID)                   259091 non-null  object
 18  Industry (EC ID)                                     258842 non-null  object
 19  Industry Code 1 (EC ID)                              259084 non-null  object
 20  Parent Installation Point ID                         259141 non-null  object
 21  Registered Product Category (Registered Product ID)  259141 non-null  object
 22  Model                                                259139 non-null  object
 23  Model Vendor                                         259141 non-null  object
 24  Model Category                                       259141 non-null  object
 25  Model Group                                          259141 non-null  object
 26  Beverage Temperature                                 259141 non-null  object
 27  System Brands                                        259141 non-null  object
 28  Ingredient Format                                    259141 non-null  object
 29  Machine Type                                         259141 non-null  object
 30  Positionning                                         259141 non-null  object
 31  Generation                                           259141 non-null  object
 32  Blueprint Throughput                                 259141 non-null  object
 33  IP Ownership                                         259141 non-null  object
 34  Calendar Date                                        259141 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          259141 non-null  object
 36  City                                                 218449 non-null  object
 37  State                                                180833 non-null  object
 38  Postal Code                                          226285 non-null  object
 39  Churn                                                259141 non-null  bool
dtypes: bool(1), datetime64[ns](1), int32(4), object(34)
memory usage: 75.4+ MB

#### Placement Tickets data preparation

In order to merge Placement Tickets data with Beverage Machine data I need to perform some preparations of the data.

I would like to have one row per Manufacture Serial Number and Month

Remove "Removal Ticket" because it is nearly like giving the information if the machine has churned. 
To be decided maybe I should remove it too.
I just kept "Seasonal Removal" because it helps to understand that it is a special case and a similar machine might not churn if it is not a Seasonal Removal

In [199]:
Placement_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344519 entries, 0 to 344518
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Service Category               344519 non-null  object
 1   INCIDENT_CATEGORY_DESCRIPTION  342670 non-null  object
 2   Serial ID                      344294 non-null  object
dtypes: object(3)
memory usage: 7.9+ MB

In [200]:
table1 = Placement_df.loc[Placement_df['Service Category']!="Removal"]
table1 = table1.loc[table1['Service Category']!="Removal."]
table2 = Placement_df.loc[Placement_df['INCIDENT_CATEGORY_DESCRIPTION']=="Seasonal Removal"]

In [201]:
table1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207541 entries, 621 to 341976
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Service Category               207541 non-null  object
 1   INCIDENT_CATEGORY_DESCRIPTION  206284 non-null  object
 2   Serial ID                      207386 non-null  object
dtypes: object(3)
memory usage: 6.3+ MB

In [202]:
Placement_df_wo_rem = pd.concat([table1,table2])
Placement_df_wo_rem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211859 entries, 621 to 342085
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Service Category               211859 non-null  object
 1   INCIDENT_CATEGORY_DESCRIPTION  210602 non-null  object
 2   Serial ID                      211700 non-null  object
dtypes: object(3)
memory usage: 6.5+ MB

In [203]:
from xlrd.xldate import xldate_as_tuple
from dateutil.relativedelta import relativedelta

Placement_df_prep = Placement_df_wo_rem[['Serial ID', 'Service Category','INCIDENT_CATEGORY_DESCRIPTION']].copy()

Placement_df_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211859 entries, 621 to 342085
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Serial ID                      211700 non-null  object
 1   Service Category               211859 non-null  object
 2   INCIDENT_CATEGORY_DESCRIPTION  210602 non-null  object
dtypes: object(3)
memory usage: 6.5+ MB

In [204]:
Placement_df_prep['Serial ID'] = Placement_df_prep['Serial ID'].astype('str')

In [205]:
def preprocess_f(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Service Category','INCIDENT_CATEGORY_DESCRIPTION']
                
    # Some columns could be also ordinal features but we will keep them as nominal features for the moment
    ##ordi_vars = ['Positionning', 'Generation',]
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

Placement_df_prep2 = preprocess_f(Placement_df_prep)
Placement_df_prep2.head()

,Serial ID,Service Category_Installation,Service Category_Removal,Service Category_Replacement,INCIDENT_CATEGORY_DESCRIPTION_Customer relocation,INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Removal / Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
621,10048419,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
622,10043045,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
1572,10051301,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4964,10056376,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
10037,10047527,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0

In [206]:
Placement_df_prep2.columns

Index(['Serial ID', 'Service Category_Installation',
       'Service Category_Removal', 'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Removal / Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade'],
      dtype='object')

In [207]:
Placement_df_prep3 = Placement_df_prep2.groupby(["Serial ID"])\
[['Serial ID', 'Service Category_Installation',
       'Service Category_Removal', 'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade']].sum()


TicketsColumnsList = ['Serial ID', 'Service Category_Installation',
       'Service Category_Removal', 'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade']

Placement_df_prep3.head()

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\282038959.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade']].sum()

,Service Category_Installation,Service Category_Removal,Service Category_Replacement,INCIDENT_CATEGORY_DESCRIPTION_Customer relocation,INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
Serial ID,,,,,,,,,,,,,,,
.102313088,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
.4390764,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
100100125,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
100100249,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
100100250,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [208]:
# Specify the filename
filename = 'TicketsColumnsList.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(TicketsColumnsList, file)

In [209]:
Placement_df_prep3.columns

Index(['Service Category_Installation', 'Service Category_Removal',
       'Service Category_Replacement',
       'INCIDENT_CATEGORY_DESCRIPTION_Customer relocation',
       'INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales',
       'INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix',
       'INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair',
       'INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point',
       'INCIDENT_CATEGORY_DESCRIPTION_Renew',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation',
       'INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal',
       'INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show',
       'INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other',
       'INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade'],
      dtype='object')

In [210]:
Placement_df_prep3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134490 entries, .102313088 to nan
Data columns (total 15 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Service Category_Installation                                    134490 non-null  uint8
 1   Service Category_Removal                                         134490 non-null  uint8
 2   Service Category_Replacement                                     134490 non-null  uint8
 3   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                134490 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       134490 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   134490 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      134490 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               134490 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  134490 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_Renew                              134490 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              134490 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   134490 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            134490 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      134490 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  134490 non-null  uint8
dtypes: uint8(15)
memory usage: 2.9+ MB

In [211]:
Placement_df_prep5 = Placement_df_prep3.reset_index()

In [212]:
Placement_df_prep5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134490 entries, 0 to 134489
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        134490 non-null  object
 1   Service Category_Installation                                    134490 non-null  uint8
 2   Service Category_Removal                                         134490 non-null  uint8
 3   Service Category_Replacement                                     134490 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                134490 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       134490 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   134490 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      134490 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               134490 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  134490 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Renew                              134490 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              134490 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   134490 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            134490 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      134490 non-null  uint8
 15  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  134490 non-null  uint8
dtypes: object(1), uint8(15)
memory usage: 3.0+ MB

In [213]:
BeverageMachine7_df.columns

Index(['Serial ID', 'Sales Organisation', 'Machine Status Groupings',
       'User Status', 'TA Contract Installation Date', 'Depreciation Start',
       'Manufacturer Number', 'Position', 'TA Contract Start Date',
       'TA Contract End Date', 'TA Usage Indicator', 'Account ID', 'EC ID',
       'EC Name', 'Account ABC Classification (Account ID)',
       'Industry (Account ID)', 'Industry Code 1 (Account ID)',
       'Account ABC Classification (EC ID)', 'Industry (EC ID)',
       'Industry Code 1 (EC ID)', 'Parent Installation Point ID',
       'Registered Product Category (Registered Product ID)', 'Model',
       'Model Vendor', 'Model Category', 'Model Group', 'Beverage Temperature',
       'System Brands', 'Ingredient Format', 'Machine Type', 'Positionning',
       'Generation', 'Blueprint Throughput', 'IP Ownership', 'Calendar Date',
       'Key_ManufacturerID_SalesOrg', 'City', 'State', 'Postal Code', 'Churn'],
      dtype='object')

In [214]:
Placement_df_prep5.loc[Placement_df_prep5['Serial ID']=='#']

Empty DataFrame
Columns: [Serial ID, Service Category_Installation, Service Category_Removal, Service Category_Replacement, INCIDENT_CATEGORY_DESCRIPTION_Customer relocation, INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales, INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix, INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation, INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair, INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point, INCIDENT_CATEGORY_DESCRIPTION_Renew, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal, INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show, INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other, INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade]
Index: []

Remove Placement tickets with 'Serial ID' == '#'

In [215]:
Placement_df_prep6 = Placement_df_prep5.loc[Placement_df_prep5['Serial ID']!='#']

In [216]:
Placement_df_prep6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134490 entries, 0 to 134489
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        134490 non-null  object
 1   Service Category_Installation                                    134490 non-null  uint8
 2   Service Category_Removal                                         134490 non-null  uint8
 3   Service Category_Replacement                                     134490 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                134490 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       134490 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   134490 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      134490 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               134490 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  134490 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Renew                              134490 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              134490 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   134490 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            134490 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      134490 non-null  uint8
 15  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  134490 non-null  uint8
dtypes: object(1), uint8(15)
memory usage: 4.0+ MB

In [217]:
#Placement_df_prep6['Serial ID'] = Placement_df_prep6['Serial ID'].astype('str')

In [218]:
Placement_df_prep6 = Placement_df_prep6.reset_index()

Placement_df_prep6=Placement_df_prep6.drop(columns=['index'])
Placement_df_prep6

,Serial ID,Service Category_Installation,Service Category_Removal,Service Category_Replacement,INCIDENT_CATEGORY_DESCRIPTION_Customer relocation,INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,.102313088,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,.4390764,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,100100125,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
3,100100249,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
4,100100250,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134485,ZAB2022049,4,0,0,0,0,0,0,0,2,0,0,0,2,0,0
134486,ZAB2022050,2,0,0,0,0,0,0,0,2,0,0,0,0,0,0
134487,ZAG0054,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
134488,ZAR1222,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0
134489,nan,141,4,14,0,9,44,0,4,90,1,4,4,2,1,0

I will link both data together Beverage Machine data and Placement Ticket

In [219]:
BeverageMachine7_wTickets_df = pd.merge(BeverageMachine7_df, Placement_df_prep6, how='left', left_on = ['Serial ID'], right_on = ['Serial ID'])

f=BeverageMachine7_wTickets_df.loc[BeverageMachine7_wTickets_df['Serial ID']=='7010054129']
f.iloc[:20,20:50]

In [220]:
BeverageMachine7_wTickets_df

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,21O0014796,Thailand,Deployed,Installed,0,44713,20211410508,#,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,TH10215188,Thailand,Deployed,Installed,0,43616,T404732,#,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22O0026467,Thailand,Deployed,Installed,0,45231,310162210,#,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TH10234252,Thailand,Deployed,Installed,0,44621,T504191,#,0,0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TH10227779,Thailand,Deployed,Installed,0,43951,T473814,#,0,0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259136,SGBMB07844,Singapore,Deployed,To be Removed,0,41030,20120705845,#,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259137,SGBMB13263,Singapore,Deployed,Installed,0,43800,XCBD0084,#,0,0,...,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
259138,SGBMB07055,Singapore,Deployed,To be Removed,0,40940,20114635424,#,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259139,SGBMB11853,Singapore,Deployed,Installed,0,42614,20162222501,LOAN,0,0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
259140,SGBMB12835,Singapore,Deployed,Installed,0,43982,T425000,LOAN,0,0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [221]:
BeverageMachine7_wTickets_df=BeverageMachine7_wTickets_df.fillna(0)
BeverageMachine7_wTickets_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix,INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation,INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair,INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point,INCIDENT_CATEGORY_DESCRIPTION_Renew,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation,INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal,INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show,INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other,INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade
0,21O0014796,Thailand,Deployed,Installed,0,44713,20211410508,#,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,TH10215188,Thailand,Deployed,Installed,0,43616,T404732,#,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22O0026467,Thailand,Deployed,Installed,0,45231,310162210,#,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TH10234252,Thailand,Deployed,Installed,0,44621,T504191,#,0,0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TH10227779,Thailand,Deployed,Installed,0,43951,T473814,#,0,0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Even if we have only around 2000 machines having tickets, BeverageMachine7_wTickets_df can be used and we will see if it can improve the model.

In [222]:
SO_Tickets =['prstzr pnstrpzcp ztd', 'prstzr nk', 'prstzr prw zrpzppd', 'ppkcstpp']

BeverageMachine7_wTicketsOnly_df = Placement_df_prep6

BeverageMachine7_wTicketsOnly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134490 entries, 0 to 134489
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        134490 non-null  object
 1   Service Category_Installation                                    134490 non-null  uint8
 2   Service Category_Removal                                         134490 non-null  uint8
 3   Service Category_Replacement                                     134490 non-null  uint8
 4   INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                134490 non-null  uint8
 5   INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       134490 non-null  uint8
 6   INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   134490 non-null  uint8
 7   INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      134490 non-null  uint8
 8   INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               134490 non-null  uint8
 9   INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  134490 non-null  uint8
 10  INCIDENT_CATEGORY_DESCRIPTION_Renew                              134490 non-null  uint8
 11  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              134490 non-null  uint8
 12  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   134490 non-null  uint8
 13  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            134490 non-null  uint8
 14  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      134490 non-null  uint8
 15  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  134490 non-null  uint8
dtypes: object(1), uint8(15)
memory usage: 3.0+ MB

#### Telemetry data preparation

Let's see what we can get with only machines having Telemetry data

In [223]:
BeverageMachine7_wTelemetry = pd.merge(BeverageMachine7_df, Telemetry_aggSales, how='inner', left_on = ['Manufacturer Number'], right_on = ['serial'])
BeverageMachine7_wTelemetry.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20747 entries, 0 to 20746
Data columns (total 41 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Serial ID                                            20747 non-null  object
 1   Sales Organisation                                   20747 non-null  object
 2   Machine Status Groupings                             20747 non-null  object
 3   User Status                                          20747 non-null  object
 4   TA Contract Installation Date                        20747 non-null  int32
 5   Depreciation Start                                   20747 non-null  int32
 6   Manufacturer Number                                  20747 non-null  object
 7   Position                                             20747 non-null  object
 8   TA Contract Start Date                               20747 non-null  int32
 9   TA Contract End Date                                 20747 non-null  int32
 10  TA Usage Indicator                                   20747 non-null  object
 11  Account ID                                           20747 non-null  object
 12  EC ID                                                20747 non-null  object
 13  EC Name                                              20726 non-null  object
 14  Account ABC Classification (Account ID)              20722 non-null  object
 15  Industry (Account ID)                                19058 non-null  object
 16  Industry Code 1 (Account ID)                         20722 non-null  object
 17  Account ABC Classification (EC ID)                   20746 non-null  object
 18  Industry (EC ID)                                     20735 non-null  object
 19  Industry Code 1 (EC ID)                              20745 non-null  object
 20  Parent Installation Point ID                         20747 non-null  object
 21  Registered Product Category (Registered Product ID)  20747 non-null  object
 22  Model                                                20747 non-null  object
 23  Model Vendor                                         20747 non-null  object
 24  Model Category                                       20747 non-null  object
 25  Model Group                                          20747 non-null  object
 26  Beverage Temperature                                 20747 non-null  object
 27  System Brands                                        20747 non-null  object
 28  Ingredient Format                                    20747 non-null  object
 29  Machine Type                                         20747 non-null  object
 30  Positionning                                         20747 non-null  object
 31  Generation                                           20747 non-null  object
 32  Blueprint Throughput                                 20747 non-null  object
 33  IP Ownership                                         20747 non-null  object
 34  Calendar Date                                        20747 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                          20747 non-null  object
 36  City                                                 18008 non-null  object
 37  State                                                14408 non-null  object
 38  Postal Code                                          17488 non-null  object
 39  Churn                                                20747 non-null  bool
 40  quantity                                             20747 non-null  int64
dtypes: bool(1), datetime64[ns](1), int32(4), int64(1), object(34)
memory usage: 6.2+ MB

I only have 218 machines matching a Telemetry Kit. This is clearly not enough in order to apply Machine Learning model to predict churn.
We should at least combine it with the Beverage Machine data if we want to use it.

#### Visits data preparation

In [224]:
Visitsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667239 entries, 0 to 667238
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Month                               667239 non-null  int64
 1   Year                                667239 non-null  int64
 2   Period                              667239 non-null  object
 3   Counter_visits_completed            667239 non-null  int64
 4   Cummulative                         667239 non-null  object
 5   Cummulative_Final                   667239 non-null  object
 6   Cummulative Graph                   664914 non-null  object
 7   Occurence Balancing                 667239 non-null  object
 8   Activity Owner                      667233 non-null  object
 9   Activity Owner ID                   667233 non-null  float64
 10  End Date in Local Time Zone         667239 non-null  datetime64[ns]
 11  Result_ID                           667239 non-null  object
 12  Sales Org Desc                      667239 non-null  object
 13  Sales Organization                  667239 non-null  object
 14  Sales Unit (Hierarchy)              667239 non-null  object
 15  Sales Unit (Hierarchy) ID           667239 non-null  object
 16  Activity Life Cycle Status id       667239 non-null  int64
 17  Activity Life Cycle Status          667239 non-null  object
 18  Counter_visits                      667239 non-null  int64
 19  Visit Description                   667233 non-null  object
 20  Visit                               667239 non-null  int64
 21  Account ID.Account ID Level 01      605362 non-null  object
 22  Account ID.Account ID Level 01.Key  605363 non-null  object
 23  Result                              28454 non-null   object
 24  Visit Type                          509949 non-null  object
 25  Index                               667239 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(17)
memory usage: 132.4+ MB

In [225]:
Visitsdf.columns

Index(['Month', 'Year', 'Period', 'Counter_visits_completed', 'Cummulative',
       'Cummulative_Final', 'Cummulative Graph', 'Occurence Balancing',
       'Activity Owner', 'Activity Owner ID', 'End Date in Local Time Zone',
       'Result_ID', 'Sales Org Desc', 'Sales Organization',
       'Sales Unit (Hierarchy)', 'Sales Unit (Hierarchy) ID',
       'Activity Life Cycle Status id', 'Activity Life Cycle Status',
       'Counter_visits', 'Visit Description', 'Visit',
       'Account ID.Account ID Level 01', 'Account ID.Account ID Level 01.Key',
       'Result', 'Visit Type', 'Index'],
      dtype='object')

In [226]:
Visitsdf1 = Visitsdf[['End Date in Local Time Zone', 'Result', 'Activity Life Cycle Status', 'Visit', 'Account ID.Account ID Level 01.Key']]

Remove visits with no account id

In [227]:
Visitsdf1 = Visitsdf1.loc[Visitsdf1['Account ID.Account ID Level 01.Key']!="#"]

In [228]:
Visitsdf1['Result'] = Visitsdf1['Result'].fillna('Not assigned')

I do not have the Sales org ID in TA and I think that Account ID are unique I am not doing the key "KeySOAccID" yet.

In [229]:
#Visitsdf1['KeySOAccID'] = Visitsdf1['Sales Organization'] + Visitsdf1['Account ID.Account ID Level 01.Key'].map(str)

In [230]:
def preprocess_visits(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Result', 'Activity Life Cycle Status']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

Visitsdf_prep = preprocess_visits(Visitsdf1)
Visitsdf_prep.head()

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,2023-06-15,2402798,4674705,0,1,0,0,0,0,0,1,0,0
1,2023-11-30,2664626,4674705,0,1,0,0,0,0,0,1,0,0
2,2023-03-23,2259725,4674705,0,1,0,0,0,0,0,1,0,0
3,2023-07-28,2447014,6270995,0,1,0,0,0,0,0,1,0,0
4,2023-04-17,2284020,2771251,0,1,0,0,0,0,0,1,0,0

Summarize the column based on the Account ID and keep the last visit date

In [231]:
Visitsdf_prep.columns

Index(['End Date in Local Time Zone', 'Visit',
       'Account ID.Account ID Level 01.Key', 'Result_Incomplete Selling Call',
       'Result_Not assigned', 'Result_Objective Met',
       'Result_Objective Partially Met', 'Result_Requires Further Follow-up',
       'Result_Unsuccessful Selling Call',
       'Activity Life Cycle Status_Canceled',
       'Activity Life Cycle Status_Completed',
       'Activity Life Cycle Status_In Process',
       'Activity Life Cycle Status_Open'],
      dtype='object')

In [232]:
Visitsdf_prep.iloc[0]['End Date in Local Time Zone']

Timestamp('2023-06-15 00:00:00')

In [233]:
Visitsdf_prep['End Date in Local Time Zone'] = Visitsdf_prep['End Date in Local Time Zone'].apply(str)


Visitsdf_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 667239 entries, 0 to 667238
Data columns (total 13 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   End Date in Local Time Zone            667239 non-null  object
 1   Visit                                  667239 non-null  int64
 2   Account ID.Account ID Level 01.Key     605363 non-null  object
 3   Result_Incomplete Selling Call         667239 non-null  uint8
 4   Result_Not assigned                    667239 non-null  uint8
 5   Result_Objective Met                   667239 non-null  uint8
 6   Result_Objective Partially Met         667239 non-null  uint8
 7   Result_Requires Further Follow-up      667239 non-null  uint8
 8   Result_Unsuccessful Selling Call       667239 non-null  uint8
 9   Activity Life Cycle Status_Canceled    667239 non-null  uint8
 10  Activity Life Cycle Status_Completed   667239 non-null  uint8
 11  Activity Life Cycle Status_In Process  667239 non-null  uint8
 12  Activity Life Cycle Status_Open        667239 non-null  uint8
dtypes: int64(1), object(2), uint8(10)
memory usage: 26.7+ MB

In [234]:
#pip install dateparser

In [235]:
#import dateparser

Visitsdf_prep2 =Visitsdf_prep.copy()
Visitsdf_prep2['End Date in Local Time Zone'] = pd.to_datetime(Visitsdf_prep2['End Date in Local Time Zone'])
#Visitsdf_prep2['End Date in Local Time Zone'] = Visitsdf_prep2['End Date in Local Time Zone'].apply(lambda x: dateparser.parse(x))

In [236]:
Visitsdf_prep2

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,2023-06-15,2402798,4674705,0,1,0,0,0,0,0,1,0,0
1,2023-11-30,2664626,4674705,0,1,0,0,0,0,0,1,0,0
2,2023-03-23,2259725,4674705,0,1,0,0,0,0,0,1,0,0
3,2023-07-28,2447014,6270995,0,1,0,0,0,0,0,1,0,0
4,2023-04-17,2284020,2771251,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667234,2023-09-15,2568932,NaN,0,0,0,0,1,0,0,1,0,0
667235,2024-05-13,2864481,NaN,0,0,0,0,1,0,0,1,0,0
667236,2024-05-08,2860620,NaN,0,0,0,0,1,0,0,1,0,0
667237,2024-06-18,2894990,NaN,0,0,0,0,1,0,0,1,0,0
667238,2023-10-06,2600043,NaN,0,0,0,0,1,0,0,1,0,0

pd.to_datetime(Visitsdf_prep2['End Date in Local Time Zone'])

In [237]:
Visitsdf_prep2.sort_values('End Date in Local Time Zone', ascending = True)

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
256997,2010-07-29,2406815,3914214,0,1,0,0,0,0,0,0,0,1
257046,2010-08-26,2406233,3556508,0,1,0,0,0,0,0,0,0,1
257060,2011-07-12,2406832,2757927,0,1,0,0,0,0,0,0,0,1
257068,2012-07-26,2450208,NaN,0,1,0,0,0,0,0,0,0,1
257052,2012-08-24,2406231,3315972,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
473939,2029-04-29,2854625,5629131,0,1,0,0,0,0,0,1,0,0
278325,2032-01-01,2794143,1254117,0,1,0,0,0,0,0,0,0,1
280900,2032-11-23,2183887,7151935,0,1,0,0,0,0,0,0,1,0
390327,2033-05-31,2813160,4494718,0,1,0,0,0,0,0,1,0,0
290875,2033-05-31,2331495,7584994,0,1,0,0,0,0,0,0,1,0

In [238]:
Visitsdf_prep2 = Visitsdf_prep2.sort_values('End Date in Local Time Zone')
Visitsdf_prep2.head()

,End Date in Local Time Zone,Visit,Account ID.Account ID Level 01.Key,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
256997,2010-07-29,2406815,3914214,0,1,0,0,0,0,0,0,0,1
257046,2010-08-26,2406233,3556508,0,1,0,0,0,0,0,0,0,1
257060,2011-07-12,2406832,2757927,0,1,0,0,0,0,0,0,0,1
257068,2012-07-26,2450208,NaN,0,1,0,0,0,0,0,0,0,1
257052,2012-08-24,2406231,3315972,0,1,0,0,0,0,0,0,0,1

In [239]:
Visitsdf_prep3 = (Visitsdf_prep2.sort_values('End Date in Local Time Zone')
    .groupby(["Account ID.Account ID Level 01.Key"])
                      .agg({
        'End Date in Local Time Zone': lambda s: s.values[-1],
        'Result_Incomplete Selling Call' : 'sum',
        'Result_Not assigned' : 'sum', 
        'Result_Objective Met' : 'sum',
       'Result_Objective Partially Met' : 'sum', 'Result_Requires Further Follow-up' : 'sum',
       'Result_Unsuccessful Selling Call' : 'sum',
       'Activity Life Cycle Status_Canceled' : 'sum',
       'Activity Life Cycle Status_Completed' : 'sum',
       'Activity Life Cycle Status_In Process' : 'sum',
       'Activity Life Cycle Status_Open' : 'sum'
    })
)

In [240]:
Visitsdf_prep3.head()

,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
Account ID.Account ID Level 01.Key,,,,,,,,,,,
1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0
1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0
1000216,2024-07-04,0,25,0,0,0,0,0,25,0,0
1000222,2024-07-17,0,3,0,0,0,0,1,2,0,0
1000256,2024-11-03,0,31,0,0,0,0,2,28,0,1

In [241]:
Visitsdf_prep4 = Visitsdf_prep3.copy()
Visitsdf_prep4.reset_index()

,Account ID.Account ID Level 01.Key,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0
1,1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0
2,1000216,2024-07-04,0,25,0,0,0,0,0,25,0,0
3,1000222,2024-07-17,0,3,0,0,0,0,1,2,0,0
4,1000256,2024-11-03,0,31,0,0,0,0,2,28,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
102264,9483858,2024-08-28,0,1,0,0,0,0,0,1,0,0
102265,9483860,2024-08-29,0,1,0,0,0,0,0,1,0,0
102266,9483862,2024-08-31,0,1,0,0,0,0,0,1,0,0
102267,9483966,2024-08-31,0,1,0,0,0,0,0,1,0,0
102268,CO_TW10,2023-07-20,0,4,0,0,0,0,2,0,0,2

In [242]:
Visitsdf_prep4['Last_visit_diff_months'] = ChurnDate2 - Visitsdf_prep4['End Date in Local Time Zone']

Visitsdf_prep4['Last_visit_diff_months'] = Visitsdf_prep4['Last_visit_diff_months']/np.timedelta64(1,'M')

In [243]:
Visitsdf_prep4.head()

,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months
Account ID.Account ID Level 01.Key,,,,,,,,,,,,
1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0,4.008296
1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0,4.698248
1000216,2024-07-04,0,25,0,0,0,0,0,25,0,0,1.905583
1000222,2024-07-17,0,3,0,0,0,0,1,2,0,0,1.478470
1000256,2024-11-03,0,31,0,0,0,0,2,28,0,1,-2.102713

In [244]:
Visitsdf_wVisits = Visitsdf_prep4.copy()
Visitsdf_wVisits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102269 entries, 1000058 to CO_TW10
Data columns (total 12 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   End Date in Local Time Zone            102269 non-null  datetime64[ns]
 1   Result_Incomplete Selling Call         102269 non-null  uint8
 2   Result_Not assigned                    102269 non-null  uint64
 3   Result_Objective Met                   102269 non-null  uint8
 4   Result_Objective Partially Met         102269 non-null  uint8
 5   Result_Requires Further Follow-up      102269 non-null  uint8
 6   Result_Unsuccessful Selling Call       102269 non-null  uint8
 7   Activity Life Cycle Status_Canceled    102269 non-null  uint8
 8   Activity Life Cycle Status_Completed   102269 non-null  uint64
 9   Activity Life Cycle Status_In Process  102269 non-null  uint8
 10  Activity Life Cycle Status_Open        102269 non-null  uint8
 11  Last_visit_diff_months                 102269 non-null  float64
dtypes: datetime64[ns](1), float64(1), uint64(2), uint8(8)
memory usage: 4.7+ MB

df['Reported_Date'] = pd.to_datetime(df['Reported_Date'], format='%m/%d/%Y')
df['Process Date'] = pd.to_datetime(df['Process Date'], format='%m/%d/%Y')

df = (
    df
    .sort_values('Process Date')
    .groupby('ID', as_index=False)
    .agg({
        'Total': 'sum',
        'Process Date': lambda s: s.values[-1]
    })
)

'Activity Owner', 'Visit Description', 'Sales Unit (Hierarchy)' might be useful but with one hot encoding I would have too many columns

In [245]:
Visitsdf_wVisits2 = Visitsdf_wVisits.reset_index() 
Visitsdf_wVisits = Visitsdf_wVisits2.rename(columns={"Account ID.Account ID Level 01.Key":"Acc_ID"})
Visitsdf_wVisits

,Acc_ID,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months
0,1000058,2024-05-01,0,8,0,0,0,0,0,8,0,0,4.008296
1,1000096,2024-04-10,0,2,0,0,0,0,0,2,0,0,4.698248
2,1000216,2024-07-04,0,25,0,0,0,0,0,25,0,0,1.905583
3,1000222,2024-07-17,0,3,0,0,0,0,1,2,0,0,1.478470
4,1000256,2024-11-03,0,31,0,0,0,0,2,28,0,1,-2.102713
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102264,9483858,2024-08-28,0,1,0,0,0,0,0,1,0,0,0.098565
102265,9483860,2024-08-29,0,1,0,0,0,0,0,1,0,0,0.065710
102266,9483862,2024-08-31,0,1,0,0,0,0,0,1,0,0,0.000000
102267,9483966,2024-08-31,0,1,0,0,0,0,0,1,0,0,0.000000
102268,CO_TW10,2023-07-20,0,4,0,0,0,0,2,0,0,2,13.404793

left2 = pd.DataFrame(
    {"A": ["A0", "A1", "A2", "C1"], "B": ["B0", "B1", "B2", "B2"], "K1": [1938031, 1938031, 2, 3]}, index=["K0", "K1", "K2", "K2"]
)
left2

In [246]:
Visitsdf_wVisits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102269 entries, 0 to 102268
Data columns (total 13 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Acc_ID                                 102269 non-null  object
 1   End Date in Local Time Zone            102269 non-null  datetime64[ns]
 2   Result_Incomplete Selling Call         102269 non-null  uint8
 3   Result_Not assigned                    102269 non-null  uint64
 4   Result_Objective Met                   102269 non-null  uint8
 5   Result_Objective Partially Met         102269 non-null  uint8
 6   Result_Requires Further Follow-up      102269 non-null  uint8
 7   Result_Unsuccessful Selling Call       102269 non-null  uint8
 8   Activity Life Cycle Status_Canceled    102269 non-null  uint8
 9   Activity Life Cycle Status_Completed   102269 non-null  uint64
 10  Activity Life Cycle Status_In Process  102269 non-null  uint8
 11  Activity Life Cycle Status_Open        102269 non-null  uint8
 12  Last_visit_diff_months                 102269 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1), uint64(2), uint8(8)
memory usage: 4.7+ MB

In [247]:

Visitsdf_wVisits['Acc_ID'] = Visitsdf_wVisits['Acc_ID'].astype(str)
Visitsdf_wVisits['#Visits completed'] = Visitsdf_wVisits['Activity Life Cycle Status_Completed']
Visitsdf_wVisits = Visitsdf_wVisits.drop(['Activity Life Cycle Status_Completed'], axis = 1)
Visitsdf_wVisits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102269 entries, 0 to 102268
Data columns (total 13 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Acc_ID                                 102269 non-null  object
 1   End Date in Local Time Zone            102269 non-null  datetime64[ns]
 2   Result_Incomplete Selling Call         102269 non-null  uint8
 3   Result_Not assigned                    102269 non-null  uint64
 4   Result_Objective Met                   102269 non-null  uint8
 5   Result_Objective Partially Met         102269 non-null  uint8
 6   Result_Requires Further Follow-up      102269 non-null  uint8
 7   Result_Unsuccessful Selling Call       102269 non-null  uint8
 8   Activity Life Cycle Status_Canceled    102269 non-null  uint8
 9   Activity Life Cycle Status_In Process  102269 non-null  uint8
 10  Activity Life Cycle Status_Open        102269 non-null  uint8
 11  Last_visit_diff_months                 102269 non-null  float64
 12  #Visits completed                      102269 non-null  uint64
dtypes: datetime64[ns](1), float64(1), object(1), uint64(2), uint8(8)
memory usage: 4.7+ MB

In [248]:
a=Visitsdf_wVisits.loc[Visitsdf_wVisits['Acc_ID']=='1938031']
a

,Acc_ID,End Date in Local Time Zone,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed
15089,1938031,2023-06-20,0,24,0,0,0,0,0,0,0,14.390439,24

result = pd.merge(left2, Visitsdf_wVisits, how='left', left_on = ['K1'], right_on = ['Acc_ID']) 
result

#### Phone calls data preparation

In [249]:
PhoneCallsdf.head()

,Activity Name,Account Name,Activity Owner,Activity Life Cycle Status,Phone Call ID,Objective (Phone Call),Sales Organization,End Date in Local Time Zone,Start Date in Local Time Zone,PeriodEnd,ee
0,2023-03-22- Camp boss Call 1,7323291,Jadala Aishwarya,Completed,1076285,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
1,2023-03-22- Cafe Call 1,7318561,Jadala Aishwarya,Completed,1075595,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
2,2023-03-21- Hhggghhh Call 1,7317837,Jadala Aishwarya,Completed,1075459,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
3,2023-03-21- Shop Call 2,7316580,Jadala Aishwarya,Completed,1076022,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0
4,2023-03-22- Sahil Call 1,7318463,Jadala Aishwarya,Completed,1075536,NaN,IN14,"mercredi, 22 mars 2023","mercredi, 22 mars 2023",2023 - 03,4473.0

In [250]:
PhoneCallsdf.columns

Index(['Activity Name', 'Account Name', 'Activity Owner',
       'Activity Life Cycle Status', 'Phone Call ID', 'Objective (Phone Call)',
       'Sales Organization', 'End Date in Local Time Zone',
       'Start Date in Local Time Zone', 'PeriodEnd', 'ee'],
      dtype='object')

'Activity Owner',
 'Objective (Phone Call)' -> to much text freedom and too many reasons
 'Phone Call ID' -> not needed

In [251]:
PhoneCallsdf1 = PhoneCallsdf[['Account Name', 'Activity Life Cycle Status', 'End Date in Local Time Zone']]

In [252]:
def preprocess_calls(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Activity Life Cycle Status']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

PhoneCallsdf_prep = preprocess_calls(PhoneCallsdf1)
PhoneCallsdf_prep.head()

,Account Name,End Date in Local Time Zone,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_Completed,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open
0,7323291,"mercredi, 22 mars 2023",0,1,0,0
1,7318561,"mercredi, 22 mars 2023",0,1,0,0
2,7317837,"mercredi, 22 mars 2023",0,1,0,0
3,7316580,"mercredi, 22 mars 2023",0,1,0,0
4,7318463,"mercredi, 22 mars 2023",0,1,0,0

Remove phone calls without an account ID

In [253]:
PhoneCallsdf_prep1 = PhoneCallsdf_prep.loc[PhoneCallsdf_prep['Account Name']!="#"]

In [254]:
PhoneCallsdf_prep1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347173 entries, 0 to 347172
Data columns (total 6 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Account Name                           345382 non-null  object
 1   End Date in Local Time Zone            347173 non-null  object
 2   Activity Life Cycle Status_Canceled    347173 non-null  uint8
 3   Activity Life Cycle Status_Completed   347173 non-null  uint8
 4   Activity Life Cycle Status_In Process  347173 non-null  uint8
 5   Activity Life Cycle Status_Open        347173 non-null  uint8
dtypes: object(2), uint8(4)
memory usage: 9.3+ MB

Remove date greater than next year

In [255]:
Churndate2_year = ChurnDate2.year

In [256]:
PhoneCallsdf_prep1['End Date in Local Time Zone'] = pd.to_datetime(PhoneCallsdf_prep1['End Date in Local Time Zone'], errors = 'coerce')

In [257]:
PhoneCallsdf_prep1 = PhoneCallsdf_prep1.loc[PhoneCallsdf_prep1['End Date in Local Time Zone'] < dt.datetime(Churndate2_year+1,1,1)]

In [258]:
PhoneCallsdf_prep1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Account Name                           0 non-null      object
 1   End Date in Local Time Zone            0 non-null      datetime64[ns]
 2   Activity Life Cycle Status_Canceled    0 non-null      uint8
 3   Activity Life Cycle Status_Completed   0 non-null      uint8
 4   Activity Life Cycle Status_In Process  0 non-null      uint8
 5   Activity Life Cycle Status_Open        0 non-null      uint8
dtypes: datetime64[ns](1), object(1), uint8(4)
memory usage: 0.0+ bytes

In [259]:
PhoneCallsdf_prep1 = PhoneCallsdf_prep1.sort_values('End Date in Local Time Zone')

In [260]:
PhoneCallsdf_prep2 = (PhoneCallsdf_prep1.sort_values('End Date in Local Time Zone')
    .groupby(["Account Name"])
                      .agg({
        'End Date in Local Time Zone': lambda s: s.values[-1],
        'Activity Life Cycle Status_Completed' : 'sum'}))

In [261]:
PhoneCallsdf_prep2

Empty DataFrame
Columns: [End Date in Local Time Zone, Activity Life Cycle Status_Completed]
Index: []

In [262]:
PhoneCallsdf_prep3 = PhoneCallsdf_prep2.copy()
PhoneCallsdf_prep3.reset_index()

Empty DataFrame
Columns: [Account Name, End Date in Local Time Zone, Activity Life Cycle Status_Completed]
Index: []

In [263]:
PhoneCallsdf_prep3['Last_call_diff_months'] = ChurnDate2 - PhoneCallsdf_prep3['End Date in Local Time Zone']

PhoneCallsdf_prep3['Last_call_diff_months'] = PhoneCallsdf_prep3['Last_call_diff_months']/np.timedelta64(1,'M')

In [264]:
PhoneCallsdf_prep3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   End Date in Local Time Zone           0 non-null      datetime64[ns]
 1   Activity Life Cycle Status_Completed  0 non-null      uint8
 2   Last_call_diff_months                 0 non-null      float64
dtypes: datetime64[ns](1), float64(1), uint8(1)
memory usage: 0.0+ bytes

In [265]:
PhoneCallsdf_prep3 = PhoneCallsdf_prep3.copy()
PhoneCallsdf_prep3.reset_index()

Empty DataFrame
Columns: [Account Name, End Date in Local Time Zone, Activity Life Cycle Status_Completed, Last_call_diff_months]
Index: []

In [266]:
PhoneCallsdf_prep3['#Calls Completed'] = PhoneCallsdf_prep3['Activity Life Cycle Status_Completed']
PhoneCallsdf_prep3 = PhoneCallsdf_prep3.drop(['Activity Life Cycle Status_Completed'], axis = 1)
PhoneCallsdf_prep3.head()

Empty DataFrame
Columns: [End Date in Local Time Zone, Last_call_diff_months, #Calls Completed]
Index: []

#### Incident Ticket preparation

In [267]:
IncidentTicketdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266535 entries, 0 to 266534
Data columns (total 70 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   Index                                      266535 non-null  object
 1   SLAMet                                     266535 non-null  int64
 2   YearMonth                                  265638 non-null  float64
 3   Period                                     265638 non-null  object
 4   NextDateAux                                265638 non-null  float64
 5   NextDateAux2                               265638 non-null  object
 6   AuxTime                                    266535 non-null  object
 7   TimeFrom                                   266535 non-null  int64
 8   Next CreatedDatevar                        186323 non-null  datetime64[ns]
 9   TimeTo                                     266535 non-null  int64
 10  Previous CreatedDatevar                    186425 non-null  datetime64[ns]
 11  AuxFix                                     266535 non-null  int64
 12  SLA MET?                                   266535 non-null  object
 13  AuxTimeUS                                  266535 non-null  object
 14  Main Ticket ID                             266526 non-null  float64
 15  Main Ticket                                266460 non-null  object
 16  MAIN_TICKET_COMPLETION_DATE                184996 non-null  object
 17  Sub Ticket ID                              266535 non-null  int64
 18  Sub Ticket                                 266534 non-null  object
 19  REPORTED_ON                                266514 non-null  datetime64[ns]
 20  SOLVED_VIA_PHONE                           266432 non-null  object
 21  STATUS                                     266535 non-null  int64
 22  STATUS_DESCRIPTION                         266535 non-null  object
 23  PROCESSING                                 266535 non-null  object
 24  PROCESSING_DESCRIPTION                     266535 non-null  object
 25  SERVICE_TECHNICIAN                         240983 non-null  object
 26  Completion Date_2                          265638 non-null  datetime64[ns]
 27  Completion SLA Met                         265998 non-null  float64
 28  PRODUCT_DESCRIPTION                        266535 non-null  object
 29  PRODUCT_ID                                 266535 non-null  int64
 30  Serial ID                                  266535 non-null  object
 31  PRIORITY_DESCRIPTION                       266535 non-null  object
 32  EC_ID                                      266532 non-null  float64
 33  EC_NAME                                    266532 non-null  object
 34  EC_HOUSENUMBER                             64106 non-null   object
 35  EC_STREET                                  198459 non-null  object
 36  EC_CIY                                     245839 non-null  object
 37  EC_STATE                                   38286 non-null   object
 38  EC_POSTALCODE                              250017 non-null  object
 39  INCIDENT_CATEGORY_ID                       266535 non-null  object
 40  Incident Category                          266535 non-null  object
 41  MANUFACTURER_SERIAL_NUMBER                 262086 non-null  object
 42  MAIN_ADDRESS                               266535 non-null  bool
 43  ACCOUNT_ID                                 266535 non-null  int64
 44  ACCOUNT_DESCRIPTION                        266535 non-null  object
 45  ACCOUNT_POSTAL_CODE                        253961 non-null  object
 46  SHIP_TO_ID                                 266535 non-null  int64
 47  SHIP_TO_NAME                               266535 non-null  object
 48  SHIP_TO_POSTAL_CODE                        254150 non-null  object
 49  ECRESPONSIBLE_SALES_ID                     173642 non-null  float64
 50  ECRESPONSIBLE_SALES_DESCRIPTION            173642 non-null  object
 51  ACCOUNT_TERRITORY_ID                       186483 non-null  float64
 52  USER_STATUS                                266535 non-null  int64
 53  USER_STATUS_DESCRIPTION                    266535 non-null  object
 54  REGISTERED_PRODUCT_CATEGORY                266535 non-null  object
 55  REGISTERED_PRODUCT_ID                      266535 non-null  int64
 56  EC_SERVICE_TERRITORY_ID                    213902 non-null  float64
 57  SHIP_TO_SERVICE_TERRITORY_ID               192515 non-null  float64
 58  TICKET_SERVICE_TERRITORY_ID                266476 non-null  float64
 59  Sales Organization                         266535 non-null  object
 60  SUB_TICKET_SALES_ORGANIZATION_ID           266535 non-null  object
 61  SUB_TICKET_SALES_ORGANIZATION_DESCRIPTION  266528 non-null  object
 62  ITEM_TARGET_INSTALLATION_POINT             0 non-null       float64
 63  WORK_PROGRESS                              266535 non-null  int64
 64  DATE_OF_LAST_MOVEMENT                      179559 non-null  datetime64[ns]
 65  COMPLETION_DUE_DATE                        265977 non-null  object
 66  SERVICE_CATEGORY                           266535 non-null  object
 67  SERVICE_CATEGORY_DESCRIPTION               266535 non-null  object
 68  SALESORG                                   266535 non-null  object
 69  COUNTER                                    266535 non-null  int64
dtypes: bool(1), datetime64[ns](5), float64(11), int64(13), object(40)
memory usage: 140.6+ MB

In [268]:
IncidentTicketdf.columns

Index(['Index', 'SLAMet', 'YearMonth', 'Period', 'NextDateAux', 'NextDateAux2',
       'AuxTime', 'TimeFrom', 'Next CreatedDatevar', 'TimeTo',
       'Previous CreatedDatevar', 'AuxFix', 'SLA MET?', 'AuxTimeUS',
       'Main Ticket ID', 'Main Ticket', 'MAIN_TICKET_COMPLETION_DATE',
       'Sub Ticket ID', 'Sub Ticket', 'REPORTED_ON', 'SOLVED_VIA_PHONE',
       'STATUS', 'STATUS_DESCRIPTION', 'PROCESSING', 'PROCESSING_DESCRIPTION',
       'SERVICE_TECHNICIAN', 'Completion Date_2', 'Completion SLA Met',
       'PRODUCT_DESCRIPTION', 'PRODUCT_ID', 'Serial ID',
       'PRIORITY_DESCRIPTION', 'EC_ID', 'EC_NAME', 'EC_HOUSENUMBER',
       'EC_STREET', 'EC_CIY', 'EC_STATE', 'EC_POSTALCODE',
       'INCIDENT_CATEGORY_ID', 'Incident Category',
       'MANUFACTURER_SERIAL_NUMBER', 'MAIN_ADDRESS', 'ACCOUNT_ID',
       'ACCOUNT_DESCRIPTION', 'ACCOUNT_POSTAL_CODE', 'SHIP_TO_ID',
       'SHIP_TO_NAME', 'SHIP_TO_POSTAL_CODE', 'ECRESPONSIBLE_SALES_ID',
       'ECRESPONSIBLE_SALES_DESCRIPTION', 'ACCOUNT_TERRITORY_ID',
       'USER_STATUS', 'USER_STATUS_DESCRIPTION', 'REGISTERED_PRODUCT_CATEGORY',
       'REGISTERED_PRODUCT_ID', 'EC_SERVICE_TERRITORY_ID',
       'SHIP_TO_SERVICE_TERRITORY_ID', 'TICKET_SERVICE_TERRITORY_ID',
       'Sales Organization', 'SUB_TICKET_SALES_ORGANIZATION_ID',
       'SUB_TICKET_SALES_ORGANIZATION_DESCRIPTION',
       'ITEM_TARGET_INSTALLATION_POINT', 'WORK_PROGRESS',
       'DATE_OF_LAST_MOVEMENT', 'COMPLETION_DUE_DATE', 'SERVICE_CATEGORY',
       'SERVICE_CATEGORY_DESCRIPTION', 'SALESORG', 'COUNTER'],
      dtype='object')

Maybe I will do a delta between "Completion Date_2" and "Reported On"

Removed:
'AuxFix' -> 'AuxTime'
'Completion SLA Met' -> 'SLAMet'
'SLAMet' -> 'SLA MET?' 
'Service Technician' not clear and a lot of data

In [269]:
print(IncidentTicketdf['Completion SLA Met'])

0         0.0
1         0.0
2         0.0
3         1.0
4         1.0
         ...
266530    0.0
266531    0.0
266532    1.0
266533    1.0
266534    0.0
Name: Completion SLA Met, Length: 266535, dtype: float64

In [270]:
IncidentTicketdf1 = IncidentTicketdf[['Completion Date_2', 'Incident Category', 
                    'REPORTED_ON', 'Serial ID', 'Completion SLA Met', 'AuxTime']]
IncidentTicketdf1.rename(columns={'Completion SLA Met': 'SLA MET?'}, inplace=True)

C:\Users\msalomo\AppData\Local\Temp\ipykernel_17708\336651773.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IncidentTicketdf1.rename(columns={'Completion SLA Met': 'SLA MET?'}, inplace=True)

In [271]:
IncidentTicketdf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266535 entries, 0 to 266534
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Completion Date_2  265638 non-null  datetime64[ns]
 1   Incident Category  266535 non-null  object
 2   REPORTED_ON        266514 non-null  datetime64[ns]
 3   Serial ID          266535 non-null  object
 4   SLA MET?           265998 non-null  float64
 5   AuxTime            266535 non-null  object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 12.2+ MB

In [272]:
a = IncidentTicketdf1.loc[IncidentTicketdf1['Serial ID']==7010054129]
#a= IncidentTicketdf1.loc[IncidentTicketdf1['Serial ID']=='MYBMB20838']
a

,Completion Date_2,Incident Category,REPORTED_ON,Serial ID,SLA MET?,AuxTime
44898,2022-01-25,1.d Ingredient Other,2022-01-25 16:13:32,7010054129,1.0,Yes

In [273]:
IncidentTicketdf2 = IncidentTicketdf1.copy()
#IncidentTicketdf2['Completion Date_2'] = IncidentTicketdf2['Completion Date_2'].apply(str)
#IncidentTicketdf2['Completion Date_2'] = IncidentTicketdf2['Completion Date_2'].apply(lambda x: dateparser.parse(x))

In [274]:
IncidentTicketdf3 = IncidentTicketdf2.copy()
IncidentTicketdf3['Completion Date_2'] = pd.to_datetime(IncidentTicketdf3['Completion Date_2'], errors = 'coerce')
IncidentTicketdf3['Reported On'] = pd.to_datetime(IncidentTicketdf3['REPORTED_ON'], errors = 'coerce')

IncidentTicketdf3['Completion Date_2'] = IncidentTicketdf3['Completion Date_2'].fillna(dt.datetime(2000,1,1))
IncidentTicketdf3['Reported On'] = IncidentTicketdf3['Reported On'].fillna(dt.datetime(2000,1,1))

In [275]:
IncidentTicketdf3 = IncidentTicketdf3.loc[IncidentTicketdf3['Serial ID']!="#"]

In [276]:
def preprocess_InciTickets(df):
    # Work on a copy
    df = df.copy()

    nomi_vars = ['Incident Category', 'SLA MET?', 'AuxTime']
    
    dummy_columns = nomi_vars
        
    df = pd.get_dummies(df, columns=dummy_columns)

    return df

IncidentTicketdf_prep = preprocess_InciTickets(IncidentTicketdf3)
IncidentTicketdf_prep.head()

,Completion Date_2,REPORTED_ON,Serial ID,Reported On,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing,Incident Category_1.c Ingredient Dripping,Incident Category_1.d Ingredient Other,Incident Category_10 Abnormal smell,Incident Category_11 Electrical power,...,Incident Category_7 Wire/Harness,Incident Category_8 Software/Firmware,Incident Category_9 Abnormal noise,Incident Category_Low throughput,Incident Category_Requested by Customer,Incident Category_Scheduled,SLA MET?_0.0,SLA MET?_1.0,AuxTime_No,AuxTime_Yes
0,2021-10-05,2021-10-03 10:33:40,18E0017587,2021-10-03 10:33:40,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,2021-10-06,2021-10-04 08:39:22,Y105133985,2021-10-04 08:39:22,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
2,2021-10-06,2021-10-04 07:47:18,Y105133960,2021-10-04 07:47:18,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
3,2021-10-07,2021-10-06 05:35:47,Y105133933,2021-10-06 05:35:47,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,2021-10-08,2021-10-07 10:17:57,16E0023588,2021-10-07 10:17:57,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [277]:
IncidentTicketdf_prep.columns

Index(['Completion Date_2', 'REPORTED_ON', 'Serial ID', 'Reported On',
       'Incident Category_1.a Ingredient Calibration',
       'Incident Category_1.b Ingredient Dispensing',
       'Incident Category_1.c Ingredient Dripping',
       'Incident Category_1.d Ingredient Other',
       'Incident Category_10 Abnormal smell',
       'Incident Category_11 Electrical power',
       'Incident Category_12 Water supply issue',
       'Incident Category_13 Connectivity (modem)',
       'Incident Category_14 Accessory problem(external pump..)',
       'Incident Category_15 Return with parts',
       'Incident Category_16 Operator mishandling(improper fill..)',
       'Incident Category_17 Miscellaneous', 'Incident Category_18 N/A',
       'Incident Category_2.a Hydraulic Calibration',
       'Incident Category_2.b Hydraulic Dispensing',
       'Incident Category_2.c Hydraulic Leaking',
       'Incident Category_2.d Hydraulic Heating',
       'Incident Category_2.e Hydraulic Cooling/Freezing',
       'Incident Category_2.f Hydraulic Filling',
       'Incident Category_2.g Hydraulic Other',
       'Incident Category_3.a Door Display/Touchscreen',
       'Incident Category_3.b Door Menu buttons',
       'Incident Category_3.c Door Detection',
       'Incident Category_3.d Door Key/Key switch',
       'Incident Category_3.e Door Other',
       'Incident Category_4.a Reconst. Area In-cup quality/Recipes',
       'Incident Category_4.b Reconstitution Area Mixing system',
       'Incident Category_4.c Reconstitution Area Other',
       'Incident Category_5.a Disp. Area Manifold/Distribution',
       'Incident Category_5.b Dispensing Area Drip Tray',
       'Incident Category_5.c Dispensing Area Other',
       'Incident Category_6 Electronics (PCBs)',
       'Incident Category_7 Wire/Harness',
       'Incident Category_8 Software/Firmware',
       'Incident Category_9 Abnormal noise',
       'Incident Category_Low throughput',
       'Incident Category_Requested by Customer',
       'Incident Category_Scheduled', 'SLA MET?_0.0', 'SLA MET?_1.0',
       'AuxTime_No', 'AuxTime_Yes'],
      dtype='object')

In [278]:
IncidentTicketdf_prep = IncidentTicketdf_prep.sort_values('Completion Date_2')

I will not use 'Reported On' because I aggreagate and I do not want to make a delta anymore

In [279]:
IncidentTicketdf_prep2 = (IncidentTicketdf_prep.sort_values('Completion Date_2')
    .groupby(["Serial ID"])
                      .agg({'Completion Date_2' : lambda s: s.values[-1], 
       'Incident Category_1.a Ingredient Calibration' : 'sum',
       'Incident Category_1.b Ingredient Dispensing' : 'sum',
       'Incident Category_1.c Ingredient Dripping' : 'sum',
       'Incident Category_1.d Ingredient Other' : 'sum',
       'Incident Category_10 Abnormal smell' : 'sum',
       'Incident Category_11 Electrical power' : 'sum',
       'Incident Category_12 Water supply issue' : 'sum',
       'Incident Category_13 Connectivity (modem)' : 'sum',
       'Incident Category_14 Accessory problem(external pump..)' : 'sum',
       'Incident Category_15 Return with parts' : 'sum',
       'Incident Category_16 Operator mishandling(improper fill..)' : 'sum',
       'Incident Category_17 Miscellaneous': 'sum',
                            'Incident Category_18 N/A' : 'sum',
       'Incident Category_2.a Hydraulic Calibration' : 'sum',
       'Incident Category_2.b Hydraulic Dispensing' : 'sum',
       'Incident Category_2.c Hydraulic Leaking' : 'sum',
       'Incident Category_2.d Hydraulic Heating': 'sum',
       'Incident Category_2.e Hydraulic Cooling/Freezing': 'sum',
       'Incident Category_2.f Hydraulic Filling': 'sum',
       'Incident Category_2.g Hydraulic Other': 'sum',
       'Incident Category_3.a Door Display/Touchscreen': 'sum',
       'Incident Category_3.b Door Menu buttons': 'sum',
       'Incident Category_3.c Door Detection': 'sum',
       'Incident Category_3.d Door Key/Key switch': 'sum',
       'Incident Category_3.e Door Other': 'sum',
       'Incident Category_4.a Reconst. Area In-cup quality/Recipes': 'sum',
       'Incident Category_4.b Reconstitution Area Mixing system': 'sum',
       'Incident Category_4.c Reconstitution Area Other': 'sum',
       'Incident Category_5.a Disp. Area Manifold/Distribution': 'sum',
       'Incident Category_5.b Dispensing Area Drip Tray': 'sum',
       'Incident Category_5.c Dispensing Area Other': 'sum',
       'Incident Category_6 Electronics (PCBs)': 'sum',
       'Incident Category_7 Wire/Harness': 'sum',
       'Incident Category_8 Software/Firmware': 'sum',
       'Incident Category_9 Abnormal noise': 'sum',
                            'SLA MET?_0.0': 'sum',
                            'SLA MET?_1.0': 'sum',
                            'AuxTime_No': 'sum', 
                            'AuxTime_Yes': 'sum'})
)

In [280]:
IncidentTicketdf_prep2['Last_InTick_diff_months'] = ChurnDate2 - IncidentTicketdf_prep2['Completion Date_2']

IncidentTicketdf_prep2['Last_InTick_diff_months'] = IncidentTicketdf_prep2['Last_InTick_diff_months']/np.timedelta64(1,'M')

In [281]:
IncidentTicketdf_prep2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77930 entries, 210 to ZA978
Data columns (total 41 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Completion Date_2                                           77930 non-null  datetime64[ns]
 1   Incident Category_1.a Ingredient Calibration                77930 non-null  uint8
 2   Incident Category_1.b Ingredient Dispensing                 77930 non-null  uint8
 3   Incident Category_1.c Ingredient Dripping                   77930 non-null  uint8
 4   Incident Category_1.d Ingredient Other                      77930 non-null  uint8
 5   Incident Category_10 Abnormal smell                         77930 non-null  uint8
 6   Incident Category_11 Electrical power                       77930 non-null  uint8
 7   Incident Category_12 Water supply issue                     77930 non-null  uint8
 8   Incident Category_13 Connectivity (modem)                   77930 non-null  uint8
 9   Incident Category_14 Accessory problem(external pump..)     77930 non-null  uint8
 10  Incident Category_15 Return with parts                      77930 non-null  uint8
 11  Incident Category_16 Operator mishandling(improper fill..)  77930 non-null  uint8
 12  Incident Category_17 Miscellaneous                          77930 non-null  uint8
 13  Incident Category_18 N/A                                    77930 non-null  uint8
 14  Incident Category_2.a Hydraulic Calibration                 77930 non-null  uint8
 15  Incident Category_2.b Hydraulic Dispensing                  77930 non-null  uint8
 16  Incident Category_2.c Hydraulic Leaking                     77930 non-null  uint8
 17  Incident Category_2.d Hydraulic Heating                     77930 non-null  uint8
 18  Incident Category_2.e Hydraulic Cooling/Freezing            77930 non-null  uint8
 19  Incident Category_2.f Hydraulic Filling                     77930 non-null  uint8
 20  Incident Category_2.g Hydraulic Other                       77930 non-null  uint8
 21  Incident Category_3.a Door Display/Touchscreen              77930 non-null  uint8
 22  Incident Category_3.b Door Menu buttons                     77930 non-null  uint8
 23  Incident Category_3.c Door Detection                        77930 non-null  uint8
 24  Incident Category_3.d Door Key/Key switch                   77930 non-null  uint8
 25  Incident Category_3.e Door Other                            77930 non-null  uint8
 26  Incident Category_4.a Reconst. Area In-cup quality/Recipes  77930 non-null  uint8
 27  Incident Category_4.b Reconstitution Area Mixing system     77930 non-null  uint8
 28  Incident Category_4.c Reconstitution Area Other             77930 non-null  uint8
 29  Incident Category_5.a Disp. Area Manifold/Distribution      77930 non-null  uint8
 30  Incident Category_5.b Dispensing Area Drip Tray             77930 non-null  uint8
 31  Incident Category_5.c Dispensing Area Other                 77930 non-null  uint8
 32  Incident Category_6 Electronics (PCBs)                      77930 non-null  uint8
 33  Incident Category_7 Wire/Harness                            77930 non-null  uint8
 34  Incident Category_8 Software/Firmware                       77930 non-null  uint8
 35  Incident Category_9 Abnormal noise                          77930 non-null  uint8
 36  SLA MET?_0.0                                                77930 non-null  uint8
 37  SLA MET?_1.0                                                77930 non-null  uint8
 38  AuxTime_No                                                  77930 non-null  uint8
 39  AuxTime_Yes                                                 77930 non-null  uint8
 40  Last_InTick_diff_months                                     77930 non-null  float64
dtypes: datetime64[ns](1), float64(1), uint8(39)
memory usage: 4.7+ MB

In [282]:
IncidentTicketdf_prep2 = IncidentTicketdf_prep2.reset_index()
IncidentTicketdf_prep2.head()

,Serial ID,Completion Date_2,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing,Incident Category_1.c Ingredient Dripping,Incident Category_1.d Ingredient Other,Incident Category_10 Abnormal smell,Incident Category_11 Electrical power,Incident Category_12 Water supply issue,Incident Category_13 Connectivity (modem),...,Incident Category_5.c Dispensing Area Other,Incident Category_6 Electronics (PCBs),Incident Category_7 Wire/Harness,Incident Category_8 Software/Firmware,Incident Category_9 Abnormal noise,SLA MET?_0.0,SLA MET?_1.0,AuxTime_No,AuxTime_Yes,Last_InTick_diff_months
0,210,2021-10-20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,34.366209
1,1003,2023-11-22,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,2,9.297932
2,1012,2023-09-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,11.992033
3,2100,2024-01-09,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,2,7.720898
4,7265,2024-09-04,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,2,-0.131420

#### Data with all
Let's see what we can get if we include Telemetry, sales and Tickets

In [283]:

BeverageMachine7_wTickets_df['Manufacturer Number'] = BeverageMachine7_wTickets_df['Manufacturer Number'].astype('str')
Concat_Telemetry['serial'] = Concat_Telemetry['serial'].astype('str')

In [284]:
BeverageMachine7_wTickets_wTelemetry_df = pd.merge(BeverageMachine7_wTickets_df, Concat_Telemetry, how='left', left_on = ['Manufacturer Number'], right_on = ['serial'])

BeverageMachine7_wTickets_wTelemetry_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 0 to 259140
Data columns (total 62 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        259141 non-null  object
 1   Sales Organisation                                               259141 non-null  object
 2   Machine Status Groupings                                         259141 non-null  object
 3   User Status                                                      259141 non-null  object
 4   TA Contract Installation Date                                    259141 non-null  int32
 5   Depreciation Start                                               259141 non-null  int32
 6   Manufacturer Number                                              259141 non-null  object
 7   Position                                                         259141 non-null  object
 8   TA Contract Start Date                                           259141 non-null  int32
 9   TA Contract End Date                                             259141 non-null  int32
 10  TA Usage Indicator                                               259141 non-null  object
 11  Account ID                                                       259141 non-null  object
 12  EC ID                                                            259141 non-null  object
 13  EC Name                                                          259141 non-null  object
 14  Account ABC Classification (Account ID)                          259141 non-null  object
 15  Industry (Account ID)                                            259141 non-null  object
 16  Industry Code 1 (Account ID)                                     259141 non-null  object
 17  Account ABC Classification (EC ID)                               259141 non-null  object
 18  Industry (EC ID)                                                 259141 non-null  object
 19  Industry Code 1 (EC ID)                                          259141 non-null  object
 20  Parent Installation Point ID                                     259141 non-null  object
 21  Registered Product Category (Registered Product ID)              259141 non-null  object
 22  Model                                                            259141 non-null  object
 23  Model Vendor                                                     259141 non-null  object
 24  Model Category                                                   259141 non-null  object
 25  Model Group                                                      259141 non-null  object
 26  Beverage Temperature                                             259141 non-null  object
 27  System Brands                                                    259141 non-null  object
 28  Ingredient Format                                                259141 non-null  object
 29  Machine Type                                                     259141 non-null  object
 30  Positionning                                                     259141 non-null  object
 31  Generation                                                       259141 non-null  object
 32  Blueprint Throughput                                             259141 non-null  object
 33  IP Ownership                                                     259141 non-null  object
 34  Calendar Date                                                    259141 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      259141 non-null  object
 36  City                                                             259141 non-null  object
 37  State                                                            259141 non-null  object
 38  Postal Code                                                      259141 non-null  object
 39  Churn                                                            259141 non-null  bool
 40  Service Category_Installation                                    259141 non-null  float64
 41  Service Category_Removal                                         259141 non-null  float64
 42  Service Category_Replacement                                     259141 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                259141 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       259141 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   259141 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      259141 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               259141 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  259141 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              259141 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              259141 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   259141 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            259141 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      259141 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  259141 non-null  float64
 55  serial                                                           20747 non-null   object
 56  quantity                                                         20747 non-null   float64
 57  one_month_avg                                                    20747 non-null   float64
 58  three_months_avg                                                 20747 non-null   float64
 59  six_months_avg                                                   20747 non-null   float64
 60  (lst_mth-6mth)/6mth                                              20747 non-null   float64
 61  3mth-6mth)/6mth                                                  20747 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(21), int32(4), object(35)
memory usage: 118.9+ MB

In [285]:
BeverageMachine7_wTickets_wTelemetry_df = pd.merge(BeverageMachine7_wTickets_df, Concat_Telemetry, how='left', left_on = ['Manufacturer Number'], right_on = ['serial'])
BeverageMachine7_wTickets_wTelemetry_df=BeverageMachine7_wTickets_wTelemetry_df.fillna(0)
BeverageMachine7_wTickets_wTelemetry_df["quantity"] = BeverageMachine7_wTickets_wTelemetry_df["quantity"].astype(int)
BeverageMachine7_wTickets_wTelemetry_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 0 to 259140
Data columns (total 62 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        259141 non-null  object
 1   Sales Organisation                                               259141 non-null  object
 2   Machine Status Groupings                                         259141 non-null  object
 3   User Status                                                      259141 non-null  object
 4   TA Contract Installation Date                                    259141 non-null  int32
 5   Depreciation Start                                               259141 non-null  int32
 6   Manufacturer Number                                              259141 non-null  object
 7   Position                                                         259141 non-null  object
 8   TA Contract Start Date                                           259141 non-null  int32
 9   TA Contract End Date                                             259141 non-null  int32
 10  TA Usage Indicator                                               259141 non-null  object
 11  Account ID                                                       259141 non-null  object
 12  EC ID                                                            259141 non-null  object
 13  EC Name                                                          259141 non-null  object
 14  Account ABC Classification (Account ID)                          259141 non-null  object
 15  Industry (Account ID)                                            259141 non-null  object
 16  Industry Code 1 (Account ID)                                     259141 non-null  object
 17  Account ABC Classification (EC ID)                               259141 non-null  object
 18  Industry (EC ID)                                                 259141 non-null  object
 19  Industry Code 1 (EC ID)                                          259141 non-null  object
 20  Parent Installation Point ID                                     259141 non-null  object
 21  Registered Product Category (Registered Product ID)              259141 non-null  object
 22  Model                                                            259141 non-null  object
 23  Model Vendor                                                     259141 non-null  object
 24  Model Category                                                   259141 non-null  object
 25  Model Group                                                      259141 non-null  object
 26  Beverage Temperature                                             259141 non-null  object
 27  System Brands                                                    259141 non-null  object
 28  Ingredient Format                                                259141 non-null  object
 29  Machine Type                                                     259141 non-null  object
 30  Positionning                                                     259141 non-null  object
 31  Generation                                                       259141 non-null  object
 32  Blueprint Throughput                                             259141 non-null  object
 33  IP Ownership                                                     259141 non-null  object
 34  Calendar Date                                                    259141 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      259141 non-null  object
 36  City                                                             259141 non-null  object
 37  State                                                            259141 non-null  object
 38  Postal Code                                                      259141 non-null  object
 39  Churn                                                            259141 non-null  bool
 40  Service Category_Installation                                    259141 non-null  float64
 41  Service Category_Removal                                         259141 non-null  float64
 42  Service Category_Replacement                                     259141 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                259141 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       259141 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   259141 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      259141 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               259141 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  259141 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              259141 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              259141 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   259141 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            259141 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      259141 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  259141 non-null  float64
 55  serial                                                           259141 non-null  object
 56  quantity                                                         259141 non-null  int32
 57  one_month_avg                                                    259141 non-null  float64
 58  three_months_avg                                                 259141 non-null  float64
 59  six_months_avg                                                   259141 non-null  float64
 60  (lst_mth-6mth)/6mth                                              259141 non-null  float64
 61  3mth-6mth)/6mth                                                  259141 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(20), int32(5), object(35)
memory usage: 117.9+ MB

In [286]:
A= Concat_Sales.drop_duplicates(subset= 'KeyManufNo_SalesOrg')
A.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110292 entries, 0 to 22969
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Serial                  110292 non-null  object
 1   quantity                110292 non-null  float64
 2   Sales_one_Month_avg     110292 non-null  float64
 3   Sales_three_months_avg  110292 non-null  float64
 4   Sales_six_months_avg    110292 non-null  float64
 5   KeyManufNo_SalesOrg     110292 non-null  object
 6   (lst_mth-6mth)/6mth     110292 non-null  float64
 7   3mth-6mth)/6mth         110292 non-null  float64
dtypes: float64(6), object(2)
memory usage: 7.6+ MB

In [287]:
Concat_Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110292 entries, 0 to 22969
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Serial                  110292 non-null  object
 1   quantity                110292 non-null  float64
 2   Sales_one_Month_avg     110292 non-null  float64
 3   Sales_three_months_avg  110292 non-null  float64
 4   Sales_six_months_avg    110292 non-null  float64
 5   KeyManufNo_SalesOrg     110292 non-null  object
 6   (lst_mth-6mth)/6mth     110292 non-null  float64
 7   3mth-6mth)/6mth         110292 non-null  float64
dtypes: float64(6), object(2)
memory usage: 7.6+ MB

In [288]:
BeverageMachine7_wTickets_wTelemetry_wSales_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_df, Concat_Sales, how='left', left_on = ['Key_ManufacturerID_SalesOrg'], right_on = ['KeyManufNo_SalesOrg'])
BeverageMachine7_wTickets_wTelemetry_wSales_df = BeverageMachine7_wTickets_wTelemetry_wSales_df.fillna(0)
BeverageMachine7_wTickets_wTelemetry_wSales_df["quantity_y"] = BeverageMachine7_wTickets_wTelemetry_wSales_df["quantity_y"].astype(int)
BeverageMachine7_wTickets_wTelemetry_wSales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 0 to 259140
Data columns (total 70 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        259141 non-null  object
 1   Sales Organisation                                               259141 non-null  object
 2   Machine Status Groupings                                         259141 non-null  object
 3   User Status                                                      259141 non-null  object
 4   TA Contract Installation Date                                    259141 non-null  int32
 5   Depreciation Start                                               259141 non-null  int32
 6   Manufacturer Number                                              259141 non-null  object
 7   Position                                                         259141 non-null  object
 8   TA Contract Start Date                                           259141 non-null  int32
 9   TA Contract End Date                                             259141 non-null  int32
 10  TA Usage Indicator                                               259141 non-null  object
 11  Account ID                                                       259141 non-null  object
 12  EC ID                                                            259141 non-null  object
 13  EC Name                                                          259141 non-null  object
 14  Account ABC Classification (Account ID)                          259141 non-null  object
 15  Industry (Account ID)                                            259141 non-null  object
 16  Industry Code 1 (Account ID)                                     259141 non-null  object
 17  Account ABC Classification (EC ID)                               259141 non-null  object
 18  Industry (EC ID)                                                 259141 non-null  object
 19  Industry Code 1 (EC ID)                                          259141 non-null  object
 20  Parent Installation Point ID                                     259141 non-null  object
 21  Registered Product Category (Registered Product ID)              259141 non-null  object
 22  Model                                                            259141 non-null  object
 23  Model Vendor                                                     259141 non-null  object
 24  Model Category                                                   259141 non-null  object
 25  Model Group                                                      259141 non-null  object
 26  Beverage Temperature                                             259141 non-null  object
 27  System Brands                                                    259141 non-null  object
 28  Ingredient Format                                                259141 non-null  object
 29  Machine Type                                                     259141 non-null  object
 30  Positionning                                                     259141 non-null  object
 31  Generation                                                       259141 non-null  object
 32  Blueprint Throughput                                             259141 non-null  object
 33  IP Ownership                                                     259141 non-null  object
 34  Calendar Date                                                    259141 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      259141 non-null  object
 36  City                                                             259141 non-null  object
 37  State                                                            259141 non-null  object
 38  Postal Code                                                      259141 non-null  object
 39  Churn                                                            259141 non-null  bool
 40  Service Category_Installation                                    259141 non-null  float64
 41  Service Category_Removal                                         259141 non-null  float64
 42  Service Category_Replacement                                     259141 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                259141 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       259141 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   259141 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      259141 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               259141 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  259141 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              259141 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              259141 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   259141 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            259141 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      259141 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  259141 non-null  float64
 55  serial                                                           259141 non-null  object
 56  quantity_x                                                       259141 non-null  int32
 57  one_month_avg                                                    259141 non-null  float64
 58  three_months_avg                                                 259141 non-null  float64
 59  six_months_avg                                                   259141 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            259141 non-null  float64
 61  3mth-6mth)/6mth_x                                                259141 non-null  float64
 62  Serial                                                           259141 non-null  object
 63  quantity_y                                                       259141 non-null  int32
 64  Sales_one_Month_avg                                              259141 non-null  float64
 65  Sales_three_months_avg                                           259141 non-null  float64
 66  Sales_six_months_avg                                             259141 non-null  float64
 67  KeyManufNo_SalesOrg                                              259141 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            259141 non-null  float64
 69  3mth-6mth)/6mth_y                                                259141 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(25), int32(6), object(37)
memory usage: 132.7+ MB

In [289]:
BeverageMachine7_wTickets_wTelemetry_wSales_df['EC ID'] = BeverageMachine7_wTickets_wTelemetry_wSales_df['EC ID'].astype('str')
Visitsdf_wVisits['Acc_ID'] = Visitsdf_wVisits['Acc_ID'].astype('str')

In [290]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_wSales_df, Visitsdf_wVisits, how='left', left_on = ['EC ID'], right_on = ['Acc_ID'])
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'] = pd.to_datetime(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'])
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'] = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df['End Date in Local Time Zone'].fillna(dt.datetime(2000,1,1))
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df.fillna(0)

In [291]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 0 to 259140
Data columns (total 83 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        259141 non-null  object
 1   Sales Organisation                                               259141 non-null  object
 2   Machine Status Groupings                                         259141 non-null  object
 3   User Status                                                      259141 non-null  object
 4   TA Contract Installation Date                                    259141 non-null  int32
 5   Depreciation Start                                               259141 non-null  int32
 6   Manufacturer Number                                              259141 non-null  object
 7   Position                                                         259141 non-null  object
 8   TA Contract Start Date                                           259141 non-null  int32
 9   TA Contract End Date                                             259141 non-null  int32
 10  TA Usage Indicator                                               259141 non-null  object
 11  Account ID                                                       259141 non-null  object
 12  EC ID                                                            259141 non-null  object
 13  EC Name                                                          259141 non-null  object
 14  Account ABC Classification (Account ID)                          259141 non-null  object
 15  Industry (Account ID)                                            259141 non-null  object
 16  Industry Code 1 (Account ID)                                     259141 non-null  object
 17  Account ABC Classification (EC ID)                               259141 non-null  object
 18  Industry (EC ID)                                                 259141 non-null  object
 19  Industry Code 1 (EC ID)                                          259141 non-null  object
 20  Parent Installation Point ID                                     259141 non-null  object
 21  Registered Product Category (Registered Product ID)              259141 non-null  object
 22  Model                                                            259141 non-null  object
 23  Model Vendor                                                     259141 non-null  object
 24  Model Category                                                   259141 non-null  object
 25  Model Group                                                      259141 non-null  object
 26  Beverage Temperature                                             259141 non-null  object
 27  System Brands                                                    259141 non-null  object
 28  Ingredient Format                                                259141 non-null  object
 29  Machine Type                                                     259141 non-null  object
 30  Positionning                                                     259141 non-null  object
 31  Generation                                                       259141 non-null  object
 32  Blueprint Throughput                                             259141 non-null  object
 33  IP Ownership                                                     259141 non-null  object
 34  Calendar Date                                                    259141 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      259141 non-null  object
 36  City                                                             259141 non-null  object
 37  State                                                            259141 non-null  object
 38  Postal Code                                                      259141 non-null  object
 39  Churn                                                            259141 non-null  bool
 40  Service Category_Installation                                    259141 non-null  float64
 41  Service Category_Removal                                         259141 non-null  float64
 42  Service Category_Replacement                                     259141 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                259141 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       259141 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   259141 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      259141 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               259141 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  259141 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              259141 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              259141 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   259141 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            259141 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      259141 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  259141 non-null  float64
 55  serial                                                           259141 non-null  object
 56  quantity_x                                                       259141 non-null  int32
 57  one_month_avg                                                    259141 non-null  float64
 58  three_months_avg                                                 259141 non-null  float64
 59  six_months_avg                                                   259141 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            259141 non-null  float64
 61  3mth-6mth)/6mth_x                                                259141 non-null  float64
 62  Serial                                                           259141 non-null  object
 63  quantity_y                                                       259141 non-null  int32
 64  Sales_one_Month_avg                                              259141 non-null  float64
 65  Sales_three_months_avg                                           259141 non-null  float64
 66  Sales_six_months_avg                                             259141 non-null  float64
 67  KeyManufNo_SalesOrg                                              259141 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            259141 non-null  float64
 69  3mth-6mth)/6mth_y                                                259141 non-null  float64
 70  Acc_ID                                                           259141 non-null  object
 71  End Date in Local Time Zone                                      259141 non-null  datetime64[ns]
 72  Result_Incomplete Selling Call                                   259141 non-null  float64
 73  Result_Not assigned                                              259141 non-null  float64
 74  Result_Objective Met                                             259141 non-null  float64
 75  Result_Objective Partially Met                                   259141 non-null  float64
 76  Result_Requires Further Follow-up                                259141 non-null  float64
 77  Result_Unsuccessful Selling Call                                 259141 non-null  float64
 78  Activity Life Cycle Status_Canceled                              259141 non-null  float64
 79  Activity Life Cycle Status_In Process                            259141 non-null  float64
 80  Activity Life Cycle Status_Open                                  259141 non-null  float64
 81  Last_visit_diff_months                                           259141 non-null  float64
 82  #Visits completed                                                259141 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(36), int32(6), object(38)
memory usage: 158.4+ MB

In [292]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df.head()

,Serial ID,Sales Organisation,Machine Status Groupings,User Status,TA Contract Installation Date,Depreciation Start,Manufacturer Number,Position,TA Contract Start Date,TA Contract End Date,...,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,Activity Life Cycle Status_Canceled,Activity Life Cycle Status_In Process,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed
0,21O0014796,Thailand,Deployed,Installed,0,44713,20211410508,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,TH10215188,Thailand,Deployed,Installed,0,43616,T404732,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22O0026467,Thailand,Deployed,Installed,0,45231,310162210,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TH10234252,Thailand,Deployed,Installed,0,44621,T504191,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TH10227779,Thailand,Deployed,Installed,0,43951,T473814,#,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [293]:
PhoneCallsdf_prep3 = PhoneCallsdf_prep3.reset_index()

In [294]:
PhoneCallsdf_prep3['Account Name'] = PhoneCallsdf_prep3['Account Name'].astype('str')

In [295]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_df, PhoneCallsdf_prep3, how='left', left_on = ['EC ID'], right_on = ['Account Name'])
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 0 to 259140
Data columns (total 87 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        259141 non-null  object
 1   Sales Organisation                                               259141 non-null  object
 2   Machine Status Groupings                                         259141 non-null  object
 3   User Status                                                      259141 non-null  object
 4   TA Contract Installation Date                                    259141 non-null  int32
 5   Depreciation Start                                               259141 non-null  int32
 6   Manufacturer Number                                              259141 non-null  object
 7   Position                                                         259141 non-null  object
 8   TA Contract Start Date                                           259141 non-null  int32
 9   TA Contract End Date                                             259141 non-null  int32
 10  TA Usage Indicator                                               259141 non-null  object
 11  Account ID                                                       259141 non-null  object
 12  EC ID                                                            259141 non-null  object
 13  EC Name                                                          259141 non-null  object
 14  Account ABC Classification (Account ID)                          259141 non-null  object
 15  Industry (Account ID)                                            259141 non-null  object
 16  Industry Code 1 (Account ID)                                     259141 non-null  object
 17  Account ABC Classification (EC ID)                               259141 non-null  object
 18  Industry (EC ID)                                                 259141 non-null  object
 19  Industry Code 1 (EC ID)                                          259141 non-null  object
 20  Parent Installation Point ID                                     259141 non-null  object
 21  Registered Product Category (Registered Product ID)              259141 non-null  object
 22  Model                                                            259141 non-null  object
 23  Model Vendor                                                     259141 non-null  object
 24  Model Category                                                   259141 non-null  object
 25  Model Group                                                      259141 non-null  object
 26  Beverage Temperature                                             259141 non-null  object
 27  System Brands                                                    259141 non-null  object
 28  Ingredient Format                                                259141 non-null  object
 29  Machine Type                                                     259141 non-null  object
 30  Positionning                                                     259141 non-null  object
 31  Generation                                                       259141 non-null  object
 32  Blueprint Throughput                                             259141 non-null  object
 33  IP Ownership                                                     259141 non-null  object
 34  Calendar Date                                                    259141 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      259141 non-null  object
 36  City                                                             259141 non-null  object
 37  State                                                            259141 non-null  object
 38  Postal Code                                                      259141 non-null  object
 39  Churn                                                            259141 non-null  bool
 40  Service Category_Installation                                    259141 non-null  float64
 41  Service Category_Removal                                         259141 non-null  float64
 42  Service Category_Replacement                                     259141 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                259141 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       259141 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   259141 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      259141 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               259141 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  259141 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              259141 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              259141 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   259141 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            259141 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      259141 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  259141 non-null  float64
 55  serial                                                           259141 non-null  object
 56  quantity_x                                                       259141 non-null  int32
 57  one_month_avg                                                    259141 non-null  float64
 58  three_months_avg                                                 259141 non-null  float64
 59  six_months_avg                                                   259141 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            259141 non-null  float64
 61  3mth-6mth)/6mth_x                                                259141 non-null  float64
 62  Serial                                                           259141 non-null  object
 63  quantity_y                                                       259141 non-null  int32
 64  Sales_one_Month_avg                                              259141 non-null  float64
 65  Sales_three_months_avg                                           259141 non-null  float64
 66  Sales_six_months_avg                                             259141 non-null  float64
 67  KeyManufNo_SalesOrg                                              259141 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            259141 non-null  float64
 69  3mth-6mth)/6mth_y                                                259141 non-null  float64
 70  Acc_ID                                                           259141 non-null  object
 71  End Date in Local Time Zone_x                                    259141 non-null  datetime64[ns]
 72  Result_Incomplete Selling Call                                   259141 non-null  float64
 73  Result_Not assigned                                              259141 non-null  float64
 74  Result_Objective Met                                             259141 non-null  float64
 75  Result_Objective Partially Met                                   259141 non-null  float64
 76  Result_Requires Further Follow-up                                259141 non-null  float64
 77  Result_Unsuccessful Selling Call                                 259141 non-null  float64
 78  Activity Life Cycle Status_Canceled                              259141 non-null  float64
 79  Activity Life Cycle Status_In Process                            259141 non-null  float64
 80  Activity Life Cycle Status_Open                                  259141 non-null  float64
 81  Last_visit_diff_months                                           259141 non-null  float64
 82  #Visits completed                                                259141 non-null  float64
 83  Account Name                                                     0 non-null       object
 84  End Date in Local Time Zone_y                                    0 non-null       datetime64[ns]
 85  Last_call_diff_months                                            0 non-null       float64
 86  #Calls Completed                                                 0 non-null       float64
dtypes: bool(1), datetime64[ns](3), float64(38), int32(6), object(39)
memory usage: 166.3+ MB

In [296]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'] = pd.to_datetime(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'])

BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'] = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df['End Date in Local Time Zone_y'].fillna(dt.datetime(2000,1,1))
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df = BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df.fillna(0)

In [297]:
BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 0 to 259140
Data columns (total 87 columns):
 #   Column                                                           Non-Null Count   Dtype
---  ------                                                           --------------   -----
 0   Serial ID                                                        259141 non-null  object
 1   Sales Organisation                                               259141 non-null  object
 2   Machine Status Groupings                                         259141 non-null  object
 3   User Status                                                      259141 non-null  object
 4   TA Contract Installation Date                                    259141 non-null  int32
 5   Depreciation Start                                               259141 non-null  int32
 6   Manufacturer Number                                              259141 non-null  object
 7   Position                                                         259141 non-null  object
 8   TA Contract Start Date                                           259141 non-null  int32
 9   TA Contract End Date                                             259141 non-null  int32
 10  TA Usage Indicator                                               259141 non-null  object
 11  Account ID                                                       259141 non-null  object
 12  EC ID                                                            259141 non-null  object
 13  EC Name                                                          259141 non-null  object
 14  Account ABC Classification (Account ID)                          259141 non-null  object
 15  Industry (Account ID)                                            259141 non-null  object
 16  Industry Code 1 (Account ID)                                     259141 non-null  object
 17  Account ABC Classification (EC ID)                               259141 non-null  object
 18  Industry (EC ID)                                                 259141 non-null  object
 19  Industry Code 1 (EC ID)                                          259141 non-null  object
 20  Parent Installation Point ID                                     259141 non-null  object
 21  Registered Product Category (Registered Product ID)              259141 non-null  object
 22  Model                                                            259141 non-null  object
 23  Model Vendor                                                     259141 non-null  object
 24  Model Category                                                   259141 non-null  object
 25  Model Group                                                      259141 non-null  object
 26  Beverage Temperature                                             259141 non-null  object
 27  System Brands                                                    259141 non-null  object
 28  Ingredient Format                                                259141 non-null  object
 29  Machine Type                                                     259141 non-null  object
 30  Positionning                                                     259141 non-null  object
 31  Generation                                                       259141 non-null  object
 32  Blueprint Throughput                                             259141 non-null  object
 33  IP Ownership                                                     259141 non-null  object
 34  Calendar Date                                                    259141 non-null  datetime64[ns]
 35  Key_ManufacturerID_SalesOrg                                      259141 non-null  object
 36  City                                                             259141 non-null  object
 37  State                                                            259141 non-null  object
 38  Postal Code                                                      259141 non-null  object
 39  Churn                                                            259141 non-null  bool
 40  Service Category_Installation                                    259141 non-null  float64
 41  Service Category_Removal                                         259141 non-null  float64
 42  Service Category_Replacement                                     259141 non-null  float64
 43  INCIDENT_CATEGORY_DESCRIPTION_Customer relocation                259141 non-null  float64
 44  INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales       259141 non-null  float64
 45  INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix                   259141 non-null  float64
 46  INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation      259141 non-null  float64
 47  INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair               259141 non-null  float64
 48  INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point  259141 non-null  float64
 49  INCIDENT_CATEGORY_DESCRIPTION_Renew                              259141 non-null  float64
 50  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation              259141 non-null  float64
 51  INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal                   259141 non-null  float64
 52  INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show            259141 non-null  float64
 53  INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other                      259141 non-null  float64
 54  INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade                  259141 non-null  float64
 55  serial                                                           259141 non-null  object
 56  quantity_x                                                       259141 non-null  int32
 57  one_month_avg                                                    259141 non-null  float64
 58  three_months_avg                                                 259141 non-null  float64
 59  six_months_avg                                                   259141 non-null  float64
 60  (lst_mth-6mth)/6mth_x                                            259141 non-null  float64
 61  3mth-6mth)/6mth_x                                                259141 non-null  float64
 62  Serial                                                           259141 non-null  object
 63  quantity_y                                                       259141 non-null  int32
 64  Sales_one_Month_avg                                              259141 non-null  float64
 65  Sales_three_months_avg                                           259141 non-null  float64
 66  Sales_six_months_avg                                             259141 non-null  float64
 67  KeyManufNo_SalesOrg                                              259141 non-null  object
 68  (lst_mth-6mth)/6mth_y                                            259141 non-null  float64
 69  3mth-6mth)/6mth_y                                                259141 non-null  float64
 70  Acc_ID                                                           259141 non-null  object
 71  End Date in Local Time Zone_x                                    259141 non-null  datetime64[ns]
 72  Result_Incomplete Selling Call                                   259141 non-null  float64
 73  Result_Not assigned                                              259141 non-null  float64
 74  Result_Objective Met                                             259141 non-null  float64
 75  Result_Objective Partially Met                                   259141 non-null  float64
 76  Result_Requires Further Follow-up                                259141 non-null  float64
 77  Result_Unsuccessful Selling Call                                 259141 non-null  float64
 78  Activity Life Cycle Status_Canceled                              259141 non-null  float64
 79  Activity Life Cycle Status_In Process                            259141 non-null  float64
 80  Activity Life Cycle Status_Open                                  259141 non-null  float64
 81  Last_visit_diff_months                                           259141 non-null  float64
 82  #Visits completed                                                259141 non-null  float64
 83  Account Name                                                     259141 non-null  int64
 84  End Date in Local Time Zone_y                                    259141 non-null  datetime64[ns]
 85  Last_call_diff_months                                            259141 non-null  float64
 86  #Calls Completed                                                 259141 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(38), int32(6), int64(1), object(38)
memory usage: 166.3+ MB

In [298]:
IncidentTicketdf_prep2['Serial ID'] = IncidentTicketdf_prep2['Serial ID'].astype('str')

In [299]:
IncidentTicketdf_prep2['Serial ID'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 77930 entries, 0 to 77929
Series name: Serial ID
Non-Null Count  Dtype
--------------  -----
77930 non-null  object
dtypes: object(1)
memory usage: 609.0+ KB

In [300]:
BeverageMachine_all_df = pd.merge(BeverageMachine7_wTickets_wTelemetry_wSales_wVisits_wCalls_df, IncidentTicketdf_prep2, how='left', left_on = ['Serial ID'], right_on = ['Serial ID'])
BeverageMachine_all_df['Completion Date_2'] = pd.to_datetime(BeverageMachine_all_df['Completion Date_2'])
BeverageMachine_all_df['Completion Date_2'] = BeverageMachine_all_df['Completion Date_2'].fillna(dt.datetime(2000,1,1))
BeverageMachine_all_df = BeverageMachine_all_df.fillna(0)

In [301]:
f=BeverageMachine_all_df.loc[BeverageMachine_all_df['Serial ID']=='7010054129']
f.iloc[:20,80:100]

,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed,Account Name,End Date in Local Time Zone_y,Last_call_diff_months,#Calls Completed,Completion Date_2,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing,Incident Category_1.c Ingredient Dripping,Incident Category_1.d Ingredient Other,Incident Category_10 Abnormal smell,Incident Category_11 Electrical power,Incident Category_12 Water supply issue,Incident Category_13 Connectivity (modem),Incident Category_14 Accessory problem(external pump..),Incident Category_15 Return with parts,Incident Category_16 Operator mishandling(improper fill..),Incident Category_17 Miscellaneous
55274,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2022-01-25,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204190,0.0,0.000000,0.0,0,2000-01-01,0.0,0.0,2022-01-25,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
246714,0.0,17.971622,1.0,0,2000-01-01,0.0,0.0,2022-01-25,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [302]:
MktActions_prep3 = MktActions_prep3.reset_index()
MktActions_prep3

,Serial ID,Actions_Churn risk reason unknown,Actions_Data corrected,Actions_Downgrade machine installed,Actions_Lack of data discipline,Actions_New contract,Actions_Other,Actions_Out of order,Actions_Phone Call completed,Actions_Plan for removal,...,Actions_Removed,Actions_Reviewed and no action Required,Actions_Reviewed and no actions required,Actions_Seasonal Machine,Actions_Telemetry installed,Actions_Upgrade machine installed,Actions_Visit completed,Actions_Visit/Call planned,Actions_removed,Actions_tagging update
0,24606,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1895151,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10238090,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10238091,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,10238092,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,T348033,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1384,T348040,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1385,T348082,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1386,T392705,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1387,T487736,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [303]:
MktActions_prep3['Serial ID'] = MktActions_prep3['Serial ID'].astype('str')

In [304]:

BeverageMachine_all_df2 = pd.merge(BeverageMachine_all_df, MktActions_prep3, how='left', left_on = ['Serial ID'], right_on = ['Serial ID'])
#BeverageMachine_all_df['Completion Date_2'] = pd.to_datetime(BeverageMachine_all_df['Completion Date_2'])
#BeverageMachine_all_df['Completion Date_2'] = BeverageMachine_all_df['Completion Date_2'].fillna(dt.datetime(2000,1,1))
BeverageMachine_all_df2 = BeverageMachine_all_df2.fillna(0)

BeverageMachine_all_df = BeverageMachine_all_df2

UKService_prep2 = UKService_prep2.reset_index()

BeverageMachine_all_df2 = pd.merge(BeverageMachine_all_df, UKService_prep2, how='left', left_on = ['Key_ManufacturerID_SalesOrg'], right_on = ['Key_ManufacturerID_SalesOrg'])
BeverageMachine_all_df2['Month'] = pd.to_datetime(BeverageMachine_all_df2['Month'])
BeverageMachine_all_df2['Month'] = BeverageMachine_all_df2['Month'].fillna(dt.datetime(2000,1,1))
BeverageMachine_all_df2 = BeverageMachine_all_df2.fillna(0)

In [305]:
BeverageMachine_all_df = BeverageMachine_all_df2
a = BeverageMachine_all_df.iloc[:,100:]
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 0 to 259140
Data columns (total 49 columns):
 #   Column                                                      Non-Null Count   Dtype
---  ------                                                      --------------   -----
 0   Incident Category_18 N/A                                    259141 non-null  float64
 1   Incident Category_2.a Hydraulic Calibration                 259141 non-null  float64
 2   Incident Category_2.b Hydraulic Dispensing                  259141 non-null  float64
 3   Incident Category_2.c Hydraulic Leaking                     259141 non-null  float64
 4   Incident Category_2.d Hydraulic Heating                     259141 non-null  float64
 5   Incident Category_2.e Hydraulic Cooling/Freezing            259141 non-null  float64
 6   Incident Category_2.f Hydraulic Filling                     259141 non-null  float64
 7   Incident Category_2.g Hydraulic Other                       259141 non-null  float64
 8   Incident Category_3.a Door Display/Touchscreen              259141 non-null  float64
 9   Incident Category_3.b Door Menu buttons                     259141 non-null  float64
 10  Incident Category_3.c Door Detection                        259141 non-null  float64
 11  Incident Category_3.d Door Key/Key switch                   259141 non-null  float64
 12  Incident Category_3.e Door Other                            259141 non-null  float64
 13  Incident Category_4.a Reconst. Area In-cup quality/Recipes  259141 non-null  float64
 14  Incident Category_4.b Reconstitution Area Mixing system     259141 non-null  float64
 15  Incident Category_4.c Reconstitution Area Other             259141 non-null  float64
 16  Incident Category_5.a Disp. Area Manifold/Distribution      259141 non-null  float64
 17  Incident Category_5.b Dispensing Area Drip Tray             259141 non-null  float64
 18  Incident Category_5.c Dispensing Area Other                 259141 non-null  float64
 19  Incident Category_6 Electronics (PCBs)                      259141 non-null  float64
 20  Incident Category_7 Wire/Harness                            259141 non-null  float64
 21  Incident Category_8 Software/Firmware                       259141 non-null  float64
 22  Incident Category_9 Abnormal noise                          259141 non-null  float64
 23  SLA MET?_0.0                                                259141 non-null  float64
 24  SLA MET?_1.0                                                259141 non-null  float64
 25  AuxTime_No                                                  259141 non-null  float64
 26  AuxTime_Yes                                                 259141 non-null  float64
 27  Last_InTick_diff_months                                     259141 non-null  float64
 28  Actions_Churn risk reason unknown                           259141 non-null  float64
 29  Actions_Data corrected                                      259141 non-null  float64
 30  Actions_Downgrade machine installed                         259141 non-null  float64
 31  Actions_Lack of data discipline                             259141 non-null  float64
 32  Actions_New contract                                        259141 non-null  float64
 33  Actions_Other                                               259141 non-null  float64
 34  Actions_Out of order                                        259141 non-null  float64
 35  Actions_Phone Call completed                                259141 non-null  float64
 36  Actions_Plan for removal                                    259141 non-null  float64
 37  Actions_Removal Plan                                        259141 non-null  float64
 38  Actions_Removal planned                                     259141 non-null  float64
 39  Actions_Removed                                             259141 non-null  float64
 40  Actions_Reviewed and no action Required                     259141 non-null  float64
 41  Actions_Reviewed and no actions required                    259141 non-null  float64
 42  Actions_Seasonal Machine                                    259141 non-null  float64
 43  Actions_Telemetry installed                                 259141 non-null  float64
 44  Actions_Upgrade machine installed                           259141 non-null  float64
 45  Actions_Visit completed                                     259141 non-null  float64
 46  Actions_Visit/Call planned                                  259141 non-null  float64
 47  Actions_removed                                             259141 non-null  float64
 48  Actions_tagging update                                      259141 non-null  float64
dtypes: float64(49)
memory usage: 98.9 MB

###TODO Remove when market have enough data

BeverageMachine_all_df2 = BeverageMachine_all_df.copy()

# Sales Organisation with more than one month of data
SO = ['Nestle Sweden',  'Nestlé Czech', 'Nestlé Denmark', 'Nestlé Finland', 'Nestlé Norway', 'Nestlé Slovak Republic']

#BeverageMachine_all_df3 =  pd.DataFrame([])

for i in SO:
    BeverageMachine_all_df2 = BeverageMachine_all_df2.loc[BeverageMachine_all_df2['Sales Organisation'] != i]
BeverageMachine_all_df2.head()
BeverageMachine_all_df = BeverageMachine_all_df2

# Specify the filename
filename = 'TelemetryColumnsList.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(TelemetryColumnsList, file)

#### Data summary

I now have four datasets :

"BeverageMachine7_df" 

    which is all the data of the beverage machines without ticket data

    This data will be our main data and it will be used to Train and test our models because we have data for all the machines

"BeverageMachine7_wTickets_df" 

    which is with the Ticket data and when there is no tickets for a machine we fill with 0
    
    As we only have around 2000 machines having tickets we will use it on the model that performed better with main data to see if it can bring better results with Telemetry data

"BeverageMachine7_wTicketsOnly_df" 

    which is only the data of the machines having Tickets
    
    Only useful for EDA

"BeverageMachine7_wTickets_wTelemetry_df"

    We will use it on the model that performed better with main data to see if it can bring better results than the Main data or the Main data with tickets. If it does not improve significantly the results we will not use it  because it takes a lot of time to get Telemetry data.
    Later, more machines will have Telemetry and a data lake will be created and it will br easier to get the data.

### Save the data<a class="anchor" id="save"></a>

I choose to save the data into a pickle file because it is a good way to transfer a pandas dataframe

##### BeverageMachine7_df

In [306]:
BeverageMachine_all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259141 entries, 0 to 259140
Columns: 149 entries, Serial ID to Actions_tagging update
dtypes: bool(1), datetime64[ns](4), float64(99), int32(6), int64(1), object(38)
memory usage: 288.9+ MB

In [307]:
BeverageMachine_all_df.iloc[0:10, 68:90]

,(lst_mth-6mth)/6mth_y,3mth-6mth)/6mth_y,Acc_ID,End Date in Local Time Zone_x,Result_Incomplete Selling Call,Result_Not assigned,Result_Objective Met,Result_Objective Partially Met,Result_Requires Further Follow-up,Result_Unsuccessful Selling Call,...,Activity Life Cycle Status_Open,Last_visit_diff_months,#Visits completed,Account Name,End Date in Local Time Zone_y,Last_call_diff_months,#Calls Completed,Completion Date_2,Incident Category_1.a Ingredient Calibration,Incident Category_1.b Ingredient Dispensing
0,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
1,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
2,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
3,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
4,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
5,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
6,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
7,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
8,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0
9,0.0,0.0,0,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,2000-01-01,0.0,0.0,2000-01-01,0.0,0.0

In [308]:
# Specify the filename
filename = 'BM_noTickets.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_df, file)

In [309]:
# Specify the filename
filename = 'BM_noTickets.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Load the pickle file
with open(file_path_with_filename, 'rb') as file:
    BM_noTickets = pickle.load(file)

Quick test to see if I am able to reopen the data in another Notebook

In [310]:
a=BeverageMachine_all_df.loc[BeverageMachine_all_df['EC ID']=='1056184']
a.iloc[0:10,:86]

Empty DataFrame
Columns: [Serial ID, Sales Organisation, Machine Status Groupings, User Status, TA Contract Installation Date, Depreciation Start, Manufacturer Number, Position, TA Contract Start Date, TA Contract End Date, TA Usage Indicator, Account ID, EC ID, EC Name, Account ABC Classification (Account ID), Industry (Account ID), Industry Code 1 (Account ID), Account ABC Classification (EC ID), Industry (EC ID), Industry Code 1 (EC ID), Parent Installation Point ID, Registered Product Category (Registered Product ID), Model, Model Vendor, Model Category, Model Group, Beverage Temperature, System Brands, Ingredient Format, Machine Type, Positionning, Generation, Blueprint Throughput, IP Ownership, Calendar Date, Key_ManufacturerID_SalesOrg, City, State, Postal Code, Churn, Service Category_Installation, Service Category_Removal, Service Category_Replacement, INCIDENT_CATEGORY_DESCRIPTION_Customer relocation, INCIDENT_CATEGORY_DESCRIPTION_Exchange / Replacement Sales, INCIDENT_CATEGORY_DESCRIPTION_Install/Data Fix, INCIDENT_CATEGORY_DESCRIPTION_Key Account Test Installation, INCIDENT_CATEGORY_DESCRIPTION_Maintenance & Repair, INCIDENT_CATEGORY_DESCRIPTION_New Customer / Installation Point, INCIDENT_CATEGORY_DESCRIPTION_Renew, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Installation, INCIDENT_CATEGORY_DESCRIPTION_Seasonal Removal, INCIDENT_CATEGORY_DESCRIPTION_Trial / Demo /Food Show, INCIDENT_CATEGORY_DESCRIPTION_Unknown/Other, INCIDENT_CATEGORY_DESCRIPTION_Upgrade/Downgrade, serial, quantity_x, one_month_avg, three_months_avg, six_months_avg, (lst_mth-6mth)/6mth_x, 3mth-6mth)/6mth_x, Serial, quantity_y, Sales_one_Month_avg, Sales_three_months_avg, Sales_six_months_avg, KeyManufNo_SalesOrg, (lst_mth-6mth)/6mth_y, 3mth-6mth)/6mth_y, Acc_ID, End Date in Local Time Zone_x, Result_Incomplete Selling Call, Result_Not assigned, Result_Objective Met, Result_Objective Partially Met, Result_Requires Further Follow-up, Result_Unsuccessful Selling Call, Activity Life Cycle Status_Canceled, Activity Life Cycle Status_In Process, Activity Life Cycle Status_Open, Last_visit_diff_months, #Visits completed, Account Name, End Date in Local Time Zone_y, Last_call_diff_months]
Index: []

[0 rows x 86 columns]

##### BeverageMachine7_wTickets_df

In [311]:
# Specify the filename
filename = 'BM_wTickets.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_wTickets_df, file)

##### BeverageMachine7_wTicketsOnly_df

In [312]:
# Specify the filename
filename = 'BM_wTicketsOnly.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_wTicketsOnly_df, file)

##### BeverageMachine7_wTickets_wTelemetry_df

In [313]:
# Specify the filename
filename = 'BeverageMachine7_wTickets_wTelemetry_df.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine7_wTickets_wTelemetry_df, file)

##### Other dataframe needed for the second preparation step later

In [314]:
# Specify the filename
filename = 'IncidentTicketdf.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(IncidentTicketdf_prep2, file)

In [315]:
# Specify the filename
filename = 'TelemetryAggregated_df.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the list into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(Telemetry_aggSales, file)

#### All data with placements, telemetry, visits, phone calls, Incidents tickets

In [316]:
# Specify the filename
filename = 'BeverageMachine_all_df2.p'

# Combine the file path and filename
file_path_with_filename = os.path.join(file_path_output, filename)

# Save the DataFrame into a pickle file
with open(file_path_with_filename, 'wb') as file:
    pickle.dump(BeverageMachine_all_df, file)

In [317]:
BeverageMachine_all_df.to_csv(r'C:\Users\msalomo\predictions-BevData.csv', index = False, header=True)